/// _buttons.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-

.btn {
  font-size: $baseFontSize - 2;
  font-weight: normal;
  background: none;
  border: 1px solid $btnBorder;
  color: darken($btnBorder, 40%);;
  box-shadow: none;
  text-shadow: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn {
  font-size: $baseFontSize - 2;
}

.btn-link {
  border-color: transparent;
}

.btn-primary {
  border-color: $btnPrimaryBackground;
  color: $btnPrimaryBackground;
}

.btn-info {
  border-color: $btnInfoBackground;
  color: $btnInfoBackground;
}

.btn-success {
  border-color: $btnSuccessBackground;
  color: $btnSuccessBackground;
}

.btn-warning {
  border-color: $btnWarningBackground;
  color: $btnWarningBackground;
}

.btn-danger,
.btn-danger.disabled {
  background-color: $white;
  border-color: $btnDangerBackground;
  color: $btnDangerBackground;
}

/* icon-only links */
.btn-icon {
  color: #000000;
  cursor: pointer;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.2;
  filter: alpha(opacity=20);
  font-size: 17px;
  margin-left: 3px;
  vertical-align: middle;
}
.btn-icon:hover {
  color: #000000;
  text-decoration: none;
  opacity: 0.4;
  filter: alpha(opacity=40);
}
