/// _dropdowns.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-

.nav-header .dropdown-menu {
  text-transform: none;
}

.dropdown-unselectable {
  // See .dropdown-menu > li > a
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: $baseLineHeight;
  color: $dropdownLinkColor;
  white-space: nowrap;
}
