/// _forms.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-

form {
  margin: 0;
}

// ACE code editor
.code-editor {
  position: relative;
  height: 450px;
}

.form-horizontal .accordion-group .control-label {
  width: 80px;
}

.form-horizontal .accordion-group .controls {
  margin-left: 100px;
}
