/// _graph.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-

/*
 * For raphael graphs
 */

.graph {
  float: left;
}

.graph-1c {
  width: 50%;
}

.graph-2c {
  width: 100%;
}

/*
 * For netdata graphs
 */

.counter_over_chart {
  position: absolute;
  font-size: 4em;
  line-height: 1em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 75%; // 50% would be centered
  margin: auto 10px;
}

.counter_chart_title,
.dygraph-title,
.gaugeChartTitle,
.netdata-d3pie-chart [class$=title] {
  color: $grayLight;
  fill: $grayLight;
  font-size: 11px;
  line-height: 1em;
  text-transform: uppercase;
}

.netdata-container-with-legend {
  line-height: normal;
  margin: $fontSizeSmall 0;
}

#alarms {
  padding-bottom: 10px;
  .alert {
    padding: 0;
    margin: 2px;
  }
}

[data-block="hostname"] {
  color: inherit;
  margin-bottom: 0;
}

[data-block="value"] {
  line-height: 1em;
}

#dashboard .nav-pills {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}