/// _loader.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-

.loader {
  background-color: rgba(0, 0, 0, 0.04);
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;

  div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  i {
    @extend .icon-spin;
    @extend .icon-2x;
    @extend .icon-circle-o-notch;
  }
}
