/// _navs.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-

// Active state, and it's :hover/:focus to override normal :hover/:focus
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus {
  background-color: $white;
}

.tab-content {
  overflow: visible; // prevent scrolling, see commit 0e1fa9b
}

// Basic pills but vertical
.nav-pills.nav-vertical > li {
  float: none;
}
