/// _sortable.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-

.sort-handle {
  color: #ccc;
  text-align: center;
  font-weight: bold;
  width: 20px;
}

.dynamic-list-sortable > .controls {
  clear: both;
}

.dynamic-list-sortable {
  .accordion-heading {
    padding: 4px;
  }
  .sort-handle {
    margin-right: 4px;
  }
}

.form-horizontal .dynamic-list-sortable .control-group {
  margin-bottom: 2px;
}

span.sort-handle {
  display: inline-block;
}

span.sort-handle:hover {
  background-image: url('/static/app/grab.png');
}

td.sort-handle {
  text-align: center;
  vertical-align: middle;
}

li:hover .sort-handle,
tr:hover .sort-handle {
  background-image: url('/static/app/grab.png');
  background-repeat: no-repeat;
  background-position: center center;
  text-indent: -99999px;
  cursor: move;
  user-select: none;
}

.drag-row {
  background-color: $white;
  border: 1px solid $tableBorder;
  color: $black;
  font-size: 12px;
  padding: 4px 30px;
  opacity: 0.7;
  z-index: 1200;
}

li.drop-row,
.drop-row td {
  border-top: 1px solid #333;
}

.drop-dynamic-row,
.drop-dynamic-row td {
  border-top: 1px solid #333;
}
