/// _tables.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-

.cell-fluid {
  overflow: hidden;
  max-width: 0;
}

// No-border cells
.table.unbordered {
  td, th {
    border-top: 0;
  }
}

// Improve apparence of folders in files list
tr[data-swap] {
    background-color: #fff;

    & > td {
      border-left: 4px solid #ddd;
      padding-left: 10px;
      padding-right: 0;
      margin-right: 0;
    }
}

// Fix inputs in tables
table input[type="text"] {
  margin-bottom: 0px;
}

// Nested inside card
.card .table .table {
  background-color: $cardBackground;
}
