/// _type.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-

h1 {
  font-size: $baseLineHeight * 1.75;
  font-weight: 200;

  small {
    font-size: $baseLineHeight;
  }
}

h2 {
  font-size: $baseLineHeight;
  font-weight: 200;
}

h3 {
  font-size: $baseLineHeight * 0.9;
  font-weight: 200;
}

/* Restore 2.0.4 apparence */
h6 {
  font-size: $baseLineHeight * 0.55;
  color: $grayLight;
  text-transform: uppercase;
}

h1 small {
  font-weight: 200;
}

h3 small {
  font-weight: 200;
}

dd {
  margin-left: 2rem;
}

.p3 {
  color: #565656;
  font-size: $baseFontSize - 1;
}

.p-info,
.p-warning {
  &:before {
    font-family: FontAwesome;
    font-size: $baseFontSize;
    margin-right: 0.25em;
  }  
}

.p-info {
  &:before {
    @extend .icon-info-circle:before;
  }
}

.p-warning {
  &:before {
    @extend .icon-exclamation-circle:before;
    color: $warningText;
    color: $btnWarningBackgroundHighlight;
  }  
}

.no-wrap {
  white-space: nowrap;
}

.wrap-linebreaks {
  white-space: pre;
}
