/// _variables.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2 -*-

// Typography
// -------------------------
//$baseFontSize:          12px;

// Component sizing
// -------------------------
$baseBorderRadius:      3px !default;

// Scaffolding
// -------------------------
$bodyBackground:        #eee;

// Navbar
// -------------------------
$navbarHeight:                    53px;

// GRID
// --------------------------------------------------

$gridColumns:             18; // default is 12


// Horizontal forms & lists
// -------------------------
$horizontalComponentOffset:       180px;
