        <div id="about">
          <img src="/content/images/quarantine.png" alt="[% i18n('Quarantine') %]" />
          <h1>[% i18n("Quarantine Established!") %]</h1>
          <p>
            <strong>Syst&egrave;me d'exploitation non autoris&eacute;</strong>: Vous avez &eacute;t&eacute; d&eacute;tect&eacute; utilisant un syst&egrave;me d'exploitation non autoris&eacute; sur le r&eacute;seau. Veuillez, s'il vous pla&icirc;t, installer un syst&egrave;me d'exploitation plus r&eacute;cent.
          </p>
        </div>
