        <div id="about">
          <img src="/content/images/quarantine.png" alt="[% i18n('Quarantine') %]" />
          <h1>[% i18n("Quarantine Established!") %]</h1>
          <p>
            <strong>Violation de Darknet</strong>: Votre syst&egrave;me a &eacute;t&eacute; d&eacute;tect&eacute; envoyant du trafic vers un r&eacute;seau connu pour &ecirc;tre peu fr&eacute;quentable (darknet). Ceci est souvent signe d'une infection par un ver/virus.
          </p>
        </div>
        <div class="input">
          <div class="note">
		    Votre syst&egrave;me va probablement avoir besoin d'&ecirc;tre restaur&eacute;. Veuillez, s'il vous pla&icirc;t contacter votre &eacute;quipe de support locale pour plus d'information.
          </div>
        </div>
