        <div id="about">
          <img src="/content/images/quarantine.png" alt="[% i18n('Quarantine') %]" />
          <h1>[% i18n("Quarantine Established!") %]</h1>
          <p>
            <strong>Darknet Violation</strong>: Your system has been detected sending traffic to a network known to be unused (darknet). This is often indicative of a worm/virus infection.
          </p>
        </div>
        <div class="input">
          <div class="note">
            Your system will likely need to be rebuilt. Please contact your local support staff for more information.
          </div>
        </div>
