        <div id="about">
          <img src="/content/images/quarantine.png" alt="[% i18n('Quarantine') %]" />
          <h1>[% i18n("Quarantine Established!") %]</h1>
          <p>
            <strong>G&eacute;n&eacute;rique</strong>: Votre connexion r&eacute;seau a &eacute;t&eacute; d&eacute;sactiv&eacute;e.
          </p>
        </div>
        <div class="input">
          <div>Veuillez, s'il vous pla&icirc;t, contacter votre &eacute;quipe support pour plus d'information.</div>
        </div>
