<div class="u-padding">
  <div class="o-media o-media--error u-padding u-margin-bottom">
    <div class="o-media__img">[% flashIcon(level='error') %]</div>
    <p class="o-media__body">Debido a la amenaza que posee para otros sistemas en la red, la conectividad de la red ha sido deshabilitada hasta que se tomen acciones correctivas. Instrucciones para la desinfección estan en la parte inferior.</p>
  </div>
  
  <div class="o-box">
    <h5 class="u-margin-bottom-tiny">Parches de Windows no actualizados</h5>
    
    <ol>
      <li>Haga clic en el botón \"Habilitar Red\" a continuación.</li>
      <li>Cuando se le solicite, guarde el archivo stinger.exe en lugar adecuado en su computador (como su Escritorio o la carpeta 'Mis Documentos').</li>
      <li>Si usted esta corriendo Windows ME o Windows XP, por favor siga los pasos a continuación para deshabilitar la restauración del sistema:
        
        <div class="u-margin">
          <p><strong>Windows ME</strong></p>
          <ul>
            <li> Haga clic derecho sobre el icono 'Mi PC'en su escritorio. Haga clic en 'Propriedades'.</li>
            <li>Haga clic sobre la pestaña 'Rendimiento'.</li>    <li>Haga clic en el botón 'Archivos del sistema' button.</li>
            <li>Haga clic en la pestaña 'Solución de problemas'.</li>
            <li>Marque la casilla 'Deshabilitar Restaurar Sistema'. Presione OK.</li>
            <li>Reinicie el computador.</li>
          </ul>
          <p><strong>Windows XP</strong></p>
          <ul>
            <li>Haga clic derecho sobre el icono 'Mi PC'en su escritorio. Haga clic en 'Propriedades'.</li>
            <li>Haga clic en la pestaña 'Restaurar Sistema'.</li>
            <li>Marque la casilla 'Deshabilitar Restaurar Sistema'. Presione OK.</li>
            <li>Reinicie el computador.</li>
          </ul>
        </li>
        <li>Ejecute el archivo stinger.exe</li>
        <li>Asegurese que todos las particiones (usualmente c:\) esten listadas bajo de 'Directories to Scan.'</li>
        <li>Haga clic en <strong>scan now</strong>, y la utilidad Stinger reparará los archivos infectados.</li>
        <li>Si esta ejecutando Windows ME o Windows XP, hablite de nuevo la restauración del sistema repitiendo el paso 3.</li>
        <li>Visite Windows Update para asegurarse que su sistema esta completamente actualizado.</li>
      </ol>
      
      <h6>Habilitar nuevamente su Ingreso a la Red</h6>
      
      <p>Haga clic en el botón <strong>Habilitar Red</strong>, a continuación se habilitará nuevamente su acceso a la red por algunos minutos. Durante este tiempo, usted debe seguir las instrucciones anteriormente listadas para corregir el problema. Si falla en hacerlo esto resultará en que el acceso a la red nuevamente sea deshabilitado. Repetidas fallas harán que el acceso sea permanentemente deshabilitado.</p>
    </div>
  </div>