<div class="layout--center">
  <h5>Ver LSASS</h5>
</div>

<div class="media media--error u-p u-mb">
  <div class="media__img">[% flashIcon(level='error') %]</div>
  <p class="media__body">Votre système a été découvert comme étant infecté par un ver basé sur LSASS. Face à la menace pour les autres systèmes sur le réseau, votre connexion réseau a été désactivée jusqu'à ce qu'une mesure corrective soit prise. Les instructions de désincfection sont ci-dessous.</p>
</div>

<div class="box box--accent">
  <h5 class="u-mb--">Suppression du ver</h5>

  <p>Vérifiez que votre antivirus est actif. Vous voudrez surement faire une inspection complète du système. En cliquant sur le bouton 'Activer le Réseau' ci-desous vous réactiverez votre accès réseau. Veillez à suivre les instructions pour corriger le problème. En cas d'échec, votre accès réseau sera à nouveau désactivé. En cas d'échecs répétés votre accès sera désactivé définitivement.</p>
</div>
