        <div id="about">
          <img src="/content/images/quarantine.png" alt="[% i18n('Quarantine') %]" />
          <h1>[% i18n("Quarantine Established!") %]</h1>
          <p>
            <strong>LSASS Worm</strong>: Your system has been found to be infected with An LSASS-based worm. Due to the threat this infection poses for other systems on the network, network connectivity has been disabled until corrective action is taken. Instructions for disinfection are below.
          </p>
        </div>
        <div class="input">
          <div>Worm Removal</div>
          <div class="note">
            Make sure your antivirus is working. You might want to perform a full system scan. Clicking the 'Enable Network' button below will re-enable your network access. Make sure that you followed the instructions to correct the issue. Failure to do so will result in network access being disabled again. Repeated failures will result in access being disabled permanently.
          </div>
        </div>
