<div id="about"> 
  <p>
    <strong>LSASS Worm</strong>
  </p>
</div>

<div id="input">
  <p>Your system has been found to be infected with An LSASS-based worm. Due to the threat this infection poses for other systems on the network, network connectivity has been disabled until corrective action is taken. Instructions for disinfection are below:</p>
  <ol>
    <li>Worm Removal</li>
    </ol>
  <p>Make sure your antivirus is working. You might want to perform a full system scan. Clicking the 'Enable Network' button below will re-enable your network access. Make sure that you followed the instructions to correct the issue. Failure to do so will result in network access being disabled again. Repeated failures will result in access being disabled permanently.</p>
</div>
