        <div id="about">
          <img src="/content/images/quarantine.png" alt="[% i18n('Quarantine') %]" />
          <h1>[% i18n("Quarantine Established!") %]</h1>
          <p>
            <strong>Ver LSASS</strong>: Votre système a été découvert comme étant infecté par un ver basé sur LSASS. Face à la menace pour les autres systèmes sur le réseau, votre connexion réseau a été désactivée jusqu'à ce qu'une mesure corrective soit prise. Les instructions de désincfection sont ci-dessous. 
          </p>
        </div>
        <div class="input">
          <div>Suppression du ver</div>
          <div class="note">
         	Vérifiez que votre antivirus est actif. Vous voudrez surement faire une inspection complète du système. En cliquant sur le bouton 'Activer le Réseau' ci-desous vous réactiverez votre accès réseau. Veillez à suivre les instructions pour corriger le problème. En cas d'échec, votre accès réseau sera à nouveau désactivé. En cas d'échecs répétés votre accès sera désactivé définitivement.
          </div>
        </div>
