        <div id="about">
          <img src="/content/images/quarantine.png" alt="[% i18n('Quarantine') %]" />
          <h1>[% i18n("Quarantine Established!") %]</h1>
          <p>
            <strong>&Eacute;quipement r&eacute;seau &agrave; adressage translat&eacute;</strong>: Vous avez &eacute;t&eacute; d&eacute;tect&eacute; utilisant un appareil r&eacute;alisant une translation d'adresse (NAT). Ces &eacute;quipements, g&eacute;n&eacute;ralement des points d'acc&egrave;s sans fil ou des 'routeurs' et ils ne sont pas permis sur le r&eacute;seau. Veuillez, s'il vous pla&icirc;t les d&eacute;brancher et connecter votre ordinateur directement au r&eacute;seau.
          </p>
        </div>
