        <div id="about">
          <img src="/content/images/quarantine.png" alt="[% i18n('Quarantine') %]" />
          <h1>[% i18n("Quarantine Established!") %]</h1>
          <p>
            <strong>Équipement réseau à adressage translaté</strong>: Vous avez été détecté utilisant un appareil réalisant une translation d'adresse (NAT). Ces équipements sont généralement des points d'accès sans fil ou des 'routeurs' et ne sont pas permis sur le réseau. Veuillez, s'il vous plaît les débrancher et connecter votre ordinateur directement au réseau.
          </p>
        </div>
