<div class="u-padding">
<div class="o-layout--center">
  <h5>Sample</h5>
</div>

<div class="o-media o-media--error u-padding u-margin-bottom">
  <div class="o-media__img">[% flashIcon(level='error') %]</div>
  <p class="o-media__body">Sample.</p>
</div>


<div class="o-box">
  <h5>Available template variables</h5>
  <ul>
    <li>username: [% username %]</li>
    <li>user_agent: [% user_agent %]</li>
    <li>dhcp_fingerprint: [% dhcp_fingerprint %]</li>
    <li>last_switch: [% last_switch %]</li>
    <li>last_port: [% last_port %]</li>
    <li>last_vlan: [% last_vlan %]</li>
    <li>last_connection_type: [% last_connection_type %]</li>
    <li>last_ssid: [% last_ssid %]</li>
  </ul>
</div>

</div>