<div class="layout--center">
  <h5>Analyse système</h5>
</div>

<div class="media media--error u-p u-mb">
  <div class="media__img">[% flashIcon(level='error') %]</div>
  <p class="media__body">Votre système a été découvert analysant les autres systèmes. Face à la menace pour les autres systèmes sur le réseau, votre connexion réseau a été désactivée jusqu'à ce qu'une mesure corrective soit prise. Les instructions de désincfection sont ci-dessous.</p>
</div>

<div class="box box--accent">
  <p>Votre système à peut-être besoin d'être restauré. Veuillez contacter votre équipe locale de support pour plus d'information.</p>
</div>
