        <div id="about">
          <img src="/content/images/quarantine.png" alt="[% i18n('Quarantine') %]" />
          <h1>[% i18n("Quarantine Established!") %]</h1>
          <p>
            <strong>Polluriels</strong>: Votre syst&egrave;me a &eacute;t&eacute; d&eacute;couvert envoyant des courriers &eacute;lectroniques commerciaux non-sollicit&eacute;s ("SPAM") &agrave; d'autres syst&egrave;mes. Face &agrave; la menace pour les autres syst&egrave;mes sur le r&eacute;seau, votre connexion r&eacute;seau a &eacute;t&eacute; d&eacute;sactiv&eacute;e jusqu'&agrave; ce qu'une mesure corrective soit prise. Les instructions de d&eacute;sincfection sont ci-dessous.
          </p>
        </div>
        <div class="input">
          <div class="note">
		    Votre syst&egrave;me a peut-&ecirc;tre besoin d'&ecirc;tre restaur&eacute;. Veuillez contacter votre &eacute;quipe de support locale pour plus d'information.
          </div>
        </div>
