        <div id="about">
          <img src="/content/images/quarantine.png" alt="[% i18n('Quarantine') %]" />
          <h1>[% i18n("Quarantine Established!") %]</h1>
          <p>
            <strong>Analyse de vuln&eacute;rabilit&eacute;</strong>: Votre syst&egrave;me va &ecirc;tre analis&eacute; pour d&eacute;tecter la pr&eacute;sence de vuln&eacute;rabilit&eacute;s avant d'&ecirc;tre autoris&eacute; &agrave; entrer sur le r&eacute;seau. Veuillez, s'il vous pla&icirc;t, cliquer sur le bouton ci-dessous. Ceci peut prendre de quelques secondes &agrave; quelques minutes.
          </p>
        </div>
