        <div id="about">
          <img src="/content/images/quarantine.png" alt="[% i18n('Quarantine') %]" />
          <h1>[% i18n("Quarantine Established!") %]</h1>
          <p>
            <strong>Infection Trojan</strong>: Votre système a été découvert infecté par un robot IRC Trojan, il analyse les autres systèmes. Face à la menace pour les autres systèmes sur le réseau, votre connexion réseau a été désactivée jusqu'à ce qu'une mesure corrective soit prise. Les instructions de désincfection sont ci-dessous.
          </p>
        </div>
        <div class="input">
          <div class="note">
		    Votre système a peut-être besoin d'être restauré. Veuillez contacter votre èquipe de support locale pour plus d'information
          </div>
        </div>
