# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence NTLM auth Backend API For Domain %i Remote

[Service]
Type=notify
TimeoutStopSec=60
NotifyAccess=all
LimitNOFILE=8192
ExecStart=/usr/local/ntlm-auth-api/sbin/ntlm-auth-api-domain %i
ExecStop=/bin/bash -c "docker stop ntlm-auth-api-%i; echo Stopped"
Restart=on-failure
Slice=packetfence.slice
PIDFile=/usr/local/ntlm-auth-api/var/run/ntlm-auth-api-%i-systemd-notify.pid
EnvironmentFile=-/usr/local/ntlm-auth-api/conf/log.conf.d/ntlm-auth-api.conf
Environment=CREDCACHE_URL=http://100.64.0.1:4242/api/v1/credcache/

[Install]
WantedBy=multi-user.target

