# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence NTLM auth Backend API Controller Remote

[Service]
Type=forking
TimeoutStopSec=60
NotifyAccess=all
LimitNOFILE=8192
ExecStartPre=/usr/local/ntlm-auth-api/bin/pfconnector-remote-load.sh
EnvironmentFile=/usr/local/ntlm-auth-api/conf/ntlm_auth_api.env
ExecStart=/usr/local/ntlm-auth-api/sbin/ntlm-auth-api-docker-wrapper start
ExecStop=/usr/local/ntlm-auth-api/sbin/ntlm-auth-api-docker-wrapper stop
Restart=on-failure
PIDFile=/usr/local/ntlm-auth-api/var/run/ntlm-auth-api.pid
PartOf=packetfence-pfconnector-remote.service

[Install]
WantedBy=multi-user.target

