[% INCLUDE billing/tier.html %]

<form action="[% billing.url %]" method="post">

  <input type="hidden" name="cmd" value="_s-xclick" />

  <!-- Specify details about the contribution -->
  <input type="hidden" name="encrypted" value="[% encrypted | html %]" />

  <!-- Display the payment button. -->
  <div class="layout layout--center">
    <div class="layout__item u-2/3 u-1/1-palm">
      <div class="u-mt">
        <button type="submit" name="submit" class="btn btn--full">
          <div class="flag">
            <div class="flag__img">[% svgIcon(id='paypal-icon',size='small') %]</div>
            <p class="flag__body">Checkout</p>
          </div>
        </button>
      </div>
    </div>
  </div>
</form>

