[% INCLUDE billing/tier.html %]

<form action="[% billing.url %]" method="post">

  <input type="hidden" name="cmd" value="_s-xclick" />

  <!-- Specify details about the contribution -->
  <input type="hidden" name="encrypted" value="[% encrypted | html %]" />

  <!-- Display the payment button. -->
  <div class="o-layout o-layout--center u-padding-bottom">
    <div class="o-layout__item u-1/1 u-2/3@tablet u-3/5@desktop">
      <button type="submit" name="submit" class="c-btn c-btn--primary u-1/1">
        Checkout
      </button>
    </div>
  </div>
</form>

