[% INCLUDE header.html %]

[% INCLUDE billing/tier.html %]
<hr>

<div class="input">
    Click here to complete your transaction
<form action="[% billing.url %]" method="post">

    <input type="hidden" name="cmd" value="_s-xclick">

    <!-- Specify details about the contribution -->
    <input type="hidden" name="encrypted" value="[% encrypted | html %]">

    <!-- Display the payment button. -->
    <input type="image" name="submit" border="0"
    src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
    alt="PayPal - The safer, easier way to pay online">
    <img alt="" border="0" width="1" height="1"
    src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" >
</form>
</div>

[% INCLUDE footer.html %]
