[% title = i18n("PacketFence Registration System") %]
[% INCLUDE header.html %]

    [%# WELCOME TEXT %]
    <div id="about">
        <img src="/content/images/registration.png" alt="Registration" />
        <h1>[% i18n("Guest Registration") %]</h1>
        <p>[% i18n("guest network disclaimer") %]</p>
        <hr/>
    </div>

    [%# ERROR %]
    [% IF txt_validation_error.defined %]<div class="error"><p>[% i18n(txt_validation_error) %]</p></div>[% END %]
    <iframe src="[% mirapay_url %]" height="100%" width="100%" frameborder="0"></iframe>

[% INCLUDE footer.html %]
