<div class="o-layout--center">
  <h2>[% i18n("Transaction summary") %]</h2>
</div>
<div class="o-layout o-layout--center u-padding">
  <div class="o-layout__item u-1/1 u-2/3@tablet u-3/5@desktop">
    <ul class="o-list-bare">
      <li class="o-list-bare__item">
        <div class="input-container">
          <label>[% i18n("Tier") %]</label>
          <div>[% tier.name %]</div>
        </div>
      </li>
      <li class="o-list-bare__item">
        <div class="input-container">
          <label>[% i18n("Price") %]</label>
          <div>[% tier.price %]</div>
        </div>
      </li>
      <li class="o-list-bare__item">
        <div class="input-container">
          <label>[% i18n("Description") %]</label>
          <div>[% tier.description %]</div>
        </div>
      </li>
    </ul>
  </div>
</div>
