<div class="layout--center">
  <h4>[% i18n("Transaction summary") %]</h4>
</div>
<div class="layout layout--center">
  <div class="layout__item u-2/3 u-1/1-palm">
    <ul class="list-ui list-ui--tiny list-ui--light">
      <li>
        <div>[% i18n("Tier") %]</div>
        <div class="caption">[% tier.name %]</div>
      </li>
      <li>
        <div>[% i18n("Price") %]</div>
        <div class="caption">[% tier.price %]</div>
      </li>
      <li>
        <div>[% i18n("Description") %]</div>
        <div class="caption">[% tier.description %]</div>
      </li>
    </ul>
  </div>
</div>
