body {
  background: url('images/background.png') #4d4d4d repeat;
}
.mobile {
  display: none;
}
div#container {
  margin: 10px auto;
  width: 656px;
}
div#header {
  padding-bottom: 10px;
  text-align: center;
}
div#content,
div#footer {
  font-family: 'Helvetica Neue', Helvetica, 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 15px;
}
div#content,
div#about h1,
div.note h1 {
  font-size: 18px;
}
div#about h2,
div.note h2 {
  font-size: 16px;
}
div#about hr,
div.input hr {
  border: 0;
  border-bottom: 1px dotted #ccc;
  height: 0;
  clear: both;
  margin-top: 5px;
  margin-bottom: 20px;
}
div.input input.field,
div.input div#aup,
div.input div.note,
div.input textarea {
  font-size: 14px;
}
div#content {
  background-color: #eee;
  text-transform: none;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
div#content p span {
  color: #555;
  display: inline;
}
div#content div.error {
  color: #eee;
  margin: 15px;
}
div#content div.error p {
  background-color: #c00;
  display: inline;
  margin: 0;
}
div#about img,
div#footer img {
  float: left;
}
div#about h1,
div#about p,
div#about ul {
  padding-left: 128px;
}
div.input a {
  color: #333;
}
div.input a:hover {
  color: #000;
}
p#languages {
  font-size: small;
  text-align: right;
}
p#languages a {
  color: #999;
  text-decoration: none;
}
p#languages a:hover {
  color: #555;
  text-decoration: underline;
}
div.input,
h1,
h2,
p,
ul {
  margin: 10px;
}
em {
  clear: left;
  display: block;
  font-size: small;
}
div.note h1,
div#about h1 {
  font-weight: bold;
}
div#about p strong {
  background-color: #555;
  color: #fff;
}
div.input {
  clear: both;
  color: #555;
  padding-bottom: 10px;
  text-align: right;
}
div.input span {
  float: left;
  clear: left;
  padding: 4px;
  text-align: left;
  white-space: nowrap;
  width: 120px;
}
div.input span#msg {
  white-space: normal;
}
div.input input.field,
div.input textarea {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 4px;
  margin: 2px;
  width: 250px;
}
div.input input.field:focus,
div.input textarea:focus {
  background-color: #DEFEFF;
  color: #333;
}
div.input select,
div.input input[type="file"] {
  width: 250px;
}
div.input div {
  padding: 4px;
  text-align: left;
}
div.input div#aup,
div.input div.note {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #222;
  margin: 0;
  padding: 0 5px;
  overflow-y: auto;
  text-align: left;
  text-transform: none;
  text-shadow: none;
}
div.input div.note.bg {
  background-color: transparent;
  border: 0;
}
div.note.justify,
div.input div.note.justify {
  text-align: justify;
}
div.input div#aup {
  height: 150px;
}
div.input.aup {
  display: none;
}
div.input.center {
  text-align: center;
}
select {
  font-size: medium;
}
div#PBouter {
  margin: auto;
}
div#footer {
  color: #555;
  font-size: 12px;
}
div#footer p {
  padding-left: 96px;
}
div#footer ul {
  padding-left: 124px;
}
div#footer a {
  color: #555;
}
div#footer a:hover {
  color: #333;
}

/* tabs */
ul.tab {
  display: block;
  margin: 0;
  padding-left: 0;
}
ul.tab li {
  border-left: 1px solid #ddd;
  border-right: 1px solid #eee;
  border-top: 1px solid #ddd;
  display: block;
  float: left;
  height: 30px;
}
ul.tab li.active {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
ul.tab li a {
  background-color: #ddd;
  display: block;
  float: left;
  height: 25px;
  padding: 5px 7px 0;
}
ul.tab li a:hover,
ul.tab li.active a {
  background-color: #eee;
  height: 26px;
}
ul.tab li a img {
  border: 0;
}

div.tab {
  border: 1px solid #ddd;
  clear: both;
  padding-top: 10px;
  display: none;
}

div.tab.active {
  display: block;
}

div.input div#columns {
  float: right;
  margin: 0 0 20px 0;
  padding: 0;
  width: 250px;
}

div.input div.column span {
  float: none;
}

div.input div.column span.disabled {
  color: #ccc;
}

div.input div.column span.order {
  float: right;
  width: 30px;
}

div.input div.column span.order img {
  cursor: pointer;
  padding: 0 2px;
}

.page-break {
  display: none;
}

div.input div.separator {
  height: 0px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid white;
  position: relative;
  padding: 0px;
  margin: 1em 0 1em 50%;
}

.or_separator {
  position: absolute;
  padding: 0px 16px;
  color: #ccc;
  background: #eee;
  font-size: 11px;
  text-shadow: 0px 1px 0px white;
  text-transform: uppercase;
  top: -10px;
  right: 48%;
}

table {
    border-spacing: 0;
    width: 100%;
}

table caption {
    font-weight: bold;
    text-align: left;
    padding: 8px 0px;
}

table th {
    font-size: 12px;
    text-transform: uppercase;
}

table td {
    font-size: 14px;
    text-align: left;
}

table thead th {
    color: #999;
    border-bottom: 1px solid #ddd;
    font-weight: normal;
    text-align: left;
}

table tbody tr:hover td {
    color: #000;
}

a.btn img {
  border: 0px;
  vertical-align: bottom;
}

a.btn {
  text-decoration: none;
}

.btn {
  display: inline-block;
  *display: inline;
  padding: 4px 14px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 20px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #333333;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn {
  border-color: #c5c5c5;
  border-color: rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}

button.btn,
input[type="submit"].btn {
  *padding-top: 3px;
  *padding-bottom: 3px;
}

button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}