@media (max-width: 656px) {
    #header .logo {
        width: 275px;
    }

    #header {
        min-height: 100px;
    }

    #header h1, #header p {
        margin-left: 0;
    }

    #header h1 {
        font-size: 26px;
        padding: 17px 0px 0px;
    }

    #header p {
        font-size: 17px;
        line-height: 24px;
        padding-bottom: 17px;
    }

    #page {
        padding: 23px;
    }

    input[type="text"] {
        width: 262px;
    }

    .btn {
        font-family: "tlightregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
        width: 100%;
    }

    .mobile {
        display: inherit !important;
    }
    .notmobile {
        display: none !important;
    }
}
