@media (min-width: 657px) {
    #header {
        min-height: 261px;
    }

    #header .logo {
        width: 194px;
    }

    #header .splash {
        display: block;
    }

    #header h1, #header p {
        margin-left: 72px;
    }

    #header h1 {
        font-size: 37px;
        padding: 37px 0px 17px;
    }

    #header p {
        font-size: 17px;
        line-height: 24px;
        padding-bottom: 17px;
    }

    #page {
        padding: 23px 95px 50px 95px;
        position: relative;
    }

    input[type="text"] {
        width: 200px;
    }

    input.btn {
        font-family: "tultralightregular", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: normal;
    }

    .btn {
        width: 128px;
        min-width: 128px;
    }
}

@media (max-width: 656px) {
    div#header img {
        width: 275px;
    }
    .mobile {
        display: inherit;
    }
    .notmobile {
        display: none;
    }
}
