[% title = i18n("guest management") %]
[% INCLUDE header.html
    body_attributes = 'onload="$(\'firstfield\').focus();"';
%]

        [%# Welcome text %]
        <div id="about" class="underlined">
          <img src="/content/images/registration.png" alt="Registration" />
          <h1>[% i18n("guest registration form") %]</h1>
          <p>[% i18n("guest registration instructions") %]</p>
          <hr/>
        </div>

        [%# Error %]
        [% IF txt_error.defined %]<div class="error"><p>[% txt_error %]</p></div>[% END %]

        <form method="post" action="[% post_uri %]">

          <div class="input">
            <span>[% i18n("Firstname") %]</span>
            <input class="field" name="firstname" id="firstfield" type="text" value="[% firstname %]" />
          </div>
          <div class="input">
            <span>[% i18n("Lastname") %]</span>
            <input class="field" name="lastname" type="text" value="[% lastname %]" />
          </div>
          <div class="input">
            <span>[% i18n("Phone number") %]</span>
            <input class="field" name="phone" type="text" value="[% phone %]" />
          </div>
          <div class="input">
            <span>[% i18n("Email") %]*</span>
            <input class="field" name="email" type="text" value="[% email %]" />
          </div>
          <div class="input">
            <span>[% i18n("Arrival Date") %]*</span>
            <input class="field" name="arrival_date" type="text" value="[% arrival_date %]" /><br/>
            <em>[% i18n("Format is: yyyy-mm-dd") %]</em>
          </div>
          <div class="input">
            <span>[% i18n("Access Duration") %]*</span>
            <select name="access_duration">
              [% FOREACH d IN duration.keys.nsort %]
                <option [% IF default_duration == d %]selected='selected' [% END %]value='[% d %]'>
                  [% duration.$d %]
                </option>
              [% END %]
            </select>
          </div>

          [%# submit %]
          <div class="input">
            <input type="submit" class="button" name="action_print" value="[% i18n("Print access code") %]" /><br/>
            <input type="submit" class="button" name="action_sendEmail" value="[% i18n("Send access code by email") %]" />
          </div>

[% INCLUDE guest/footer.html %]
