body {
    padding-top: 60px;
}
#navbar h6 {
    margin: 0;
    line-height: 48px;
}
[class^="icon-step"],
[class*=" icon-step"] {
    background-image: url("steps.png");
    background-position: 0px 0px;
}
#tracker .active i {
    background-image: url("steps-white.png");
}
.icon-step2 {
    background-position: 0px -14px;
}
.icon-step3 {
    background-position: 0px -28px;
}
.icon-step4 {
    background-position: 0px -42px;
}
.icon-step5 {
    background-position: 0px -56px;
}
.icon-step6 {
    background-position: 0px -70px;
}
.icon-step7 {
    background-position: 0px -84px;
}
.icon-step8 {
    background-position: 0px -98px;
}
.icon-step9 {
    background-position: 0px -112px;
}
.icon-step10 {
    background-position: 0px -126px;
}
#tracker a:hover {
  color: #08c;
}
#tracker .active a:hover {
  color: #fff;
}
#tracker {
    margin-top: 20px;
}
#tracker b {
    color: #999;
    line-height: 16px;
    display: block;
    margin-left: 40px;
    font-size: 14px;
    font-weight: normal;
}
#tracker .active b {
    color: #000;
    font-weight: bold;
}
.page-header.step {
    text-align: right;
}
form[name="enforcement"] .table th,
form[name="enforcement"] .table td {
    border-top: 0;
}
form[name="enforcement"] .table .graph {
    text-align: center;
    vertical-align: middle;
}
#interfaces table {
    margin-top: 20px;
}
#interfaces td span.badge {
    float: right;
}
#interfaces .btn-toggle {
    min-width: 50px;
}
#services td {
    min-width: 100px;
}
#serviceErrors pre {
    background-color: transparent;
}