---
gitlab_buildpkg_tools__rpm_keys:
  - 'https://inverse.ca/downloads/GPG_PUBLIC_KEY'
  - 'https://rpm.nodesource.com/pub/el/NODESOURCE-GPG-SIGNING-KEY-EL'

gitlab_buildpkg_tools__rpm_deps_repos:
  - name: packetfence
    baseurl: 'http://inverse.ca/downloads/PacketFence/RHEL$releasever/{{ pf_minor_release }}/$basearch'
    module_hotfixes: 1
  - name: nodejs
    baseurl: 'https://rpm.nodesource.com/pub_12.x/el/$releasever/$basearch'

# packages install will occur
# during build dependencies install from SPEC files
gitlab_buildpkg_tools__rpm_pkgs:
  - 'epel-release'  
