---
gitlab_buildpkg_tools__rpm_keys:
  - 'https://inverse.ca/downloads/GPG_PUBLIC_KEY'
  - 'https://rpm.nodesource.com/gpgkey/ns-operations-public.key'

gitlab_buildpkg_tools__rpm_deps_repos:
  - name: packetfence
    baseurl: 'http://inverse.ca/downloads/PacketFence/RHEL$releasever/{{ pf_minor_release }}/$basearch'
    module_hotfixes: 1
  - name: nodejs
    baseurl: 'https://rpm.nodesource.com/pub_20.x/nodistro/nodejs/$basearch'
    module_hotfixes: 1

# packages install will occur
# during build dependencies install from SPEC files
gitlab_buildpkg_tools__rpm_pkgs:
  - 'epel-release'
