<!--
/*

$VAR1 = [
          {
            'success' => 1,
            'actions' => [
                           [
                             'modify_node',
                             [
                               'mac',
                               '01:02:03:04:05:06',
                               'notes',
                               'Yes I am here'
                             ]
                           ]
                         ],
            'rules' => [
                         {
                           'actions' => [
                                          'modify_node: mac, $mac, notes, $notes'
                                        ],
                           'last_if_match' => 'enabled',
                           'regex' => qr/(?-xism:(?-xism:mac\s*:\s*(?<mac>[a-zA-Z0-9]{2}(:[a-zA-Z0-9]{2}){5}), notes\s*:\s*(?<notes>.*)))/,
                           'name' => 'bob1'
                         }
                       ],
            'line' => 'mac: 01:02:03:04:05:06, notes: Yes I am here'
          }
        ];
-->

<h4>[% l('Results') %]</h4>
[% FOREACH run IN dryrun_info %]
  <div>
    <div>
        <a data-toggle="collapse" data-target="#dry_run_info_results_[% loop.index %]"> 
        <i class="icon-plus-circle"></i> [% l('Click to see actions for matched line') %]
        </a> - <b>[% run.line %]</b>
    </div>
    <div id=dry_run_info_results_[% loop.index %] class="collapse">
    [% IF run.matches.size %]
      [% FOREACH match IN run.matches %]
        [%IF ! match.success %]
        <div class="alert alert-error">(IP <=> MAC translation failed)</div>
        [% END %]
        [% FOREACH action IN match.actions %]
        <div>
        - [% match.rule.name %] : [% action.api_method %]('[% action.api_parameters.join("', '") %]')
        </div>
        [% END %]
      [% END %]
    [% ELSE %]
      - [% l('No Rules Matched') %]
    [% END %]
    </div>
  </div>
[% END %]
