<div class="layout layout--center">
  <p>[% i18n("Your XML configuration have been generated and is now ready to download.  Follow the link below in order to get access to the secure SSID.") %]</p>

  <div class="layout__item u-1/2 u-2/3-lap u-1/1-palm">
    <a href="https://play.google.com/store/apps/details?id=org.packetfence.agent" class="btn btn--full" target="_blank">
      <div class="flag">
        <div class="flag__img">[% svgIcon(id='ic_phonelink_setup_black_24px',size='small') %]</div>
        <p class="flag__body">[% i18n("Install wireless profile") %]</p>
      </div>
    </a>

    [% IF skipable %]
    <a href="/captive-portal?next=next" class="btn btn--full btn--light u-mt">
      <div class="flag">
        <div class="flag__img">[% svgIcon(id='ic_forward_black_24px',size='small') %]</div>
        <p class="flag__body">[% i18n("Continue") %]</p>
      </div>
    </a>
    [% END %]
  </div>
</div>
