<div class="u-padding">
  <p>[% i18n("Your XML configuration have been generated and is now ready to download.  Follow the link below in order to get access to the secure SSID.") %]</p>

  <div class="o-layout o-layout--center">
    <div class="o-layout__item u-1/1 u-2/3@tablet u-3/5@desktop">
      <a href="https://play.google.com/store/apps/details?id=org.packetfence.agent" class="c-btn c-btn--primary u-1/1" target="_blank">
          [% i18n("Install wireless profile") %]
      </a>

      [% IF skipable %]
      <a href="/captive-portal?next=next" class="c-btn c-btn--tertiary u-1/1 u-margin-top">
          [% i18n("Continue") %]
      </a>
      [% END %]
    </div>
  </div>
</div>
