<div class="o-layout--center u-padding">
  <h5 class="u-margin-bottom-tiny">[% i18n("To complete your network activation you need to install MobileIron") %]</h5>
  <p>[% i18n("Once the application is installed, click Continue to activate your network connection") %]</p>

  <div class="o-layout o-layout--center">
    <div class="o-layout__item u-1/1 u-2/3@tablet u-3/5@desktop">

      <p class="u-margin-bottom-tiny caption">[% i18n("If you are using an Android phone or tablet") %]</p>

      <div class="o-flag">
        <div class="o-flag__img">[% svgIcon(id='ic_android_black_24px',size='small') %]</div>
        <p class="o-flag__body">
          <a href="[% provisioner.android_download_uri %]" class="c-btn c-btn--secondary u-1/1" target="_blank">[% i18n("Install Agent") %]</a>
        </p>
      </div>

      <p class="u-margin-top u-margin-bottom-tiny caption">[% i18n("If you are using an Apple phone or tablet") %]</p>
      <div class="o-flag">
        <div class="o-flag__img">[% svgIcon(id='apple-icon',size='small') %]</div>
        <p class="o-flag__body">
          <a href="[% provisioner.ios_download_uri %]" class="c-btn c-btn--secondary u-1/1" target="_blank">[% i18n("Install Agent") %]</a>
        </p>
      </div>

      <p class="u-margin-top u-margin-bottom-tiny caption">[% i18n("If you are using a Windows phone") %]</p>
      <div class="o-flag">
        <div class="o-flag__img">[% svgIcon(id='microsoft-windows-icon',size='small') %]</div>
        <p class="o-flag__body">
          <a href="[% provisioner.windows_phone_download_uri %]" class="c-btn c-btn--secondary u-1/1" target="_blank">[% i18n("Install Agent") %]</a>
        </p>
      </div>


      <a href="/captive-portal" class="c-btn c-btn--tertiary u-margin-top u-1/1">
        [% i18n("Continue") %]
      </a>
    </div>
  </div>
</div>
