[% title = i18n("PacketFence Registration System") %]
[% INCLUDE header.html %]

    <h3>To complete your network activation you need to install MobileIron</h3>
    <p>When you finish installing the application click next to activate your network connection</p>

    <h5>If you're using an Android phone or tablet,
    <a id="primary_download" href="[% provisioner.android_download_uri %]">Click here to download</a>
    </h5>

    <h5>If you're using an Apple phone or tablet,
    <a id="primary_download" href="[% provisioner.ios_download_uri %]">Click here to download</a>
    </h5>

    <h5>If you're using a Windows phone,
    <a id="primary_download" href="[% provisioner.windows_phone_download_uri %]">Click here to download</a>
    </h5>

    <a href="/captive-portal">Continue</a>

[% INCLUDE footer.html %]
