[% title = i18n("PacketFence Registration System") %]
[% INCLUDE header.html %]

    <h3>To complete your network activation you need to install the OPSWAT GEARS client.</h3>
    <p>When you finish installing the application click 'Continue' to activate your network connection</p>

    <p>
    <a id="primary_download" target="_blank" href="[% provisioner.agent_download_uri %]">Click here to go to the download website</a>
    </p>    

    <div class="input">
    <a class="btn" href="/captive-portal">Continue</a>
    </div>

[% INCLUDE footer.html %]
