<div class="layout--center">
  <h5 class="u-mb--">[% i18n("To complete your network activation you need to install the Symantec Endpoint Manager") %]</h5>
  <p>[% i18n("Once the application is installed, click next to activate your network connection") %]</p>

  <div class="layout">
    <div class="layout__item u-2/3 u-1/1-palm">
      <a id="primary_download" href="[% provisioner.agent_download_uri %]" class="btn btn--full" target="_blank">
        <div class="flag flag--light">
          <div class="flag__img">[% svgIcon(id='ic_cloud_download_black_24px',size='small') %]</div>
          <p class="flag__body">[% i18n("Download") %]</p>
        </div>
      </a>

      [% IF provisioner.alt_agent_download_uri %]
      <p class="u-mt u-mb--">[% i18n("If you find the program above not working you can try this one:") %] </p>
      <a id="alternate_download" href="[% provisioner.alt_agent_download_uri %]" class="btn btn--full">
        <div class="flag flag--light">
          <div class="flag__img">[% svgIcon(id='ic_cloud_download_black_24px',size='small') %]</div>
          <p class="flag__body">[% i18n("Alternate installer") %]</p>
        </div>
      </a>

      <script type="text/javascript">
        // check if windows 64 bits
        // swap the primary and alternate
        if (navigator.userAgent.indexOf("WOW64") != -1 ||
            navigator.userAgent.indexOf("Win64") != -1 ) {
          var new_primary = $('alternate_download').getAttribute("href");
          if (new_primary != "") {
            $('alternate_download').setAttribute('href', $('primary_download').getAttribute('href'));
            $('primary_download').setAttribute('href', new_primary);
          }
        }
      </script>
      [% END %]

      <a href="/captive-portal" class="btn btn--full btn--light u-mt">
        <div class="flag">
          <div class="flag__img">[% svgIcon(id='ic_forward_black_24px',size='small') %]</div>
          <p class="flag__body">[% i18n("Continue") %]</p>
        </div>
      </a>
    </div>
  </div>
</div>
