<div class="layout--center">
  <h5 class="u-mb--">[% i18n("To complete your network activation we need to verify that your device is corporate-owned.") %]</h5>
  <p>[% i18n("Once the verification has completed, click 'Continue' to activate your network connection") %]</p>

  <div class="layout">
    <div class="layout__item u-2/3 u-1/1-palm">
      <a href="/captive-portal" class="btn btn--full btn--light u-mt">
        <div class="flag">
          <div class="flag__img">[% svgIcon(id='ic_forward_black_24px',size='small') %]</div>
          <p class="flag__body">[% i18n("Continue") %]</p>
        </div>
      </a>
    </div>
  </div>
</div>
