<div class="o-layout--center u-padding">
  <p>[% i18n("In order to complete your connection to the secure SSID, you will need to run the agent available below.") %]</p>

  <div class="o-layout">
    <div class="o-layout__item u-1/1 u-2/3@tablet u-3/5@desktop">
      <a href="/content/packetfence-windows-agent.exe" class="c-btn c-btn--primary u-1/1" target="_blank">
        [% i18n("Install Agent") %]
      </a>
      <a href="/captive-portal?next=next" class="c-btn c-btn--tertiary u-1/1 u-margin-top">
        [% i18n("Continue") %]
      </a>
    </div>
  </div>
</div>
