<div class="u-padding">
<div class="o-layout--center">
  <h5>Violation de Darknet</h5>
</div>

<div class="o-media o-media--error u-padding u-margin-bottom">
  <div class="o-media__img">[% flashIcon(level='error') %]</div>
  <p class="o-media__body">Votre système a été détecté envoyant du trafic vers un réseau connu pour être peu fréquentable (darknet). Ceci est souvent signe d'une infection par un ver/virus.</p>
</div>

<p>Votre système va probablement avoir besoin d'être restauré. Veuillez, s'il vous plaît contacter votre équipe locale de support pour plus d'information.</p>
</div>