<div class="u-padding">
<div class="o-layout--center">
  <h5>NAT Device Detected</h5>
</div>

<div class="o-media o-media--error u-padding u-margin-bottom">
  <div class="o-media__img">[% flashIcon(level='error') %]</div>
  <p class="o-media__body">You have been detected using a device that performs network address translation (NAT). These devices, typically wireless access points or 'routers' are not permitted on the network. Please unplug this device and connect your computer directly to the network for access.</p>
</div>

</div>