<div class="u-padding">
<div class="o-layout--center">
  <h5>Équipement réseau à adressage translaté</h5>
</div>

<div class="o-media o-media--error u-padding u-margin-bottom">
  <div class="o-media__img">[% flashIcon(level='error') %]</div>
  <p class="o-media__body">Vous avez été détecté utilisant un appareil réalisant une translation d'adresse (NAT). Ces équipements sont généralement des points d'accès sans fil ou des 'routeurs' et ne sont pas permis sur le réseau. Veuillez, s'il vous plaît les débrancher et connecter votre ordinateur directement au réseau.</p>
</div>

</div>