<div class="u-padding">
<div class="o-layout--center">
  <h5>Random MAC address detection</h5>
</div>

<div class="o-media o-media--error u-padding u-margin-bottom">
  <div class="o-media__img">[% flashIcon(level='error') %]</div>
  <p class="o-media__body">You have been detected using a random MAC address, please disable that feature in your WiFi configuration on your device.</p>
</div>
</div>

<div class="o-layout--center">
  <h6>Android</h6>
  <img src="/content/images/android-mac-address-randomization.png"><img/>
</div>

<div class="o-layout--center">
  <h6>Apple iOS</h6>
  <img src="/content/images/ios-mac-address-randomization.jpg"><img/>
</div>

<div class="o-layout--center">
  <h6>Microsoft Windows 10</h6>
  <img src="/content/images/windows-mac-address-randomization.jpg"><img/>
</div>
