<div class="u-padding">
<div class="o-layout--center">
  <h5>Infection Zotob</h5>
</div>

<div class="o-media o-media--error u-padding u-margin-bottom">
  <div class="o-media__img">[% flashIcon(level='error') %]</div>
  <p class="o-media__body">Votre système a été découvert infecté par un ver Zotob, il analyse les autres systemes. Face à la menace pour les autres systèmes sur le réseau, votre connexion réseau a été désactivée jusqu'à ce qu'une mesure corrective soit prise. Les instructions de désincfection sont ci-dessous.</p>
</div>

<div class="o-box">
  <p>Votre système a peut-être besoin d'être restauré. Veuillez contacter votre équipe locale de support pour plus d'information.</p>
</div>

</div>