#PacketFence apache configuration file

#Debian specific
<IfDefine debian>
  <IfModule !mod_perl.c>
    LoadModule perl_module /usr/lib/apache2/modules/mod_perl.so
  </IfModule>
  [% IF apache_version == "2.4" %]
  <IfModule !mod_unixd.c>
    LoadModule unixd_module /usr/lib/apache2/modules/mod_unixd.so
  </IfModule>
  <IfModule !mod_authz_core.c>
    LoadModule authz_core_module /usr/lib/apache2/modules/mod_authz_core.so
  </IfModule>
  <IfModule !mod_authn_core.c>
    LoadModule authn_core_module /usr/lib/apache2/modules/mod_authn_core.so
  </IfModule>
  <IfModule !mod_socache_shmcb.c>
    LoadModule socache_shmcb_module /usr/lib/apache2/modules/mod_socache_shmcb.so
  </IfModule>
  <IfModule !prefork.c>
    LoadModule mpm_prefork_module /usr/lib/apache2/modules/mod_mpm_prefork.so
  </IfModule>
  [% END %]
  <IfModule !mod_log_config.c>
    LoadModule log_config_module /usr/lib/apache2/modules/mod_log_config.so
  </IfModule>
  <IfModule !mod_ssl.c>
    LoadModule ssl_module /usr/lib/apache2/modules/mod_ssl.so
  </IfModule>
  <IfModule !mod_alias.c>
    LoadModule alias_module /usr/lib/apache2/modules/mod_alias.so
  </IfModule>
  <IfModule !mod_mime.c>
    LoadModule mime_module /usr/lib/apache2/modules/mod_mime.so
  </IfModule>
  <IfModule !mod_proxy.c>
    LoadModule proxy_module /usr/lib/apache2/modules/mod_proxy.so
  </IfModule>
  <IfModule !proxy_http.c>
    LoadModule proxy_http_module /usr/lib/apache2/modules/mod_proxy_http.so
  </IfModule>
  <IfModule !mod_apreq2.c>
    LoadModule apreq_module /usr/lib/apache2/modules/mod_apreq2.so
  </IfModule>
  <IfModule !mod_headers.c>
    LoadModule headers_module /usr/lib/apache2/modules/mod_headers.so
  </IfModule>
</IfDefine>

#RHEL specific
<IfDefine rhel>
  <IfModule !mod_perl.c>
    LoadModule perl_module modules/mod_perl.so
  </IfModule>
  [% IF apache_version == "2.4" %]
  <IfModule !mod_unixd.c>
    LoadModule unixd_module modules/mod_unixd.so
  </IfModule>
  <IfModule !mod_authz_core.c>
    LoadModule authz_core_module modules/mod_authz_core.so
  </IfModule>
  <IfModule !mod_authn_core.c>
    LoadModule authn_core_module modules/mod_authn_core.so
  </IfModule>
  <IfModule !prefork.c>
    LoadModule mpm_prefork_module modules/mod_mpm_prefork.so
  </IfModule>
  <IfModule !mod_socache_shmcb.c>
    LoadModule socache_shmcb_module modules/mod_socache_shmcb.so
  </IfModule>
  [% END %]
  <IfModule !mod_log_config.c>
    LoadModule log_config_module modules/mod_log_config.so
  </IfModule>
  <IfModule !mod_ssl.c>
    LoadModule ssl_module modules/mod_ssl.so
  </IfModule>
  <IfModule !mod_alias.c>
    LoadModule alias_module modules/mod_alias.so
  </IfModule>
  <IfModule !mod_mime.c>
    LoadModule mime_module modules/mod_mime.so
  </IfModule>
  <IfModule !mod_proxy.c>
    LoadModule proxy_module modules/mod_proxy.so
  </IfModule>
  <IfModule !proxy_http.c>
    LoadModule proxy_http_module modules/mod_proxy_http.so
  </IfModule>
  <IfModule !mod_apreq2.c>
    LoadModule apreq_module modules/mod_apreq2.so
  </IfModule>
  <IfModule !mod_headers.c>
    LoadModule headers_module modules/mod_headers.so
  </IfModule>
</IfDefine>

PidFile [% install_dir %]/var/run/[% name %].pid

User pf 
Group pf
ServerTokens Prod
ServerSignature Off
UseCanonicalName Off
Timeout 50
KeepAliveTimeout 3

TypesConfig /etc/mime.types
HostnameLookups Off

StartServers       4
MinSpareServers    2
MaxSpareServers   10
ServerLimit      64
MaxClients       64
MaxRequestsPerChild  1000

Listen  0.0.0.0:5252

#LoadModule auth_basic_module modules/mod_auth_basic.so
#LoadModule auth_digest_module modules/mod_auth_digest.so
#LoadModule authn_file_module modules/mod_authn_file.so
#LoadModule authn_alias_module modules/mod_authn_alias.so
#LoadModule authn_anon_module modules/mod_authn_anon.so
#LoadModule authn_dbm_module modules/mod_authn_dbm.so
#LoadModule authn_default_module modules/mod_authn_default.so
#LoadModule authz_host_module modules/mod_authz_host.so
#LoadModule authz_user_module modules/mod_authz_user.so
#LoadModule authz_owner_module modules/mod_authz_owner.so
#LoadModule authz_groupfile_module modules/mod_authz_groupfile.so
#LoadModule authz_dbm_module modules/mod_authz_dbm.so
#LoadModule authz_default_module modules/mod_authz_default.so
#LoadModule ldap_module modules/mod_ldap.so
#LoadModule authnz_ldap_module modules/mod_authnz_ldap.so
#LoadModule include_module modules/mod_include.so
#LoadModule log_config_module modules/mod_log_config.so
#LoadModule logio_module modules/mod_logio.so
#LoadModule env_module modules/mod_env.so
#LoadModule ext_filter_module modules/mod_ext_filter.so
#LoadModule mime_magic_module modules/mod_mime_magic.so
#LoadModule expires_module modules/mod_expires.so
#LoadModule deflate_module modules/mod_deflate.so
#LoadModule headers_module modules/mod_headers.so
#LoadModule usertrack_module modules/mod_usertrack.so
#LoadModule setenvif_module modules/mod_setenvif.so
#LoadModule mime_module modules/mod_mime.so
#LoadModule dav_module modules/mod_dav.so
#LoadModule status_module modules/mod_status.so
#LoadModule autoindex_module modules/mod_autoindex.so
#LoadModule info_module modules/mod_info.so
#LoadModule dav_fs_module modules/mod_dav_fs.so
#LoadModule vhost_alias_module modules/mod_vhost_alias.so
#LoadModule negotiation_module modules/mod_negotiation.so
#LoadModule dir_module modules/mod_dir.so
#LoadModule actions_module modules/mod_actions.so
#LoadModule speling_module modules/mod_speling.so
#LoadModule userdir_module modules/mod_userdir.so
#LoadModule alias_module modules/mod_alias.so
#LoadModule substitute_module modules/mod_substitute.so
#LoadModule rewrite_module modules/mod_rewrite.so
#LoadModule proxy_module modules/mod_proxy.so
#LoadModule proxy_balancer_module modules/mod_proxy_balancer.so
#LoadModule proxy_ftp_module modules/mod_proxy_ftp.so
#LoadModule proxy_http_module modules/mod_proxy_http.so
#LoadModule proxy_ajp_module modules/mod_proxy_ajp.so
#LoadModule proxy_connect_module modules/mod_proxy_connect.so
#LoadModule cache_module modules/mod_cache.so
#LoadModule suexec_module modules/mod_suexec.so
#LoadModule disk_cache_module modules/mod_disk_cache.so
LoadModule cgi_module modules/mod_cgi.so
#LoadModule version_module modules/mod_version.so

Include [% install_dir %]/conf/httpd.conf.d/log.conf

DocumentRoot [% install_dir %]/html/parking

DirectoryIndex index.html

ErrorLog [% install_dir %]/logs/httpd.parking.error

LogLevel warn

CustomLog [% install_dir %]/logs/httpd.parking.access combined

ScriptAlias /cgi-bin/ "/usr/local/pf/html/parking/cgi-bin/"

<Directory [% install_dir%]/html/parking/cgi-bin>

ErrorDocument 404 /index.html
