#Debian specific
<IfDefine debian>
  <IfModule !mod_perl.c>
    LoadModule perl_module /usr/lib/apache2/modules/mod_perl.so
  </IfModule>
  [% IF apache_version == "2.4" %]
    <IfModule !mod_unixd.c>
      LoadModule unixd_module /usr/lib/apache2/modules/mod_unixd.so
    </IfModule>
    <IfModule !mod_authz_core.c>
      LoadModule authz_core_module /usr/lib/apache2/modules/mod_authz_core.so
    </IfModule>
    <IfModule !mod_authn_core.c>
      LoadModule authn_core_module /usr/lib/apache2/modules/mod_authn_core.so
    </IfModule>
    <IfModule !mod_socache_shmcb.c>
      LoadModule socache_shmcb_module /usr/lib/apache2/modules/mod_socache_shmcb.so
    </IfModule>
    <IfModule !prefork.c>
      LoadModule mpm_prefork_module /usr/lib/apache2/modules/mod_mpm_prefork.so
    </IfModule>
  [% END %]
  <IfModule !mod_log_config.c>
    LoadModule log_config_module /usr/lib/apache2/modules/mod_log_config.so
  </IfModule>
  <IfModule !mod_logio.c>
    LoadModule logio_module /usr/lib/apache2/modules/mod_logio.so
  </IfModule>
  <IfModule !mod_headers.c>
    LoadModule headers_module /usr/lib/apache2/modules/mod_headers.so
  </IfModule>
  <IfModule !mod_authz_host.c>
    LoadModule authz_host_module /usr/lib/apache2/modules/mod_authz_host.so
  </IfModule>
  <IfModule !mod_setenvif.c>
    LoadModule setenvif_module /usr/lib/apache2/modules/mod_setenvif.so
  </IfModule>
  <IfModule !mod_rewrite.c>
    LoadModule rewrite_module /usr/lib/apache2/modules/mod_rewrite.so
  </IfModule>
  <IfModule !mod_alias.c>
    LoadModule alias_module /usr/lib/apache2/modules/mod_alias.so
  </IfModule>
  <IfModule !mod_mime.c>
    LoadModule mime_module /usr/lib/apache2/modules/mod_mime.so
  </IfModule>
  <IfModule !mod_apreq2.c>
    LoadModule apreq_module /usr/lib/apache2/modules/mod_apreq2.so
  </IfModule>
  <IfModule !mod_deflate.c>
    LoadModule deflate_module /usr/lib/apache2/modules/mod_deflate.so
  </IfModule>
  <IfModule !mod_status.c>
    LoadModule status_module /usr/lib/apache2/modules/mod_status.so
  </IfModule>
  <IfModule !mod_systemd.c>
    LoadModule systemd_module     /usr/lib/apache2/modules/mod_systemd.so
  </IfModule>
</IfDefine>

#RHEL specific
<IfDefine rhel>
  <IfModule !mod_perl.c>
    LoadModule perl_module modules/mod_perl.so
  </IfModule>
  [% IF apache_version == "2.4" %]
    <IfModule !mod_unixd.c>
      LoadModule unixd_module modules/mod_unixd.so
    </IfModule>
    <IfModule !mod_authz_core.c>
      LoadModule authz_core_module modules/mod_authz_core.so
    </IfModule>
    <IfModule !mod_authn_core.c>
      LoadModule authn_core_module modules/mod_authn_core.so
    </IfModule>
    <IfModule !prefork.c>
      LoadModule mpm_prefork_module modules/mod_mpm_prefork.so
    </IfModule>
    <IfModule !mod_socache_shmcb.c>
      LoadModule socache_shmcb_module modules/mod_socache_shmcb.so
    </IfModule>
  [% END %]
  <IfModule !mod_log_config.c>
    LoadModule log_config_module modules/mod_log_config.so
  </IfModule>
  <IfModule !mod_logio.c>
    LoadModule logio_module modules/mod_logio.so
  </IfModule>
  <IfModule !mod_headers.c>
    LoadModule headers_module modules/mod_headers.so
  </IfModule>
  <IfModule !mod_authz_host.c>
    LoadModule authz_host_module modules/mod_authz_host.so
  </IfModule>
  <IfModule !mod_setenvif.c>
    LoadModule setenvif_module modules/mod_setenvif.so
  </IfModule>
  <IfModule !mod_rewrite.c>
    LoadModule rewrite_module modules/mod_rewrite.so
  </IfModule>
  <IfModule !mod_alias.c>
    LoadModule alias_module modules/mod_alias.so
  </IfModule>
  <IfModule !mod_mime.c>
    LoadModule mime_module modules/mod_mime.so
  </IfModule>
  <IfModule !mod_apreq2.c>
    LoadModule apreq_module modules/mod_apreq2.so
  </IfModule>
  <IfModule !mod_deflate.c>
    LoadModule deflate_module modules/mod_deflate.so
  </IfModule>
  <IfModule !mod_status.c>
    LoadModule status_module modules/mod_status.so
  </IfModule>
  <IfModule !mod_systemd.c>
    LoadModule systemd_module modules/mod_systemd.so
  </IfModule>
</IfDefine>

# We don't allow the TRACE HTTP method
TraceEnable off

# Limit mod_perl to 1024MB of RAM
PerlModule Apache2::Resource
PerlSetEnv PERL_RLIMIT_AS 1024
PerlChildInitHandler Apache2::Resource

PerlSwitches -I[% install_dir %]/lib
# mod_perl handlers are virtually assigned to /perl/
# The TransHandler handles the 'captive-portal' core piece redirecting to the
# portal if the URL is not otherwised allowed by passthrough or part of the
# portal itself.
PerlPostConfigRequire [% install_dir %]/lib/pf/web/captiveportal_modperl_require.pl
PerlModule Apache::SSLLookup
PerlLoadModule captiveportal
[% IF apache_version == "2.4" %]
PerlLoadModule pf::web::apache2_version
[% END %]
PerlLoadModule pf::web::dispatcher
PerlLoadModule pf::WebAPI::InitHandler
PerlLoadModule pf::web::billinghook
PerlLoadModule pf::web::openvashook
PerlPostConfigHandler pf::WebAPI::InitHandler->post_config

# The TransHandler handles the 'captive-portal' core piece redirecting to the
# portal if the URL is not otherwised allowed by passthrough or part of the
# portal itself.

[% IF apache_version == "2.4" %]
Mutex posixsem default
[% ELSE %]
AcceptMutex posixsem
[% END %]
ServerLimit 512

Header always set X-DNS-Prefetch-Control off

SetEnvIf User-Agent ".*MSIE.*" \
  nokeepalive ssl-unclean-shutdown \
  downgrade-1.0 force-response-1.0

TypesConfig /etc/mime.types

PidFile [% install_dir %]/var/run/[% name %].pid
Include [% install_dir %]/conf/httpd.conf.d/log.conf
SetEnvIf User-Agent netdata is_netdata

User pf
Group pf
PerlOptions +GlobalRequest

ServerAdmin [% server_admin %]

TraceEnable Off

ServerTokens Prod
ServerSignature Off
UseCanonicalName Off
Timeout 5
KeepAlive Off

MaxClients [% max_clients %]
StartServers 4
MinSpareServers 2

HostnameLookups off
MaxRequestsPerChild 1000
PerlInitHandler pf::WebAPI::InitHandler
PerlChildInitHandler pf::WebAPI::InitHandler->child_init

Header set X-XSS-Protection "1; mode=block"
Header always append X-Frame-Options SAMEORIGIN

ErrorLog "| /usr/bin/logger -thttpd_portal_err -plocal5.err"

#disable htaccess starting at web root
<Directory />
    AllowOverride None
</Directory>

[% FOREACH vhost IN vhosts %]

Listen [% vhost %]:80

[% IF apache_version == "2.2" %]
NameVirtualHost [% vhost %]:80
[% END %]

<VirtualHost [% vhost %]:80 > 
     ServerName   [% server_name %]
     DocumentRoot [% install_dir %]/html/captive-portal/lib
     ErrorLog "| /usr/bin/logger -thttpd_portal_err -plocal5.err"
     CustomLog "| /usr/bin/logger -thttpd_portal -plocal5.info"  loadbalanced_combined env=!is_netdata
     Include [% var_dir %]/conf/captive-portal-common
     AllowEncodedSlashes on
     Alias       /static [% install_dir %]/html/captive-portal/root/static
     Alias       /common [% install_dir %]/html/common
     PerlModule  captiveportal
     PerlTransHandler pf::web::dispatcher::custom
     [% IF captive_portal.secure_redirect %]
     RewriteEngine On
     RewriteCond %{REQUEST_URI} !^/access.* [NC]
     RewriteCond %{HTTP:X-Forwarded-Proto} !=https
     RewriteCond %{HTTP:X-Forwarded-For-PacketFence} =""
     RewriteCond %{HTTPS} !=on
     RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
     [% END %]
     <Location / >
        [% IF apache_version == "2.4" %]
        Require all granted
        [% ELSE %]
        Allow from all 
        [% END %]
        SetHandler modperl
        PerlResponseHandler captiveportal
     </Location>
     <Location /static >
        [% IF apache_version == "2.4" %]
        Require all granted
        [% ELSE %]
        Allow from all 
        [% END %]
        SetHandler default-handler
     </Location>
     <Location /common >
        [% IF apache_version == "2.4" %]
        Require all granted
        [% ELSE %]
        Allow from all
        [% END %]
        SetHandler default-handler
     </Location>
     <Location /content >
        [% IF apache_version == "2.4" %]
        Require all granted
        [% ELSE %]
        Allow from all
        [% END %]
        SetHandler default-handler
     </Location>
     <Location /hook/openvas >
        SetHandler modperl
        PerlResponseHandler pf::web::openvashook
     </Location>
     <Location /hook/billing >
        SetHandler modperl
        PerlResponseHandler pf::web::billinghook
     </Location>
     [% IF captive_portal.status_only_on_production && vhost_management_network != vhost %]
     <Location /status >
        [% IF apache_version == "2.4" %]
        Require all granted
        [% ELSE %]
        Allow from all
        [% END %]
        SetHandler modperl
        PerlResponseHandler captiveportal
     </Location>
     [% END %]
     [% IF allowed_from_all_options %]
         <Location ~ [% allowed_from_all_urls %] >
            [% IF apache_version == "2.4" %]
            Require all granted
            [% ELSE %]
            Allow from all
            [% END %]
            SetHandler modperl
            PerlResponseHandler captiveportal
        </Location>
     [% END %]
</VirtualHost>

[% END %]


[% IF vhost_management_network %]
    Listen [% vhost_management_network %]:[% ports.httpd_portal_modstatus %]

    [% IF apache_version == "2.2" %]
    NameVirtualHost [% vhost_management_network %]:[% ports.httpd_portal_modstatus %]
    [% END %]

    <VirtualHost [% vhost_management_network %]:[% ports.httpd_portal_modstatus %] >
        ServerName   [% server_name %]
        DocumentRoot [% install_dir%]/html/captive-portal/lib
        ErrorLog "| /usr/bin/logger -thttpd_portal_err -plocal5.err"
        CustomLog "| /usr/bin/logger -thttpd_portal -plocal5.info"  loadbalanced_combined env=!is_netdata

        <Location  /modstatus >
            SetHandler server-status
        </Location>

    </VirtualHost>
[% END %]

