#PacketFence apache configuration file

#Debian specific
<IfDefine debian>
  [% IF apache_version == "2.4" %]
    <IfModule !mod_unixd.c>
      LoadModule unixd_module /usr/lib/apache2/modules/mod_unixd.so
    </IfModule>
    <IfModule !mod_authz_core.c>
      LoadModule authz_core_module /usr/lib/apache2/modules/mod_authz_core.so
    </IfModule>
    <IfModule !mod_authn_core.c>
      LoadModule authn_core_module /usr/lib/apache2/modules/mod_authn_core.so
    </IfModule>
    <IfModule !mod_socache_shmcb.c>
      LoadModule socache_shmcb_module /usr/lib/apache2/modules/mod_socache_shmcb.so
    </IfModule>
    <IfModule !prefork.c>
      LoadModule mpm_prefork_module /usr/lib/apache2/modules/mod_mpm_prefork.so
    </IfModule>
  [% END %]
  <IfModule !mod_log_config.c>
    LoadModule log_config_module /usr/lib/apache2/modules/mod_log_config.so
  </IfModule>
  <IfModule !mod_logio.c>
    LoadModule logio_module /usr/lib/apache2/modules/mod_logio.so
  </IfModule>
  <IfModule !mod_alias.c>
    LoadModule alias_module /usr/lib/apache2/modules/mod_alias.so
  </IfModule>
  <IfModule !mod_mime.c>
    LoadModule mime_module /usr/lib/apache2/modules/mod_mime.so
  </IfModule>
  <IfModule !mod_cgi.c>
    LoadModule cgi_module /usr/lib/apache2/modules/mod_cgi.so
  </IfModule>
  <IfModule !mod_dir.c>
    LoadModule dir_module /usr/lib/apache2/modules/mod_dir.so
  </IfModule>
  <IfModule !mod_authz_host.c>
    LoadModule authz_host_module /usr/lib/apache2/modules/mod_authz_host.so
  </IfModule>
  <IfModule !mod_headers.c>
    LoadModule headers_module /usr/lib/apache2/modules/mod_headers.so
  </IfModule>
  <IfModule !mod_rewrite.c>
    LoadModule rewrite_module /usr/lib/apache2/modules/mod_rewrite.so
  </IfModule>
  <IfModule !mod_systemd.c>
    LoadModule systemd_module     /usr/lib/apache2/modules/mod_systemd.so
  </IfModule>
</IfDefine>

#RHEL specific
<IfDefine rhel>
  [% IF apache_version == "2.4" %]
    <IfModule !mod_unixd.c>
      LoadModule unixd_module modules/mod_unixd.so
    </IfModule>
    <IfModule !mod_authz_core.c>
      LoadModule authz_core_module modules/mod_authz_core.so
    </IfModule>
    <IfModule !mod_authn_core.c>
      LoadModule authn_core_module modules/mod_authn_core.so
    </IfModule>
    <IfModule !prefork.c>
      LoadModule mpm_prefork_module modules/mod_mpm_prefork.so
    </IfModule>
    <IfModule !mod_socache_shmcb.c>
      LoadModule socache_shmcb_module modules/mod_socache_shmcb.so
    </IfModule>
  [% END %]
  <IfModule !mod_authz_host.c>
    LoadModule authz_host_module modules/mod_authz_host.so
  </IfModule>
  <IfModule !mod_log_config.c>
    LoadModule log_config_module modules/mod_log_config.so
  </IfModule>
  <IfModule !mod_logio.c>
    LoadModule logio_module modules/mod_logio.so
  </IfModule>
  <IfModule !mod_alias.c>
    LoadModule alias_module modules/mod_alias.so
  </IfModule>
  <IfModule !mod_mime.c>
    LoadModule mime_module modules/mod_mime.so
  </IfModule>
  <IfModule !mod_cgi.c>
    LoadModule cgi_module modules/mod_cgi.so
  </IfModule>
  <IfModule !mod_dir.c>
    LoadModule dir_module modules/mod_dir.so
  </IfModule>
  <IfModule !mod_headers.c>
    LoadModule headers_module modules/mod_headers.so
  </IfModule>
  <IfModule !mod_rewrite.c>
    LoadModule rewrite_module modules/mod_rewrite.so
  </IfModule>
  <IfModule !mod_systemd.c>
    LoadModule systemd_module modules/mod_systemd.so
  </IfModule>
</IfDefine>

PidFile [% install_dir %]/var/run/[% name %].pid

User pf 
Group pf
ServerTokens Prod
ServerSignature Off
UseCanonicalName Off
Timeout 50
KeepAlive Off

TypesConfig /etc/mime.types
HostnameLookups Off

StartServers       4
MinSpareServers    2
MaxSpareServers   10
ServerLimit      64
MaxClients       64
MaxRequestsPerChild  1000

Listen  0.0.0.0:5252

#disable htaccess starting at web root
<Directory />
    AllowOverride None
</Directory>

Include [% install_dir %]/conf/httpd.conf.d/log.conf

DocumentRoot [% install_dir %]/html/parking

DirectoryIndex index.html

Header set X-XSS-Protection "1; mode=block"
Header always append X-Frame-Options SAMEORIGIN

ErrorLog "| /usr/bin/logger -thttpd_parking_err -plocal5.err"

LogLevel warn

CustomLog  "| /usr/bin/logger -thttpd_parking -plocal5.info" combined

ScriptAlias /cgi-bin/ [% install_dir %]/html/parking/cgi-bin/

TraceEnable Off

<Directory [% install_dir%]/html/parking/cgi-bin>
  [% IF apache_version == "2.4" %]
  Require all granted
  [% ELSE %]
  Allow from all
  [% END %]
</Directory>

Alias "/common" "[% install_dir %]/html/common"

Header set Cache-Control "no-cache, no-store, must-revalidate"

<Directory [% install_dir %]/html/common>
  [% IF apache_version == "2.4" %]
  Require all granted
  [% ELSE %]
  Allow from all
  [% END %]
</Directory>

ErrorDocument 404 /404-not-found

RewriteEngine On
RewriteRule ^/404-not-found$ /index.html [R]

