#[% name %] apache configuration file

#Debian Specific
<IfDefine debian>
  <IfModule !mod_perl.c>
    LoadModule perl_module /usr/lib/apache2/modules/mod_perl.so
  </IfModule>
  [% IF apache_version == "2.4" %]
    <IfModule !mod_unixd.c>
      LoadModule unixd_module /usr/lib/apache2/modules/mod_unixd.so
    </IfModule>
    <IfModule !mod_authz_core.c>
      LoadModule authz_core_module /usr/lib/apache2/modules/mod_authz_core.so
    </IfModule>
    <IfModule !mod_authn_core.c>
      LoadModule authn_core_module /usr/lib/apache2/modules/mod_authn_core.so
    </IfModule>
    <IfModule !mod_socache_shmcb.c>
      LoadModule socache_shmcb_module /usr/lib/apache2/modules/mod_socache_shmcb.so
    </IfModule>
    <IfModule !prefork.c>
      LoadModule mpm_prefork_module /usr/lib/apache2/modules/mod_mpm_prefork.so
    </IfModule>
  [% END %]
  <IfModule !mod_log_config.c>
    LoadModule log_config_module /usr/lib/apache2/modules/mod_log_config.so
  </IfModule>
  <IfModule !mod_logio.c>
    LoadModule logio_module /usr/lib/apache2/modules/mod_logio.so
  </IfModule>
  <IfModule !mod_ssl.c>
    LoadModule ssl_module /usr/lib/apache2/modules/mod_ssl.so
  </IfModule>
  <IfModule !mod_auth_basic.c>
    LoadModule auth_basic_module /usr/lib/apache2/modules/mod_auth_basic.so
  </IfModule>
  <IfModule !mod_authn_file.c>
    LoadModule authn_file_module /usr/lib/apache2/modules/mod_authn_file.so
  </IfModule>
  <IfModule !mod_authz_groupfile.c>
    Loadmodule authz_groupfile_module /usr/lib/apache2/modules/mod_authz_groupfile.so
  </IfModule>
  <IfModule !mod_authz_user.c>
    LoadModule authz_user_module /usr/lib/apache2/modules/mod_authz_user.so
  </IfModule>
  <IfModule !mod_authz_host.c>
    LoadModule authz_host_module /usr/lib/apache2/modules/mod_authz_host.so
  </IfModule>
  <IfModule !mod_status.c>
    LoadModule status_module /usr/lib/apache2/modules/mod_status.so
  </IfModule>
  <IfModule !mod_headers.c>
    LoadModule headers_module /usr/lib/apache2/modules/mod_headers.so
  </IfModule>
  <IfModule !mod_setenvif.c>
    LoadModule setenvif_module /usr/lib/apache2/modules/mod_setenvif.so
  </IfModule>
  <IfModule !mod_systemd.c>
    LoadModule systemd_module     /usr/lib/apache2/modules/mod_systemd.so
  </IfModule>

</IfDefine>

#RHEL Specific
<IfDefine rhel>
  <IfModule !mod_perl.c>
    LoadModule perl_module modules/mod_perl.so
  </IfModule>
  [% IF apache_version == "2.4" %]
    <IfModule !mod_unixd.c>
      LoadModule unixd_module modules/mod_unixd.so
    </IfModule>
    <IfModule !mod_authz_core.c>
      LoadModule authz_core_module modules/mod_authz_core.so
    </IfModule>
    <IfModule !mod_authn_core.c>
      LoadModule authn_core_module modules/mod_authn_core.so
    </IfModule>
    <IfModule !prefork.c>
      LoadModule mpm_prefork_module modules/mod_mpm_prefork.so
    </IfModule>
    <IfModule !mod_socache_shmcb.c>
      LoadModule socache_shmcb_module modules/mod_socache_shmcb.so
    </IfModule>
  [% END %]
  <IfModule !mod_log_config.c>
    LoadModule log_config_module modules/mod_log_config.so
  </IfModule>
  <IfModule !mod_logio.c>
    LoadModule logio_module modules/mod_logio.so
  </IfModule>
  <IfModule !mod_ssl.c>
    LoadModule ssl_module modules/mod_ssl.so
  </IfModule>
  <IfModule !mod_auth_basic.c>
    LoadModule auth_basic_module modules/mod_auth_basic.so
  </IfModule>
  <IfModule !mod_authn_file.c>
    LoadModule authn_file_module modules/mod_authn_file.so
  </IfModule>
  <IfModule !mod_authz_groupfile.c>
    Loadmodule authz_groupfile_module modules/mod_authz_groupfile.so
  </IfModule>
  <IfModule !mod_authz_user.c>
    LoadModule authz_user_module modules/mod_authz_user.so
  </IfModule>
  <IfModule !mod_authz_host.c>
    LoadModule authz_host_module modules/mod_authz_host.so
  </IfModule>
  <IfModule !mod_status.c>
    LoadModule status_module modules/mod_status.so
  </IfModule>
  <IfModule !mod_headers.c>
    LoadModule headers_module modules/mod_headers.so
  </IfModule>
  <IfModule !mod_setenvif.c>
    LoadModule setenvif_module modules/mod_setenvif.so
  </IfModule>
  <IfModule !mod_systemd.c>
    LoadModule systemd_module modules/mod_systemd.so
  </IfModule>
</IfDefine>

PerlSwitches -I[% install_dir %]/lib
PerlSwitches -I[% install_dir %]/html/pfappserver/lib
PerlConfigRequire [% install_dir %]/lib/pf/web/[% name %]_modperl_require.pl
PerlLoadModule pf::WebAPI
PerlLoadModule pf::WebAPI::InitHandler
PerlPostConfigHandler pf::WebAPI::InitHandler->post_config
PerlInitHandler pf::WebAPI::InitHandler
PerlChildInitHandler pf::WebAPI::InitHandler->child_init
SetEnvIf User-Agent netdata is_netdata

PidFile [% install_dir %]/var/run/[% name %].pid

Include [% install_dir %]/conf/httpd.conf.d/log.conf

ServerTokens  Prod
ServerSignature  Off
UseCanonicalName  Off
Timeout  50
KeepAliveTimeout  10

MaxClients  256
StartServers  4
MinSpareServers  2
MaxSpareServers  10
HostnameLookups  off
MaxRequestsPerChild  1000

SSLPassPhraseDialog  builtin
SSLSessionCacheTimeout  300
SSLRandomSeed  startup builtin
SSLRandomSeed  startup file:/dev/urandom 1024
SSLRandomSeed  connect builtin
SSLRandomSeed  connect file:/dev/urandom 1024

[% IF apache_version == "2.4" %]
SSLSessionCache shmcb:[% install_dir %]/var/ssl_acache(512000)
Mutex file:[% install_dir %]/var/ssl_mutex ssl-cache
# apache 2.4.6 | modern profile | OpenSSL 1.0.1e | https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=apache-2.4.6&openssl=1.0.1e&hsts=no&profile=modern
#Oldest compatible clients: Firefox 27, Chrome 30, IE 11 on Windows 7, Edge, Opera 17, Safari 9, Android 5.0, and Java 8
SSLProtocol             all -SSLv3 -TLSv1 -TLSv1.1
SSLCipherSuite          ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
SSLHonorCipherOrder     on
SSLCompression          off
[% END %]

SSLHonorCipherOrder  on

TraceEnable Off

ErrorLog "| /usr/bin/logger -t[% name | replace('\.', '_') %]_err -plocal5.err"  

User pf
Group pf

[% IF apache_version == "2.4" %]
Mutex posixsem default
Mutex posixsem ssl-cache
[% ELSE %]
AcceptMutex posixsem
SSLMutex posixsem
[% END %]

[% FOREACH vhost IN vhosts %]

[% IF apache_version == "2.2" %]
NameVirtualHost [% vhost %]:[% port %]
[% END %]

Listen [% vhost %]:[% port %]

#disable htaccess starting at web root
<Directory />
    AllowOverride None
</Directory>

<VirtualHost [% vhost %]:[% port %] >
    ServerName [% server_name %]
    DocumentRoot [% install_dir %]/html/pfappserver/lib
    ErrorLog "| /usr/bin/logger -t[% name | replace('\.', '_') %]_err -plocal5.err"  
    CustomLog "| /usr/bin/logger -t[% name | replace('\.', '_') %] -plocal5.info" combined env=!is_netdata
    SSLEngine on
    Include [% var_dir %]/conf/ssl-certificates.conf
    <Location / >
        SetHandler modperl
        PerlResponseHandler pf::WebAPI
        PerlAuthenHandler pf::WebAPI::AuthenHandler
        AuthName PacketFence_Authentication
        AuthType Basic
        require valid-user
    </Location>
</VirtualHost>

[% END %]

Listen 127.0.0.1:[% port %]

<VirtualHost 127.0.0.1:[% port %] >
    ServerName [% server_name %]
    DocumentRoot [% install_dir %]/html/pfappserver/lib
    ErrorLog "| /usr/bin/logger -t[% name | replace('\.', '_') %]_err -plocal5.err"  
    CustomLog "| /usr/bin/logger -t[% name | replace('\.', '_') %] -plocal5.info" combined env=!is_netdata
    SetHandler modperl
    PerlResponseHandler pf::WebAPI
    <Location / >
        SetHandler modperl
        PerlResponseHandler pf::WebAPI
    </Location>
    <Location /apache_status/ >
        SetHandler server-status
    </Location>
</VirtualHost>
