#PacketFence apache configuration file

#Debian specific
<IfDefine debian>
  <IfModule !mod_perl.c>
    LoadModule perl_module /usr/lib/apache2/modules/mod_perl.so
  </IfModule>
  [% IF apache_version == "2.4" %]
    <IfModule !mod_unixd.c>
      LoadModule unixd_module /usr/lib/apache2/modules/mod_unixd.so
    </IfModule>
    <IfModule !mod_authz_core.c>
      LoadModule authz_core_module /usr/lib/apache2/modules/mod_authz_core.so
    </IfModule>
    <IfModule !mod_authn_core.c>
      LoadModule authn_core_module /usr/lib/apache2/modules/mod_authn_core.so
    </IfModule>
    <IfModule !mod_socache_shmcb.c>
      LoadModule socache_shmcb_module /usr/lib/apache2/modules/mod_socache_shmcb.so
    </IfModule>
    <IfModule !prefork.c>
      LoadModule mpm_prefork_module /usr/lib/apache2/modules/mod_mpm_prefork.so
    </IfModule>
  [% END %]
  <IfModule !mod_log_config.c>
    LoadModule log_config_module /usr/lib/apache2/modules/mod_log_config.so
  </IfModule>
  <IfModule !mod_logio.c>
    LoadModule logio_module /usr/lib/apache2/modules/mod_logio.so
  </IfModule>
  <IfModule !mod_ssl.c>
    LoadModule ssl_module /usr/lib/apache2/modules/mod_ssl.so
  </IfModule>
  <IfModule !mod_alias.c>
    LoadModule alias_module /usr/lib/apache2/modules/mod_alias.so
  </IfModule>
  <IfModule !mod_mime.c>
    LoadModule mime_module /usr/lib/apache2/modules/mod_mime.so
  </IfModule>
  <IfModule !mod_proxy.c>
    LoadModule proxy_module /usr/lib/apache2/modules/mod_proxy.so
  </IfModule>
  <IfModule !proxy_http.c>
    LoadModule proxy_http_module /usr/lib/apache2/modules/mod_proxy_http.so
  </IfModule>
  <IfModule !mod_apreq2.c>
    LoadModule apreq_module /usr/lib/apache2/modules/mod_apreq2.so
  </IfModule>
  <IfModule !mod_headers.c>
    LoadModule headers_module /usr/lib/apache2/modules/mod_headers.so
  </IfModule>
  <IfModule !mod_systemd.c>
    LoadModule systemd_module     /usr/lib/apache2/modules/mod_systemd.so
  </IfModule>
  <IfModule !mod_proxy_connect.c>
   LoadModule proxy_connect_module /usr/lib/apache2/modules/mod_proxy_connect.so
  </IfModule>
</IfDefine>

#RHEL specific
<IfDefine rhel>
  <IfModule !mod_perl.c>
    LoadModule perl_module modules/mod_perl.so
  </IfModule>
  [% IF apache_version == "2.4" %]
    <IfModule !mod_unixd.c>
      LoadModule unixd_module modules/mod_unixd.so
    </IfModule>
    <IfModule !mod_authz_core.c>
      LoadModule authz_core_module modules/mod_authz_core.so
    </IfModule>
    <IfModule !mod_authn_core.c>
      LoadModule authn_core_module modules/mod_authn_core.so
    </IfModule>
    <IfModule !prefork.c>
      LoadModule mpm_prefork_module modules/mod_mpm_prefork.so
    </IfModule>
    <IfModule !mod_socache_shmcb.c>
      LoadModule socache_shmcb_module modules/mod_socache_shmcb.so
    </IfModule>
  [% END %]
  <IfModule !mod_log_config.c>
    LoadModule log_config_module modules/mod_log_config.so
  </IfModule>
  <IfModule !mod_logio.c>
    LoadModule logio_module modules/mod_logio.so
  </IfModule>
  <IfModule !mod_ssl.c>
    LoadModule ssl_module modules/mod_ssl.so
  </IfModule>
  <IfModule !mod_alias.c>
    LoadModule alias_module modules/mod_alias.so
  </IfModule>
  <IfModule !mod_mime.c>
    LoadModule mime_module modules/mod_mime.so
  </IfModule>
  <IfModule !mod_proxy.c>
    LoadModule proxy_module modules/mod_proxy.so
  </IfModule>
  <IfModule !proxy_http.c>
    LoadModule proxy_http_module modules/mod_proxy_http.so
  </IfModule>
  <IfModule !mod_apreq2.c>
    LoadModule apreq_module modules/mod_apreq2.so
  </IfModule>
  <IfModule !mod_headers.c>
    LoadModule headers_module modules/mod_headers.so
  </IfModule>
  <IfModule !mod_systemd.c>
    LoadModule systemd_module modules/mod_systemd.so
  </IfModule>
  <IfModule !mod_proxy_connect.c>
   LoadModule proxy_connect_module modules/mod_proxy_connect.so
  </IfModule>
</IfDefine>

[% IF apache_version == "2.4" %]
Mutex posixsem default
[% ELSE %]
AcceptMutex posixsem
[% END %]

PerlSwitches -I[% install_dir %]/lib
PerlSwitches -I[% install_dir %]/html/pfappserver/lib
PerlLoadModule pfappserver
PerlLoadModule pf::WebAPI::InitHandler
PerlPostConfigHandler pf::WebAPI::InitHandler->post_config
PerlChildInitHandler pf::WebAPI::InitHandler->child_init
PidFile [% install_dir %]/var/run/[% name %].pid
Include [% install_dir %]/conf/httpd.conf.d/log.conf
User pf
Group pf
TypesConfig /etc/mime.types
ServerTokens Prod
ServerSignature Off
UseCanonicalName Off
Timeout  50
KeepAliveTimeout  10

MaxClients  4
StartServers  2
MinSpareServers  1
HostnameLookups  off
MaxRequestsPerChild  1000

SSLPassPhraseDialog  builtin
SSLSessionCacheTimeout  300
SSLRandomSeed startup builtin
SSLRandomSeed startup file:/dev/urandom 1024
SSLRandomSeed connect builtin
SSLRandomSeed connect file:/dev/urandom 1024

[% IF apache_version == "2.4" %]
SSLSessionCache shmcb:[% install_dir %]/var/ssl_acache(512000)
Mutex file:[% install_dir %]/var/ssl_mutex ssl-cache
# apache 2.4.6 | modern profile | OpenSSL 1.0.1e | https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=apache-2.4.6&openssl=1.0.1e&hsts=no&profile=modern
#Oldest compatible clients: Firefox 27, Chrome 30, IE 11 on Windows 7, Edge, Opera 17, Safari 9, Android 5.0, and Java 8
SSLProtocol             all -SSLv3 -TLSv1 -TLSv1.1
SSLCipherSuite          ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
SSLHonorCipherOrder     on
SSLCompression          off
[% END %]

SSLHonorCipherOrder  on

ErrorLog "| /usr/bin/logger -thttpd_proxy_err -plocal5.err"  

ServerAdmin [% server_admin %]

TraceEnable Off

[% IF apache_version == "2.2" %]
NameVirtualHost *:[% port %]
[% END %]

#disable htaccess starting at web root
<Directory />
    AllowOverride None
</Directory>

Listen 127.0.0.1:[% port %]

<VirtualHost *:[% port %] >
    ServerName [% server_name %]
    PerlOptions +GlobalRequest
    SSLEngine on
    SSLProxyEngine on
    Include [% var_dir %]/conf/ssl-certificates.conf
    PerlModule pf::web::interceptproxy
    PerlTransHandler +pf::web::interceptproxy::reverse
    ProxyRequests off
    ProxyPreserveHost on
    ProxyVia off
    LogLevel error
    ErrorLog "| /usr/bin/logger -thttpd_proxy_err -plocal5.err"  
    CustomLog "| /usr/bin/logger -thttpd_proxy -plocal5.info"  combined
</VirtualHost>

[% FOREACH vhost IN vhosts %]
[% FOREACH proxy_port IN proxy_ports %]

[% IF apache_version == "2.2" %]
NameVirtualHost [% vhost %]:[% proxy_port %]
[% END %]

Listen [% vhost %]:[% proxy_port %]

<VirtualHost [% vhost %]:[% proxy_port %] >
    ServerName [% server_name %]
    PerlOptions +GlobalRequest
    PerlModule pf::web::interceptproxy
    PerlTransHandler +pf::web::interceptproxy::translate
    ProxyRequests On
    ProxyPreserveHost On
    AllowCONNECT 444 443
    ProxyVia full
    ErrorLog "| /usr/bin/logger -thttpd_proxy_err -plocal5.err"  
    CustomLog "| /usr/bin/logger -thttpd_proxy -plocal5.info"  combined
</VirtualHost>

[% END %]
[% END %]
