#PacketFence apache configuration file

#Debian specific
<IfDefine debian>
  <IfModule !mod_perl.c>
    LoadModule perl_module /usr/lib/apache2/modules/mod_perl.so
  </IfModule>
  [% IF apache_version == "2.4" %]
    <IfModule !mod_unixd.c>
      LoadModule unixd_module /usr/lib/apache2/modules/mod_unixd.so
    </IfModule>
    <IfModule !mod_authz_core.c>
      LoadModule authz_core_module /usr/lib/apache2/modules/mod_authz_core.so
    </IfModule>
    <IfModule !mod_authn_core.c>
      LoadModule authn_core_module /usr/lib/apache2/modules/mod_authn_core.so
    </IfModule>
    <IfModule !mod_socache_shmcb.c>
      LoadModule socache_shmcb_module /usr/lib/apache2/modules/mod_socache_shmcb.so
    </IfModule>
    <IfModule !prefork.c>
      LoadModule mpm_prefork_module /usr/lib/apache2/modules/mod_mpm_prefork.so
    </IfModule>
    <IfModule !mod_xml2enc.c>
      LoadModule xml2enc_module /usr/lib/apache2/modules/mod_xml2enc.so
    </IfModule>
    <IfModule !mod_proxy_html.c>
      LoadModule proxy_html_module /usr/lib/apache2/modules/mod_proxy_html.so
    </IfModule>
  [% ELSE %]
    # Debian 7 does not include xml2enc_module so we have to work around it.
    <IfModule !mod_proxy_html.c>
      LoadFile libxml2.so.2
      LoadModule proxy_html_module /usr/lib/apache2/modules/mod_proxy_html.so
    </IfModule>
  [% END %]
  <IfModule !mod_log_config.c>
    LoadModule log_config_module /usr/lib/apache2/modules/mod_log_config.so
  </IfModule>
  <IfModule !mod_logio.c>
    LoadModule logio_module /usr/lib/apache2/modules/mod_logio.so
  </IfModule>
  <IfModule !mod_ssl.c>
    LoadModule ssl_module /usr/lib/apache2/modules/mod_ssl.so
  </IfModule>
  <IfModule !mod_alias.c>
    LoadModule alias_module /usr/lib/apache2/modules/mod_alias.so
  </IfModule>
  <IfModule !mod_mime.c>
    LoadModule mime_module /usr/lib/apache2/modules/mod_mime.so
  </IfModule>
  <IfModule !mod_proxy.c>
    LoadModule proxy_module /usr/lib/apache2/modules/mod_proxy.so
  </IfModule>
  <IfModule !proxy_http.c>
    LoadModule proxy_http_module /usr/lib/apache2/modules/mod_proxy_http.so
  </IfModule>
  <IfModule !mod_apreq2.c>
    LoadModule apreq_module /usr/lib/apache2/modules/mod_apreq2.so
  </IfModule>
  <IfModule !mod_env.c>
      LoadModule env_module /usr/lib/apache2/modules/mod_env.so
  </IfModule>
  <IfModule !mod_rewrite.c>
      LoadModule rewrite_module /usr/lib/apache2/modules/mod_rewrite.so
  </IfModule>
  <IfModule !mod_headers.c>
    LoadModule headers_module /usr/lib/apache2/modules/mod_headers.so
  </IfModule>
  <IfModule !mod_systemd.c>
    LoadModule systemd_module     /usr/lib/apache2/modules/mod_systemd.so
  </IfModule>
  <IfModule !mod_setenvif.c>
    LoadModule setenvif_module /usr/lib/apache2/modules/mod_setenvif.so
  </IfModule>
</IfDefine>

#RHEL specific
<IfDefine rhel>
  <IfModule !mod_perl.c>
    LoadModule perl_module modules/mod_perl.so
  </IfModule>
  [% IF apache_version == "2.4" %]
    <IfModule !mod_unixd.c>
      LoadModule unixd_module modules/mod_unixd.so
    </IfModule>
    <IfModule !mod_authz_core.c>
      LoadModule authz_core_module modules/mod_authz_core.so
    </IfModule>
    <IfModule !mod_authn_core.c>
      LoadModule authn_core_module modules/mod_authn_core.so
    </IfModule>
    <IfModule !prefork.c>
      LoadModule mpm_prefork_module modules/mod_mpm_prefork.so
    </IfModule>
    <IfModule !mod_socache_shmcb.c>
      LoadModule socache_shmcb_module modules/mod_socache_shmcb.so
    </IfModule>
  [% END %]
  <IfModule !mod_log_config.c>
    LoadModule log_config_module modules/mod_log_config.so
  </IfModule>
  <IfModule !mod_logio.c>
    LoadModule logio_module modules/mod_logio.so
  </IfModule>
  <IfModule !mod_ssl.c>
    LoadModule ssl_module modules/mod_ssl.so
  </IfModule>
  <IfModule !mod_alias.c>
    LoadModule alias_module modules/mod_alias.so
  </IfModule>
  <IfModule !mod_mime.c>
    LoadModule mime_module modules/mod_mime.so
  </IfModule>
  <IfModule !mod_proxy.c>
    LoadModule proxy_module modules/mod_proxy.so
  </IfModule>
  <IfModule !proxy_http.c>
    LoadModule proxy_http_module modules/mod_proxy_http.so
  </IfModule>
  <IfModule !mod_apreq2.c>
    LoadModule apreq_module modules/mod_apreq2.so
  </IfModule>
  <IfModule !mod_headers.c>
    LoadModule headers_module modules/mod_headers.so
  </IfModule>
  <IfModule !mod_xml2enc.c>
    LoadModule xml2enc_module modules/mod_xml2enc.so
  </IfModule>
  <IfModule !mod_proxy_html.c>
    LoadModule proxy_html_module modules/mod_proxy_html.so
  </IfModule>
  <IfModule !mod_env.c>
      LoadModule env_module modules/mod_env.so
  </IfModule>
  <IfModule !mod_rewrite.c>
      LoadModule rewrite_module modules/mod_rewrite.so
  </IfModule>
  <IfModule !mod_headers.c>
      LoadModule headers_module modules/mod_headers.so
  </IfModule>
  <IfModule !mod_systemd.c>
    LoadModule systemd_module   modules/mod_systemd.so
  </IfModule>
  <IfModule !mod_setenvif.c>
    LoadModule setenvif_module modules/mod_setenvif.so
  </IfModule>
</IfDefine>
[% IF apache_version == "2.4" %]
Mutex posixsem default
[% ELSE %]
AcceptMutex posixsem
[% END %]

SetEnv PF_SKIP_MAKE_IMMUTABLE 1
PerlSwitches -I[% install_dir %]/lib
PerlLoadModule pfappserver
PerlLoadModule pf::WebAPI::InitHandler::Admin
PerlPostConfigHandler pf::WebAPI::InitHandler::Admin->post_config
PerlChildInitHandler pf::WebAPI::InitHandler::Admin->child_init
PidFile [% install_dir %]/var/run/[% name %].pid
Include [% install_dir %]/conf/httpd.conf.d/log.conf
User pf
Group pf
TypesConfig /etc/mime.types
ServerTokens Prod
ServerSignature Off
UseCanonicalName Off
Timeout  50
KeepAliveTimeout  10

MaxClients  16
StartServers  4
MinSpareServers  2
HostnameLookups  off
MaxRequestsPerChild  1000

SSLPassPhraseDialog  builtin
SSLSessionCacheTimeout  300
SSLRandomSeed startup builtin
SSLRandomSeed startup file:/dev/urandom 1024
SSLRandomSeed connect builtin
SSLRandomSeed connect file:/dev/urandom 1024

[% IF apache_version == "2.4" %]
SSLSessionCache shmcb:[% install_dir %]/var/ssl_acache(512000)
Mutex file:[% install_dir %]/var/ssl_mutex ssl-cache
# SUGGESTED CIPHERLIST
# TLSv1.2 enforcement. No SSLv3, No SSLv2, NO SSLv1, No TLSv1.0, No TLSv1.1.
# Problem: Internet explorer 8-10 will probably throw at you "Internet Explorer cannot display the webpage" when attempting to access the admin interface while httpd.admin is confirmed to be  running. 
# Solution: TLSv1.2 needs to be activated. In internet Explorer: Click Tools, Internet Options, Advanced and make sure that TLS v1.2 is enabled under the security section. Retry.
# apache 2.4.6 | modern profile | OpenSSL 1.0.1e | https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=apache-2.4.6&openssl=1.0.1e&hsts=no&profile=modern
#Oldest compatible clients: Firefox 27, Chrome 30, IE 11 on Windows 7, Edge, Opera 17, Safari 9, Android 5.0, and Java 8
SSLProtocol             all -SSLv3 -TLSv1 -TLSv1.1
SSLCipherSuite          ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-SHA384:ECDHE-RSA-AES256-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256
SSLCompression          off
# 
# VULNERABLE CONFIGURATION. PLEASE REFER HERE: https://wiki.mozilla.org/Security/Server_Side_TLS
# YOU SHOULD PREFER TO UPGRADE AND DO CONFIGURATION CHANGES ON BROWSERS INSTEAD OF COMMENTING OUT PREVIOUS SECTION AND UNCOMMENT THIS ONE.
# Apache 2.4.6 | intermediate profile | OpenSSL 1.0.1e | link
#Oldest compatible clients: Firefox 1, Chrome 1, IE 7, Opera 5, Safari 1, Windows XP IE8, Android 2.3, Java 7
#SSLProtocol             all -SSLv3
#SSLCipherSuite          ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:DHE-RSA-AES128-GCM-SHA256:DHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-AES128-SHA256:ECDHE-RSA-AES128-SHA256:ECDHE-ECDSA-AES128-SHA:ECDHE-RSA-AES256-SHA384:ECDHE-RSA-AES128-SHA:ECDHE-ECDSA-AES256-SHA384:ECDHE-ECDSA-AES256-SHA:ECDHE-RSA-AES256-SHA:DHE-RSA-AES128-SHA256:DHE-RSA-AES128-SHA:DHE-RSA-AES256-SHA256:DHE-RSA-AES256-SHA:ECDHE-ECDSA-DES-CBC3-SHA:ECDHE-RSA-DES-CBC3-SHA:EDH-RSA-DES-CBC3-SHA:AES128-GCM-SHA256:AES256-GCM-SHA384:AES128-SHA256:AES256-SHA256:AES128-SHA:AES256-SHA:DES-CBC3-SHA:!DSS
#SSLCompression          off
[% END %]

SSLHonorCipherOrder  on
Header set X-XSS-Protection "1; mode=block"
Header always append X-Frame-Options SAMEORIGIN

ErrorLog      "| /usr/bin/logger -thttpd_admin_err -plocal5.err" 

ServerAdmin [% server_admin %]

TraceEnable Off

ProxyHTMLLinks  a       href
ProxyHTMLLinks  area        href
ProxyHTMLLinks  link        href
ProxyHTMLLinks  img     src longdesc usemap
ProxyHTMLLinks  image   src longdesc usemap
ProxyHTMLLinks  object      classid codebase data usemap
ProxyHTMLLinks  q       cite
ProxyHTMLLinks  blockquote  cite
ProxyHTMLLinks  ins     cite
ProxyHTMLLinks  del     cite
ProxyHTMLLinks  form        action
ProxyHTMLLinks  input       src usemap
ProxyHTMLLinks  head        profile
ProxyHTMLLinks  base        href
ProxyHTMLLinks  script      src for

#disable htaccess starting at web root
<Directory />
    AllowOverride None
</Directory>

SetEnvIf Request_URI "netdata" is_netdata

[% FOREACH vhost IN vhosts %]
  Listen [% vhost %]:[% ports.admin %]

  [% IF apache_version == "2.2" %]
  NameVirtualHost [% vhost %]:[% ports.admin %]
  [% END %]

  <VirtualHost [% vhost %]:[% ports.admin %] >
      ServerName [% server_name %]
      DocumentRoot  [% install_dir %]/html/pfappserver/lib
      ErrorLog      "| /usr/bin/logger -thttpd_admin_err -plocal5.err" 
      CustomLog     "| /usr/bin/logger -thttpd_admin_access -plocal5.info" combined env=!is_netdata
      AllowEncodedSlashes on
      RewriteEngine on
      ProxyRequests off
      ProxyPreserveHost on
      ProxyVia off
      #Html cleanup for the portal preview
      ProxyRequests off
      ProxyPass /portal_preview/ http://[% preview_ip %]/
      ProxyPassReverse /portal_preview/ http://[% preview_ip %]/
      ProxyPassReverse /portal_preview/ https://[% server_name %]/
      ProxyPassReverse /portal_preview/ http://[% server_name %]/
      #LogLevel debug

      # Proxy to netdata
      RewriteRule "^/netdata/((?:\d{1,3}\.){3}\d{1,3})/(.*)" "http://$1:19999/$2" [P,L]
      RewriteRule "^/netdata/([\da-fA-F]{1,4}:+)+[\da-fA-F]{1,4}/(.*)" "http://$1:19999/$2" [P,L]
      # GET /netdata/api/v1/charts dont allow us to filter last input with ([a-z=;_#]*), netdata upgrade may fix this.
      # RewriteRule with the proxy flag instead of ProxyPassMatch allow us to make a conditional proxy request for IPv4 and IPv6.
      # Prevent possible injection. 

      # make sure the user did not forget to add a trailing /
      # for HTTP (if the virtualhost is HTTP, use this)
      RewriteRule "^/netdata/([A-Za-z0-9\._-]+)$" http://%{HTTP_HOST}/netdata/$1/ [L,R=301]
      # for HTTPS (if the virtualhost is HTTPS, use this)
      RewriteRule "^/netdata/([A-Za-z0-9\._-]+)$" https://%{HTTP_HOST}/netdata/$1/ [L,R=301]

      <Location /portal_preview >
          SetEnv X_PORTAL default
          RewriteEngine on
          RewriteCond %{QUERY_STRING} .*PORTAL=(.*) [OR]
          RewriteCond %{HTTP_COOKIE} PF_PORTAL=([^;]+)
          RewriteRule ^(.*)$ - [E=X_PORTAL:%1]
          Header edit Location ^/(.*) /portal_preview/$1
          Header edit Location http:\/\/.*\/access /portal_preview/access
          RequestHeader unset Accept-Encoding
          RequestHeader append X-Forwarded-For-PacketFence "127.0.0.1"

          # Debian 7 has an older version of mod_proxy_html
          <IfDefine debian>
            [% IF apache_version == "2.4" %]
            ProxyHTMLEnable On
            [% ELSE %]
            SetOutputFilter proxy-html
            [% END %]
          </IfDefine>
          <IfDefine rhel>
            ProxyHTMLEnable On
          </IfDefine>

          ProxyHTMLInterp On
          ProxyHTMLURLMap http://[% preview_ip %]/ /portal_preview/ l
          ProxyHTMLURLMap https://[% preview_ip %]/ /portal_preview/ l
          ProxyHTMLURLMap https://[% server_name %]/ /portal_preview/ l
          ProxyHTMLURLMap http://[% server_name %]/ /portal_preview/ l
          ProxyHTMLURLMap /portal_preview/ / l
          ProxyHTMLURLMap / /portal_preview/

          Header add Set-Cookie "PF_PORTAL=%{X_PORTAL}e; Path=/portal_preview" env=X_PORTAL
      </Location>

      <Location / >
           SetHandler modperl
           PerlResponseHandler pfappserver
      </Location>
  </VirtualHost>

[% END %]
