#[% name %] apache configuration file

#Debian Specific
<IfDefine debian>
  <IfModule !mod_perl.c>
    LoadModule perl_module /usr/lib/apache2/modules/mod_perl.so
  </IfModule>
  [% IF apache_version == "2.4" %]
    <IfModule !mod_unixd.c>
      LoadModule unixd_module /usr/lib/apache2/modules/mod_unixd.so
    </IfModule>
    <IfModule !mod_authz_core.c>
      LoadModule authz_core_module /usr/lib/apache2/modules/mod_authz_core.so
    </IfModule>
    <IfModule !mod_authn_core.c>
      LoadModule authn_core_module /usr/lib/apache2/modules/mod_authn_core.so
    </IfModule>
    <IfModule !mod_socache_shmcb.c>
      LoadModule socache_shmcb_module /usr/lib/apache2/modules/mod_socache_shmcb.so
    </IfModule>
    <IfModule !prefork.c>
      LoadModule mpm_prefork_module /usr/lib/apache2/modules/mod_mpm_prefork.so
    </IfModule>
  [% END %]
  <IfModule !mod_log_config.c>
    LoadModule log_config_module /usr/lib/apache2/modules/mod_log_config.so
  </IfModule>
  <IfModule !mod_logio.c>
    LoadModule logio_module /usr/lib/apache2/modules/mod_logio.so
  </IfModule>
  <IfModule !mod_auth_basic.c>
    LoadModule auth_basic_module /usr/lib/apache2/modules/mod_auth_basic.so
  </IfModule>
  <IfModule !mod_authn_file.c>
    LoadModule authn_file_module /usr/lib/apache2/modules/mod_authn_file.so
  </IfModule>
  <IfModule !mod_authz_groupfile.c>
    Loadmodule authz_groupfile_module /usr/lib/apache2/modules/mod_authz_groupfile.so
  </IfModule>
  <IfModule !mod_authz_user.c>
    LoadModule authz_user_module /usr/lib/apache2/modules/mod_authz_user.so
  </IfModule>
  <IfModule !mod_authz_host.c>
    LoadModule authz_host_module /usr/lib/apache2/modules/mod_authz_host.so
  </IfModule>
  <IfModule !mod_status.c>
    LoadModule status_module /usr/lib/apache2/modules/mod_status.so
  </IfModule>
  <IfModule !mod_headers.c>
    LoadModule headers_module /usr/lib/apache2/modules/mod_headers.so
  </IfModule>
  <IfModule !mod_setenvif.c>
    LoadModule setenvif_module /usr/lib/apache2/modules/mod_setenvif.so
  </IfModule>
  <IfModule !mod_systemd.c>
    LoadModule systemd_module     /usr/lib/apache2/modules/mod_systemd.so
  </IfModule>
</IfDefine>

#RHEL Specific
<IfDefine rhel>
  <IfModule !mod_perl.c>
    LoadModule perl_module modules/mod_perl.so
  </IfModule>
  [% IF apache_version == "2.4" %]
    <IfModule !mod_unixd.c>
      LoadModule unixd_module modules/mod_unixd.so
    </IfModule>
    <IfModule !mod_authz_core.c>
      LoadModule authz_core_module modules/mod_authz_core.so
    </IfModule>
    <IfModule !mod_authn_core.c>
      LoadModule authn_core_module modules/mod_authn_core.so
    </IfModule>
    <IfModule !prefork.c>
      LoadModule mpm_prefork_module modules/mod_mpm_prefork.so
    </IfModule>
    <IfModule !mod_socache_shmcb.c>
      LoadModule socache_shmcb_module modules/mod_socache_shmcb.so
    </IfModule>
  [% END %]
  <IfModule !mod_log_config.c>
    LoadModule log_config_module modules/mod_log_config.so
  </IfModule>
  <IfModule !mod_logio.c>
    LoadModule logio_module modules/mod_logio.so
  </IfModule>
  <IfModule !mod_auth_basic.c>
    LoadModule auth_basic_module modules/mod_auth_basic.so
  </IfModule>
  <IfModule !mod_authn_file.c>
    LoadModule authn_file_module modules/mod_authn_file.so
  </IfModule>
  <IfModule !mod_authz_groupfile.c>
    Loadmodule authz_groupfile_module modules/mod_authz_groupfile.so
  </IfModule>
  <IfModule !mod_authz_user.c>
    LoadModule authz_user_module modules/mod_authz_user.so
  </IfModule>
  <IfModule !mod_authz_host.c>
    LoadModule authz_host_module modules/mod_authz_host.so
  </IfModule>
  <IfModule !mod_status.c>
    LoadModule status_module modules/mod_status.so
  </IfModule>
  <IfModule !mod_headers.c>
    LoadModule headers_module modules/mod_headers.so
  </IfModule>
  <IfModule !mod_setenvif.c>
    LoadModule setenvif_module modules/mod_setenvif.so
  </IfModule>
  <IfModule !mod_systemd.c>
    LoadModule systemd_module   modules/mod_systemd.so
  </IfModule>
</IfDefine>

PerlSwitches -I[% install_dir %]/lib
PerlSwitches -I[% install_dir %]/html/pfappserver/lib
PerlPostConfigRequire [% install_dir %]/lib/pf/web/[% name %]_modperl_require.pl
PerlLoadModule pf::WebAPI::MSEHandler
PerlLoadModule pf::WebAPI::InitCollectorHandler
PerlInitHandler pf::WebAPI::InitCollectorHandler
PerlChildInitHandler pf::WebAPI::InitCollectorHandler->child_init
SetEnvIf User-Agent netdata is_netdata


PidFile [% install_dir %]/var/run/[% name %].pid

Include [% install_dir %]/conf/httpd.conf.d/log.conf

ServerTokens  Prod
ServerSignature  Off
UseCanonicalName  Off
Timeout  50
KeepAliveTimeout  10

MaxClients  256
StartServers  4
MinSpareServers  2
MaxSpareServers  10
HostnameLookups  off
MaxRequestsPerChild  1000

ErrorLog "| /usr/bin/logger -thttpd_collector_err -plocal5.err"

User pf
Group pf

[% FOREACH vhost IN vhosts %]

[% IF apache_version == "2.2" %]
NameVirtualHost [% vhost %]:[% port %]
[% END %]

Listen [% vhost %]:[% port %]

<Directory />
    AllowOverride None
</Directory>

<VirtualHost [% vhost %]:[% port %] >
    ServerName [% server_name %]
    DocumentRoot [% install_dir %]/html/pfappserver/lib
    ErrorLog "| /usr/bin/logger -thttpd_collector_err -plocal5.err"
    <Location /mse/ >
        SetHandler modperl
        PerlResponseHandler pf::WebAPI::MSEHandler
    </Location>
</VirtualHost>

[% END %]

