#PacketFence apache configuration file

#Debian specific
<IfDefine debian>
  <IfModule !mod_perl.c>
    LoadModule perl_module /usr/lib/apache2/modules/mod_perl.so
  </IfModule>
  [% IF apache_version == "2.4" %]
    <IfModule !mod_unixd.c>
      LoadModule unixd_module /usr/lib/apache2/modules/mod_unixd.so
    </IfModule>
    <IfModule !mod_authz_core.c>
      LoadModule authz_core_module /usr/lib/apache2/modules/mod_authz_core.so
    </IfModule>
    <IfModule !mod_authn_core.c>
      LoadModule authn_core_module /usr/lib/apache2/modules/mod_authn_core.so
    </IfModule>
    <IfModule !mod_socache_shmcb.c>
      LoadModule socache_shmcb_module /usr/lib/apache2/modules/mod_socache_shmcb.so
    </IfModule>
    <IfModule !prefork.c>
      LoadModule mpm_prefork_module /usr/lib/apache2/modules/mod_mpm_prefork.so
    </IfModule>
    <IfModule !mod_xml2enc.c>
      LoadModule xml2enc_module /usr/lib/apache2/modules/mod_xml2enc.so
    </IfModule>
    <IfModule !mod_proxy_html.c>
      LoadModule proxy_html_module /usr/lib/apache2/modules/mod_proxy_html.so
    </IfModule>
  [% ELSE %]
    # Debian 7 does not include xml2enc_module so we have to work around it.
    <IfModule !mod_proxy_html.c>
      LoadFile libxml2.so.2
      LoadModule proxy_html_module /usr/lib/apache2/modules/mod_proxy_html.so
    </IfModule>
  [% END %]
  <IfModule !mod_log_config.c>
    LoadModule log_config_module /usr/lib/apache2/modules/mod_log_config.so
  </IfModule>
  <IfModule !mod_logio.c>
    LoadModule logio_module /usr/lib/apache2/modules/mod_logio.so
  </IfModule>
  <IfModule !mod_ssl.c>
    LoadModule ssl_module /usr/lib/apache2/modules/mod_ssl.so
  </IfModule>
  <IfModule !mod_alias.c>
    LoadModule alias_module /usr/lib/apache2/modules/mod_alias.so
  </IfModule>
  <IfModule !mod_mime.c>
    LoadModule mime_module /usr/lib/apache2/modules/mod_mime.so
  </IfModule>
  <IfModule !mod_proxy.c>
    LoadModule proxy_module /usr/lib/apache2/modules/mod_proxy.so
  </IfModule>
  <IfModule !proxy_http.c>
    LoadModule proxy_http_module /usr/lib/apache2/modules/mod_proxy_http.so
  </IfModule>
  <IfModule !mod_apreq2.c>
    LoadModule apreq_module /usr/lib/apache2/modules/mod_apreq2.so
  </IfModule>
  <IfModule !mod_env.c>
      LoadModule env_module /usr/lib/apache2/modules/mod_env.so
  </IfModule>
  <IfModule !mod_rewrite.c>
      LoadModule rewrite_module /usr/lib/apache2/modules/mod_rewrite.so
  </IfModule>
  <IfModule !mod_headers.c>
    LoadModule headers_module /usr/lib/apache2/modules/mod_headers.so
  </IfModule>
  <IfModule !mod_systemd.c>
    LoadModule systemd_module     /usr/lib/apache2/modules/mod_systemd.so
  </IfModule>
  <IfModule !mod_setenvif.c>
    LoadModule setenvif_module /usr/lib/apache2/modules/mod_setenvif.so
  </IfModule>
</IfDefine>

#RHEL specific
<IfDefine rhel>
  <IfModule !mod_perl.c>
    LoadModule perl_module modules/mod_perl.so
  </IfModule>
  [% IF apache_version == "2.4" %]
    <IfModule !mod_unixd.c>
      LoadModule unixd_module modules/mod_unixd.so
    </IfModule>
    <IfModule !mod_authz_core.c>
      LoadModule authz_core_module modules/mod_authz_core.so
    </IfModule>
    <IfModule !mod_authn_core.c>
      LoadModule authn_core_module modules/mod_authn_core.so
    </IfModule>
    <IfModule !prefork.c>
      LoadModule mpm_prefork_module modules/mod_mpm_prefork.so
    </IfModule>
    <IfModule !mod_socache_shmcb.c>
      LoadModule socache_shmcb_module modules/mod_socache_shmcb.so
    </IfModule>
  [% END %]
  <IfModule !mod_log_config.c>
    LoadModule log_config_module modules/mod_log_config.so
  </IfModule>
  <IfModule !mod_logio.c>
    LoadModule logio_module modules/mod_logio.so
  </IfModule>
  <IfModule !mod_ssl.c>
    LoadModule ssl_module modules/mod_ssl.so
  </IfModule>
  <IfModule !mod_alias.c>
    LoadModule alias_module modules/mod_alias.so
  </IfModule>
  <IfModule !mod_mime.c>
    LoadModule mime_module modules/mod_mime.so
  </IfModule>
  <IfModule !mod_proxy.c>
    LoadModule proxy_module modules/mod_proxy.so
  </IfModule>
  <IfModule !proxy_http.c>
    LoadModule proxy_http_module modules/mod_proxy_http.so
  </IfModule>
  <IfModule !mod_apreq2.c>
    LoadModule apreq_module modules/mod_apreq2.so
  </IfModule>
  <IfModule !mod_headers.c>
    LoadModule headers_module modules/mod_headers.so
  </IfModule>
  <IfModule !mod_xml2enc.c>
    LoadModule xml2enc_module modules/mod_xml2enc.so
  </IfModule>
  <IfModule !mod_proxy_html.c>
    LoadModule proxy_html_module modules/mod_proxy_html.so
  </IfModule>
  <IfModule !mod_env.c>
      LoadModule env_module modules/mod_env.so
  </IfModule>
  <IfModule !mod_rewrite.c>
      LoadModule rewrite_module modules/mod_rewrite.so
  </IfModule>
  <IfModule !mod_headers.c>
      LoadModule headers_module modules/mod_headers.so
  </IfModule>
  <IfModule !mod_systemd.c>
    LoadModule systemd_module   modules/mod_systemd.so
  </IfModule>
  <IfModule !mod_setenvif.c>
    LoadModule setenvif_module modules/mod_setenvif.so
  </IfModule>
</IfDefine>
[% IF apache_version == "2.4" %]
Mutex posixsem default
[% ELSE %]
AcceptMutex posixsem
[% END %]

SetEnv PF_SKIP_MAKE_IMMUTABLE 1
PerlSwitches -I[% install_dir %]/lib
PerlLoadModule pfappserver
PerlLoadModule pf::WebAPI::InitHandler::Admin
PerlPostConfigHandler pf::WebAPI::InitHandler::Admin->post_config
PerlChildInitHandler pf::WebAPI::InitHandler::Admin->child_init
PidFile [% install_dir %]/var/run/[% name %].pid
Include [% install_dir %]/conf/httpd.conf.d/log.conf
User pf
Group pf
TypesConfig /etc/mime.types
ServerTokens Prod
ServerSignature Off
UseCanonicalName Off
Timeout  50
KeepAliveTimeout  10

MaxClients  16
StartServers  4
MinSpareServers  2
HostnameLookups  off
MaxRequestsPerChild  1000

Header set X-XSS-Protection "1; mode=block"
Header always append X-Frame-Options SAMEORIGIN

ErrorLog      "| /usr/bin/logger -thttpd_admin_err -plocal5.err" 

ServerAdmin [% server_admin %]

TraceEnable Off

#disable htaccess starting at web root
<Directory />
    AllowOverride None
</Directory>

SetEnvIf Request_URI "netdata" is_netdata

[% FOREACH vhost IN vhosts %]
  Listen [% vhost %]:[% ports.admin %]

  [% IF apache_version == "2.2" %]
  NameVirtualHost [% vhost %]:[% ports.admin %]
  [% END %]

  <VirtualHost [% vhost %]:[% ports.admin %] >
      ServerName [% server_name %]
      DocumentRoot  [% install_dir %]/html/pfappserver/lib
      ErrorLog      "| /usr/bin/logger -thttpd_admin_err -plocal5.err" 
      CustomLog     "| /usr/bin/logger -thttpd_admin_access -plocal5.info" combined env=!is_netdata
      AllowEncodedSlashes on

      <Location / >
           SetHandler modperl
           PerlResponseHandler pfappserver
      </Location>
  </VirtualHost>

[% END %]
