#PacketFence apache configuration file

#Debian specific
<IfDefine debian>
  [% IF apache_version == "2.4" %]
    <IfModule !mod_unixd.c>
      LoadModule unixd_module /usr/lib/apache2/modules/mod_unixd.so
    </IfModule>
    <IfModule !mod_authz_core.c>
      LoadModule authz_core_module /usr/lib/apache2/modules/mod_authz_core.so
    </IfModule>
    <IfModule !mod_authn_core.c>
      LoadModule authn_core_module /usr/lib/apache2/modules/mod_authn_core.so
    </IfModule>
    <IfModule !mod_socache_shmcb.c>
      LoadModule socache_shmcb_module /usr/lib/apache2/modules/mod_socache_shmcb.so
    </IfModule>
    <IfModule !prefork.c>
      LoadModule mpm_prefork_module /usr/lib/apache2/modules/mod_mpm_prefork.so
    </IfModule>
  [% END %]
  <IfModule !mod_log_config.c>
    LoadModule log_config_module /usr/lib/apache2/modules/mod_log_config.so
  </IfModule>
  <IfModule !mod_alias.c>
    LoadModule alias_module /usr/lib/apache2/modules/mod_alias.so
  </IfModule>
  <IfModule !mod_mime.c>
    LoadModule mime_module /usr/lib/apache2/modules/mod_mime.so
  </IfModule>
  <IfModule !mod_cgi.c>
    LoadModule cgi_module /usr/lib/apache2/modules/mod_cgi.so
  </IfModule>
  <IfModule !mod_dir.c>
    LoadModule dir_module /usr/lib/apache2/modules/mod_dir.so
  </IfModule>
  <IfModule !mod_authz_host.c>
    LoadModule authz_host_module /usr/lib/apache2/modules/mod_authz_host.so
  </IfModule>
</IfDefine>

#RHEL specific
<IfDefine rhel>
  [% IF apache_version == "2.4" %]
    <IfModule !mod_unixd.c>
      LoadModule unixd_module modules/mod_unixd.so
    </IfModule>
    <IfModule !mod_authz_core.c>
      LoadModule authz_core_module modules/mod_authz_core.so
    </IfModule>
    <IfModule !mod_authn_core.c>
      LoadModule authn_core_module modules/mod_authn_core.so
    </IfModule>
    <IfModule !prefork.c>
      LoadModule mpm_prefork_module modules/mod_mpm_prefork.so
    </IfModule>
    <IfModule !mod_socache_shmcb.c>
      LoadModule socache_shmcb_module modules/mod_socache_shmcb.so
    </IfModule>
  [% END %]
  <IfModule !mod_authz_host.c>
    LoadModule authz_host_module modules/mod_authz_host.so
  </IfModule>
  <IfModule !mod_log_config.c>
    LoadModule log_config_module modules/mod_log_config.so
  </IfModule>
  <IfModule !mod_alias.c>
    LoadModule alias_module modules/mod_alias.so
  </IfModule>
  <IfModule !mod_mime.c>
    LoadModule mime_module modules/mod_mime.so
  </IfModule>
  <IfModule !mod_cgi.c>
    LoadModule cgi_module modules/mod_cgi.so
  </IfModule>
  <IfModule !mod_dir.c>
    LoadModule dir_module modules/mod_dir.so
  </IfModule>
</IfDefine>

PidFile [% install_dir %]/var/run/[% name %].pid

User pf 
Group pf
ServerTokens Prod
ServerSignature Off
UseCanonicalName Off
Timeout 50
KeepAliveTimeout 3

TypesConfig /etc/mime.types
HostnameLookups Off

StartServers       4
MinSpareServers    2
MaxSpareServers   10
ServerLimit      64
MaxClients       64
MaxRequestsPerChild  1000

Listen  0.0.0.0:5252

Include [% install_dir %]/conf/httpd.conf.d/log.conf

DocumentRoot [% install_dir %]/html/parking

DirectoryIndex index.html

ErrorLog [% install_dir %]/logs/[% name %].error

LogLevel warn

CustomLog [% install_dir %]/logs/[% name %].access combined

ScriptAlias /cgi-bin/ [% install_dir %]/html/parking/cgi-bin/

<Directory [% install_dir%]/html/parking/cgi-bin>
  [% IF apache_version == "2.4" %]
  Require all granted
  [% ELSE %]
  Allow from all
  [% END %]
</Directory>

ErrorDocument 404 /index.html
