<form class="card" action="/activate/sms" method="post">
  <div class="layout layout--center">
    <div class="layout__item u-1/2 u-2/3-lap u-1/1-palm">

      <div class="input-container">
        <label for="pin">[% i18n("PIN") %]</label>
        <input id="pin" name="pin" type="text" autocorrect="off" autocapitalize="off" />
      </div>

      <button type="submit" name="submit" class="btn btn--full u-mt">
        <div class="flag">
          <div class="flag__img">[% svgIcon(id='ic_done_black_24px',size='small') %]</div>
          <p class="flag__body">[% i18n("Submit") %]</p>
        </div>
      </button>

      <a href="/captive-portal?no-pin=no-pin" class="btn btn--full btn--light u-mt">
        <div class="flag">
          <div class="flag__img">[% svgIcon(id='ic_forward_black_24px',size='small') %]</div>
          <p class="flag__body">[% i18n("I don't have a PIN") %]</p>
        </div>
      </a>
    </div>
  </div>
</form>
