
pidfile = %%pid_file%%

$INCLUDE radiusd.conf

listen {
    ipaddr = 127.0.0.1
    port = 18120
    type = auth
    virtual_server = packetfence
}

listen {
    ipaddr = %%management_ip%%
    port = 0
    type = auth
    virtual_server = packetfence
}

listen {
    type = control
    socket = %%socket_file%%
    mode = rw
}
