
pidfile = %%pidFile%%

$INCLUDE radiusd.conf

listen {
        ipaddr = %%virt_ip%%
        port = 0
        type = auth
        virtual_server = pf.cluster
}

listen {
        ipaddr = %%virt_ip%%
        port = 0
        type = acct
        virtual_server = pf.cluster
}


