
%%members%%

#  Put all of the servers into a pool.
home_server_pool pf_pool.cluster {
        type = keyed-balance

%%home_server%%

}

home_server_pool pfacct_pool.cluster {
        type = load-balance

%%home_server%%

}

realm packetfence {
        auth_pool = pf_pool.cluster
        acct_pool = pfacct_pool.cluster
}

realm packetfence-cli {
        auth_pool = pfcli_pool.cluster
}

home_server_pool pfcli_pool.cluster {
        type = keyed-balance

%%home_server_cli%%

}

server pf.cluster {
        pre-proxy {
                #  Insert pre-proxy rules here
        }

        post-proxy {
            update control {
                PacketFence-Proxied-To := "%{home_server:ipaddr}"
            }
        }

        authorize {
                packetfence-balanced-key-policy
                update control {
                        Proxy-To-Realm := "packetfence"
                }
                if(!NAS-IP-Address || NAS-IP-Address == "0.0.0.0"){
                        update request {
                                NAS-IP-Address := "%{Packet-Src-IP-Address}"
                        }
                }
                if ( "%{client:shortname}" =~ /eduroam_tlrs/ ) {
                        update request {
                                PacketFence-ShortName := "%{client:shortname}"
                        }
                }
        }


        authenticate {
        }
        accounting {
                update control {
                        Proxy-To-Realm := "packetfence"
                }
                if(!NAS-IP-Address || NAS-IP-Address == "0.0.0.0"){
                        update request {
                                NAS-IP-Address := "%{Packet-Src-IP-Address}"
                        }
                }
        }

}

server pfcli.cluster {
        pre-proxy {
                #  Insert pre-proxy rules here
        }

        post-proxy {
                update control {
                        PacketFence-Proxied-To := "%{home_server:ipaddr}"
                }
        }

        authorize {
                update control {
                        Load-Balance-Key := "%{NAS-IP-Address}"
                        Proxy-To-Realm := "packetfence-cli"
                }
                if(!NAS-IP-Address || NAS-IP-Address == "0.0.0.0"){
                        update request {
                                NAS-IP-Address := "%{Packet-Src-IP-Address}"
                        }
                }
        }


        authenticate {
        }
        accounting {
        }

}
