sql {
	database = "mysql"
	driver = "rlm_sql_${database}"

	server = "%%db_host%%"
	port = %%db_port%%
	login = "%%db_username%%"
	password = "%%db_password%%"

	radius_db = "%%db_database%%"

	acct_table1 = "radacct"
	acct_table2 = "radacct"
	postauth_table = "radpostauth"
	authcheck_table = "radcheck"
	authreply_table = "radreply"
	groupcheck_table = "radgroupcheck"
	groupreply_table = "radgroupreply"
	usergroup_table = "radusergroup"

	deletestalesessions = yes
	sqltrace = no
	sqltracefile = ${logdir}/sqltrace.sql
	num_sql_socks = 5
	connect_failure_retry_delay = 60
	lifetime = 0
	max_queries = 0

	readclients = yes
	nas_table = "radius_nas"

	$INCLUDE sql/${database}/packetfence.conf
}

sql pfguest {
        database = "mysql"
        driver = "rlm_sql_${database}"

        server = "%%db_host%%"
        port = %%db_port%%
        login = "%%db_username%%"
        password = "%%db_password%%"

        radius_db = "%%db_database%%"
        acct_table1 = "radacct"
        acct_table2 = "radacct"
        postauth_table = "radpostauth"
        authcheck_table = "password"
        authreply_table = "radreply"
        groupcheck_table = "radgroupcheck"
        groupreply_table = "radgroupreply"
        usergroup_table = "radusergroup"

        deletestalesessions = yes
        sqltrace = no
        sqltracefile = ${logdir}/sqltrace.sql
        num_sql_socks = 5
        connect_failure_retry_delay = 60

        sql_user_name = "%{User-Name}"
        authorize_check_query = "SELECT 1, pid, \"Cleartext-Password\", password, \":=\" \
          FROM ${authcheck_table} \
          JOIN activation using (pid) \
          WHERE pid = '%{SQL-User-Name}' \
            AND (SELECT type from activation WHERE pid='%{SQL-User-Name}' ORDER BY code_id DESC LIMIT 1) = \"guest\" \
            AND now() <= password.unregdate \
            LIMIT 1 "

        authorize_reply_query = ""
        group_membership_query = ""
        authorize_group_check_query = ""
        authorize_group_reply_query = ""
        simul_verify_query  = ""
        postauth_query = ""
}

sql pfsponsor {
        database = "mysql"
        driver = "rlm_sql_${database}"

        server = "%%db_host%%"
        port = %%db_port%%
        login = "%%db_username%%"
        password = "%%db_password%%"

        radius_db = "%%db_database%%"
        acct_table1 = "radacct"
        acct_table2 = "radacct"
        postauth_table = "radpostauth"
        authcheck_table = "password"
        authreply_table = "radreply"
        groupcheck_table = "radgroupcheck"
        groupreply_table = "radgroupreply"
        usergroup_table = "radusergroup"

        deletestalesessions = yes
        sqltrace = no
        sqltracefile = ${logdir}/sqltrace.sql
        num_sql_socks = 5
        connect_failure_retry_delay = 60

        sql_user_name = "%{User-Name}"
        authorize_check_query = "SELECT 1, pid, \"Cleartext-Password\", password, \":=\" \
          FROM ${authcheck_table} \
          JOIN activation using (pid) \
          WHERE pid = '%{SQL-User-Name}' \
            AND (SELECT type from activation WHERE pid='%{SQL-User-Name}' ORDER BY code_id DESC LIMIT 1) = \"sponsor\" \
            AND now() <= password.unregdate \
            LIMIT 1 "

        authorize_reply_query = ""
        group_membership_query = ""
        authorize_group_check_query = ""
        authorize_group_reply_query = ""
        simul_verify_query  = ""
        postauth_query = ""
}

sql pfsms {
        database = "mysql"
        driver = "rlm_sql_${database}"

        server = "%%db_host%%"
        port = %%db_port%%
        login = "%%db_username%%"
        password = "%%db_password%%"

        radius_db = "%%db_database%%"
        acct_table1 = "radacct"
        acct_table2 = "radacct"
        postauth_table = "radpostauth"
	authcheck_table = "password"

        authreply_table = "radreply"
        groupcheck_table = "radgroupcheck"
        groupreply_table = "radgroupreply"
        usergroup_table = "radusergroup"

        deletestalesessions = yes
        sqltrace = no
        sqltracefile = ${logdir}/sqltrace.sql
        num_sql_socks = 5
        connect_failure_retry_delay = 60

        sql_user_name = "%{User-Name}"
        authorize_check_query = "SELECT 1, pid, \"Cleartext-Password\", password, \":=\" \
          FROM ${authcheck_table} \
          JOIN activation using (pid) \
          WHERE pid = '%{SQL-User-Name}' \
            AND (SELECT type from activation WHERE pid='%{SQL-User-Name}' ORDER BY code_id DESC LIMIT 1) = \"sms\" \
            AND now() <= password.unregdate \
            LIMIT 1 "


        authorize_reply_query = ""
        group_membership_query = ""
        authorize_group_check_query = ""
        authorize_group_reply_query = ""
        simul_verify_query  = ""
        postauth_query = ""

}

sql pflocal {
        database = "mysql"
        driver = "rlm_sql_${database}"

        server = "%%db_host%%"
        port = %%db_port%%
        login = "%%db_username%%"
        password = "%%db_password%%"

        radius_db = "%%db_database%%"
        acct_table1 = "radacct"
        acct_table2 = "radacct"
        postauth_table = "radpostauth"
        authcheck_table = "password"
        authreply_table = "radreply"
        groupcheck_table = "radgroupcheck"
        groupreply_table = "radgroupreply"
        usergroup_table = "radusergroup"

        deletestalesessions = yes
        sqltrace = no
        sqltracefile = ${logdir}/sqltrace.sql
        num_sql_socks = 5
        connect_failure_retry_delay = 60

        sql_user_name = "%{User-Name}"
        authorize_check_query = "SELECT 1, pid, \"Cleartext-Password\", password, \":=\" \
          FROM ${authcheck_table} \
          WHERE pid = '%{SQL-User-Name}' \
          AND NOT EXISTS (SELECT pid FROM activation WHERE pid = '%{SQL-User-Name}') "

        authorize_reply_query = ""
        group_membership_query = ""
        authorize_group_check_query = ""
        authorize_group_reply_query = ""
        simul_verify_query  = ""
        postauth_query = ""
}
