/// _components.iconic.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2; fill-column: 80 -*-

$pf-iconic-size--tiny:     $inuit-base-line-height;
$pf-iconic-size--small:    $inuit-base-line-height * 3/2;
$pf-iconic-size--large:    $inuit-base-line-height * 7/3;

.#{$pf-namespace}iconic {
  use {
    fill: $inuit-base-text-color;
  }  

  &--tiny {
    width: $pf-iconic-size--tiny;
  }

  &--small {
    width: $pf-iconic-size--small;
  }

  &--large {
    width: $pf-iconic-size--large;

    @include media-query(palm) {
      width: $pf-iconic-size--small;
    }
  }
}