/// _objecs.tables.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2; fill-column: 80 -*-

.#{$inuit-table-namespace}table caption {
  text-align: left;
}


.#{$inuit-table-namespace}table--accent {
  background-color: $pf-base-accent-color;
}
