/// _trumps.flag.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2; fill-column: 80 -*-

.#{$inuit-flag-namespace}flag__img {

  svg {
    display: block;
  }
}


.#{$inuit-flag-namespace}flag__body {
  text-align: left;
}