/// _trumps.media.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2; fill-column: 80 -*-

.#{$inuit-media-namespace}media {
  color: $pf-color-tint;
}


.#{$inuit-media-namespace}media__body {
  text-align: left;
}