# Ignore everything in this directory
#*
# Except this file
!.gitignore

# temporary files
*.swp
*.orig
*.local
*.lockone
.#*

# Configuration not in git
addons/stress-tester/plan.conf
conf/admin.conf
conf/httpd.conf
conf/named.conf
conf/cluster-files.txt
conf/pf.conf
conf/*.lock
conf/*.lockonce
conf/git_commit_id
conf/log.conf.d/*.conf
conf/nessus/
conf/currently-at
conf/caddy-services/*.conf
conf/pfdns.conf
conf/pfdhcp.conf
conf/etcd.conf.yml
bin/pfcmd
bin/ntlm_auth_wrapper
sbin/pfhttpd
sbin/pfdetect
sbin/pfdhcp
sbin/pfdns
sbin/pfstats
src/pfcmd
!conf/nessus/remotescan.nessus
conf/snort/emerging*.rules
conf/user.conf
conf/users/
db/pf-schema.sql
db/pf_graphite-schema.sql
raddb/eap.conf
raddb/radiusd.conf
raddb/auth.conf
raddb/acct.conf
raddb/eduroam.conf
raddb/cli.conf
raddb/sql.conf
raddb/proxy.conf.inc
raddb/clients.eduroam.conf.inc
raddb/load_balancer.conf
raddb/clients.conf.inc
raddb/sites-available/packetfence
raddb/sites-available/packetfence-tunnel
raddb/sites-available/eduroam
raddb/mods-enabled/mschap
raddb/proxy.conf.loadbalancer
raddb/radiusd_loadbalancer.conf
conf/adminroles.conf
conf/device_registration.conf
conf/self_service.conf
conf/pki_provider.conf
conf/authentication.conf
conf/floating_network_device.conf
conf/guest-managers.conf
conf/passthrough.lua.tt
conf/log.conf
conf/chi.conf
conf/dhcp_filters.conf
conf/local_secret
conf/nessus/remotescan.nessus
conf/traffic_shaping.conf
conf/syslog.conf
conf/networks.conf
conf/rsyslog.conf.tt
conf/oauth_token_key
conf/radiusd/acct.conf
conf/radiusd/auth.conf
conf/radiusd/cli.conf
conf/radiusd/clients.conf.inc
conf/radiusd/clients.eduroam.conf.inc
conf/radiusd/eap.conf
conf/radiusd/eduroam
conf/radiusd/eduroam-cluster
conf/radiusd/eduroam.conf
conf/radiusd/ldap_packetfence.conf
conf/radiusd/load_balancer.conf
conf/radiusd/mschap.conf
conf/radiusd/packetfence
conf/radiusd/packetfence-cli
conf/radiusd/packetfence-cluster
conf/radiusd/packetfence-tunnel
conf/radiusd/proxy.conf.inc
conf/radiusd/proxy.conf.loadbalancer
conf/radiusd/proxy.conf.loadbalancer
conf/radiusd/radiusd.conf
conf/radiusd/radiusd_loadbalancer.conf
conf/radiusd/radiusd_loadbalancer.conf
conf/radiusd/rest.conf
conf/radiusd/sql.conf
conf/redis_cache.conf
conf/redis_queue.conf
conf/redis_ntlm_cache.conf
conf/realm.conf
conf/survey.conf
conf/traffic_shaping.conf
conf/domain.conf
conf/radius_filters.conf
conf/switch_filters.conf
conf/scan.conf
conf/pfqueue.conf
conf/pfmon.conf
conf/wmi.conf
conf/pfdetect.conf
conf/billing_tiers.conf
conf/redis.conf
conf/snort/classification.config
conf/snort/local.rules
conf/snort/reference.config
conf/switches.conf
conf/httpd.conf.d/ssl-certificates.conf
conf/iptables.conf
conf/listener.msg
conf/provisioning.conf
conf/portal_modules.conf
conf/popup.msg
conf/profiles.conf
conf/security_events.conf
conf/snmptrapd.conf
conf/snort.conf
conf/snort.conf.pre_snort-2.8
conf/suricata.yaml
conf/suricata_categories.txt
conf/ui-global.conf
conf/allowed_device_oui.txt
conf/apache_filters.conf
conf/firewall_sso.conf
conf/vlan_filters.conf
conf/roles.conf
conf/pf_omapi_key
conf/access_filters.conf
html/captive-portal/captive_portal.conf
conf/pfdetect_remote.conf
conf/pfarp_remote.conf
conf/pfconfig.conf
conf/allowed-gaming-oui.txt
conf/cluster.conf
conf/domain.conf
conf/haproxy-portal.conf
conf/haproxy-db.conf
conf/keepalived.conf
conf/report.conf
conf/device_registration.conf
conf/httpd.conf.d/captive-portal-common.tt
conf/httpd.conf.d/httpd.aaa.tt
conf/httpd.conf.d/httpd.admin.tt
conf/httpd.conf.d/httpd.collector.tt
conf/httpd.conf.d/httpd.graphite.tt
conf/httpd.conf.d/httpd.proxy.tt
conf/httpd.conf.d/httpd.webservices.tt
conf/httpd.conf.d/httpd.portal.tt
conf/httpd.conf.d/httpd.parking.tt
conf/templates/emails-billing_confirmation.txt.tt
conf/templates/emails-guest_admin_pregistration.txt.tt
conf/templates/emails-guest_email_activation.txt.tt
conf/templates/emails-guest_email_preregistration.txt.tt
conf/templates/emails-guest_email_preregistration_confirmed.txt.tt
conf/templates/emails-guest_local_account_creation.txt.tt
conf/templates/emails-guest_registered.txt.tt
conf/templates/emails-guest_sponsor_activation.txt.tt
conf/templates/emails-guest_sponsor_confirmed.txt.tt
conf/templates/emails-guest_sponsor_preregistration.txt.tt
conf/dns_filters.conf
conf/mariadb/*.tt
conf/unified_api_system_pass
html/pfappserver/pfappserver.conf
html/captive-portal/captiveportal.conf
nytprof/

# Monitoring (netdata)
conf/monitoring/apps_groups.conf
conf/monitoring/charts.d.conf
conf/monitoring/charts.d/
conf/monitoring/health.d/
conf/monitoring/fping.conf
conf/monitoring/health_alarm_notify.conf
conf/monitoring/health_email_recipients.conf
conf/monitoring/netdata.conf
conf/monitoring/python.d.conf
conf/monitoring/python.d/
conf/monitoring/statsd.d/packetfence.conf
conf/monitoring/stream.conf
conf/stats.conf
conf/monitoring/node.d.conf


# translations
conf/locale/*/*/*.mo

# SSL certificates
conf/ssl/
raddb/certs/

# documentation build temporary artifacts
docs/*.pdf
docs/*.fo
docs/docbook/xsl/import-fo.xsl
docs/docbook/xsl/titlepage-fo.xsl
docs/docbook/*.docbook

# trap stats graphs
# TODO we should move them under var/
html/admin/traplog/

# built by package or installer
lib/pf/pfcmd/pfcmd_pregrammar.pm
lib/fingerbank
html/common/package-lock.json

# directories that can be ignored
logs/
var/
raddb/sites-enabled/
html/captive-portal/content/node_modules/
html/common/node_modules/

# dynamic template for admin
html/pfappserver/root/admin/v-index.tt

# ignore python config files
*.pyc
*.pyo

# ignore ag configuration
.agignore

# ignore bash + ssh of pf user
.ssh/
.bash_history

# ignore pf-maint patches
.patches/
