# temporary files
*.swp
*.orig

# translations
conf/locale/*/*/*.mo

# SSL certificates
conf/ssl/

# documentation build temporary artifacts
docs/docbook/xsl/titlepage-fo.xsl
docs/docbook/.*\.docbook

# trap stats graphs
# TODO we should move them under var/
html/admin/traplog/

# built by package or installer
lib/pf/pfcmd/pfcmd_pregrammar.pm

# directories that can be ignored
logs/
var/
