# temporary files
*.swp
*.orig
*.local
.#*

# Configuration not in git
conf/admin.conf
conf/httpd.conf
conf/named.conf
conf/pf.conf
conf/nessus/
bin/pfcmd
!conf/nessus/remotescan.nessus
conf/snort/emerging*.rules
conf/user.conf
conf/users/
db/pf-schema.sql

# translations
conf/locale/*/*/*.mo

# SSL certificates
conf/ssl/
raddb/certs/

# documentation build temporary artifacts
docs/*.pdf
docs/docbook/xsl/titlepage-fo.xsl
docs/docbook/*.docbook

# trap stats graphs
# TODO we should move them under var/
html/admin/traplog/

# built by package or installer
lib/pf/pfcmd/pfcmd_pregrammar.pm

# directories that can be ignored
logs/
var/
raddb/sites-enabled/
