[Unit]
Description=PacketFence Active/Passive Service
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/local/pf/bin/pfcmd configreload hard
ExecStart=/usr/local/pf/bin/pfcmd service pf start
ExecStop=/usr/local/pf/bin/pfcmd service pf stop
TimeoutStartSec=300
Restart=always
RestartSec=5s

[Install]
WantedBy=packetfence-base.target
