[Unit]
Description=PacketFence Service

[Service]
ExecStartPre=/usr/local/pf/bin/pfcmd service pf start
ExecStopPost=/usr/local/pf/bin/pfcmd service pf stop
ExecStart=/bin/bash -c "while true ; do echo 'Alive' ; sleep 1 ; done"
ExecStop=/bin/systemctl kill packetfence.service
TimeoutStartSec=300s
Restart=no

[Install]
WantedBy=multi-user.target

