@import "../../node_modules/bootstrap/scss/tables";

.table-clickable tr {
    cursor: pointer;
    outline: 0;
}

.table-overflow {
  th > div:not(.dropdown), td:not(.col-no-overflow) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  th > td.col-no-overflow {
    overflow: none;
    white-space: nowrap;
  }
  td > a.btn-link {
    padding: 0;
    border: 0;
  }
}

.table td,
.table thead th {
    // Default of bootstrap is to vertically align to the top
    vertical-align: middle;
}

.table td {
  a.btn {
    // allow selection of links within tables
    user-select: initial;
  }
}
