@import "../../node_modules/bootstrap/scss/type";

h4, .h4,
h5, .h5 {
    code {
        color: inherit;
        font-family: inherit;
        font-size: inherit;
        font-weight: $headings-font-weight * 2;
    }
}

h6, .h6 {
    color: rgba(0, 0, 0, 0.65);
    font-size: $font-size-sm;
    font-weight: 600;
}

mark, .mark {
    margin: -$mark-padding;
}