#add_trigger {
  position:absolute;
  right:10px;
  top:60px;
}

#viewTriggers .control-group .btn, #viewTriggers .control-group select {
  margin-right:5px;
}

#editTrigger .control-group .btn, #editTrigger .control-group select {
  margin-right:5px;
}

#triggerContainer {
  display:none;
}
