[% UNLESS ShowLogin %]
<div class="media media--notice u-p u-mb">
  <div class="media__img">[% flashIcon(level='notice') %]</div>
  <p class="media__body">
    [%- IF node.status == 'reg' %]
    [%   i18n_format("Your device is registered to <strong>%s</strong>", node.pid) | none %]
    [%- ELSE %]
    [%   i18n("Your current device is not registered on our network.") %]
    [%- END %]
  </p>
</div>
[% IF nodes.size > 0 %]
    <h3>[% i18n("Your registered devices") %]</h3>
      [%- FOREACH n IN nodes %]
      [% NEXT IF n.status != 'reg' %]
      <div class="[ box box--small ][ frame frame--raised ]">
        <div class="[ layout layout--middle ]">
          <div class="layout__item [ u-1/2 u-1/1-lap u-1/1-palm ]">
            <ul class="list-bare">
            [% IF n.dhcp_fingerprint %]<li>[% n.dhcp_fingerprint %]</li>[% END %]
            <li>[% i18n("MAC") %] <b>[% n.mac %]</b></li>
            [% IF n.regdate != '0000-00-00 00:00:00' %]<li>[% i18n("Registered on") %] <b>[% n.regdate %]</b></li>[% END %]
        </ul>
          </div><div class="layout__item layout--right [ u-1/2 u-1/1-lap u-1/1-palm ]">
            <a href="/node/manager/unreg/[% n.mac %]" class="[ btn btn--small ] u-mb--desk">[% i18n("Unregister") %]</a>
            <a href="/loststolen/[% n.mac %]" class="btn btn--light btn--small">[% i18n("Declare as lost or stolen") %]</a>
          </div>
        </div>
      </div>
      [%- END %]
[%- ELSE %]
<div class="media media--notice u-p u-mb">
  <div class="media__img">[% flashIcon(level='notice') %]</div>
  <p class="media__body">[% i18n("You have no registered devices.") %]</p>
</div>
[% END %]
[% END %]
<div class="layout layout--center">
  <div class="layout__item u-mt u-2/3 u-1/1-palm">
    <a href="/status" class="btn btn--full btn--light">
      <div class="flag">
        <div class="flag__img">[% svgIcon(id='ic_home_black_24px',size='small') %]</div>
        <p class="flag__body">[% i18n("Access main menu") %]</p>
      </div>
    </a>
  </div>
</div>
