<div class="u-padding">
  <form name="forgot_password" method="post" action="/status/forgot_password">

    <div class="o-layout o-layout--center">
      <h5>[% i18n("Reset your password") %]</h5>
    </div>

    <div class="o-layout o-layout--center">
      <div class="o-layout__item u-1/1 u-2/3@tablet u-3/5@desktop">

        <div class="input-container">
          <label for="identifier">[% i18n("Username or Email") %]</label>
          <input class="field" name="identifier" id="identifier" type="text" required />
        </div>

        <button type="submit" name="submit" class="c-btn c-btn--primary u-1/1 u-margin-top">
          [% i18n("Send Reset Link") %]
        </button>

        <div class="u-text-center u-margin-top">
          <a href="/status/login">[% i18n("Back to Login") %]</a>
        </div>

      </div>
    </div>
  </form>
</div>
