[%# Welcome text %]
<div class="layout--center">
  <h2>[% i18n("Your Network Access Status") %]</h2>
</div>

[% IF txt_auth_error.defined %]
<div class="media media--error u-p u-mb">
  <div class="media__img">[% flashIcon(level='error') %]</div>
  <p class="media__body">[% i18n(txt_auth_error) %]</p>
</div>
[% END %]

[% IF status == "success" %]
<div class="media media--notice u-p u-mb">
  <div class="media__img">[% flashIcon(level='notice') %]</div>
  <p class="media__body">[% i18n("Your password have been updated") %]</p>
</div>
[% ELSIF status == "error_match" %]
<div class="media media--error u-p u-mb">
  <div class="media__img">[% flashIcon(level='error') %]</div>
  <p class="media__body">[% i18n("The passwords you type do not match") %]</p>
</div>
[% ELSIF status == "error_fill" %]
<div class="media media--error u-p u-mb">
  <div class="media__img">[% flashIcon(level='error') %]</div>
  <p class="media__body">[% i18n("A password field has not been fill") %]</p>
</div>
[% END %]

[% UNLESS ShowLogin %]
<form name="reset_pw" method="post" action="/status/reset_pw">
  <div class="layout layout--center">
    <div class="layout__item u-mt u-2/3 u-1/1-palm">
        <div class="input-container">
        <label for="password">[% i18n("Password") %]</label>
          <input class="field" name="password" id="password" type="password" />
        <label for="password">[% i18n("Confirm your password") %]</label>
          <input class="field" name="password2" id="password2" type="password" />
        <button type="submit" name="submit" class="btn btn--full btn--accent u-mt">
          <div class="flag">
            <div class="flag__img">[% svgIcon(id='ic_done_black_24px',size='small') %]</div>
            <p class="flag__body layout--left">[% i18n("Change your password") %]</p>
          </div>
        </button>
    </div>
  </div>
</form>
[% END %]

  <div class="layout layout--center">
    <div class="layout__item u-mt u-2/3 u-1/1-palm">
      <a href="/status" class="btn btn--full btn--light">
        <div class="flag">
          <div class="flag__img">[% svgIcon(id='ic_home_black_24px',size='small') %]</div>
          <p class="flag__body">[% i18n("Access main menu") %]</p>
        </div>
      </a>
    </div>
  </div>
