<div class="u-padding">

  <div class="o-media o-media--notice u-padding u-margin-bottom">
    <div class="o-media__img">[% flashIcon(level='notice', size='tiny') %]</div>
    <p class="o-media__body">[% i18n("Your password has been reset successfully.") %]</p>
  </div>

  <div class="o-layout o-layout--center">
    <div class="o-layout__item u-1/1 u-2/3@tablet u-3/5@desktop">
      <div class="u-text-center u-margin-top">
        <a href="/status/login[% IF username %]?username=[% username | uri %][% END %]" class="c-btn c-btn--primary u-1/1">[% i18n("Login") %]</a>
      </div>
    </div>
  </div>

</div>
