<div class="u-padding">

  <div class="o-media o-media--error u-padding u-margin-bottom">
    <div class="o-media__img">[% flashIcon(level='error') %]</div>
    <p class="o-media__body">[% i18n("This password reset link is invalid or has expired.") %]</p>
  </div>

  <div class="o-layout o-layout--center">
    <div class="o-layout__item u-1/1 u-2/3@tablet u-3/5@desktop">
      <div class="u-text-center u-margin-top">
        <a href="/status/forgot_password" class="c-btn c-btn--primary u-1/1">[% i18n("Request a new link") %]</a>
      </div>
    </div>
  </div>

</div>
