<div class="u-padding">
  [% IF status == "success" %]
  <div class="o-media o-media--notice u-padding u-margin-bottom">
    <div class="o-media__img">[% flashIcon(level='notice', size='tiny') %]</div>
    <p class="o-media__body">[% i18n("Your password has been updated") %]</p>
  </div>
  [% ELSIF status == "error_match" %]
  <div class="o-media o-media--error u-padding u-margin-bottom">
    <div class="o-media__img">[% flashIcon(level='error') %]</div>
    <p class="o-media__body">[% i18n("The two entered passwords did not match") %]</p>
  </div>
  [% ELSIF status == "error_fill" %]
  <div class="o-media o-media--error u-padding u-margin-bottom">
    <div class="o-media__img">[% flashIcon(level='error') %]</div>
    <p class="o-media__body">[% i18n("One of the password fields hasn't been filled") %]</p>
  </div>
  [% END %]

  <form name="reset_pw" method="post" action="/status/reset_pw">
    <div class="o-layout o-layout--center">
      <div class="o-layout__item o-layout--left u-1/1 u-2/3@tablet u-3/5@desktop">
        <div class="input-container">
          <label for="password">[% i18n("Password") %]</label>
          <input name="password" id="password" type="password" />
        </div>
        <div class="input-container">
          <label for="password">[% i18n("Confirm your password") %]</label>
          <input class="field" name="password2" id="password2" type="password" />
        </div>
        <button type="submit" name="submit" class="c-btn c-btn--primary u-1/1 u-margin-top" disabled>
          [% i18n("Change your password") %]
        </button>
      </div>
    </div>
  </form>
</div>

[% INCLUDE 'status/menu.html' %]
