<div class="u-padding">

  [% IF status == "error_match" %]
  <div class="o-media o-media--error u-padding u-margin-bottom">
    <div class="o-media__img">[% flashIcon(level='error') %]</div>
    <p class="o-media__body">[% i18n("The two entered passwords did not match") %]</p>
  </div>
  [% ELSIF status == "error_fill" %]
  <div class="o-media o-media--error u-padding u-margin-bottom">
    <div class="o-media__img">[% flashIcon(level='error') %]</div>
    <p class="o-media__body">[% i18n("Please fill in all fields") %]</p>
  </div>
  [% END %]

  <form name="reset_password_token" method="post" action="/status/reset_password_token">
    <input type="hidden" name="token" value="[% token %]" />

    <div class="o-layout o-layout--center">
      <h5>[% i18n("Set your new password") %]</h5>
    </div>

    <div class="o-layout o-layout--center">
      <div class="o-layout__item o-layout--left u-1/1 u-2/3@tablet u-3/5@desktop">

        <div class="input-container">
          <label for="password">[% i18n("New Password") %]</label>
          <input class="field" name="password" id="password" type="password" required />
        </div>
        <div class="input-container">
          <label for="password2">[% i18n("Confirm Password") %]</label>
          <input class="field" name="password2" id="password2" type="password" required />
        </div>

        <button type="submit" name="submit" class="c-btn c-btn--primary u-1/1 u-margin-top">
          [% i18n("Reset Password") %]
        </button>

      </div>
    </div>
  </form>

</div>
