    <h2>[% l('User Agents') %]</h2>
    <div class="options">
      <a class="updates_section_status_msg" href="[%c.uri_for(c.controller('Configuration::UserAgents').action_for('upload') )%]"><i class="icon-share"></i> [% l('Share Unknown User Agents') %]</a>
    </div>
    [%- INCLUDE 'configuration/listing.inc' titles = {
            id => 'ID',
            property => 'Property',
            description => 'Description' 
        }
        section = 'configuration/useragents'
     -%]
      <div id="noResult" class="unwell[% ' hidden' IF items.size > 0 %]">
        <i class="icon-search icon-large"></i><p>[% l('No useragent found') %]</p>
      </div>
