[% title = i18n("PacketFence Registration System") %]
[% INCLUDE header.html %]

        <div id="about">
          <img src="/content/images/unlock.png" alt="Access granted" />
          <h1>[% i18n("Access to the guest network granted") %]</h1>
          <p>
            [% i18n_format("Access to the guest network has been granted until %s.", expiration) %]
          </p>

          [% IF local_account_creation %]
            <h1>[% i18n("Local account creation") %]</h1>
            <p>[% i18n("A local account has been created to allow access to node status features. Here are the information associated with that account") %].</p>
            <p>[% i18n("Username") %]: [% pid %]</p>
            <p>[% i18n("Password") %]: [% password %]</p>
          [% END %]

        </div>

[% INCLUDE footer.html %]
