<!--
  START content-with-choice.html
  selected choice: [% mod_manager_current_module OR '(none)' %]
-->
[% IF modules.size > 1 %]
<div class="c-card[% IF mod_manager_current_module %] c-card--hidden[% END %] o-layout o-layout--center u-padding">
  <div class="o-layout__item u-1/1">
    <h2>[% i18n('Select an authentication method') %]</h2>
  </div>
  <div class="o-layout__item u-1/1 u-2/3@tablet">
      [% FOREACH module IN modules %]
      <div class="u-padding-vertical-small">
        <a href="/switchto/[% module.id %]" class="c-btn c-btn--secondary c-btn--ghost u-1/1">
          [% module.description || module.id %]
        </a>
      </div>
      [% END %]
    </div>
  </div>
[% END %]
<!-- END content-with-choice.html -->

[% content | none %]
