<div class="u-padding">
  <form name="network" class="form--single_submit" action="/security_event/release" method="post" target="_top">
    <input type="hidden" name="security_event_id" value="[% security_event_id %]" />
    <div class="o-layout o-layout--center">
      <div class="o-layout__item u-1/1 u-2/3@tablet u-3/5@desktop">
        <button type="submit" name="submit" class="c-btn c-btn--primary u-1/1">
          [% i18n(enable_text) %]
        </button>
      </div>
    </div>
  </form>
</div>
