<form name="network" action="/violation/release" method="post" target="_top">
  <input type="hidden" name="violation_id" value="[% violation_id %]" />

  <div class="layout layout--center u-palm-p">
    <div class="layout__item u-2/3 u-1/1-palm">
      <div class="u-m">
        <button type="submit" name="submit" class="btn btn--full">
          <div class="flag flag--light">
            <div class="flag__img">[% svgIcon(id='ic_done_black_24px',size='small') %]</div>
            <p class="flag__body">[% enable_text %]</p>
          </div>
        </button>
      </div>
    </div>
  </div>

</form>
