<html>
  <head>
    <link href="/content/new-styles.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="/common/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="/common/pf.js" type="text/javascript"></script>
  </head>
  <h1>PacketFence captive portal</h1>
  [% FOREACH level IN flash.keys %]
  <h3 class="flash-[% level %]">[% flash.$level %]</h3>
  [% END %]
  [% content | none %]

  <div>
    <p>IP : [% client_ip %]</p>
    <p>MAC address : [% client_mac %]</p>
  </div>

  <div>
    <a href="/logout">Restart from the beginning</a>
  </div>
</html>
