<p>[% message | none %]</p>

[% IF skipable %]
<div class="layout layout--center">
  <div class="layout__item u-2/3 u-1/1-palm">
    <ul class="list-ui list-ui--tiny list-ui--btns list-ui--light u-mt">
      <li>
        <a href="?next=next" class="btn btn--full">
          <div class="flag">
            <div class="flag__img">[% svgIcon(id='ic_forward_black_24px',size='small') %]</div>
            <p class="flag__body">[% i18n("Continue") %]</p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
[% END %]
