<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>[% i18n("Quarantine Established!") %]</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="/content/styles.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/content/responsive.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <frameset rows="5*,1*" frameborder="0" framespacing="0">
    <frame src="/remediation" name="content" frameborder="no" />
    <frame src="/enabler?destination_url=[% destination_url %]" name="enabler" frameborder="no" />
  </frameset> 
</html>
