<html>
    <head>
        <title>302 Moved Temporarily</title>
    </head>
    <body>
        <h1>Moved</h1>
        <p>The document has moved <a href="[% portal_url %]">here</a>.</p>
        [% IF is_wispr_redirection_enabled %]
        <!--
        <?xml version="1.0" encoding="UTF-8"?>
        <WISPAccessGatewayParam
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:noNamespaceSchemaLocation="http://www.wballiance.net/wispr/wispr_2_0.xsd">
            <Redirect>
                <MessageType>100</MessageType>
                <ResponseCode>0</ResponseCode>
                <AccessProcedure>1.0</AccessProcedure>
                <VersionLow>1.0</VersionLow>
                <VersionHigh>2.0</VersionHigh>
                <AccessLocation>CDATA[[isocc=,cc=,ac=,network=PacketFence,]]</AccessLocation>
                <LocationName>CDATA[[PacketFence]]</LocationName>
                <LoginURL>[% wispr_url %]</LoginURL>
            </Redirect>
        </WISPAccessGatewayParam>
        -->
        [% END %]
    </body>
</html>
