[% title = i18n("release: enabling network") %]
[% INCLUDE header.html %]
<script type="text/javascript">
var waitTime=[% timer %];
var action = function() {
  hidebar();
  [% IF auto_redirect == "enabled" %]
  $('toReplace').innerHTML = "[% i18n("Unable to detect network connectivity. Try restarting your web browser or opening a new tab to see if your access has been succesfully enabled.") | html %]";
  [% ELSE %]
  $('toReplace').innerHTML = "[% i18n("Your network access should be available. Close your current browser, and open a new one to start browsing.") | html %]";
  [% END %]
}; 
  
var txt_ie = "[% i18n("Some versions of Internet Explorer may take a while before redirection occur.") | html %]";
// once the page is loaded
document.observe("dom:loaded", function() {
  [% IF auto_redirect == "enabled" %]
  // Opera is known to be broken with network detection so we warn the users
  if (Prototype.Browser.Opera) {
    $('browser_notes').innerHTML = "[% i18n("There are known issues with the automatic redirection on Opera browsers. Please open a new browser window from time to time to see if your access was enabled.") | html %]";
  }
  
  detectNetworkAccess.delay([% initial_delay %], 
    [% retry_delay %], "[% destination_url %]", "[% redirect_url %]", "[% external_ip %]"
  );
  [% END %]
});
</script>

        <div id="about">
          <img src="/content/images/unlock.png" alt="Access granted" />
          [% IF auto_redirect == "enabled" %]
          <p id="toReplace">[% i18n("Your network access is currently being enabled. Once network connectivity is established you will be automatically redirected.") %]</p>
          [% ELSE %]
          <p id="toReplace">[% i18n("Your network access is currently being enabled. Please wait...") %]</p>
          [% END %]
          <p id="browser_notes"></p>
          <script type="text/javascript" src="/content/timerbar.js"></script>
          <noscript><p>[% i18n("If you have scripting turned off, you will not be automatically redirected. Please enable scripting or open a new browser window from time to time to see if your access was enabled.") %]</p></noscript>
        </div>

[%# DO NOT REMOVE! REQUIRED FOR NETWORK ACCESS DETECTION %]
<div id="internet-detection" style="display: none;"><img id="netdetect"/></div>

[% INCLUDE footer.html %]
