<script type="text/javascript">
var waitTime=30;
var action = function() {
  hidebar();
  top.location.href="[% destination_url %]";
}; 
</script>

<div class="layout--center">
  <p>asd[% i18n(txt_message) %]asd</p>
  <script type="text/javascript" src="/content/timerbar.js"></script>
  <noscript><p>[% i18n("If you have scripting turned off, you will not be automatically redirected. Please enable scripting or open a new browser window from time to time to see if your access was enabled.") %]</p></noscript>
</div>

