[% title = i18n("scan: scan in progress") %]
[% INCLUDE header.html %]
<script type="text/javascript">
var waitTime = [% timer %];
var action = function() {
  hidebar();
  $('#toReplace').innerHTML = "[% i18n("Unable to detect network connectivity. Try restarting your web browser or opening a new tab to see if your access has been succesfully enabled.") | html %]";
};

$(document).ready(function() {
  setTimeout(function() {
    detectNetworkAccess([% refresh_timer %], "[% destination_url %]", "[% external_ip %]");
  }, [% refresh_timer %] * 1000);
});
</script>

        <div id='about'>
          <img src="/content/images/lock.png" alt="You are not authorized" />
          <h1>[% title %]</h1>
          <p id="toReplace">[% txt_message %]</p>
        </div>

[%# DO NOT REMOVE! REQUIRED FOR NETWORK ACCESS DETECTION %]
<div id="internet-detection" style="display: none;"><img id="netdetect"/></div>

[% INCLUDE footer.html %]
