<div class="layout--center">
  <h4>[% current_module.description %]</h4>
</div>

<form action="/signup" method="post">
  [% IF sms_carriers %]
  [% out = form.get_field("mobileprovider").options(sms_carriers) %]
  [% END %]

  [% IF fields.exists('aup') %]
  [% form.get_field('aup').render | none %]
  [% END %]

  <div class="layout layout--center">
    <div class="layout__item u-1/2 u-2/3-lap u-1/1-palm">
      [% FOREACH field IN fields.keys %]
      [% NEXT IF field == 'aup' %]
      <div class="input-container">
        [% form.get_field(field).render | none %]
      </div>
      [% END %]

      <button type="submit" name="submit" class="btn btn--full u-mt">
        <div class="flag">
          <div class="flag__img">[% svgIcon(id='ic_done_black_24px',size='small') %]</div>
          <p class="flag__body">[% i18n("Submit") %]</p>
        </div>
      </button>
    </div>
  </div>
</form>
