<!-- START signin.html -->
<form action="/signup" method="post">
    [% IF sms_carriers %]
    [% out = form.get_field("mobileprovider").options(sms_carriers) %]
    [% END %]

    [% IF fields.exists('aup') %]
    <div class="c-card u-padding u-padding@tablet u-padding-top-none">
        [% form.get_field('aup').render | none %]
    </div>

      [% IF aup_only %]
      <script src="/common/aup-autosubmit.js"></script>
      [% END %]

    [% END %]

    <div class="c-card[% IF fields.exists('aup') %] c-card--hidden c-card--disabled[% END %] o-layout o-layout--center u-padding">
        <div class="o-layout__item u-1/1 u-2/3@tablet u-3/5@desktop">
            [% FOREACH field IN fields.keys %]
            [% NEXT IF field == 'aup' %]
            <div class="input-container[% ' input-container--last' IF loop.last %]">
                [% form.get_field(field).render | none %]
            </div>
            [% END %]

            <button type="submit" name="submit" id="button" class="c-btn c-btn--primary u-1/1 u-margin-top" disabled>
                [% i18n("Continue") %]
            </button>
        </div>
    </div>
</form>

[% INCLUDE 'password-button.inc' %]
<!-- END signin.html -->
