[% title = i18n("User Create") %]

[%# Error %]

<form method="post" action="[% post_uri %]">
  <div class="card">
    <div class="box box--large-height box--tint">
      [% INCLUDE aup_text.html %]
    </div>
    <div class="layout--center u-pt">
      <div class="layout__item u-2/3 u-1/1-palm btn btn--light">
        <input type="checkbox" name="aup_signed" id="aup" value="1" /><label for="aup_signed">I accept the terms</label>
      </div>
    </div>
  </div>
  <div class="card card--hidden card--disabled layout layout--center">
    <div class="layout__item u-2/3 u-1/1-palm">
      <div class="input-container">
        <div>
          <label for="firstfield">[% i18n("Firstname") %]</label>
          <input class="field" name="firstname" id="firstfield" type="text" value="[% firstname | html %]" />

          <label for="lastname">[% i18n("Lastname") %]</label>
          <input class="field" name="lastname" type="text" value="[% lastname | html %]" />
        </div>
      </div>
      <div class="input-container">
        <div>
          <label for="phone">[% i18n("phone") %]</label>
          <input class="field" name="phone" type="text" value="[% phone | html %]" /><br/>
        </div>
      </div>
      <div class="input-container">
        <div>
          <label for="email">[% i18n("email") %]</label>
          <input class="field" name="email" type="text" value="[% email | html %]" /><br/>
        </div>
      </div>
      <button type="submit" name="by_email" class="btn btn--full u-mt">
        <div class="flag">
          <div class="flag__img">[% svgIcon(id='ic_done_black_24px',size='small') %]</div>
          <p class="flag__body">[% i18n("Register By Email") %]</p>
        </div>
      </button>
      <button type="submit" name="by_sms" class="btn btn--full u-mt">
        <div class="flag">
          <div class="flag__img">[% svgIcon(id='ic_done_black_24px',size='small') %]</div>
          <p class="flag__body">[% i18n("Register By SMS") %]</p>
        </div>
      </button>
    </div>
  </div>
</form>

