<script type="text/javascript">
var txt_ie = "[% i18n("Some versions of Internet Explorer may take a while before redirection occur.") | html %]";
var txt_web_notification = "[% i18n("Network access has been granted") %]"

// once the page is loaded
$(document).ready(function() {
    setInterval(function(){
      $.ajax({
        url : '/sponsor/check',
        method : 'POST',
      }).done(function(){
        window.location = "/signup";
      });
    }, 5000)
});
</script>

<div id="about">
  <img src="/content/images/lock.png" alt="You are not authorized" />
  <h1>[% i18n("Registration pending.") %]</h1>
  <p>[% i18n("Your registration is pending approval. Once approved you will be automatically redirected.") %]</p>
  <p id="browser_notes"></p>
  <noscript><p>[% i18n("If you have scripting turned off, you will not be automatically redirected. Please enable scripting or open a new browser window from time to time to see if your access was enabled.") %]</p></noscript>
</div>


