<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Configurator - PacketFence</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Configurator for PacketFence">
    <meta name="author" content="Inverse">

    <!-- Le styles -->
    <link href="[% c.uri_for('/static/css/bootstrap.css') %]" rel="stylesheet">
    <link href="[% c.uri_for('/static/app/application.css') %]" rel="stylesheet">
    <link href="[% c.uri_for('/static/configurator/common.css') %]" rel="stylesheet">
    <link href="[% c.uri_for('/static/css/bootstrap-responsive.css') %]" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="[% c.uri_for('/static/app/html5.js') %]"></script>
    <![endif]-->
  </head>

  <body>

    <div class="alert alert-success hide">
      <button class="close" data-dismiss="alert">×</button>
      <strong>Success!</strong> <span></span>
    </div>

    <div class="alert alert-error hide">
      <button class="close" data-dismiss="alert">×</button>
      <strong>Error!</strong> <span></span>
    </div>

    <div id="navbar" class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#"><img src="[% c.uri_for('/static/app/packetfence.white.png') %]"/></a>
          <h6 class="pull-right">Configuration Wizard</h6>
        </div>
      </div>
    </div>
[% content %]

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="[% c.uri_for('/static/app/jquery.js') %]"></script>
    <script src="[% c.uri_for('/static/app/jquery.json-2.3.min.js') %]"></script>
    <script src="[% c.uri_for('/static/js/bootstrap.js') %]"></script>
    <script src="[% c.uri_for('/static/app/application.js') %]"></script>
    <script src="[% c.uri_for('/static/configurator/common.js') %]"></script>
    [% FOREACH js = jsFiles %]<script src="[% c.uri_for("/static/configurator/${js}.js") %]"></script>[% END %]

  </body>
</html>
