body,
div#content {
  background-image: none;
  background-color: #fff;
  font-family: 'Helvetica Neue', Helvetica, 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
div#about h1,
div#about p {
  padding-left: 0;
}
div#about hr {
  border: 0;
  border-bottom: 2px solid #000;
  height: 0;
  margin-top: 5px;
  margin-bottom: 20px;
}
div#about h1 {
  font-size: 1.5em;
}
div.input div.note {
  border: 0;
  border-top: 1px solid #000;
  font-style: italic;
  font-weight: normal;
  margin-top: 20px;
  padding-top: 10px;
}
div.input.submit,
div#footer,
img {
  display: none;
}
div.input {
  clear: both;
  font-weight: bold;
}
div.input span {
  float: left;
  font-weight: normal;
  margin-right: 20px;
  text-align: right;
  width: 200px;
}
.page-break {
  display:block;
  page-break-before:always;
}

@page {
  margin-left: 1.5in;
  margin-right: 1.5in;
}
