[% title = i18n("Guest Access Code") %]
[% INCLUDE header.html %]

[% IF info.users %][% FOREACH guest IN info.users.keys.sort %]
        [%# Multiple User / Pass %]
        [%# Welcome text %]
        <div id="about">
          <img src="/content/images/unlock.png" alt="Access information" />
          <h1>[% title %]</h1>
          <hr/>
        </div>

          <div class="input">
            <span>[% i18n("Username") %]</span>
            [% guest %]
          </div>
          <div class="input">
            <span>[% i18n("Password") %]</span>
            [% info.users.$guest %]
          </div>
          <div class="input">
            <div class="note">
              [% txt_valid_from %] [% txt_duration %]
            </div>
          </div>
          <div class="input aup">
            <h2>[% i18n("Acceptable Use Policy") %]</h2>
            <div>
              [% INCLUDE aup_text.html %]
            </div>
          </div>
          [% UNLESS loop.last %]<div class="page-break"></div>[% END %][% END %]
[% ELSE %]
        [%# Single User / Pass %]
        [%# Welcome text %]
        <div id="about" class="underlined">
          <img src="/content/images/unlock.png" alt="Access information" />
          <h1>[% title %]</h1>
          <hr/>
        </div>

          <div class="input">
            <span>[% i18n("Username") %]</span>
            [% info.username %]
          </div>
          <div class="input">
            <span>[% i18n("Password") %]</span>
            [% info.password %]
          </div>
          <div class="input">
            <div class="note">
              [% txt_valid_from %] [% txt_duration %]
            </div>
          </div>
          <div class="input aup">
            <h2>[% i18n("Acceptable Use Policy") %]</h2>
            <div>
              [% INCLUDE aup_text.html %]
            </div>
          </div>
[% END %]

          [%# submit %]
          <div class="input submit">
            <input type="button" class="button" name="print" value="[% i18n("Print") %]" class="submitButton" onClick="window.print()"/>
            <input type="button" class="button" name="return" value="[% i18n("Back") %]" class="submitButton" onClick="document.location='/guests/manage'"/>
          </div>

[% INCLUDE guest/footer.html %]
