[% title = i18n("Guest Sponsor Login") %]
[% INCLUDE header.html 
    body_attributes = 'onload="$(\'login\').focus();"'; %]

        [%# Welcome text %]
        <div id="about" class="underlined">
          <img src="/content/images/lock.png" alt="You are not logged in" />
          <h1>[% title %]</h1>
          <p>[% i18n("Before we proceed with guest activation, we need you to authenticate.") %]</p>
          <hr/>
        </div>

        [%# Error %]
        [% IF txt_auth_error.defined %]<div class="error"><p>[% txt_auth_error %]</p></div>[% END %]

        <form method="post" action="[% post_uri %]">

          [%# User / Pass %]
          <div class="input">
            <span>[% i18n("Username") %]</span>
            <input class="field first" name="username" id="login" type="text" value="[% username | html %]" />
          </div>
          <div class="input">
            <span>[% i18n("Password") %]</span><input class="field" name="password" type="password" />
          </div>

          [%# submit %]
          <div class="input">
            <input type="submit" class="btn" name="submit" value="[% i18n("Login") %]" />
          </div>
        </form>

[% INCLUDE guest/footer.html
      username = ''; %]
