[Unit]
Description=PacketFence Proxy  Apache HTTP Server 
Documentation=man:httpd(8)
Documentation=man:apachectl(8)
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service

[Service]
StartLimitBurst=3
StartLimitInterval=10
Type=notify
ExecStartPre=/usr/bin/rm -f /usr/local/pf/var/run/httpd.proxy.pid
ExecStartPre=/bin/perl -I/usr/local/pf/lib '-Mpf::services::manager::httpd_proxy' -e 'pf::services::manager::httpd_proxy->new()->generateConfig()'
ExecStart=/usr/sbin/httpd -f /usr/local/pf/var/conf/httpd.conf.d/httpd.proxy -DFOREGROUND  -Drhel
ExecReload=/bin/kill -USR1 ${MAINPID}
PrivateTmp=true
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
