[Unit]
Description=PacketFence static routes configuration
Wants=packetfence-config.service
After=packetfence-config.service

[Service]
StandardOutput=syslog
StartLimitBurst=3
StartLimitInterval=60
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/perl -I/usr/local/pf/lib '-Mpf::services::manager::routes' -e 'pf::services::manager::routes->new()->start()'
ExecStop=/bin/perl -I/usr/local/pf/lib '-Mpf::services::manager::routes' -e 'pf::services::manager::routes->new()->stop()'
Slice=packetfence-base.slice

[Install]
WantedBy=packetfence-base.target
