[% header_warning %]
[Unit]
Description=PacketFence LVS and VRRP High Availability Monitor
After=packetfence.target
Wants=packetfence.target packetfence-iptables.service

[Service]
Type=forking
KillMode=process
PIDFile=[% pidFile %]
ExecStartPre=/usr/local/pf/bin/pfcmd service keepalived generateconfig
ExecStart=[% cmdLine %]
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=packetfence-cluster.target
