[Unit]
Description=PacketFence DHCP Listener Service
Wants=packetfence-pfqueue.service
After=packetfence-pfqueue.service
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service packetfence-pfqueue.service

[Service]
Type=notify
StartLimitBurst=3
StartLimitInterval=10
ExecStart=/usr/local/pf/sbin/pfdhcplistener
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
