# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence HAProxy Load Balancer for the Admin GUI
Wants=packetfence-base.target packetfence-config.service packetfence-pfperl-api.service packetfence-api-frontend.service packetfence-httpd.admin_dispatcher.service packetfence-redis_queue.service packetfence-pfqueue-go.service
After=packetfence-base.target packetfence-config.service packetfence-pfperl-api.service packetfence-api-frontend.service packetfence-httpd.admin_dispatcher.service packetfence-redis_queue.service packetfence-pfqueue-go.service

[Service]
Type=notify
NotifyAccess=all
StartLimitBurst=3
StartLimitInterval=10
ExecStartPre=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::services::manager::haproxy_admin' -e 'pf::services::manager::haproxy_admin->new()->generateConfig()'
ExecStart=/usr/local/pf/sbin/haproxy-admin-docker-wrapper
ExecStop=/bin/bash -c "docker stop haproxy-admin ; echo Stopped"
Restart=on-failure
TimeoutStopSec=30
Slice=packetfence.slice
PIDFile=/usr/local/pf/var/run/haproxy-admin-systemd-notify.pid
# Firewalld
ExecStartPost=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::firewalld' '-Mpf::config' -e 'pf::firewalld::fd_haproxy_admin_rules("add")'
ExecStopPost=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::firewalld' '-Mpf::config' -e 'pf::firewalld::fd_haproxy_admin_rules("remove")'

[Install]
WantedBy=packetfence.target
