# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence Connector Server
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service

[Service]
LimitNOFILE=infinity
Environment=LOG_LEVEL=INFO
ExecStartPre=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::services::manager::pfconnector_server' -e 'pf::services::manager::pfconnector_server->new()->generateConfig()'
ExecStart=/usr/local/pf/sbin/pfconnector-server-docker-wrapper
ExecStop=/bin/bash -c "docker stop pfconnector-server ; echo Stopped"
Restart=on-failure
Slice=packetfence.slice
PIDFile=/usr/local/pf/var/run/pfconnector-server-systemd-notify.pid
# iptables rules
ExecStartPre=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5/ -Mpf::iptables -Mpf::config -e 'pf::iptables::iptables_pfconnector_server_rules("add")'
ExecStopPost=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5/ -Mpf::iptables -Mpf::config -e 'pf::iptables::iptables_pfconnector_server_rules("REMOVE")'

[Install]
WantedBy=packetfence.target
