# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence Unified API
After=packetfence-base.target
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service

[Service]
Type=notify
TimeoutStopSec=60
NotifyAccess=all
ExecStart=/usr/local/pf/sbin/pfperl-api-docker-wrapper
ExecStop=/bin/bash -c "docker stop pfperl-api ; echo Stopped"
Slice=packetfence.slice
Restart=on-failure
KillMode=process

[Install]
WantedBy=packetfence.target
