[% header_warning %]
[Unit]
Description=The PacketFence p0f Service
After=packetfence-config.target  
Wants=packetfence-config.service 

[Service]
Type=simple
ExecStart=[% cmdLine %]
StandardOutput=null
StandardError=null
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
