# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence GO Accounting Server Daemon
Wants=packetfence-base.target packetfence-config.service packetfence-firewalld.service
After=packetfence-base.target packetfence-config.service packetfence-firewalld.service
Before=packetfence-httpd.portal.service

[Service]
Type=notify
TimeoutStopSec=60
NotifyAccess=all
ExecStartPre=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::services::manager::pfacct' -e 'pf::services::manager::pfacct->new()->generateConfig()'
ExecStart=/usr/local/pf/sbin/pfacct-docker-wrapper
ExecStop=/bin/bash -c "docker stop pfacct ; echo Stopped"
Restart=on-failure
Slice=packetfence.slice
PIDFile=/usr/local/pf/var/run/pfacct-systemd-notify.pid
# Firewalld
ExecStartPost=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5/ '-Mpf::firewalld' '-Mpf::config' -e 'pf::firewalld::fd_pfacct_rules("add")'
ExecStopPost=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5/ '-Mpf::firewalld' '-Mpf::config' -e 'pf::firewalld::fd_pfacct_rules("remove")'

[Install]
WantedBy=packetfence.target
