# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence Captive Portal Apache HTTP Server 
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service

[Service]
StartLimitBurst=3
StartLimitInterval=10
ExecStartPre=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::services::manager::httpd_portal' -e 'pf::services::manager::httpd_portal->new()->generateConfig()'
ExecStart=/usr/local/pf/sbin/httpd.portal-docker-wrapper
ExecStop=/bin/bash -c "docker stop httpd.portal ; docker container rm httpd.portal -f ; echo Stopped"
TimeoutStopSec=30
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
