# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence pfcron Service
Wants=packetfence-base.target packetfence-config.service
After=packetfence-base.target packetfence-config.service

[Service]

Type=notify
NotifyAccess=all
ExecStartPre=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::services::manager::pfcron' -e 'pf::services::manager::pfcron->new()->generateConfig()'
ExecStart=/usr/local/pf/sbin/pfcron-docker-wrapper
ExecStop=/bin/bash -c "docker stop pfcron ; echo Stopped"
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
