# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence API frontend Service
Wants=packetfence-base.target packetfence-config.service
After=packetfence-base.target packetfence-config.service
Before=packetfence-httpd.portal.service

[Service]
Type=notify
TimeoutStopSec=60
NotifyAccess=all
LimitNOFILE=infinity
ExecStartPre=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::services::manager::api_frontend' -e 'pf::services::manager::api_frontend->new()->generateConfig()'
ExecStartPre=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::firewalld' '-Mpf::config' -e 'pf::firewalld::fd_api_frontend_rules("add")'
ExecStart=/usr/local/pf/sbin/api-frontend-docker-wrapper
ExecStop=/bin/bash -c "docker stop api-frontend ; echo Stopped"; /bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::firewalld' '-Mpf::config' -e 'pf::firewalld::fd_api_frontend_rules("remove")'
Restart=on-failure
Slice=packetfence.slice
PIDFile=/usr/local/pf/var/run/api-frontend-systemd-notify.pid

[Install]
WantedBy=packetfence.target
