[Unit]
Description=PacketFence p0f Service
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service

[Service]
StartLimitBurst=3
StartLimitInterval=60
Type=simple
PIDFile=/usr/local/pf/var/run/p0f.pid
ExecStart=/usr/local/pf/sbin/p0f-wrapper
StandardOutput=null
StandardError=null
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
