[Unit]
Description=PacketFence Graphite Carbon Cache
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service

[Service]
StartLimitBurst=3
StartLimitInterval=10
Type=simple
User=pf
PIDFile=/usr/local/pf/var/run/carbon-cache.pid
ExecStartPre=/usr/local/pf/bin/pfcmd service carbon-cache generateconfig
ExecStart=/usr/bin/carbon-cache --pidfile=/usr/local/pf/var/run/carbon-cache.pid --config=/usr/local/pf/var/conf/carbon.conf  --logdir=/usr/local/pf/logs --nodaemon start
ExecReload=/bin/kill -USR1 $MAINPID
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
