# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence DHCP Listener Service
Wants=packetfence-pfqueue-go.service
After=packetfence-pfqueue-go.service
Wants=packetfence-base.target packetfence-config.service packetfence-firewalld.service
After=packetfence-base.target packetfence-config.service packetfence-firewalld.service packetfence-pfqueue-go.service

[Service]
Type=notify
StartLimitBurst=3
StartLimitInterval=10
ExecStart=/usr/local/pf/sbin/pfdhcplistener
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
