[Unit]
Description=PacketFence pfmon Service
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service

[Service]
Type=notify
StartLimitBurst=3
StartLimitInterval=10
ExecStart=/usr/local/pf/sbin/pfmon
User=pf
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
