[Unit]
Description=PacketFence FreeRADIUS multi-protocol CLI authentication server
Documentation=man:radiusd(8) man:radiusd.conf(5) http://wiki.freeradius.org/ http://networkradius.com/doc/
Wants=packetfence-httpd.aaa.service 
After=packetfence-httpd.aaa.service
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service

[Service]
Type=notify
WatchdogSec=10
StartLimitBurst=3
StartLimitInterval=10
PIDFile=/usr/local/pf/var/run/radiusd-cli.pid
ExecStartPre=/bin/perl -I/usr/local/pf/lib '-Mpf::services::manager::radiusd' -e 'pf::services::manager::radiusd->new()->generateConfig()'
ExecStartPre=/usr/sbin/radiusd -d /usr/local/pf/raddb  -n cli -Cxm -lstdout 
ExecStart=/usr/sbin/radiusd -d /usr/local/pf/raddb  -n cli -fm 
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
