[Unit]
Description=PacketFence DNS Service
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service
Before=packetfence-httpd.portal.service

[Service]
StandardOutput=syslog
StartLimitBurst=3
StartLimitInterval=60
PIDFile=/usr/local/pf/var/run/pfdns.pid
ExecStart=/usr/local/pf/sbin/pfdns
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
