# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence pfqueue go Service
Wants=packetfence-redis_queue.service
After=packetfence-redis_queue.service
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service
Wants=packetfence-pfqueue-backend.service
After=packetfence-pfqueue-backend.service
Before=packetfence-docker-iptables.service
Requires=packetfence-docker-iptables.service packetfence-pfqueue-backend.service
PartOf=packetfence-docker-iptables.service packetfence-pfqueue-backend.service

[Service]
Type=notify
TimeoutStopSec=60
NotifyAccess=all
StartLimitBurst=3
StartLimitInterval=10
ExecStartPre=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::services::manager::pfqueue_go' -e 'pf::services::manager::pfqueue_go->new()->generateConfig()'
ExecStart=/usr/local/pf/sbin/pfqueue-go
TimeoutStopSec=30
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
