[Unit]
Description=PacketFence static routes configuration
Wants=packetfence-config.service
After=packetfence-config.service

[Service]
StartLimitBurst=3
StartLimitInterval=10
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/perl -I/usr/local/pf/lib '-Mpf::services::manager::routes' -e 'pf::services::manager::routes->new()->_start()'
ExecStop=/bin/perl -I/usr/local/pf/lib '-Mpf::services::manager::routes' -e 'pf::services::manager::routes->new()->_stop()'
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
