[Unit]
Description=PacketFence Config Service
After=network.target packetfence-redis-cache.target
Wants=packetfence-redis-cache.service

[Service]
Type=simple
PIDFile=/usr/local/pf/var/run/pfconfig.pid
ExecStart=/usr/local/pf/sbin/pfconfig 
User=pf
Slice=packetfence-base.slice
Restart=on-failure

[Install]
WantedBy=packetfence-base.target
