[Unit]
Description=PacketFence Redis Queue Service
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service

[Service]
StartLimitBurst=3
StartLimitInterval=10
PIDFile=/usr/local/pf/var/run/redis_queue.pid
ExecStartPre=/usr/local/pf/bin/pfcmd service redis_queue generateconfig
ExecStart=/usr/bin/redis-server /usr/local/pf/var/conf/redis_queue.conf --daemonize no
ExecStop=/bin/kill $MAINPID
Restart=on-failure
User=pf
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
