# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence GO DHCPv4 Server Daemon
Wants=packetfence-keepalived.service packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-keepalived.service packetfence-base.target packetfence-config.service packetfence-iptables.service
Before=packetfence-httpd.portal.service

[Service]
StartLimitBurst=3
StartLimitInterval=60
Type=notify
WatchdogSec=30s
Environment=LOG_LEVEL=INFO
EnvironmentFile=-/usr/local/pf/conf/pfdhcp.conf
ExecStartPre=/usr/local/pf/firewalld/scripts/firewalld-service.sh pf-pfdhcp
ExecStart=/usr/local/pf/sbin/pfdhcp
Restart=on-failure
Slice=packetfence.slice
ExecStop=/usr/local/pf/firewalld/scripts/firewalld-service.sh pf-pfdhcp remove

[Install]
WantedBy=packetfence.target
