[Unit]
Description=PacketFence pfsetvlan service
After=packetfence-base.target
After=packetfence-snmptrapd.service
Wants=packetfence-snmptrapd.service
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service

[Service]
StartLimitBurst=3
StartLimitInterval=60
PIDFile=/usr/local/pf/var/run/pfsetvlan.pid
ExecStart=/usr/local/pf/sbin/pfsetvlan
Slice=packetfence.slice
Restart=on-failure

[Install]
WantedBy=packetfence.target
