# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence HAProxy Load Balancer for the Admin GUI
Wants=packetfence-base.target packetfence-config.service packetfence-pfperl-api.service packetfence-api-frontend.service packetfence-httpd.admin_dispatcher.service packetfence-redis_queue.service packetfence-pfqueue.service
After=packetfence-base.target packetfence-config.service packetfence-pfperl-api.service packetfence-api-frontend.service packetfence-httpd.admin_dispatcher.service packetfence-redis_queue.service packetfence-pfqueue.service

[Service]
Type=notify
StartLimitBurst=3
StartLimitInterval=10
ExecStartPre=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::services::manager::haproxy_admin' -e 'pf::services::manager::haproxy_admin->new()->generateConfig()'
ExecStart=/usr/sbin/haproxy -Ws -f /usr/local/pf/var/conf/haproxy-admin.conf -p /usr/local/pf/var/run/haproxy-admin.pid
ExecReload=/bin/kill -USR2 $MAINPID
Restart=on-failure
SuccessExitStatus=143
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
