# [% header_warning %]
[Unit]
Description=The PacketFence pfmon Service
After=packetfence-config.service
Requires=packetfence-config.service

[Service]
ExecStart=/usr/local/pf/sbin/pfmon 
User=pf
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
