[Unit]
Description=PacketFence Collectd statistics daemon
Documentation=man:collectd(1) man:collectd.conf(5)
Wants=packetfence-carbon-relay.service 
After=packetfence-carbon-relay.service 
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service

[Service]
StartLimitBurst=3
StartLimitInterval=10
PIDFile=/usr/local/pf/var/run/collectd.pid
ExecStartPre=/usr/local/pf/bin/pfcmd service collectd generateconfig
ExecStart=/usr/sbin/collectd -P /usr/local/pf/var/run/collectd.pid -f -C /usr/local/pf/var/conf/collectd.conf
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
