[Unit]
Description=PacketFence Redis Cache Service
After=network.target
Before=packetfence-config.service

[Service]
StartLimitBurst=3
StartLimitInterval=10
ExecStart=/usr/bin/redis-server /usr/local/pf/conf/redis_cache.conf --daemonize no
ExecStop=/bin/kill $MAINPID
Slice=packetfence-base.slice
Restart=on-failure


[Install]
WantedBy=packetfence-base.target
