# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence HTTP Admin Dispatcher
#
# Even if there is no rules for that service, packetfence-firewalld.service
# is used on installation and should failed in order to used the ExecStopPost
# of packetfence-firewalld.service
#
# Also usefull when reboot a vm, since the current service is one of the
# first packetfence service to restart.
#
Wants=packetfence-base.target packetfence-config.service packetfence-firewalld.service
After=packetfence-base.target packetfence-config.service packetfence-firewalld.service
Before=packetfence-haproxy-admin.service

[Service]
Type=notify
TimeoutStartSec=180
TimeoutStopSec=60
NotifyAccess=all
LimitNOFILE=8192
ExecStartPre=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::services::manager::httpd_admin_dispatcher' -e 'pf::services::manager::httpd_admin_dispatcher->new()->generateConfig()'
ExecStart=/usr/local/pf/sbin/httpd.admin_dispatcher-docker-wrapper
ExecStop=/bin/bash -c "docker stop httpd.admin_dispatcher ; echo Stopped"
Restart=on-failure
Slice=packetfence.slice
PIDFile=/usr/local/pf/var/run/httpd.admin_dispatcher-systemd-notify.sock.pid

[Install]
WantedBy=packetfence.target
