# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence MariaDB Galera conflict resolution
After=network.target

[Service]
EnvironmentFile=-/usr/local/pf/conf/log.conf.d/galera-autofix.conf
ExecStart=/usr/local/pf/sbin/galera-autofix
Restart=on-failure
Slice=packetfence-base.slice
User=root
# Prevents systemd on giving up on the restart of this service
StartLimitInterval=0
#Firewalld
ExecStartPost=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5/ -Mpf::firewalld -Mpf::config -e 'pf::firewalld::fd_galera_autofix_rules("add")' || true
ExecStopPost=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5/ -Mpf::firewalld -Mpf::config -e 'pf::firewalld::fd_galera_autofix_rules("remove")' || true

[Install]
WantedBy=packetfence-base.target
