[% header_warning %]
[Unit]
Description=The PacketFence pfqueue Service
Wants=packetfence-config.service packetfence-redis_queue.service
After=packetfence-config.service packetfence-redis_queue.service

[Service]
ExecStartPre=/usr/local/pf/bin/pfcmd service pfqueue generateconfig
ExecStart=[% cmdLine %]
User=pf
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
