[% header_warning %]
[Unit]
Description=The PacketFence DHCP Listener Service
Wants=packetfence-config.service packetfence-pfqueue.service
After=packetfence-config.service packetfence-pfqueue.service

[Service]
Type=simple
ExecStart=[% cmdLine %]
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
