[Unit]
Description=PacketFence Traffic Shaping configuration
Wants=packetfence-config.service
After=packetfence-config.service

[Service]
StartLimitBurst=3
StartLimitInterval=10
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/perl -I/usr/local/pf/lib -Mpf::db -Mpf::services::manager::tc -e 'my $db ; while(!$db) { eval { $db = db_connect() } ; sleep 1 } ; pf::services::manager::tc->new()->_start()'
ExecStop=/bin/perl -I/usr/local/pf/lib '-Mpf::services::manager::tc' -e 'pf::services::manager::tc->new()->_stop()'
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
