[Unit]
Description=PacketFence Graphite Carbon Relay
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service packetfence-carbon-cache.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service packetfence-carbon-cache.service

[Service]
StartLimitBurst=3
StartLimitInterval=60
Type=simple
User=pf
PIDFile=/usr/local/pf/var/run/carbon-relay.pid
ExecStartPre=/usr/local/pf/bin/pfcmd service carbon-relay generateconfig
ExecStart=/usr/bin/carbon-relay --pidfile=/usr/local/pf/var/run/carbon-relay.pid --config=/usr/local/pf/var/conf/carbon.conf  --logdir=/usr/local/pf/logs --nodaemon start
ExecReload=/bin/kill -USR1 $MAINPID
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
