# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence pfqueue Service
Wants=packetfence-redis_queue.service
After=packetfence-redis_queue.service
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service

[Service]
Type=notify
TimeoutStopSec=60
NotifyAccess=all
StartLimitBurst=3
StartLimitInterval=10
ExecStart=/usr/local/pf/sbin/pfqueue-docker-wrapper
ExecStop=/bin/bash -c "docker stop pfqueue ; echo Stopped"
TimeoutStopSec=30
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
