# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence ProxySQL Load Balancer for connecting to clustered databases
Before=packetfence-httpd.portal.service packetfence-api-frontend.service
Wants=packetfence-config.service

[Service]
Type=notify
NotifyAccess=all
ExecStartPre=/bin/rm -f /usr/local/pf/var/run/proxysql/proxysql.pid
ExecStartPre=/usr/local/pf/containers/docker-minimal-rules.sh
ExecStartPre=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::services::manager::proxysql' -e 'pf::services::manager::proxysql->new()->generateConfig()'
ExecStart=/usr/local/pf/sbin/proxysql-docker-wrapper
ExecStop=/bin/bash -c "docker stop proxysql ; docker container rm proxysql -f ; echo Stopped"
TimeoutStopSec=60
Restart=on-failure
# Firewalld
ExecStartPost=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5/ -Mpf::firewalld -Mpf::db -Mpf::config -e 'pf::firewalld::fd_proxysql_rules("add")'
ExecStopPost=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5/ -Mpf::firewalld -Mpf::db -Mpf::config -e 'pf::firewalld::fd_proxysql_rules("remove")'

[Install]
WantedBy=packetfence-cluster.target

