[Unit]
Description=PacketFence target
Wants=packetfence-base.target
Conflicts=rescue.service rescue.target
After=multi-user.target rescue.service rescue.target packetfence-base
AllowIsolate=yes
