[% header_warning %]
[Unit]
Description=The PacketFence Statsd service
After=packetfence-carbon-relay.service packetfence-iptables.service
Wants=packetfence-carbon-relay.service packetfence-iptables.service

[Service]
Type=simple
ExecStartPre=/usr/local/pf/bin/pfcmd service statsd generateconfig
ExecStart=[% cmdLine %]
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
