[% header_warning %]
[Unit]
Description=PacketFence Redis Queue Service
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service

[Service]
PIDFile=[% pidFile %]
ExecStartPre=/usr/local/pf/bin/pfcmd service redis_queue generateconfig
ExecStart=[% cmdLine %]
ExecStop=/usr/bin/kill $MAINPID
Restart=on-failure
User=pf
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
