# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence MySQL Probe Daemon
After=network.target packetfence-config.service packetfence-mariadb.service
Wants=packetfence-config.service

[Service]
StartLimitBurst=3
StartLimitInterval=60
Type=notify
WatchdogSec=30s
Environment=LOG_LEVEL=INFO
ExecStart=/usr/local/pf/sbin/mysql-probe
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
