[% header_warning %]
[Unit]
Description=The PacketFence Graphite Carbon Relay
Wants=packetfence-carbon-cache.service
Wants=packetfence-config.service packetfence-iptables.service
After=packetfence-config.service packetfence-iptables.service

[Service]
Type=simple
ExecStartPre=/usr/local/pf/bin/pfcmd service carbon-relay generateconfig
ExecStart=[% cmdLine %]
ExecReload=/bin/kill -USR1 $MAINPID
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
