# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence PFSSO Service
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service
Before=packetfence-httpd.portal.service

[Service]
LimitNOFILE=8192
ExecStart=/usr/local/pf/sbin/pfsso-docker-wrapper
ExecStop=/bin/bash -c "docker stop pfsso ; docker container rm pfsso -f ; echo Stopped"
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
