# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence pfdetect Service
Wants=packetfence-base.target packetfence-config.service packetfence-firewalld.service
After=packetfence-base.target packetfence-config.service packetfence-firewalld.service

[Service]
Type=notify
StartLimitBurst=3
StartLimitInterval=10
EnvironmentFile=-/usr/local/pf/conf/log.conf.d/pfdetect.conf
ExecStart=/usr/local/pf/sbin/pfdetect
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
