[Unit]
Description=packetfence firewalld - dynamic firewall daemon
Wants=network-pre.target
After=dbus.service
After=polkit.service
Conflicts=iptables.service ip6tables.service ebtables.service ipset.service nftables.service firewalld.service
Documentation=man:firewalld(1)
Wants=packetfence-config.service
After=packetfence-config.service

[Service]
TimeoutStartSec=600
TimeoutStopSec=600
EnvironmentFile=-/usr/local/pf/conf/firewalld
# supress service that is using the same dbus
ExecStartPre=/bin/bash -c "/bin/rm -rf /usr/lib/systemd/system/firewalld.service || true"
ExecStartPre=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::firewalld' '-Mpf::config' -e 'pf::firewalld::fd_generate_pfconf_configs()'
ExecStart=/bin/bash -c "[ -f /usr/local/pf/var/conf/firewalld/firewalld.conf ] && /usr/sbin/firewalld --nofork --nopid $FIREWALLD_ARGS --system-config /usr/local/pf/var/conf/firewalld --default-config /usr/lib/firewalld/ || exit 0"
ExecStartPost=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::firewalld' '-Mpf::config' -e 'pf::firewalld::fd_generate_dynamic_configs()'
ExecStopPost=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::firewalld' '-Mpf::config' '-Mpf::services::manager::firewalld' -e 'pf::services::manager::firewalld->new()->_stop()'

ExecReload=/bin/kill -HUP $MAINPID
# supress to log debug and error output also to /var/log/messages
StandardOutput=null
StandardError=null
Type=dbus
BusName=org.fedoraproject.FirewallD1
KillMode=mixed


[Install]
WantedBy=multi-user.target
Alias=dbus-org.fedoraproject.FirewallD1.service
