[Unit]
Description=PacketFence PKI Daemon
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service
Before=packetfence-pfpki.service

[Service]
StartLimitBurst=3
StartLimitInterval=60
ExecStartPre=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::services::manager::pfpki' -e 'pf::services::manager::pfpki->new()->generateConfig()'
ExecStart=/usr/local/pf/sbin/pfpki-docker-wrapper
ExecStop=/bin/bash -c "docker stop pfpki ; docker container rm pfpki -f ; echo Stopped"
TimeoutStopSec=60
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
