[Unit]
Description=PacketFence Config Service
After=network.target packetfence-redis-cache.service
Wants=packetfence-redis-cache.service

[Service]
Type=notify
StartLimitBurst=3
StartLimitInterval=10
ExecStart=/usr/local/pf/sbin/pfconfig 
User=pf
Slice=packetfence-base.slice
Restart=on-failure

[Install]
WantedBy=packetfence-base.target
