# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence Docker Iptables configuration
Wants=packetfence-base.target packetfence-config.service
After=packetfence-base.target packetfence-config.service

[Service]
StartLimitBurst=3
StartLimitInterval=10
ExecStart=/usr/local/pf/containers/docker_iptables.sh
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
