# [% header_warning %]
[Unit]
Description=The PacketFence DNS Service
After=packetfence-config.service
Requires=packetfence-config.service

[Service]
ExecStart=/usr/local/pf/sbin/pfdns 
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
