[Unit]
Description=PacketFence DHCPv4 Server Daemon
Documentation=man:dhcpd(8) man:dhcpd.conf(5)
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service
Before=packetfence-httpd.portal.service

[Service]
StartLimitBurst=3
StartLimitInterval=60
Type=notify
PIDFile=/usr/local/pf/var/run/dhcpd.pid
ExecStartPre=/usr/local/pf/bin/pfcmd service dhcpd generateconfig
ExecStart=/usr/sbin/dhcpd -pf /usr/local/pf/var/run/dhcpd.pid -f -lf /usr/local/pf/var/dhcpd/dhcpd.leases -cf /usr/local/pf/var/conf/dhcpd.conf 
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
