[% header_warning %]
[Unit]
Description=PacketFence Config Service
After=network.target packetfence-redis-cache.target
Wants=packetfence-redis-cache.service

[Service]
Type=simple
ExecStart=/usr/local/pf/sbin/pfconfig 
User=pf

[Install]
WantedBy=packetfence.target
