# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence pfmaint Service
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service

[Service]
Type=notify
StartLimitBurst=3
StartLimitInterval=10
ExecStart=/usr/local/pf/sbin/pfmaint
User=pf
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
