# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence Connector Client
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service

[Service]
LimitNOFILE=infinity
ExecStart=/usr/local/pf/sbin/pfconnector-client-docker-wrapper
ExecStop=/bin/bash -c "docker stop pfconnector-client ; echo Stopped"
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
