[Unit]
Description=PacketFence AAA Apache HTTP Server 
Documentation=man:httpd(8)
Documentation=man:apachectl(8)
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service
Before=packetfence-radiusd-auth.service packetfence-radiusd-acct.service packetfence-radiusd-cli.service

[Service]
StartLimitBurst=3
StartLimitInterval=10
Type=notify
PIDFile=/usr/local/pf/var/run/httpd.aaa.pid
ExecStartPre=/usr/local/pf/bin/pfcmd service httpd.aaa generateconfig
ExecStart=/usr/sbin/httpd -f /usr/local/pf/var/conf/httpd.conf.d/httpd.aaa -DFOREGROUND  -Drhel
ExecReload=/bin/kill -USR1 ${MAINPID}
PrivateTmp=true
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
