[Unit]
Description=PacketFence Kafka Daemon
Wants=packetfence-base.target packetfence-config.service packetfence-firewalld.service
After=packetfence-base.target packetfence-config.service packetfence-firewalld.service

[Service]
StartLimitBurst=3
StartLimitInterval=10
Type=simple
TimeoutStopSec=60
ExecStartPre=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::services::manager::kafka' -e 'pf::services::manager::kafka->new()->generateConfig()'
ExecStart=/usr/local/pf/sbin/kafka-docker-wrapper
ExecStop=/bin/bash -c "docker stop kafka ; echo Stopped"
Restart=on-failure
Slice=packetfence.slice
PIDFile=/usr/local/pf/var/run/kafka-systemd-notify.pid
# Firewalld
ExecStartPost=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5/ -Mpf::firewalld -Mpf::config -e 'pf::firewalld::fd_kafka_rules("add")'
ExecStopPost=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5/ -Mpf::firewalld -Mpf::config -e 'pf::firewalld::fd_kafka_rules("remove")'

[Install]
WantedBy=packetfence.target
