# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence API frontend Service
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service
Before=packetfence-httpd.portal.service

[Service]
LimitNOFILE=infinity
ExecStart=/usr/local/pf/sbin/api-frontend-docker-wrapper
ExecStop=/bin/bash -c "docker stop api-frontend ; docker container rm api-frontend -f ; echo Stopped"
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
