# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence HAProxy Load Balancer for the captive portal
Wants=packetfence-config.service 

[Service]
Type=notify
NotifyAccess=all
StartLimitBurst=3
StartLimitInterval=10
ExecStartPre=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::services::manager::haproxy_portal' -e 'pf::services::manager::haproxy_portal->new()->generateConfig()'
ExecStart=/usr/local/pf/sbin/haproxy-portal-docker-wrapper
ExecStop=/bin/bash -c "docker stop haproxy-portal ; echo Stopped"
Restart=on-failure
TimeoutStopSec=30
Slice=packetfence.slice
PIDFile=/usr/local/pf/var/run/haproxy-portal-systemd-notify.pid
# health check
ExecStartPost=/usr/local/pf/sbin/docker-health-check haproxy-portal haproxy
# iptables rules
ExecStartPost=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5/ -Mpf::iptables -Mpf::config -e 'pf::iptables::iptables_haproxy_portal_rules("add")'
ExecStartPost=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5/ -Mpf::ip6tables -Mpf::config -e 'pf::ip6tables::ip6tables_haproxy_portal_rules("add")'
ExecStopPost=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5/ -Mpf::iptables -Mpf::config -e 'pf::iptables::iptables_haproxy_portal_rules("REMOVE")'
ExecStopPost=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5/ -Mpf::ip6tables -Mpf::config -e 'pf::ip6tables::ip6tables_haproxy_portal_rules("REMOVE")'

[Install]
WantedBy=packetfence.target
