# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence ProxySQL Load Balancer for connecting to clustered databases
Before=packetfence-httpd.portal.service packetfence-api-frontend.service
Wants=packetfence-config.service 

[Service]
Type=forking
ExecStartPre=/usr/bin/mkdir -p /usr/local/pf/var/run/proxysql
ExecStartPre=/usr/bin/chown -R pf: /usr/local/pf/var/run/proxysql/
ExecStartPre=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::services::manager::proxysql' -e 'pf::services::manager::proxysql->new()->generateConfig()'
ExecStart=/usr/bin/proxysql --idle-threads -c /usr/local/pf/var/conf/proxysql.conf
PIDFile=/usr/local/pf/var/run/proxysql/proxysql.pid
#StandardError=null  # all output is in stderr
SyslogIdentifier=proxysql
Restart=on-failure
User=pf
Group=pf
UMask=0007
LimitNOFILE=102400
LimitCORE=1073741824

[Install]
WantedBy=packetfence-cluster.target

