# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence AAA Apache HTTP Server 
Documentation=man:httpd(8)
Documentation=man:apachectl(8)
Wants=packetfence-base.target packetfence-config.service packetfence-firewalld.service
After=packetfence-base.target packetfence-config.service packetfence-firewalld.service
Before=packetfence-radiusd-auth.service packetfence-radiusd-acct.service packetfence-radiusd-cli.service

[Service]
Type=notify
NotifyAccess=all
StartLimitBurst=3
StartLimitInterval=10
ExecStartPre=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::services::manager::httpd_aaa' -e 'pf::services::manager::httpd_aaa->new()->generateConfig()'
ExecStart=/usr/local/pf/sbin/httpd.aaa-docker-wrapper
ExecStop=/bin/bash -c "docker stop httpd.aaa ; echo Stopped"
TimeoutStopSec=30
Restart=on-failure
Slice=packetfence.slice
PIDFile=/usr/local/pf/var/run/httpd.aaa-systemd-notify.pid
# Firewalld
ExecStartPost=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::firewalld' '-Mpf::config' -e 'pf::firewalld::fd_httpd_aaa_rules("add")'
ExecStopPost=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::firewalld' '-Mpf::config' -e 'pf::firewalld::fd_httpd_aaa_rules("remove")'

[Install]
WantedBy=packetfence.target
