# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence pfcron Service
Wants=packetfence-base.target packetfence-config.service
After=packetfence-base.target packetfence-config.service

[Service]
ExecStart=/usr/local/pf/sbin/pfcron-docker-wrapper
ExecStop=/bin/bash -c "docker stop pfcron ; docker container rm pfcron -f ; echo Stopped"
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
