[Unit]
Description=PacketFence Redis NTLM authenticaton caching Service
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service

[Service]
StartLimitBurst=3
StartLimitInterval=10
PIDFile=/usr/local/pf/var/run/redis_ntlm_cache.pid
ExecStartPre=/bin/perl -I/usr/local/pf/lib '-Mpf::services::manager::redis_ntlm_cache' -e 'pf::services::manager::redir_ntlm_cache->new()->generateConfig()'
ExecStart=/usr/bin/redis-server /usr/local/pf/var/conf/redis_ntlm_cache.conf --daemonize no
ExecStop=/bin/kill $MAINPID
Restart=on-failure
User=pf
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
