[Unit]
Description=PacketFence PFSSO Service
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service
Before=packetfence-httpd.portal.service

[Service]
Type=notify
LimitNOFILE=8192
ExecStart=/usr/local/pf/sbin/pfhttpd -conf /usr/local/pf/conf/caddy-services/pfsso.conf -log-name pfsso
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
