[Unit]
Description=PacketFence Stats daemon
Requires=packetfence-netdata.service
After=packetfence-netdata.service
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service

[Service]
StartLimitBurst=3
StartLimitInterval=10
Type=notify
ExecStartPre=/bin/rm -fr /usr/local/pf/var/run/collectd-unixsock
ExecStart=/usr/local/pf/sbin/pfstats
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
