[Unit]
Description=PacketFence Kafka Daemon
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service
Before=packetfence-docker-iptables.service
Requires=packetfence-docker-iptables.service
PartOf=packetfence-docker-iptables.service

[Service]
StartLimitBurst=3
StartLimitInterval=10
Type=simple
TimeoutStopSec=60
ExecStartPre=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::services::manager::kafka' -e 'pf::services::manager::kafka->new()->generateConfig()'
ExecStart=/usr/local/pf/sbin/kafka-docker-wrapper
ExecStop=/bin/bash -c "docker stop kafka ; echo Stopped"
Restart=on-failure
Slice=packetfence.slice
PIDFile=/usr/local/pf/var/run/kafka-systemd-notify.pid

[Install]
WantedBy=packetfence.target
