# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence Connector Server
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service

[Service]
LimitNOFILE=infinity
ExecStartPre=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::services::manager::pfconnector_server' -e 'pf::services::manager::pfconnector_server->new()->generateConfig()'
ExecStart=/usr/local/pf/sbin/pfconnector server --host 100.64.0.1 --port 22226 --reverse
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
