# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence Configuration Change Tracking
Documentation=http://packetfence.org

[Service]
Type=oneshot
WorkingDirectory=/usr/local/pf/conf
ExecStartPre=/bin/sh -c "if [ ! -d \"/usr/local/pf/conf/.git\" ]; then /usr/bin/git init /usr/local/pf/conf/;git config --system --add safe.directory /usr/local/pf/conf;cd /usr/local/pf/conf/;/usr/bin/git add .gitignore .gitignore.example /usr/local/pf/conf/*;fi"
ExecStart=/bin/bash -c "/usr/bin/git -c user.name=\'PacketFence Tracking\' -c user.email=\'tracking@packetfence.org\' --git-dir=/usr/local/pf/conf/.git commit -a -m \"Commit `date +%%F-%%T`\""


[Install]
WantedBy=packetfence-base.target
