[Unit]
Description=PacketFence SAMBA winbind Service
Wants=packetfence-base.target packetfence-config.service packetfence-iptables.service
After=packetfence-base.target packetfence-config.service packetfence-iptables.service
Before=packetfence-radiusd-auth.service

[Service]
Type=notify
StartLimitBurst=3
StartLimitInterval=60
ExecStartPre=/usr/local/pf/bin/pfcmd service winbindd generateconfig
PIDFile=/usr/local/pf/var/run/winbindd-wrapper.pid
ExecStart=/usr/local/pf/sbin/winbindd-wrapper
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
