# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence GO DNS Server Daemon
Wants=packetfence-keepalived.service packetfence-base.target packetfence-config.service packetfence-firewalld.service
After=packetfence-keepalived.service packetfence-base.target packetfence-config.service packetfence-firewalld.service
Before=packetfence-httpd.portal.service

[Service]
StartLimitBurst=3
StartLimitInterval=60
Type=notify
Environment=LOG_LEVEL=INFO
ExecStartPre=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5 '-Mpf::services::manager::pfdns' -e 'pf::services::manager::pfdns->new()->generateConfig()'
ExecStart=/usr/local/pf/sbin/pfdns -conf=/usr/local/pf/var/conf/pfdns.conf
Restart=on-failure
Slice=packetfence.slice
# Firewalld
ExecStartPost=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5/ -Mpf::firewalld -Mpf::config -e 'pf::firewalld::fd_pfdns_rules("add")'
ExecStopPost=/bin/perl -I/usr/local/pf/lib -I/usr/local/pf/lib_perl/lib/perl5/ -Mpf::firewalld -Mpf::config -e 'pf::firewalld::fd_pfdns_rules("remove")'

[Install]
WantedBy=packetfence.target
