DEVICE=[% logical_name %]
[% IF !vlan_device %][% IF hwaddr %]HWADDR=[% hwaddr %][% END %][% ELSE %]VLAN=yes[% END %]
ONBOOT=yes
BOOTPROTO=static
IPADDR=[% ipaddr %]
NETMASK=[% netmask %]
[% IF ipv6_address -%]
IPV6INIT=yes
IPV6ADDR=[% ipv6_address %]/[% ipv6_prefix %]
[% ELSE -%]
IPV6INIT=no
IPV6ADDR=
[% END %]
