auto lo
iface lo inet loopback
[% FOREACH interface IN interfaces.keys.sort %][% IF interfaces.$interface.running %]
auto [% interface %]
iface [% interface %] inet static
    address [% interfaces.$interface.ipaddress %]
    netmask [% interfaces.$interface.netmask %]
[% IF interface == gateway_interface %]    gateway [% gateway %]
[% END %][% END %][% END %]
