# PacketFence SNMP checks

CHECK PROCESS packetfence-snmptrapd MATCHING "snmptrapd"
       group PacketFence
       start program = "/usr/local/pf/bin/pfcmd service snmptrapd restart" with timeout 60 seconds
       stop program = "/usr/local/pf/bin/pfcmd service snmptrapd stop"
       if 3 restarts within 10 cycles then alert
