#_preseed_V1
#### Contents of the preconfiguration file (for bookworm) - OFFLINE USB INSTALLER
### Localization
# Preseeding only locale sets language, country and locale.
d-i debian-installer/locale string en_US

# Keyboard selection.
d-i keyboard-configuration/xkb-keymap select us

### Network configuration
# netcfg will choose an interface that has link if possible. This makes it
# skip displaying a list if there is more than one interface.
d-i netcfg/choose_interface select auto

# Any hostname and domain names assigned from dhcp take precedence over
# values set here. However, setting the values still prevents the questions
# from being shown, even if values come from dhcp.
d-i netcfg/hostname string packetfence

# Disable that annoying WEP key dialog.
d-i netcfg/wireless_wep string

### Configure package manager - OFFLINE MODE WITH DVD
# Keep CD-ROM as PRIMARY package source - DVD has complete Debian packages
d-i apt-setup/cdrom/set-first boolean true
d-i apt-setup/cdrom/set-next boolean false
d-i apt-setup/cdrom/set-failed boolean false

# Disable network mirror - we use DVD + local PF repo on ISO
d-i apt-setup/use_mirror boolean false

# Do NOT eject CD-ROM - we need it mounted for PacketFence installation
d-i cdrom-detect/eject boolean false

### Mirror settings - No external mirrors
d-i mirror/country string manual
d-i mirror/http/hostname string
d-i mirror/http/directory string
d-i mirror/http/proxy string

### Account setup
# Skip creation of a normal user account - only root will be created
d-i passwd/make-user boolean false

# Explicitly set no username to prevent any user creation prompts
d-i passwd/username string
d-i passwd/user-fullname string

# Root password will be set during installation
d-i passwd/root-login boolean true

### Clock and time zone setup
# Controls whether or not the hardware clock is set to UTC.
d-i clock-setup/utc boolean true

# You may set this to any valid setting for $TZ; see the contents of
# /usr/share/zoneinfo/ for valid values.
d-i time/zone string UTC

# Controls whether to use NTP to set the clock during the install
d-i clock-setup/ntp boolean true

### Partitioning
# Allow user to choose the disk for installation
# Do NOT preset partman-auto/disk - let user select

# Use LVM for partitioning (user will still choose disk)
d-i partman-auto/method string lvm

# Use max size for LVM volume group
d-i partman-auto-lvm/guided_size string max

# Remove existing LVM configuration (will be confirmed by user)
d-i partman-lvm/device_remove_lvm boolean true
# Remove existing software RAID
d-i partman-md/device_remove_md boolean true

# LVM confirmations - set to true to avoid extra prompts after user chooses disk
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

# Use atomic partitioning (all files in one partition)
d-i partman-auto/choose_recipe select atomic

# Let user confirm partitioning choices
# Do NOT auto-confirm - user should verify before writing
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-md/confirm boolean true

### Base system installation
# Force non-interactive install
debconf debconf/frontend select Noninteractive

d-i krb5-config/admin_server string
d-i krb5-config/default_realm string
d-i krb5-config/kerberos_servers string

### Package selection
tasksel tasksel/first multiselect standard ssh-server

# Individual additional packages to install
# PF: install linux-headers-amd64 to avoid issue with NetFlow kernel module
# PF: install systemd packages explicitly for offline installer
# PF: include apparmor and klibc-utils to prevent autoremove errors
# PF: include bind9-dnsutils for DNS utilities needed by PacketFence
# NOTE: lnav and cgroupfs-mount are NOT on DVD-1, they will be installed
# from the local pf-repo in postinst-offline.sh after the repo is configured
d-i pkgsel/include string sudo bzip2 acpid cryptsetup \
                          zlib1g-dev wget curl dkms make \
                          nfs-common net-tools build-essential \
                          linux-headers-amd64 gnupg2 apt-transport-https \
                          tmux tcpdump apg sysstat bsd-mailx \
                          systemd systemd-sysv libnss-systemd \
                          apparmor klibc-utils linux-base \
                          bind9-dnsutils openssh-server

# Whether to upgrade packages after debootstrap.
# For offline installation, skip upgrade (no network mirrors available)
d-i pkgsel/upgrade select none

# Do not participate in popularity contest
popularity-contest popularity-contest/participate boolean false

### Boot loader installation
# Only install GRUB if this is the only OS (avoids overwriting other bootloaders)
d-i grub-installer/only_debian boolean true

# Let user choose where to install GRUB
# Do NOT preset grub-installer/bootdev - user will be prompted to select device
# This is important for systems with multiple disks or USB installation
# d-i grub-installer/bootdev string default

# Add kernel options for PacketFence
d-i debian-installer/add-kernel-opts string net.ifnames=0 apparmor=0

### Finishing up the installation
# Avoid that last message about the install being complete.
d-i finish-install/reboot_in_progress note

# Late command - run post-installation script for offline setup
# IMPORTANT: ISO must stay mounted for PacketFence installation
# This script will:
# - Configure the local PF repository from the ISO
# - Install PacketFence from local packages (ISO must be mounted)
# - Load pre-downloaded Docker images from ISO
# - Configure the system for first boot
d-i preseed/late_command string \
  mount --bind /proc /target/proc ; \
  mount --bind /sys /target/sys ; \
  mount --bind /dev /target/dev ; \
  in-target mkdir -p /media/cdrom ; \
  mount --bind /cdrom /target/media/cdrom ; \
  in-target cp -a /media/cdrom/postinst-offline.sh /usr/local/bin/ ; \
  in-target chmod 700 /usr/local/bin/postinst-offline.sh ; \
  in-target /bin/bash /usr/local/bin/postinst-offline.sh %%PF_VERSION%% ; \
  umount /target/media/cdrom || true ; \
  umount /target/dev ; \
  umount /target/proc ; \
  umount /target/sys
