/config/floating_devices:
  description: Configure floating devices
  get:
    description: List items
    operationId: api.v1.Config::FloatingDevices.list
    parameters: []
    responses:
      '200':
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigFloatingDevicesList'
        description: List
      '400':
        $ref: '#/components/responses/BadRequest'
      '422':
        $ref: '#/components/responses/UnprocessableEntity'
