/config/switches:
  description: |-
    pf::UnifiedApi::Controller::Config::Switches

      invalidate_cache
        invalidate switch cache
  get:
    description: List items
    operationId: api.v1.Config::Switches.list
    parameters: []
    responses:
      '200':
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigSwitchesList'
        description: List
      '400':
        $ref: '#/components/responses/BadRequest'
      '422':
        $ref: '#/components/responses/UnprocessableEntity'
