/* bootstrap.css fix for larger top navbar */
body {
    padding-top: 60px;
}
.navbar .nav > li > a {
    line-height: 28px;
}
#navbar h6 {
    margin: 0;
    line-height: 48px;
}
.navbar .nav .dropdown-toggle .caret {
    margin-top: 12px;
}
/* bootstrap.css fix to remove padding surrounding sidebar */
.sidebar-nav {
    padding: 9px 0;
}
a.active {
    color: #333;
}
.modal h3 i,
.modal dt i {
    font-weight: normal;
    font-style: normal;
}
/* datepicker + timepicker fix to limit the bottom margin */
.modal .datepicker,
.modal .timepicker-default {
    margin-top: 1px;
    margin-bottom: 0px;
}
.dl-expanded dt, .dl-expanded dd {
    line-height: 27px;
}