<form method="post" action="[% post_uri %]">

  <div class="o-layout o-layout--center u-padding">

    <div class="o-layout__item">

      [% IF txt_auth_error.defined %]
      <div class="o-media o-media--error u-padding u-margin-bottom">
        <div class="o-media__img">[% flashIcon(level='error', size='tiny') %]</div>
        <p class="o-media__body">[% i18n(txt_auth_error) %]</p>
      </div>
      [% ELSE %]
      <div class="o-media o-media--notice u-padding u-margin-bottom">
        <div class="o-media__img">[% flashIcon(level='notice', size='tiny') %]</div>
        <p class="o-media__body">[% i18n("Before we proceed with guest activation, we need you to authenticate.") %]</p>
      </div>
      [% END %]
    </div>

    <div class="o-layout__item u-1/1 u-2/3@tablet u-3/5@desktop">
      [%# User / Pass %]
      <div class="input-container">
        <label for="username">[% i18n("Username") %]</label>
        <input name="username" id="login" type="text" autocorrect="off" autocapitalize="off" value="[% username | html %]" />
      </div>
      <div class="input-container input-container--last"><div>
        <label for="password">[% i18n("Password") %]</label>
        <input name="password" type="password" />
      </div></div>
      [%# submit %]
      <div class="u-margin-top">
        <button type="submit" name="submit" class="c-btn c-btn--primary u-1/1">[% i18n("Login") %]</button>
      </div>
    </div>

  </div>
</div>

</form>

[% INCLUDE 'password-button.inc' %]
