# DRBD checks

check file syslog with path /var/log/messages
    group DRBD
    if match "lost: " then alert
    if match "Process pause detected for" then alert
    if match "Split-Brain detected" then alert
    if match "cannot run anywhere" then alert

check file drbd with path /proc/drbd
    group DRBD
    if match "Inconsistent" then alert  

check filesystem drbdfs with path /dev/drbd0
    group DRBD
    if space usage > 80 % then alert
