KafkaServer {
    org.apache.kafka.common.security.plain.PlainLoginModule required
    username="[% admin.user %]"
    password="[% admin.pass %]"
    [%- FOREACH auth IN auths %]
    user_[% auth.user %]="[% auth.pass %]"
    [% END -%];
};
