<div class="layout--center">
  <h4>[% i18n("Certificate generation for EAP TLS connection") %]</h4>
</div>

<p>
  [% i18n("In order to complete the registration process, you need to generate your user certificate.") %]
  [% i18n("A random certificate password has been generated for you. Please note it as it will be necessary to complete the process.") %]
</p>
<p>
  [% i18n("You can also modify the password below.") %]
</p>

<form method="post" action="">
  <div class="layout layout--center">
    <div class="layout__item u-2/3 u-1/1-palm">

      <div class="input-container">
        <label for="certificate_pwd">[% i18n("Password") %]</label>
        <input id="certificate_pwd" name="certificate_pwd" type="text" autocorrect="off" autocapitalize="off" value="[% certificate_pwd | html %]" />
      </div>

      [% UNLESS certificate_email %]
      <div class="input-container">
        <label for="certificate_email">[% i18n("E-mail") %]</label>
        <input id="certificate_email" name="certificate_email" type="text" value="[% certificate_email | html %]" />
      </div>
      [% END %]

      [% submit %]
      <div class="u-mt">
        <button type="submit" name="submit" class="btn btn--full">
          <div class="flag">
            <div class="flag__img">[% svgIcon(id='ic_vpn_key_black_24px',size='small') %]</div>
            <p class="flag__body">[% i18n("Generate certificate") %]</p>
          </div>
        </button>
      </div>

    </div>
  </div>
</form>

