<div class="o-layout--center u-padding">

  <h2>[% i18n("Certificate generation for EAP TLS connection") %]</h2>

  <div class="o-layout--left">

    <p class="u-margin-bottom-tiny">
      [% i18n("In order to complete the registration process, you need to generate your user certificate.") %]
      [% i18n("A random certificate password has been generated for you. Please note it as it will be necessary to complete the process.") %]
    </p>
    <p>
      [% i18n("You can also modify the password below.") %]
    </p>
  </div>

  <form method="post" action="">
    <div class="o-layout__item o-layout--left u-1/1 u-2/3@tablet u-3/5@desktop">

      <div class="input-container">
        <label for="certificate_pwd">[% i18n("Password") %]</label>
        <input id="certificate_pwd" name="certificate_pwd" type="text" autocorrect="off" autocapitalize="off" value="[% certificate_pwd | html %]" />
      </div>

      <input type="hidden" name="certificate_email" value="not_needed" />

      [% submit %]
      <div class="u-margin-top">
        <button type="submit" name="submit" class="c-btn c-btn--primary u-1/1" disabled>
          [% i18n("Generate certificate") %]
        </div>
      </button>

    </div>
  </form>

</div>

[% INCLUDE 'password-button.inc' %]
