/config/wmi_rule/{wmi_rule_id}:
  delete:
    deprecated: true
    description: Remove an item
    operationId: api.v1.Config.WMIRules.resource.remove
    parameters:
    - in: path
      name: wmi_rule_id
      required: true
      schema:
        type: string
    responses:
      '204':
        description: Deleted a config item
  description: Configure floating devices
  get:
    deprecated: true
    description: Get an item
    operationId: api.v1.Config.WMIRules.resource.get
    parameters:
    - in: path
      name: wmi_rule_id
      required: true
      schema:
        type: string
    responses:
      '200':
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfigWMIRule'
        description: Item
      '400':
        $ref: '#/components/responses/BadRequest'
      '422':
        $ref: '#/components/responses/UnprocessableEntity'
  patch:
    deprecated: true
    description: Update an item
    operationId: api.v1.Config.WMIRules.resource.update
    parameters:
    - in: path
      name: wmi_rule_id
      required: true
      schema:
        type: string
    requestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConfigWMIRule'
    responses:
      '400':
        $ref: '#/components/responses/BadRequest'
      '422':
        $ref: '#/components/responses/UnprocessableEntity'
  put:
    deprecated: true
    description: Replace an item
    operationId: api.v1.Config.WMIRules.resource.replace
    parameters:
    - in: path
      name: wmi_rule_id
      required: true
      schema:
        type: string
    requestBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ConfigWMIRule'
    responses:
      '201':
        $ref: '#/components/responses/Created'
      '400':
        $ref: '#/components/responses/BadRequest'
      '422':
        $ref: '#/components/responses/UnprocessableEntity'
