/* bootstrap.css fix to keep form elements inline */
.row-fluid table [class*="span"] {
    display: inline;
}
/* boostrap-datepicker.css fix to align datepicker with inline form elements */
.datepicker {
    padding-top: 0px;
    padding-left: 0px;
}
/* bootstrap.css error class extension for button groups */
.control-group.error .btn {
  color: #b94a48;
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.table-dynamic {
    width: 100%;
}
table .action {
    text-align: right;
    vertical-align: middle;
}

table .category-header {
    background-color: rgb(245, 245, 245);
}

.page-header h1 form {
    display: inline;
}

/* position text input and button group on the same row */
.row-fluid .compound-input-btn-group input,
.row-fluid .compound-input-btn-group select {
    float: left;
    margin-right: 4px;
}
.compound-input-btn-group .btn-group {
    display: inline;
}
/* format control group for tables */
.table .control-group {
    margin-bottom: 0;
}
.table .btn-group, .table-condensed select {
    vertical-align: top;
}
.loader {
    position: fixed;
    left: 50%;
    margin-top: 10px;
}
.unwell {
    color: #ccc;
    font-size: 24px;
    padding: 15px;
    text-align: center;
}
.unwell i {
    color: #eee;
    font-size: 48px;
    line-height: 48px;
    display: block;
    margin-bottom: 10px;
}
.unwell-horizontal {
    padding: 0;
    text-align: left;
}
.unwell-horizontal i {
    float: left;
    padding: 0 15px;
}
.unwell-horizontal p {
    font-size: 16px;
    line-height: 24px;
}
/* sortable tables and lists */
.sort-handle {
    color: #ccc;
    text-align: center;
    font-weight: bold;
    width: 20px;
}
span.sort-handle {
    display: inline-block;
}
td.sort-handle {
    text-align: center;
    vertical-align: middle;
}
li:hover .sort-handle,
tr:hover .sort-handle {
    background-image: url('/static/app/grab.png');
    background-repeat: no-repeat;
    n0background-color: #eee;
    background-position: center center;
    text-indent: -99999px;
    cursor: move;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.drag-row {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #000;
    font-size: 12px;
    padding: 4px 30px;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 1200;
}
li.drop-row,
.drop-row td {
    border-top: 1px solid #333;
}
/* fineuploader */
.qq-upload-button {
    width: auto;
}
.qq-upload-list li {
    margin-top: 10px;
}
.qq-uploader {
    text-align: right; /* for right-floating uploader */
}
.qq-upload-drop-area, .qq-upload-extra-drop-area {
    min-height: 24px;
}
.qq-upload-list li, .qq-upload-drop-area span,
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-retry, .qq-upload-failed-text, .qq-upload-finished  {
    font-size: inherit;
}
/* highlighted table row */
.table tbody tr.active td {
  background-color: #0088cc !important;
  background-color: #333 !important;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.list-defaults {
  margin-left:170px
}

.list-defaults span {
  margin:3px;
}

.modalBillingTier {
  width:700px;
}
