/* bootstrap.css fix to keep form elements inline */
.row-fluid table [class*="span"] {
    display: inline;
}
/* boostrap-datepicker.css fix to align datepicker with inline form elements */
.datepicker {
    padding-top: 0px;
    padding-left: 0px;
}
/* bootstrap.css error class extension for button groups */
.control-group.error .btn {
  color: #b94a48;
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.table-dynamic {
    width: 100%;
}
table .action {
    text-align: right;
    vertical-align: middle;
}

table .category-header {
    background-color: rgb(245, 245, 245);
}

.page-header h1 form {
    display: inline;
}

/* position text input and button group on the same row */
.row-fluid .compound-input-btn-group input,
.row-fluid .compound-input-btn-group select {
    float: left;
    margin-right: 4px;
}
.compound-input-btn-group .btn-group {
    display: inline;
}
/* format control group for tables */
.table .control-group {
    margin-bottom: 0;
}
.table .btn-group, .table-condensed select {
    vertical-align: top;
}
.unwell {
    color: #ccc;
    font-size: 24px;
    padding: 15px;
    text-align: center;
}
.unwell i {
    color: #eee;
    font-size: 48px;
    line-height: 48px;
    display: block;
    margin-bottom: 10px;
}
.unwell-horizontal {
    padding: 0;
    text-align: left;
}
.unwell-horizontal i {
    float: left;
    padding: 0 15px;
}
.unwell-horizontal p {
    font-size: 16px;
    line-height: 24px;
}

/* fineuploader */
.qq-upload-button {
    width: auto;
}
.qq-upload-list li {
    margin-top: 10px;
}
.qq-uploader {
    text-align: right; /* for right-floating uploader */
}
.qq-upload-drop-area, .qq-upload-extra-drop-area {
    min-height: 24px;
}
.qq-upload-list li, .qq-upload-drop-area span,
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-retry, .qq-upload-failed-text, .qq-upload-finished  {
    font-size: inherit;
}
/* highlighted table row */
.table tbody tr.active td {
  background-color: #0088cc !important;
  background-color: #333 !important;
  color: #fff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.list-defaults {
  margin-left:170px
}

.list-defaults span {
  margin:3px;
}

.modalBillingTier {
  width:700px;
}

.expandable {
  display:none;
}

.up { 
  bottom:100% !important; 
  top:auto !important; 
}

.configuration-section-title {
  border-bottom:1px solid #eee;
}
