/* counters */
.counter {
    border-top: 1px solid #eee;
    border: 1px solid #eee;
    float: right;
    text-align: center;
    min-width: 80px;
    height: 70px;
    margin-bottom: 20px;
}
.counter h3 {
    margin-top: 5px;
    margin-bottom: 0px;
}
.counter p {
    font-size: 11px;
    margin-bottom: 0px;
}
