Hi,

Your guest access to the network was authorized.

Once on site, select guest access on the captive portal and use the following username and password to authenticate:

Username: [% pid %]
Password: [% password %]

If you have any questions regarding the registration process please contact support.

--
This is a post only E-mail, please do not reply.
