<html>
<head>
  <style type="text/css">
    [% INCLUDE emails.css %]
  </style>
</head>
<body>
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" width="600">
      <div class="content">
        <table class="main" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td class="content-wrap">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <h1 class="aligncenter">Activation de l'accès réseau</h1>
                    <p>Bonjour [% firstname %] [% lastname %], </p>
                    <p>Une demande d'accès réseau en tant qu'invité a été effectuée en utilisant cette addresse email.</p>
                    <a href="[% activation_uri %]" class="btn-primary">Activer votre accès réseau</a>
                    <p>Vous disposez de [% activation_timeout / 60 %] minutes pour activé votre accès réseau ou celui-ci sera révoquer.</p>
                    <p>Merci de votre compréhension.</p>
                    <p>Si vous n'êtes pas l'émetteur de cette demande, merci d'ignorer ce message.</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
<div class="footer">
  <table>
    <tr>
      <td class="align-center">
        <p>-----</br></p>
        <p>Ceci est un message automatique, merci de ne pas répondre.</p>
      </td>
    </tr>
  </table>
</div>
</body>
</html>
