<html>
<head>
  <style type="text/css">
    [% INCLUDE emails.css %]
  </style>
</head>
<body>
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" width="600">
      <div class="content">
        <table class="main" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td class="content-wrap">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <h1 class="aligncenter">Network access activation</h1>
                    <p>Hi [% firstname %] [% lastname %], </p>
                    <p>Guest access to the network was requested using this email address.</p>
                    <a href="[% activation_uri %]" class="btn-primary">Activate your network access</a>
                    <p>Failure to do so within [% activation_timeout / 60 %] minutes will result in a termination of your network access.</p>
                    <p>Thank you for your understanding</p>
                    <p>Please ignore this request if you have not requested network access.</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
<div class="footer">
  <table width="100%">
    <tr>
      <td class="aligncenter content-block">
        <p>-----</br></p>
        <p>This is a post only E-mail, please do not reply.</p>
      </td>
    </tr>
  </table>
</div>
</body>
</html>
