Hi,

[% firstname %] [% lastname %] requested guest access to your network.

Do NOT authorize access if you were not expecting this guest.

Here is the information the guest provided with registration form:

Firstname: [% firstname %]
Lastname: [% lastname %]
Phone number: [% telephone %]
Email: [% pid %]

In order to activate access we need you to click on the following link: [% activation_uri %]

[% IF is_preregistration -%]
Once you click on the activation link the guest will be sent a username and password by email which will allow him to register as a guest in the network once on-site.
[% ELSE %]
Until you click on the activation link this guest will have NO Internet access.
[%- END %]

Thank you for your cooperation.
--
This is a post only E-mail, please do not reply.
