Hi [% firstname %] [% lastname %],

Guest access to our network was requested using this email address.

In order to activate your access we need you to click on the following link: [% activation_uri %]

Once you have activated you will receive a username and password to use once you'll be on-site.

Thank you for your understanding

Please ignore this request if you have not requested network access.
--
This is a post only E-mail, please do not reply.
