<html>
<head>
    <style type="text/css">
        [% INCLUDE emails.css %]
    </style>
    <span class="preheader">Admin PreRegister Informations</span>
</head>
<body>
<table class="main">
        <tr>
                <td class="wrapper">
                        <table>
                                <tr>
                                        <td>
                                                <h1 class="align-center">Preregistration by an admin: informations</h1>
                                                <p>Hi [% firstname %] [% lastname %],</p>
                                                <p>An account has been created for you to access our network.</p>
                                                <p>Once you will be on-site, authenticate using the following credentials to our captive portal:</p>
                                                <p>Username: [% username %]</br>
                                                Password: [% password %]</p>
                                                <p>This username and password will be valid starting [% valid_from %]. [% txt_expiration %] [% txt_duration %]</p>
                                                <p>Please ignore this request if you have not requested network access.</p>
                                        </td>
                                </tr>
                        </table>
                </td>
        </tr>
</table>
<div class="footer">
        <table>
                <tr>
                        <td class="align-center">
                                <p>-----</br></p>
                                <p>This is a post only E-mail, please do not reply.</p>
                        </td>
                </tr>
        </table>
</div>
</body>
</html>     
