<html>
<head>
    <style type="text/css">
        [% INCLUDE emails.css %]
    </style>
    <span class="preheader">Informations d'enregistrement par sponsor</span>
</head>
<body>
<table class="main">
        <tr>
                <td class="wrapper">
                        <table>
                                <tr>
                                        <td>
                                                <h1 class="align-center">Confirmation de pre-enregistrement par sponsor</h1>
                                                <p>Bonjour,</p>
                                                <p>Votre accès invité au réseau a été autorisé.</p>
                                                <p>Lorsque vous serez sur palce, utilisez les informations suivantes pour vous authentifier:</p>
                                                <p>Nom d'utilisateur: [% pid %]</br>
                                                Mot de passe: [% password %]</p>
                                                <p>Si vous avez des questions concernant le processsus d'enregistrement, merci de contacter le support local.</p>
                                        </td>
                                </tr>
                        </table>
                </td>
        </tr>
</table>

<div class="footer">
        <table>
                <tr>
                        <td class="align-center">
                                <p>-----</br></p>
                                <p>Ceci est un message automatique, merci de ne pas répondre.</p>
                        </td>
                </tr>
        </table>
</div>
</body>
</html>
