<html>
<head>
    <style type="text/css">
        [% INCLUDE emails.css %]
    </style>
    <span class="preheader">Informations d'enregistrement pas sponsor.</span>
</head>
<body>
<table class="main">
        <tr>
                <td class="wrapper">
                        <table>
                                <tr>
                                        <td>
                                                <h1 class="align-center">Demande d'enreigstrement pour sponsor</h1>
                                                <p>Bonjour,</p>
                                                <p>[% firstname %] [% lastname %] a fais une demande pour accéder au réseau invité.</p>
                                                <p>N'autorisez PAS l'accès si vous n'attendez cet invité.</p>
                                                <p>Voici les informations que l'invité a fourni lors de son enregistrement:</p>          
                                                <p>Nom: [% firstname %]</br>
                                                Prénom: [% lastname %]</br>
                                                Numéro de téléphone: [% telephone %]</br>
                                                Email: [% pid %]</p>

                                                <a href="[% activation_uri %]" class="btn-primary">Activer l'accès sponsorisé pour l'invité [% firstname %]</a>
                                                 
                                                [% IF is_preregistration -%]
                                                <p>Dès lors que vous cliquez le lien d'activation, l'invité va recevoir par email un nom d'utilisateur et mot de passe à utilisé üne fois sur place pour terminer la procédure d'enregistrement.</p>
                                                [% ELSE %]
                                                <p>Tant que vous ne cliquez pas sur le lien, l'utilisateur n'aura PAS d'accès Internet.</p>
                                                [%- END %]

                                                <p>Merci de votre coopération.</p>
                                        </td>
                                </tr>
                        </table>
                </td>
        </tr>
</table>

<div class="footer">
        <table>
                <tr>
                        <td class="align-center">
                                <p>-----</br></p>
                                <p>Ceci est un message automatique, merci de ne pas répondre.</p>
                        </td>
                </tr>
        </table>
</div>
</body>
</html>
