<html>
<head>
    <style type="text/css">
        [% INCLUDE emails.css %]
    </style>
    <span class="preheader">Register informations</span>
</head>
<body>
<table class="main">
        <tr>
                <td class="wrapper">
                        <table>
                                <tr>
                                        <td>
                                                <h1 class="align-center">Register new devices for guest</h1>
                                                <p>Hi,</p>
                                                <p>Your guest access to the network was authorized.</p>
                                                <p>You can register additional devices if you need with the following information:</p>
                                                <p>Username: [% pid %]</br> Password: [% password %]</p>
                                                <p>If you have any questions regarding the registration process please contact support.</p>
                                        </td>
                                </tr>
                        </table>
                </td>
        </tr>
</table>

<div class="footer">
        <table>
                <tr>
                        <td class="align-center">
                                <p>-----</br></p>
                                <p>This is a post only E-mail, please do not reply.</p>
                        </td>
                </tr>
        </table>
</div>
</body>
</html>
