Hi,

Just to let you know that we created a user account while registering your device. You may now want to use it for different features (devices registration, status page).

Here are the info.

Username: [% pid %]
Password: [% password %]

If you have any questions regarding the registration process please contact support.

--
This is a post only E-mail, please do not reply.
