Hello [% firstname %] [% lastname %],

Thank you for your purchase.

  [% tier_name %]: [% tier_description %]
  Cost: $[% tier_price %]
  Transaction ID: [% transaction_id %]

-- 

To extend your network access, please visit https://[% hostname %].[% domain %][% URL_BILLING %]

To view your current network status, please visit https://[% hostname %].[% domain %][% URL_STATUS %]
