<html>
<head>
    <style type="text/css">
        [% INCLUDE emails.css %]
    </style>
    <span class="preheader">Register Billing Report</span>
</head>
<body>
<table class="main">
        <tr>
                <td class="wrapper">
                        <table>
                                <tr>
                                        <td>
                                                <h1 class="align-center">Billing register infortmations</h1>
                                                <p>Hello [% firstname %] [% lastname %],</p>
                                                <p>Thank you for your purchase.</br>
                                                [% tier_name %]: [% tier_description %]</br>
                                                Cost: $[% tier_price %]</br>
                                                Transaction ID: [% transaction_id %]</p>
                                        </td>
                                </tr>
                        </table>
                </td>
        </tr>
</table>
<div class="footer">
        <table>
                <tr>
                        <td class="align-center">
                                <p>-----</br></p>
                                <p>To extend your network access, please visit https://[% hostname %].[% domain %][% URL_BILLING %]</p>
                                <p>To view your current network status, please visit https://[% hostname %].[% domain %][% URL_STATUS %]</p>
                        </td>
                </tr>
        </table>
</div>
</body>
</html>
