<html>
<head>
    <style type="text/css">
        [% INCLUDE emails.css %]
    </style>
    <span class="preheader">Activation informations</span>
</head>
<body>
<table class="main">
        <tr>
                <td class="wrapper">
                        <table>
                                <tr>
                                        <td>
                                                <h1 class="align-center">Guest access activation</h1>
                                                <p>Hi [% firstname %] [% lastname %], </p>
                                                <p>Guest access to the network was requested using this email address.</p>
                                                <a href="[% activation_uri %]" class="btn-primary">Activate your network access</a>
                                                <p>Failure to do so within 10 minutes will result in a termination of your network access.</p>
                                                <p>Thank you for your understanding</p>
                                                <p>Please ignore this request if you have not requested network access.</p>
                                        </td>
                                </tr>
                        </table>
                </td>
        </tr>
</table>

<div class="footer">
        <table>
                <tr>
                        <td class="align-center">
                                <p>-----</br></p>
                                <p>This is a post only E-mail, please do not reply.</p>
                        </td>
                </tr>
        </table>
</div>
</body>
</html>
