[Node Manager]
actions=NODES_READ,NODES_CREATE,NODES_UPDATE,NODES_DELETE,SECURITY_EVENTS_READ,SWITCHES_READ,DHCP_OPTION_82_READ
description=Nodes management

[User Manager]
actions=USERS_CREATE,USERS_DELETE,USERS_READ,USERS_UPDATE,USERS_SET_ROLE,USERS_SET_ACCESS_DURATION,USERS_SET_UNREG_DATE,USERS_SET_TIME_BALANCE,USERS_SET_BANDWIDTH_BALANCE,USERS_SET_ACCESS_LEVEL,USERS_MARK_AS_SPONSOR,USERS_CREATE_MULTIPLE
description=Users management

[Security Event Manager]
description=Security Events managements
actions=SECURITY_EVENTS_READ,SECURITY_EVENTS_CREATE,SECURITY_EVENTS_UPDATE,SECURITY_EVENTS_DELETE,USERS_READ,NODES_READ
