00:12:5A  # Microsoft-Xbox
00:0D:3A  # Microsoft-Xbox
00:50:F2  # Microsoft-Xbox
00:01:4A  # Sony-PS2-PSP
00:02:C7  # Sony-PS2-PSP
00:04:1F  # Sony-PS2-PSP
00:13:15  # Sony-PS2-PSP
00:09:BF  # Nintendo-Wii
00:17:AB  # Nintendo-Wii
00:17:FA  # Microsoft-Xbox
00:15:C1  # Sony-PS3
00:19:C5  # Sony-PS3
00:1D:D8  # Microsoft-Xbox
00:0B:E6  # Nintendo-Wii
00:16:56  # Nintendo-Wii
00:1A:E9  # Nintendo-Wii
00:1D:0D  # Sony-PS3
00:19:1D  # Nintendo-Wii
00:19:FD  # Nintendo-Wii
00:1F:32  # Nintendo-Wii
00:1C:BE  # Nintendo-Wii
00:1B:EA  # Nintendo-Wii
00:1E:35  # Nintendo-Wii
00:1B:7A  # Ninetndo-Wii
00:22:48  # Microsoft-Xbox
