# filter can be:
#
#     user_agent
#     uri
#
# method can be:
#
#     POST
#     GET
#
# operator can be:
#     is
#     is_not
#     match
#     match_not
#
# action can be all the http codes
#
# redirect_url can be what you want like http://www.packetfence.org/.
# of course if you want to use redirect_url then set the action to 302.
#
# Examples:
#
## Only accept a list of user agents
#[not_allowed_uas_post]
#filter = user_agent
#method = POST
#operator = match_not
#value = Mozilla|Microsoft|Dalvik|collectd|CaptiveNetworkSupport|BlackBerry

#[not_allowed_uas_get]
#filter = user_agent
#method = GET
#operator = match_not
#value = Mozilla|Microsoft|Dalvik|collectd|CaptiveNetworkSupport|BlackBerry

#[501_blacklisted_uas:not_allowed_uas_post|not_allowed_uas_get]
#action = 501
#redirect_url =

