#
# Copyright (C) 2005-2019 Inverse inc.
#
# See the enclosed file COPYING for license information (GPL).
# If you did not receive this file, see
# http://www.fsf.org/licensing/licenses/gpl.html
[11:22:33:44:55:66]
ip=1.2.3.4
trunkPort=yes
pvid=1
taggedVlan=2,3,4
