# Copyright (C) Inverse inc.
global
  external-check
  user haproxy
	group haproxy
	daemon
	pidfile /var/run/haproxy-portal.pid
	log stdout format raw local0
	stats socket /var/lib/haproxy/haproxy-portal.stats level admin process 1
	maxconn 4000
	tune.ssl.default-dh-param 2048
	ssl-default-bind-ciphers ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256
	ssl-default-bind-ciphersuites TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:TLS_AES_128_GCM_SHA256
	ssl-default-bind-options no-sslv3 no-tls-tickets no-tlsv10 no-tlsv11
	ssl-default-server-ciphers ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384:ECDHE-ECDSA-CHACHA20-POLY1305:ECDHE-RSA-CHACHA20-POLY1305:ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256
	ssl-default-server-ciphersuites TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:TLS_AES_128_GCM_SHA256
	ssl-default-server-options no-sslv3 no-tls-tickets no-tlsv10 no-tlsv11
	lua-load %%conf_dir%%/passthrough.lua

listen stats
  bind *:1025
  mode http
  timeout connect 2s
  timeout check 2s
  timeout client 1m
  timeout server 1m
  stats enable
  stats uri /stats
  stats realm HAProxy\ Statistics
  stats auth admin:packetfence
  http-request use-service prometheus-exporter if { path /metrics }

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
        timeout connect 5000
        timeout client 50000
        timeout server 50000
        errorfile 403 %%captiveportal_templates_path%%/rate-limiting.http

backend proxy
    option httpclose
    option forwardfor
    server proxy %%backend_proxy%%

backend static
    option httpclose
    option forwardfor
    server static %%backend_static%%

backend pki
    option httpclose
    option forwardfor
    http-request set-path /api/v1%[path]
    server pki %%backend_pki%%


%%http%%
