# Copyright (C) Inverse inc.
global
  external-check
  user haproxy
	group haproxy
	daemon
	pidfile %%var_dir%%/run/haproxy-db.pid
	log /dev/log local0 notice
	stats socket %%var_dir%%/run/haproxy-db.stats level admin process 1
	maxconn 4000

listen stats
  bind  %%management_ip%%:1026
  mode http
  timeout connect 10s
  timeout client 1m
  timeout server 1m
  stats enable
  stats uri /stats
  stats realm HAProxy\ Statistics
  stats auth admin:packetfence
  http-request use-service prometheus-exporter if { path /metrics }

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
        timeout connect 5000
        timeout client %%timeout%%
        timeout server %%timeout%%
        #errorfile 403 %%captiveportal_templates_path%%/rate-limiting.http

%%management_ip_frontend%%

frontend  docker
    bind containers-gateway.internal:3306
    mode tcp
    option tcplog
    default_backend             mysql

frontend  main
    bind 127.0.0.1:3306
    mode tcp
    option tcplog
    default_backend             mysql

backend mysql
    mode tcp
    option tcplog
%%mysql_probe%%
    timeout connect 3s
%%mysql_backend%%

