*raw
:PREROUTING ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A PREROUTING -p ipv6-icmp -m icmp6 --icmpv6-type 134 -j ACCEPT
-A PREROUTING -p ipv6-icmp -m icmp6 --icmpv6-type 135 -j ACCEPT
-A PREROUTING -m rpfilter --invert -j LOG --log-prefix "rpfilter_DROP: "
-A PREROUTING -m rpfilter --invert -j DROP
COMMIT


*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:RFC3964_IPv4 - [0:0]

%%management_chain%%

%%input_management_include%%

-A input-v6-management-if --match state --state NEW --match tcp --protocol tcp --dport 22 --jump ACCEPT
-A input-v6-management-if --protocol tcp --match tcp --dport 80 --jump ACCEPT
-A input-v6-management-if --protocol tcp --match tcp --dport 443 --jump ACCEPT

%%portal_chain%%
-A input-v6-portal-if --protocol tcp --match tcp --dport 80 --jump ACCEPT
-A input-v6-portal-if --protocol tcp --match tcp --dport 443 --jump ACCEPT

-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED,DNAT -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -m conntrack --ctstate INVALID -m pkttype --pkt-type unicast -j LOG --log-prefix "STATE_INVALID_DROP: "
-A INPUT -m conntrack --ctstate INVALID -j DROP
-A INPUT -p ipv6-icmp -m icmp6 --icmpv6-type 128 -j ACCEPT
-A INPUT -p ipv6-icmp -m icmp6 --icmpv6-type 134 -j ACCEPT
-A INPUT -p ipv6-icmp -m icmp6 --icmpv6-type 135 -j ACCEPT
-A INPUT -p ipv6-icmp -m icmp6 --icmpv6-type 136 -j ACCEPT
-A INPUT -p ipv6-icmp -m icmp6 --icmpv6-type 137 -j ACCEPT
-A INPUT -m pkttype --pkt-type unicast -j LOG --log-prefix "FINAL_REJECT: "
-A INPUT -j REJECT --reject-with icmp6-adm-prohibited
-A FORWARD -m conntrack --ctstate RELATED,ESTABLISHED,DNAT -j ACCEPT
-A FORWARD -i lo -j ACCEPT
-A FORWARD -j RFC3964_IPv4
-A FORWARD -m conntrack --ctstate INVALID -m pkttype --pkt-type unicast -j LOG --log-prefix "STATE_INVALID_DROP: "
-A FORWARD -m conntrack --ctstate INVALID -j DROP
-A FORWARD -m pkttype --pkt-type unicast -j LOG --log-prefix "FINAL_REJECT: "
-A FORWARD -j REJECT --reject-with icmp6-adm-prohibited
-A OUTPUT -o lo -j ACCEPT
-A OUTPUT -j RFC3964_IPv4
-A RFC3964_IPv4 -d 2002:e000::/19 -j LOG --log-prefix "RFC3964_IPv4_REJECT: "
-A RFC3964_IPv4 -d 2002:e000::/19 -j REJECT --reject-with icmp6-addr-unreachable
-A RFC3964_IPv4 -d 2002:a9fe::/32 -j LOG --log-prefix "RFC3964_IPv4_REJECT: "
-A RFC3964_IPv4 -d 2002:a9fe::/32 -j REJECT --reject-with icmp6-addr-unreachable
-A RFC3964_IPv4 -d 2002:c0a8::/32 -j LOG --log-prefix "RFC3964_IPv4_REJECT: "
-A RFC3964_IPv4 -d 2002:c0a8::/32 -j REJECT --reject-with icmp6-addr-unreachable
-A RFC3964_IPv4 -d 2002:ac10::/28 -j LOG --log-prefix "RFC3964_IPv4_REJECT: "
-A RFC3964_IPv4 -d 2002:ac10::/28 -j REJECT --reject-with icmp6-addr-unreachable
-A RFC3964_IPv4 -d 2002:7f00::/24 -j LOG --log-prefix "RFC3964_IPv4_REJECT: "
-A RFC3964_IPv4 -d 2002:7f00::/24 -j REJECT --reject-with icmp6-addr-unreachable
-A RFC3964_IPv4 -d 2002:a00::/24 -j LOG --log-prefix "RFC3964_IPv4_REJECT: "
-A RFC3964_IPv4 -d 2002:a00::/24 -j REJECT --reject-with icmp6-addr-unreachable
-A RFC3964_IPv4 -d 2002::/24 -j LOG --log-prefix "RFC3964_IPv4_REJECT: "
-A RFC3964_IPv4 -d 2002::/24 -j REJECT --reject-with icmp6-addr-unreachable
-A RFC3964_IPv4 -d ::ffff:0.0.0.0/96 -j LOG --log-prefix "RFC3964_IPv4_REJECT: "
-A RFC3964_IPv4 -d ::ffff:0.0.0.0/96 -j REJECT --reject-with icmp6-addr-unreachable
-A RFC3964_IPv4 -d ::/96 -j LOG --log-prefix "RFC3964_IPv4_REJECT: "
-A RFC3964_IPv4 -d ::/96 -j REJECT --reject-with icmp6-addr-unreachable
COMMIT
