[%- BLOCK chain_rules -%]
[% FOREACH rule IN rules -%]
[% IF rule -%]
[% IF rule.match('^#') -%]
[% rule %]
[% ELSE -%]
-A [% chain %] [% rule %][% IF comment %] /* [% comment %] */[% END %]
[% END -%]
[% END -%]
[% END -%]
[%- END -%]
# Copyright (C) Inverse inc.
# iptables template
# This file is manipulated on PacketFence's startup before being given to iptables

# ========================================
# Merged Firewall Configurations
# ========================================
# Includes rules from:
[% FOREACH name IN configs.keys.sort -%]
# - [% name %]
[% END -%]
[%- IF custom.name -%]
# - [% custom.name %]
[% END -%]
# Generated on [% USE date; date.format(date.now, '%Y-%m-%d %H:%M:%S') %]

*raw
:PREROUTING ACCEPT [0:0]

[% IF custom.raw.PREROUTING && custom.raw.PREROUTING.size %]
[% INCLUDE chain_rules chain='PREROUTING' rules=custom.raw.PREROUTING %]
[% END %]

[% IF merged.raw.PREROUTING && merged.raw.PREROUTING.size %]
[% INCLUDE chain_rules chain='PREROUTING' rules=merged.filter.PREROUTING %]
[% END %]

-A PREROUTING -p ipv6-icmp -m icmp6 --icmpv6-type 134 -j ACCEPT
-A PREROUTING -p ipv6-icmp -m icmp6 --icmpv6-type 135 -j ACCEPT
-A PREROUTING -m rpfilter --invert -j DROP

:OUTPUT ACCEPT [0:0]

[% IF custom.filter.INPUT && custom.filter.INPUT.size %]
[% INCLUDE chain_rules chain='OUTPUT' rules=custom.raw.OUTPUT %]
[% END %]

[% IF merged.raw.OUTPUT && merged.raw.OUTPUT.size %]
[% INCLUDE chain_rules chain='OUTPUT' rules=merged.raw.OUTPUT %]
[% END %]

COMMIT


*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:RFC3964_IPv4 - [0:0]

[% IF custom.filter.INPUT && custom.filter.INPUT.size %]
[% INCLUDE chain_rules chain='INPUT' rules=custom.filter.INPUT %]
[% END %]

-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED,DNAT -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -m conntrack --ctstate INVALID -j DROP

[% IF merged.filter.INPUT && merged.filter.INPUT.size %]
[% INCLUDE chain_rules chain='INPUT' rules=merged.filter.INPUT %]
[% END %]

-A INPUT -p ipv6-icmp -m icmp6 --icmpv6-type 128 -j ACCEPT
-A INPUT -p ipv6-icmp -m icmp6 --icmpv6-type 134 -j ACCEPT
-A INPUT -p ipv6-icmp -m icmp6 --icmpv6-type 135 -j ACCEPT
-A INPUT -p ipv6-icmp -m icmp6 --icmpv6-type 136 -j ACCEPT
-A INPUT -p ipv6-icmp -m icmp6 --icmpv6-type 137 -j ACCEPT
-A INPUT -j REJECT --reject-with icmp6-adm-prohibited

[% IF custom.filter.FORWARD && custom.filter.FORWARD.size %]
[% INCLUDE chain_rules chain='FORWARD' rules=custom.filter.FORWARD %]
[% END %]

-A FORWARD -m conntrack --ctstate RELATED,ESTABLISHED,DNAT -j ACCEPT
-A FORWARD -i lo -j ACCEPT
-A FORWARD -j RFC3964_IPv4

[% IF merged.filter.FORWARD && merged.filter.FORWARD.size %]
[% INCLUDE chain_rules chain='FORWARD' rules=merged.filter.FORWARD %]
[% END %]

-A FORWARD -j REJECT --reject-with icmp6-adm-prohibited

-A OUTPUT -o lo -j ACCEPT

[% IF custom.filter.OUTPUT && custom.filter.OUTPUT.size %]
[% INCLUDE chain_rules chain='OUTPUT' rules=custom.filter.INPUT %]
[% END %]

[% IF merged.filter.OUTPUT && merged.filter.OUTPUT.size %]
[% INCLUDE chain_rules chain='OUTPUT' rules=merged.filter.OUTPUT %]
[% END %]

-A OUTPUT -j RFC3964_IPv4

[% IF custom.filter.RFC3964_IPv4 && custom.filter.RFC3964_IPv4.size %]
[% INCLUDE chain_rules chain='RFC3964_IPv4' rules=custom.filter.RFC3964_IPv4 %]
[% END %]

[% IF merged.filter.RFC3964_IPv4 && merged.filter.RFC3964_IPv4.size %]
[% INCLUDE chain_rules chain='RFC3964_IPv4' rules=merged.filter.RFC3964_IPv4 %]
[% END %]

-A RFC3964_IPv4 -d 2002:e000::/19 -j REJECT --reject-with icmp6-addr-unreachable
-A RFC3964_IPv4 -d 2002:a9fe::/32 -j REJECT --reject-with icmp6-addr-unreachable
-A RFC3964_IPv4 -d 2002:c0a8::/32 -j REJECT --reject-with icmp6-addr-unreachable
-A RFC3964_IPv4 -d 2002:ac10::/28 -j REJECT --reject-with icmp6-addr-unreachable
-A RFC3964_IPv4 -d 2002:7f00::/24 -j REJECT --reject-with icmp6-addr-unreachable
-A RFC3964_IPv4 -d 2002:a00::/24 -j REJECT --reject-with icmp6-addr-unreachable
-A RFC3964_IPv4 -d 2002::/24 -j REJECT --reject-with icmp6-addr-unreachable
-A RFC3964_IPv4 -d ::ffff:0.0.0.0/96 -j REJECT --reject-with icmp6-addr-unreachable
-A RFC3964_IPv4 -d ::/96 -j REJECT --reject-with icmp6-addr-unreachable

COMMIT
