###Cluster wide ENV Variables
#[cluster]
#CLUSTER_ID=UUID
#KAFKA_LOG_DIRS="/usr/local/pf/var/kafka"
#KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
#
### Cluster members ENV Variables
#
#[hostname1]
#KAFKA_NODE_ID=1
#KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
#KAFKA_ADVERTISED_LISTENERS=INTERNAL://localhost:29092,EXTERNAL://localhost:9092
#KAFKA_LISTENERS=INTERNAL://0.0.0.0:29092,CONTROLLER://0.0.0.0:29093,EXTERNAL://0.0.0.0:9092
#KAFKA_CONTROLLER_QUORUM_VOTERS=1@localhost:29093
#KAFKA_PROCESS_ROLES=broker,controller
#KAFKA_INTER_BROKER_LISTENER_NAME=INTERNAL
#KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
#
#[hostname2]
#KAFKA_NODE_ID=2
#CONTROLLER_LISTENER_NAMES =  'CONTROLLER'
#LISTENER_SECURITY_PROTOCOL_MAP =  'CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT'
#LISTENERS =  'INTERNAL://kafka3:29092,CONTROLLER://kafka3:29093,EXTERNAL://0.0.0.0:9094'
#ADVERTISED_LISTENERS =  'INTERNAL://kafka3:29092,EXTERNAL://localhost:9094'
#INTER_BROKER_LISTENER_NAME =  'INTERNAL'
#CONTROLLER_QUORUM_VOTERS =  '1@kafka1:29093,2@kafka2:29093,3@kafka3:29093'
#PROCESS_ROLES =  'broker,controller'
#
#[hostname3]
#KAFKA_NODE_ID=3
#CONTROLLER_LISTENER_NAMES =  'CONTROLLER'
#LISTENER_SECURITY_PROTOCOL_MAP =  'CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT'
#LISTENERS =  'INTERNAL://kafka3:29092,CONTROLLER://kafka3:29093,EXTERNAL://0.0.0.0:9094'
#ADVERTISED_LISTENERS =  'INTERNAL://kafka3:29092,EXTERNAL://localhost:9094'
#INTER_BROKER_LISTENER_NAME =  'INTERNAL'
#CONTROLLER_QUORUM_VOTERS =  '1@kafka1:29093,2@kafka2:29093,3@kafka3:29093'
#PROCESS_ROLES =  'broker,controller'
