#
#[iptables]
## The list of client
#clients=172.16.3.1,172.16.3.2,172.16.3.3
## All the IP address of the cluster members
#cluster_ips=172.16.3.1,172.16.3.2,172.16.3.3
###Cluster wide ENV Variables
#[cluster]
## ID from uuidgen | tr -d '-' | base64 | cut -b 1-22
#CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
#KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
#KAFKA_CONTROLLER_QUORUM_VOTERS=1@172.16.3.1:9093,2@172.16.3.2:9093,3@172.16.3.3:9093
#KAFKA_INTER_BROKER_LISTENER_NAME=INTERNAL
#KAFKA_LISTENERS=INTERNAL://0.0.0.0:29092,CONTROLLER://0.0.0.0:9093,EXTERNAL://0.0.0.0:9092
#KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,INTERNAL:PLAINTEXT,EXTERNAL:SASL_PLAINTEXT
#KAFKA_LOG_DIRS=/usr/local/pf/var/kafka
#KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=2
#KAFKA_PROCESS_ROLES=broker,controller
#KAFKA_OPTS=-Djava.security.auth.login.config=/usr/local/pf/conf/kafka/kafka_server_jaas.conf
#KAFKA_SASL_ENABLED_MECHANISMS=PLAIN
##
#### Cluster members ENV Variables with the hostname as the section name
##
#[hostname1]
#KAFKA_NODE_ID=1
#KAFKA_ADVERTISED_LISTENERS=INTERNAL://172.16.3.1:29092,EXTERNAL://172.16.3.1:9092
#
#[hostname2]
#KAFKA_NODE_ID=2
#KAFKA_ADVERTISED_LISTENERS=INTERNAL://172.16.3.2:29092,EXTERNAL://172.16.3.2:9092
#
#[hostname3]
#KAFKA_NODE_ID=3
#KAFKA_ADVERTISED_LISTENERS=INTERNAL://172.16.3.3:29092,EXTERNAL://172.16.3.3:9092
#
