global_defs {
   notification_email {
    %%emailaddr%%
   }
   notification_email_from %%fromaddr%%
   smtp_server %%smtpserver%%
   smtp_connect_timeout 30
   router_id %%router_id%%
}

vrrp_track_process radius_load_balancer {
  process /usr/sbin/freeradius -d /usr/local/pf/raddb -n load_balancer -fm -lstdout
  full_command
  quorum 1
  delay 15
}

vrrp_track_process haproxy_portal {
  # Entrypoint of haproxy-portal container
  process haproxy -Ws -f /usr/local/pf/var/conf/haproxy-portal.conf
  full_command
  quorum 1
  delay 15
}

%%vrrp%%
