# Copyright (C) Inverse inc.
### Root/Parent (PacketFence) logger ###
# Will log everything (even categories defined to log in another appender) unless 
# specified using the additivity parameter
log4perl.rootLogger = INFO, PFSYSLOG

### Categories ###
# Below, you can specify different categories (based on package names) for different logging levels

### Global (PacketFence) log facility configuration ###
### Not meant to be modified ###
log4perl.appender.PFSYSLOG                                = Log::Dispatch::Syslog
log4perl.appender.PFSYSLOG.ident                          = packetfence
log4perl.appender.PFSYSLOG.facility                       = local5
log4perl.appender.PFSYSLOG.layout.ConversionPattern       = %X{proc}(%X{tid}) %p: %m (%M)%n
log4perl.appender.PFSYSLOG.layout                         = PatternLayout
