local function isempty(s)
  return s == nil or s == ''
end

-- Update host on the fly

core.register_action("change_host", { 'http-req'}, function(txn)
   if txn.sf:req_fhdr("Host") == nil then
       txn.set_var(txn,"req.host","[% fqdn %]") -- Update host on the fly
   end
end)

-- Select backend based on Host header

local string = require("string");

core.register_action("select", { "http-req" }, function(txn)

    if ( string.match(txn.sf:path(), '/profile.xml')) then
        -- nothing, we let it go through for the XML profiles
    elseif ( string.match(txn.sf:path(), '/%.well%-known/acme%-challenge') ) then
        txn:set_var("req.action","static")
    elseif ( not ([% FOREACH host IN portal_host %] string.match(txn.sf:req_fhdr("Host"):lower(), '^[% host FILTER lower %][0-9:]*$') or[% END %] false ) ) then
        txn:set_var("req.action","proxy")
    else
        if (txn.sf:path() == '/') then
            txn:set_var("req.action","proxy")
        elseif ( string.match(txn.sf:path(), '^/common') or string.match(txn.sf:path(), '^/content') or string.match(txn.sf:path(), '^/favicon.ico$') ) then
            txn:set_var("req.action","static")
        end
    end
end)

core.register_action("admin", { "http-req" }, function(txn)
    -- if the request is for the api
    if ( string.match(txn.sf:path(), '^/api')) then
        -- if the header exist then use the corresponding backend
        if (isempty(txn.sf:hdr("X-PacketFence-Server"))) then
            txn:set_var("req.action","api")
        else
            txn:set_var("req.action",txn.sf:hdr("X-PacketFence-Server") .. "-api")
        end
    -- if it's static content
    elseif ( string.match(txn.sf:path(), '^/static') ) then
        txn:set_var("req.action","static")
    else
        -- do nothing, use teh default backend
    end
end)

core.register_fetches("redirect", function(txn)
     core.log(core.info, "redirect")
    if ( string.match(txn.sf:path(), '^/$') or string.match(txn.sf:path(), '^$')) then
        return 1
    end
    return 0
end)

