.:54 {
    logger {
      level INFO
      processname pfdns
    }

[% domain %]

proxy . /etc/resolv.conf
}

# all other domains are subject to interception
:53 {
    logger {
      level INFO
      processname pfdns
    }

    pfdns {
    }
    # Anything not handled by pfdns will be resolved normally
[% domain %]
[% inline %]

    # Default to system resolv.conf file
    proxy . /etc/resolv.conf
    log stdout
    errors
}
