.:53 {
    # This configuration will check in the /etc/hosts and if the fqdn match it will return the corresponding ip.
    # If it doesn't match then it will continue
    hosts {
        fallthrough
    }
    #Default DNS forwarder
    forward . [% MAIN_DNS %]
    cache
    errors
    log
}


[% FOREACH key IN connectors.keys %][% FOREACH domain IN connectors.$key.domains %][% domain.key %]:53 {
    forward . [% FOREACH dns IN domain.value %][% PFCONNECTOR_SERVICE_HOST %]:[% dns.value.pfconnector_port %] [% END %]
    cache
    errors
}
[% END %][% END %]
