.:53 {
    forward . [% MAIN_DNS %]
    cache
    errors
    log
}


[% FOREACH key IN connectors.keys %][% FOREACH domain IN connectors.$key.domains %][% domain.key -%]:53 {
    forward . [% PFCONNECTOR_SERVICE_HOST %]:[% PFCONNECTOR_PORT %]
    cache
    errors
}
[% END %][% END %]
