[consumer]
redis_server=127.0.0.1:6380
redis_reconnect=1
redis_every=100

[queue general]
workers=4
has_delayed_queue=disabled
delayed_queue_batch=100
delayed_queue_sleep=100
delayed_queue_workers=1

[queue pfdhcplistener]
workers=4

[queue pfdetect]
workers=1
