[default]
description=Default Profile
logo=/common/packetfence-cp.png
billing_engine=disabled
redirecturl=http://www.packetfence.org/
always_use_redirecturl=disabled
mandatory_fields=firstname,lastname,phone,email
locale=en_US
nbregpages=0
filter_match_style=any
block_interval=10m
sms_pin_retry_limit=0
sms_request_limit=0
login_attempt_limit=0
