#file proxysql.cfg

########################################################################################
# This config file is parsed using libconfig , and its grammar is described in:        
# http://www.hyperrealm.com/libconfig/libconfig_manual.html#Configuration-File-Grammar 
# Grammar is also copied at the end of this file                                       
########################################################################################

########################################################################################
# IMPORTANT INFORMATION REGARDING THIS CONFIGURATION FILE:                             
########################################################################################
# On startup, ProxySQL reads its config file (if present) to determine its datadir. 
# What happens next depends on if the database file (disk) is present in the defined
# datadir (i.e. "/var/lib/proxysql/proxysql.db").
#
# If the database file is found, ProxySQL initializes its in-memory configuration from 
# the persisted on-disk database. So, disk configuration gets loaded into memory and 
# then propagated towards the runtime configuration. 
#
# If the database file is not found and a config file exists, the config file is parsed 
# and its content is loaded into the in-memory database, to then be both saved on-disk 
# database and loaded at runtime.
#
# IMPORTANT: If a database file is found, the config file is NOT parsed. In this case
#            ProxySQL initializes its in-memory configuration from the persisted on-disk
#            database ONLY. In other words, the configuration found in the proxysql.cnf
#            file is only used to initial the on-disk database read on the first startup.
#
# In order to FORCE a re-initialise of the on-disk database from the configuration file 
# the ProxySQL service should be started with "systemctl start proxysql-initial".
#
########################################################################################

datadir="/usr/local/pf/var/proxysql/"
errorlog="/usr/local/pf/logs/proxysql.log"

admin_variables=
{
    admin_credentials="admin:admin"
    mysql_ifaces="127.0.0.1:6032"
    refresh_interval=2000
    web_enabled=false
    web_port=6080
    stats_credentials="stats:admin"
}
 
mysql_variables=
{
    threads=4
    max_connections=2048
    default_query_delay=0
    default_query_timeout=36000000
    have_compress=true
    poll_timeout=2000
    interfaces="0.0.0.0:6033;/usr/local/pf/var/proxysql/proxysql.sock"
    default_schema="information_schema"
    stacksize=1048576
    server_version="5.1.30"
    connect_timeout_server=1000
    connect_timeout_server_max=3000
    monitor_history=60000
    monitor_connect_interval=200000
    monitor_ping_interval=200000
    ping_interval_server_msec=10000
    ping_timeout_server=200
    commands_stats=true
    sessions_sort=true

[% mysql_ssl_p2s_capath %]

[% monitor %]

[% IF scheduler %]
    monitor_galera_healthcheck_interval=2000
    monitor_galera_healthcheck_timeout=800
[% END %]
}

[% UNLESS single_server %]
  [% IF geoDB -%]

mysql_replication_hostgroups =
(
  {
    writer_hostgroup=10
    reader_hostgroup=20
    check_type="read_only"
    comment="RW Split"
  }
)

  [% ELSE %]

    [% IF scheduler %]
mysql_galera_hostgroups =
(
    {
        writer_hostgroup=10
        backup_writer_hostgroup=20
        reader_hostgroup=30
        offline_hostgroup=9999
        max_writers=1
        writer_is_also_reader=1
        max_transactions_behind=30
        active=1
    }
)
    [% END %]
  [% END %]
[% END %]
 
mysql_servers =
(
[% mysql_servers %]
)
 
[% UNLESS single_server %]
mysql_query_rules =
(
    {
        rule_id=100
        active=1
        match_pattern="^\s*SELECT .* FOR UPDATE"
        destination_hostgroup=10
        apply=1
    },
    {
        rule_id=200
        active=1
        match_pattern="SELECT @@global.read_only"
        destination_hostgroup=30
        apply=1
    },
    {
        rule_id=201
        active=1
        match_pattern="show status like.*"
        destination_hostgroup=30
        apply=1
    },
    {
        rule_id=300
        active=1
        match_pattern="^\s*SELECT .*"
        destination_hostgroup=30
        apply=1
    },
    {
        rule_id=400
        active=1
        match_pattern=".*"
        destination_hostgroup=10
        apply=1
    }
)
[% END %]
 
mysql_users =
(
[% mysql_users %]
)

[% UNLESS single_server %]

scheduler =
(
  {
  [% IF scheduler %]
     id=1
     active=1
     interval_ms=5000
     filename="/proxysql-read-only-handler.sh"
     arg1="{\"username\":\"admin\", \"password\":\"admin\", \"host\":\"127.0.0.1\", \"port\":6032}"
     arg2="{\"username\":\"[% mysql_pf_user %]\", \"password\":\"[% mysql_pf_pass %]\"}"
     arg3="{\"read_write_hostgroup\":10, \"read_hostgroup\":30, \"rule_ids\":\"100,400\"}"
     arg4="/proxysql-read-only-handler.log"
  [% ELSE %]
     id=11
     active=1
     interval_ms=2000
     filename="/pxc_scheduler_handler"
     arg1="--configfile=config.toml"
     arg2="--configpath=/usr/local/pf/var/conf"
  [% END %]
  }
)
[% END %]
