[% FOREACH user IN snmpv3_users %]
createUser [% user %]
[%- END %]

[%- FOREACH auth_user IN auth_users %]
authUser log [% auth_user  %] priv
[%- END %]

[%- FOREACH community IN snmp_communities %]
authCommunity log [% community %]
[%- END %]

format1       %V|%#04.4y-%#02.2m-%02.2l|%#02.2h:%#02.2j:%#02.2k|%b|%a|BEGIN TYPE %w END TYPE BEGIN SUBTYPE %q END SUBTYPE BEGIN VARIABLEBINDINGS %v END VARIABLEBINDINGS\n
format2       %V|%#04.4y-%#02.2m-%02.2l|%#02.2h:%#02.2j:%#02.2k|%b|%a|BEGIN TYPE %w END TYPE BEGIN SUBTYPE %q END SUBTYPE BEGIN VARIABLEBINDINGS %v END VARIABLEBINDINGS\n

