[config]
file=stats.conf

[metric 'sample metric 1']
type=mysql_query
statsd_type=gauge
statsd_ns=source.statsd.test.1
# mysql_query must return a single column with a single row
mysql_query=select 0
interval=60s

[metric 'sample metric 2']
type=mysql_query
statsd_type=gauge
statsd_ns=source.statsd.test.2
# mysql_query must return a single column with a single row
mysql_query=select 1
interval=30s

[metric 'sample metric 3']
type=mysql_query
statsd_type=gauge
statsd_ns=source.statsd.test.3
# mysql_query must return a single column with a single row
mysql_query=select 3
interval=20s


