ET ACTIVEX 
ET ACTIVEX 2X 
ET ACTIVEX 4XEM 
ET ACTIVEX ACTIVEX 
ET ACTIVEX ACTIVEX SAP AG 
ET ACTIVEX AOL 
ET ACTIVEX ASUS 
ET ACTIVEX AVTECH 
ET ACTIVEX COM 
ET ACTIVEX DB 
ET ACTIVEX EMC 
ET ACTIVEX HP 
ET ACTIVEX IAS 
ET ACTIVEX IBM 
ET ACTIVEX IE 
ET ACTIVEX LEADTOOLS 
ET ACTIVEX MW6 
ET ACTIVEX MW6 PDF417 
ET ACTIVEX RKD 
ET ACTIVEX RSP MP3 
ET ACTIVEX RTSP MPEG4 SP 
ET ACTIVEX SAP AG 
ET ACTIVEX SAP GUI 
ET ATTACK_RESPONSE 
ET ATTACK_RESPONSE ALBANIA 
ET ATTACK_RESPONSE C99 
ET ATTACK_RESPONSE DB2 
ET ATTACK_RESPONSE FTP 
ET ATTACK_RESPONSE FTP CWD 
ET ATTACK_RESPONSE HSQLDB 
ET ATTACK_RESPONSE HTTP 401 
ET ATTACK_RESPONSE RFI 
ET ATTACK_RESPONSE SAP 
ET CHAT 
ET CHAT ICQ 
ET CHAT IRC 
ET CHAT IRC JOIN 
ET CHAT IRC NICK 
ET CHAT IRC PING 
ET CHAT IRC PONG 
ET CHAT IRC PRIVMSG 
ET CHAT IRC USER 
ET CHAT MSN 
ET CHAT MSN IM 
ET CINS 
ET CNC 
ET COMPROMISED 
ET CURRENT_EVENTS 
ET CURRENT_EVENTS - 
ET CURRENT_EVENTS 09 
ET CURRENT_EVENTS AOL PHISH 
ET CURRENT_EVENTS BHEK 
ET CURRENT_EVENTS CFR DRIVEBY CVE-2012-4792 DNS 
ET CURRENT_EVENTS CVE-2012-4792 EIP 
ET CURRENT_EVENTS CVE-2013-2423 IVKM 
ET CURRENT_EVENTS D-LINK 
ET CURRENT_EVENTS DNS 
ET CURRENT_EVENTS DRIVEBY 
ET CURRENT_EVENTS DRIVEBY ACH - 
ET CURRENT_EVENTS DRIVEBY EL8 EK 
ET CURRENT_EVENTS DRIVEBY EXE 
ET CURRENT_EVENTS DRIVEBY GENERIC 
ET CURRENT_EVENTS DRIVEBY PDF 
ET CURRENT_EVENTS DRIVEBY SEO 
ET CURRENT_EVENTS DRIVEBY SPL - 
ET CURRENT_EVENTS ET CURRENT_EVENTS 
ET CURRENT_EVENTS EXE 
ET CURRENT_EVENTS FAKEIE 
ET CURRENT_EVENTS IE 
ET CURRENT_EVENTS INBOUND 
ET CURRENT_EVENTS INFO 
ET CURRENT_EVENTS JAR 
ET CURRENT_EVENTS JDB 
ET CURRENT_EVENTS JS 
ET CURRENT_EVENTS MALVERTISING 
ET CURRENT_EVENTS MALVERTISING - 
ET CURRENT_EVENTS MS 
ET CURRENT_EVENTS PDF 
ET CURRENT_EVENTS PHISH 
ET CURRENT_EVENTS PHP 
ET CURRENT_EVENTS QNAP 
ET CURRENT_EVENTS RIG 
ET CURRENT_EVENTS RIG EK 
ET CURRENT_EVENTS SEO 
ET CURRENT_EVENTS SN 
ET CURRENT_EVENTS SNET EK 
ET CURRENT_EVENTS SPL2 
ET CURRENT_EVENTS SPL2 EK 
ET CURRENT_EVENTS SPL2 EK JS 
ET CURRENT_EVENTS SSL 
ET CURRENT_EVENTS SUSPICIOUS 
ET CURRENT_EVENTS SUSPICIOUS DTLS 
ET CURRENT_EVENTS SUSPICIOUS EXE 
ET CURRENT_EVENTS SUSPICIOUS IRC - NICK 
ET CURRENT_EVENTS SUSPICIOUS IRC - PRIVMSG 
ET CURRENT_EVENTS SUSPICIOUS JAR 
ET CURRENT_EVENTS SUSPICIOUS OVH 
ET CURRENT_EVENTS SUSPICIOUS PPT 
ET CURRENT_EVENTS SUSPICIOUS SMTP 
ET CURRENT_EVENTS SUSPICIOUS XXTEA UTF-16 
ET CURRENT_EVENTS SWF 
ET CURRENT_EVENTS TDS 
ET CURRENT_EVENTS TDS - 
ET CURRENT_EVENTS TLS 
ET CURRENT_EVENTS UPS 
ET CURRENT_EVENTS VBA 
ET CURRENT_EVENTS WSO 
ET CURRENT_EVENTS WSO - 
ET CURRENT_EVENTS X20 EK 
ET CURRENT_EVENTS XMLDOM 
ET DELETED 
ET DELETED AIM 
ET DELETED ASPROX 
ET DELETED CAN-2005-0399 
ET DELETED COM 
ET DELETED CPL 
ET DELETED CWS 
ET DELETED DNS 
ET DELETED DRIVEBY 
ET DELETED DRIVEBY SEO 
ET DELETED DYNAMIC_DNS 
ET DELETED DYNAMIC_DNS HTTP 
ET DELETED EICAR 
ET DELETED EXE 
ET DELETED EXPLOIT MS-SQL DOS 
ET DELETED F5 BIG-IP 3DNS TCP 
ET DELETED FAKEAV 
ET DELETED FREAK 
ET DELETED HELO 
ET DELETED HP 
ET DELETED HTTP 
ET DELETED HTTP - 
ET DELETED HTTP - ADA 
ET DELETED HTTP - AMA CPT 
ET DELETED HTTP - DSM-IV 
ET DELETED HTTP - FDA NDC 
ET DELETED HTTP - HCPCS 
ET DELETED HTTP - ICD-10 
ET DELETED HTTP - NATO 
ET DELETED HTTP - NATO COSMIC 
ET DELETED HTTP RBOT 
ET DELETED HTTP - US 
ET DELETED HTTP - US FGI 
ET DELETED HTTP - US FOUO 
ET DELETED HTTP - US SAMI 
ET DELETED ICMP 
ET DELETED IRC 
ET DELETED JCE 
ET DELETED LX EXE OS2 
ET DELETED MALVERTISING 
ET DELETED MALVERTISING SEO 
ET DELETED MALWARE 
ET DELETED MBR 
ET DELETED METASPLOIT BSD 
ET DELETED MISC 
ET DELETED MS ANI 
ET DELETED MSN 
ET DELETED MSSQL 
ET DELETED NE EXE 
ET DELETED NE EXE OS2 
ET DELETED NETBIOS SMB 
ET DELETED NETBIOS SMB-DS 
ET DELETED NPRC 
ET DELETED OWASP 
ET DELETED PDF 
ET DELETED PE EXE 
ET DELETED PHARMSPAM 
ET DELETED PHP 
ET DELETED POST 
ET DELETED RSA 
ET DELETED SEO 
ET DELETED SHELLCODE 
ET DELETED SHELLCODE CLET 
ET DELETED SMTP 
ET DELETED SMTP ADA 
ET DELETED SMTP AMA CPT 
ET DELETED SMTP DSM-IV 
ET DELETED SMTP FDA NDC 
ET DELETED SMTP HCPCS 
ET DELETED SMTP ICD-10 
ET DELETED SMTP NATO 
ET DELETED SMTP NATO COSMIC 
ET DELETED SMTP US 
ET DELETED SMTP US FGI 
ET DELETED SMTP US FOUO 
ET DELETED SMTP US SAMI 
ET DELETED SPL 
ET DELETED SSL 
ET DELETED SUSPICIOUS 
ET DELETED SUSPICIOUS HTTP 
ET DELETED TDS 
ET DELETED TROJAN 
ET DELETED TROJAN SEO HTTP REFERER 
ET DELETED UDP 
ET DELETED UPS 
ET DELETED VMM 
ET DELETED WMF 
ET DELETED WU 
ET DNS 
ET DNS DNS 
ET DOS 
ET DOS CVE-2013-0230 
ET DOS DNS 
ET DOS DNS BIND 9 
ET DOS HOIC 
ET DOS HTTP GET AAAAAAAA 
ET DOS IBM 
ET DOS IBM DB2 
ET DOS ICMP 
ET DOS LOIC 
ET DOS MC-SQLR 
ET DROP 
ET EXPLOIT 
ET EXPLOIT ASUS RT N56U 
ET EXPLOIT BMP 
ET EXPLOIT CA 
ET EXPLOIT CVE-2013-1331 
ET EXPLOIT CVE-2015-0235 
ET EXPLOIT CVS 
ET EXPLOIT DOS 
ET EXPLOIT F5 BIG-IP 
ET EXPLOIT FREAK 
ET EXPLOIT FTP 
ET EXPLOIT HP 
ET EXPLOIT HP-UX 
ET EXPLOIT IIS FTP 
ET EXPLOIT IPMI 
ET EXPLOIT M3U 
ET EXPLOIT MDAEMON 
ET EXPLOIT MMCS 
ET EXPLOIT MS 
ET EXPLOIT MS04-032 
ET EXPLOIT MS05-021 
ET EXPLOIT MS-SQL 
ET EXPLOIT MSSQL 
ET EXPLOIT MS-SQL DOS 
ET EXPLOIT MS-SQL SQL 
ET EXPLOIT NDMP 
ET EXPLOIT RXS-3211 IP 
ET EXPLOIT SQL 
ET EXPLOIT SYS 
ET EXPLOIT TAC 
ET EXPLOIT TCP 
ET EXPLOIT TFTP 
ET EXPLOIT TP-LINK 
ET EXPLOIT TP-LINK TL-WR340G 
ET EXPLOIT TP-LINK TL-WR750N DNS 
ET EXPLOIT TP-LINK TL-WR841N 
ET EXPLOIT US-ASCII 
ET EXPLOIT VLC 
ET EXPLOIT VNC 
ET EXPLOIT VSFTPD 
ET EXPLOIT WMF 
ET FTP 
ET FTP FTP CWD 
ET FTP FTP MKDIR 
ET FTP FTP NLST 
ET FTP FTP PWD 
ET FTP FTP RETR 
ET FTP FTP RMDIR 
ET FTP FTP RNFR 
ET FTP FTP RNTO 
ET FTP FTP SITE 
ET FTP FTP STOR 
ET FTP HP-UX LIST 
ET FTP USER 
ET GAMES 
ET GAMES STEAM 
ET INAPPROPRIATE 
ET INAPPROPRIATE BDSM 
ET INFO 
ET INFO 3XX 
ET INFO DNS 
ET INFO DYNAMIC_DNS 
ET INFO DYNAMIC_DNS HTTP 
ET INFO EXE 
ET INFO EXE - 
ET INFO EXE - OSX 
ET INFO EXE - SCR 
ET INFO FTP STOR 
ET INFO GENERIC SUSPICIOUS POST 
ET INFO GET 
ET INFO HTTP 
ET INFO JAR 
ET INFO JAVA - 
ET INFO JNLP 
ET INFO LLNMR 
ET INFO MPEG 
ET INFO PDF 
ET INFO PDF - 
ET INFO PHISH 
ET INFO PTUNNEL INBOUND 
ET INFO PTUNNEL OUTBOUND 
ET INFO SUSPCIOUS 
ET INFO SUSPICIOUS 
ET INFO SUSPICIOUS SMTP EXE - EXE SMTP 
ET INFO SUSPICIOUS SMTP EXE - RAR 
ET INFO SUSPICIOUS SMTP EXE - ZIP 
ET INFO SUSPICIOUS UA 
ET MALWARE 
ET MALWARE 404 
ET MALWARE ABX 
ET MALWARE AV2010 
ET MALWARE CNSMIN 
ET MALWARE CWS 
ET MALWARE EZULA 
ET MALWARE HTTP 
ET MALWARE IE 
ET MALWARE MALWARE 
ET MALWARE PUP 
ET MALWARE QVOD 
ET MALWARE TROJAN_VB 
ET MALWARE UPX 
ET MALWARE VPP 
ET MALWARE ZCOM 
ET MISC 
ET MISC HP 
ET MOBILE_MALWARE 
ET MOBILE_MALWARE DNS 
ET MOBILE_MALWARE IOS_XAGENT UA 
ET MOBILE_MALWARE XML 
ET NETBIOS 
ET NETBIOS LSA 
ET NETBIOS MS04-007 
ET NETBIOS MS04011 
ET NETBIOS NETBIOS SMB DCERPC 
ET NETBIOS NETBIOS SMB-DS DCERPC 
ET NETBIOS NII 
ET NETBIOS SMB 
ET NETBIOS SMB DCERPC 
ET NETBIOS SMB-DS 
ET NETBIOS SMB-DS DCERPC 
ET P2P 
ET P2P ABC 
ET P2P MS 
ET P2P QVOD P2P 
ET P2P TOR 
ET POLICY 
ET POLICY AOL 
ET POLICY APT 
ET POLICY CBS 
ET POLICY CNET 
ET POLICY CURL 
ET POLICY DNS 
ET POLICY DRIVEBY 
ET POLICY EIN 
ET POLICY EXE 
ET POLICY FACEBOOK 
ET POLICY FREAK 
ET POLICY FTP 
ET POLICY HSRP 
ET POLICY HTMLGET 
ET POLICY HTTP 
ET POLICY HTTP CONNECT 
ET POLICY HTTP GET 
ET POLICY HTTP HEAD 
ET POLICY HTTP OPTIONS 
ET POLICY HTTP POST 
ET POLICY I2P 
ET POLICY ICP 
ET POLICY IP 
ET POLICY IRC 
ET POLICY MOBILE 
ET POLICY MP3 
ET POLICY MS 
ET POLICY MSI 
ET POLICY NBC 
ET POLICY NSISDL 
ET POLICY OS X 
ET POLICY PDF 
ET POLICY PE EXE 
ET POLICY POSSIBLE 
ET POLICY PPTP 
ET POLICY RDP 
ET POLICY REG 
ET POLICY SMTP 
ET POLICY SSH 
ET POLICY SSL 
ET POLICY SSN 
ET POLICY SUSPICIOUS 
ET POLICY TLS 
ET POLICY TOR 
ET POLICY TRACE 
ET POLICY URL 
ET POLICY VNC 
ET POLICY ZIP 
ET POLICY ZIPPED DOC 
ET POLICY ZIPPED EXE 
ET POLICY ZIPPED PPT 
ET POLICY ZIPPED XLS 
ET SCADA 
ET SCADA DATAC 
ET SCADA ICONICS 
ET SCADA PROMOTIC 
ET SCAN 
ET SCAN DCERPC 
ET SCAN DEBUG 
ET SCAN FOCA 
ET SCAN GET 
ET SCAN HTTP GET 
ET SCAN HTTP HEAD 
ET SCAN HTTP OPTIONS 
ET SCAN HTTP POST 
ET SCAN HZZP 
ET SCAN IBM NSA 
ET SCAN ICMP 
ET SCAN ICMP PING 
ET SCAN JCE 
ET SCAN MYSQL 
ET SCAN NETWORK 
ET SCAN NMAP 
ET SCAN NMAP OS 
ET SCAN NMAP SIP 
ET SCAN NMAP SQL 
ET SCAN NNG MS02-039 
ET SCAN PRO 
ET SCAN SIP 
ET SCAN SQL 
ET SCAN SSH 
ET SCAN WITOOL SQL 
ET SHELLCODE 
ET SHELLCODE METASPLOIT BSD 
ET SHELLCODE METASPLOIT BSD SPARC 
ET SMTP 
ET SMTP EXE - ZIP 
ET SMTP IBM 
ET SNMP 
ET SQL 
ET SQL MSSQL 
ET TELNET 
ET TFTP 
ET TFTP TFTPGUI 
ET TOR 
ET TROJAN 
ET TROJAN - 
ET TROJAN 9002 RAT 
ET TROJAN APT 
ET TROJAN APT1 WEBC2-UGX 
ET TROJAN ATTACKER 
ET TROJAN BANLOAD 
ET TROJAN BB 
ET TROJAN BITTERBUG 
ET TROJAN BOT - 
ET TROJAN CORESHELL 
ET TROJAN DATA-BROKER BOT 
ET TROJAN DEEP PANDA 
ET TROJAN DHL 
ET TROJAN DNS 
ET TROJAN DOCHTML 
ET TROJAN EMAIL SSL 
ET TROJAN ET TROJAN 
ET TROJAN EXE 
ET TROJAN FAKE AOL SSL 
ET TROJAN FAKEAV 
ET TROJAN FAKE AV HTTP 
ET TROJAN FAKE YAHOO SSL 
ET TROJAN FSG 
ET TROJAN FTP 
ET TROJAN GENERAL 
ET TROJAN GENERIC 
ET TROJAN GET 
ET TROJAN H1N1 
ET TROJAN HTTP 
ET TROJAN HTTP GET 
ET TROJAN HTTP POST 
ET TROJAN ICEFOG JAVAFOG JAR 
ET TROJAN IE 
ET TROJAN IMDDOS 
ET TROJAN IP2B 
ET TROJAN IRC 
ET TROJAN IRC DCC 
ET TROJAN IRC DNS 
ET TROJAN IRS 
ET TROJAN JAR 
ET TROJAN JKDDOS 
ET TROJAN JST 
ET TROJAN LAME SSL 
ET TROJAN LD 
ET TROJAN LURK 
ET TROJAN MS 
ET TROJAN MWI 
ET TROJAN NS SSL 
ET TROJAN OLDBAIT 
ET TROJAN OS X 
ET TROJAN OUTBOUND 
ET TROJAN P2P 
ET TROJAN PDF 
ET TROJAN PE 
ET TROJAN PE EXE 
ET TROJAN PRISM 
ET TROJAN PWS 
ET TROJAN QDIGIT 
ET TROJAN RDP 
ET TROJAN SEASALT 
ET TROJAN SEASALT HTTP 
ET TROJAN SERVER SSL 
ET TROJAN SMTP 
ET TROJAN SPEAR 
ET TROJAN SSH 
ET TROJAN SSL 
ET TROJAN STARSYPOUND 
ET TROJAN SUR SSL 
ET TROJAN SUSPICIOUS UA 
ET TROJAN SWORD 
ET TROJAN TDSS DNS 
ET TROJAN TLD4 
ET TROJAN TROJAN 
ET TROJAN UPDATE 
ET TROJAN UPS 
ET TROJAN UPX 
ET TROJAN US-CERT TA14-353A 
ET TROJAN US-CERT TA14-353A WIPER4 
ET TROJAN USPS 
ET TROJAN USPS SPAM 
ET TROJAN W2KM_BARTALEX 
ET TROJAN W32 
ET TROJAN WARP 
ET TROJAN WEBC2-ADSPACE 
ET TROJAN WEBC2-AUSOV 
ET TROJAN WEBC2-CLOVER 
ET TROJAN WEBC2-CSON 
ET TROJAN WEBC2-DIV UA 
ET TROJAN WEBC2-KT3 
ET TROJAN WEBC2-QBP 
ET TROJAN WEBC2-RAVE UA 
ET TROJAN WEBC2-TABLE 
ET TROJAN WEBC2-UGX 
ET TROJAN WORM_VOBFUS 
ET TROJAN XP 
ET USER_AGENTS 
ET USER_AGENTS 180 
ET USER_AGENTS FOCA 
ET USER_AGENTS MSF 
ET VOIP 
ET VOIP INVITE 
ET VOIP REGISTER 
ET VOIP SIP UDP 
ET WEB_CLIENT 
ET WEB_CLIENT AVI RIFF 
ET WEB_CLIENT CVE-2013-3893 
ET WEB_CLIENT CVE-2013-3893 IE 
ET WEB_CLIENT DLL 
ET WEB_CLIENT DRIVEBY 
ET WEB_CLIENT DX 
ET WEB_CLIENT DXF 
ET WEB_CLIENT EMET 
ET WEB_CLIENT GENERIC 
ET WEB_CLIENT GENERIC VB 
ET WEB_CLIENT IE 
ET WEB_CLIENT MP4 
ET WEB_CLIENT MS10-090 IE CSS 
ET WEB_CLIENT MS13-055 
ET WEB_CLIENT MSIE 
ET WEB_CLIENT PDF 
ET WEB_CLIENT PROPFIND 
ET WEB_CLIENT SUSPICIOUS 
ET WEB_CLIENT SUSPICIOUS JS 
ET WEB_CLIENT SUSPICOUS 
ET WEB_CLIENT VLC 
ET WEB_SERVER 
ET WEB_SERVER ATTACKER 
ET WEB_SERVER CGI 
ET WEB_SERVER CRLF 
ET WEB_SERVER CURL 
ET WEB_SERVER CVE-2014-6271 
ET WEB_SERVER DD-WRT 
ET WEB_SERVER DNS 
ET WEB_SERVER - EXE 
ET WEB_SERVER FOX-SRT - 
ET WEB_SERVER HP 
ET WEB_SERVER HTTP 
ET WEB_SERVER HTTP 414 
ET WEB_SERVER HTTP POST 
ET WEB_SERVER IBM 
ET WEB_SERVER IIS 
ET WEB_SERVER IIS INDEX_ALLOCATION 
ET WEB_SERVER IIS ISN 
ET WEB_SERVER LOIC 
ET WEB_SERVER MSSQL 
ET WEB_SERVER MYSQL 
ET WEB_SERVER MYSQL SELECT CONCAT SQL 
ET WEB_SERVER PHP 
ET WEB_SERVER PHP COOKIE 
ET WEB_SERVER PHP ENV 
ET WEB_SERVER PHP GET 
ET WEB_SERVER PHP POST 
ET WEB_SERVER PHP REQUEST 
ET WEB_SERVER PHP SERVER 
ET WEB_SERVER PHP SESSION 
ET WEB_SERVER PIWIK 
ET WEB_SERVER PUT 
ET WEB_SERVER RFI 
ET WEB_SERVER SELECT 
ET WEB_SERVER SELECT INSTR 
ET WEB_SERVER SELECT USER SQL 
ET WEB_SERVER SHOW 
ET WEB_SERVER SHOW CHARACTER SET SQL 
ET WEB_SERVER SHOW TABLES SQL 
ET WEB_SERVER SHOW VARIABLES SQL 
ET WEB_SERVER SQL 
ET WEB_SERVER SUSPICIOUS 
ET WEB_SERVER TIEHTTP 
ET WEB_SERVER UA 
ET WEB_SERVER WEB-PHP 
ET WEB_SERVER WEBSHELL 
ET WEB_SERVER WEBSHELL CFM 
ET WEB_SERVER WGET 
ET WEB_SERVER XML-RPC 
ET WEB_SPECIFIC_APPS 
ET WEB_SPECIFIC_APPS 1024 CMS 
ET WEB_SPECIFIC_APPS 2FLY 
ET WEB_SPECIFIC_APPS 724CMS 
ET WEB_SPECIFIC_APPS A 
ET WEB_SPECIFIC_APPS ACP3 XSS 
ET WEB_SPECIFIC_APPS AJ 
ET WEB_SPECIFIC_APPS ANGEL 
ET WEB_SPECIFIC_APPS ASP 
ET WEB_SPECIFIC_APPS ASP EDGE SQL 
ET WEB_SPECIFIC_APPS ASP NEWS SQL 
ET WEB_SPECIFIC_APPS AWCM 
ET WEB_SPECIFIC_APPS BASE 
ET WEB_SPECIFIC_APPS BLOG CMS 
ET WEB_SPECIFIC_APPS BP 
ET WEB_SPECIFIC_APPS CAT2 
ET WEB_SPECIFIC_APPS CGX 
ET WEB_SPECIFIC_APPS CJG 
ET WEB_SPECIFIC_APPS CMS 
ET WEB_SPECIFIC_APPS CMSQLITE 
ET WEB_SPECIFIC_APPS CSV-DB 
ET WEB_SPECIFIC_APPS DEDECMS 
ET WEB_SPECIFIC_APPS DM 
ET WEB_SPECIFIC_APPS DS CMS 
ET WEB_SPECIFIC_APPS DVD 
ET WEB_SPECIFIC_APPS EJBCA 
ET WEB_SPECIFIC_APPS E-SMARTCART SQL 
ET WEB_SPECIFIC_APPS EZPX 
ET WEB_SPECIFIC_APPS F5 
ET WEB_SPECIFIC_APPS FCMS 
ET WEB_SPECIFIC_APPS GDL 
ET WEB_SPECIFIC_APPS GMTT 
ET WEB_SPECIFIC_APPS GROUP-E 
ET WEB_SPECIFIC_APPS GS 
ET WEB_SPECIFIC_APPS HIOX 
ET WEB_SPECIFIC_APPS HP 
ET WEB_SPECIFIC_APPS IBBY 
ET WEB_SPECIFIC_APPS IBM 
ET WEB_SPECIFIC_APPS IBM ENOVIA 
ET WEB_SPECIFIC_APPS JCE 
ET WEB_SPECIFIC_APPS JE 
ET WEB_SPECIFIC_APPS JGBBS SQL 
ET WEB_SPECIFIC_APPS KLF-DESIGN 
ET WEB_SPECIFIC_APPS KLINK 
ET WEB_SPECIFIC_APPS LINK 
ET WEB_SPECIFIC_APPS LWS 
ET WEB_SPECIFIC_APPS MGB 
ET WEB_SPECIFIC_APPS MXBB 
ET WEB_SPECIFIC_APPS N-13 
ET WEB_SPECIFIC_APPS ODARS 
ET WEB_SPECIFIC_APPS OS 
ET WEB_SPECIFIC_APPS OSSIM 
ET WEB_SPECIFIC_APPS PEAR 
ET WEB_SPECIFIC_APPS PEAR_PHPDIR 
ET WEB_SPECIFIC_APPS PHP 
ET WEB_SPECIFIC_APPS PHP-CGI 
ET WEB_SPECIFIC_APPS PHPCMS 
ET WEB_SPECIFIC_APPS PHPKIT SQL 
ET WEB_SPECIFIC_APPS PHPOF 
ET WEB_SPECIFIC_APPS PMB 
ET WEB_SPECIFIC_APPS PMECMS 
ET WEB_SPECIFIC_APPS PRADO PHP 
ET WEB_SPECIFIC_APPS PSY 
ET WEB_SPECIFIC_APPS PWP 
ET WEB_SPECIFIC_APPS QUICKTEAM 
ET WEB_SPECIFIC_APPS REALTOR 
ET WEB_SPECIFIC_APPS RIPS 
ET WEB_SPECIFIC_APPS RM 
ET WEB_SPECIFIC_APPS RS-CMS 
ET WEB_SPECIFIC_APPS RSS 
ET WEB_SPECIFIC_APPS SAP 
ET WEB_SPECIFIC_APPS SAPID 
ET WEB_SPECIFIC_APPS SFS EZ 
ET WEB_SPECIFIC_APPS SFS EZ BIZ PRO 
ET WEB_SPECIFIC_APPS SHOP-INET 
ET WEB_SPECIFIC_APPS SMA-DB 
ET WEB_SPECIFIC_APPS SOPHIA CMS SQL 
ET WEB_SPECIFIC_APPS TECHNOTE 
ET WEB_SPECIFIC_APPS TEDE 
ET WEB_SPECIFIC_APPS TEMENOS T24 
ET WEB_SPECIFIC_APPS V-EVA 
ET WEB_SPECIFIC_APPS VM 
ET WEB_SPECIFIC_APPS VP-ASP 
ET WEB_SPECIFIC_APPS VS 
ET WEB_SPECIFIC_APPS W1L3D4 
ET WEB_SPECIFIC_APPS W2B 
ET WEB_SPECIFIC_APPS WB 
ET WEB_SPECIFIC_APPS WEB-PHP 
ET WEB_SPECIFIC_APPS WEB-PHP RCE PHPBB 2004-1315 
ET WEB_SPECIFIC_APPS WHCMS 
ET WEB_SPECIFIC_APPS WHM 
ET WEB_SPECIFIC_APPS WHMCS 
ET WEB_SPECIFIC_APPS WORDPRESS 
ET WEB_SPECIFIC_APPS WP 
ET WEB_SPECIFIC_APPS WPS 
ET WEB_SPECIFIC_APPS WSN 
ET WEB_SPECIFIC_APPS X7 
ET WEB_SPECIFIC_APPS XAMPP 
ET WEB_SPECIFIC_APPS X-BLC 
ET WEB_SPECIFIC_APPS XOOPS 
ET WEB_SPECIFIC_APPS XRMS CRM 
ET WEB_SPECIFIC_APPS XSS 
ET WEB_SPECIFIC_APPS YACS 
ET WEB_SPECIFIC_APPS ZABBIX 
ET WEB_SPECIFIC_APPS ZOHO 
ET WORM 
FILE 
FILEEXT BMP 
FILEEXT JPG 
FILEMAGIC 
FILESTORE 
GPL ACTIVEX 
GPL ATTACK_RESPONSE 
GPL CHAT 
GPL CHAT AIM 
GPL CHAT ICQ 
GPL CHAT IRC 
GPL CHAT IRC DCC 
GPL CHAT MSN 
GPL DELETED 
GPL DELETED AIM 
GPL DELETED BASE 
GPL DELETED CVS 
GPL DELETED EXPLOIT HPUX LPD 
GPL DELETED EXPLOIT SIP UDP 
GPL DELETED FOLD 
GPL DELETED GNU 
GPL DELETED IRC 
GPL DELETED MISC 
GPL DELETED NNTP 
GPL DELETED ORACLE TNS 
GPL DELETED RMD 
GPL DELETED SAP WAS 
GPL DELETED SCO 
GPL DELETED SMTP 
GPL DELETED WEB-CLIENT 
GPL DELETED WEB-MISC 
GPL DELETED WEB-PHP 
GPL DNS 
GPL DNS EXPLOIT 
GPL DNS SPOOF 
GPL DNS TCP 
GPL DNS UDP 
GPL DOS 
GPL DOS IGMP 
GPL EXPLOIT 
GPL EXPLOIT AIX 
GPL EXPLOIT CDE 
GPL EXPLOIT CVS 
GPL EXPLOIT EIGRP 
GPL EXPLOIT EXPLOIT 
GPL EXPLOIT IGMP IGAP 
GPL EXPLOIT ISAKMP 
GPL EXPLOIT ISAPI 
GPL EXPLOIT LPD 
GPL EXPLOIT NTLM 
GPL EXPLOIT SSH 
GPL EXPLOIT WEBDAV 
GPL EXPLOIT WEB-MISC 
GPL EXPLOIT WINS 
GPL FTP 
GPL FTP ALLO 
GPL FTP APPE 
GPL FTP CEL 
GPL FTP CMD 
GPL FTP CWD 
GPL FTP DELE 
GPL FTP FTP 
GPL FTP LIST 
GPL FTP MDTM 
GPL FTP MKD 
GPL FTP MKDIR 
GPL FTP NLST 
GPL FTP PASS 
GPL FTP PORT 
GPL FTP PWD 
GPL FTP RENAME 
GPL FTP REST 
GPL FTP RETR 
GPL FTP RMD 
GPL FTP RMDIR 
GPL FTP RNFR 
GPL FTP RNTO 
GPL FTP SITE 
GPL FTP SITE CHMOD 
GPL FTP SITE CHOWN 
GPL FTP SITE CPWD 
GPL FTP SITE EXEC 
GPL FTP SITE NEWER 
GPL FTP SITE ZIPCHK 
GPL FTP STAT 
GPL FTP STOR 
GPL FTP STOU 
GPL FTP USER 
GPL FTP XCWD 
GPL FTP XMKD 
GPL FTP XXXXX 
GPL GAMES 
GPL ICMP 
GPL ICMP_INFO 
GPL ICMP_INFO IPV6 
GPL ICMP_INFO IRDP 
GPL ICMP_INFO PING 
GPL ICMP_INFO PING IP 
GPL ICMP IPV6 
GPL ICMP PING 
GPL ICMP SKIP 
GPL IMAP 
GPL IMAP EXPLOIT 
GPL INAPPROPRIATE 
GPL MISC 
GPL MISC 0 
GPL MISC AUTHINFO USER 
GPL MISC BGP 
GPL MISC CVS 
GPL MISC HP 
GPL MISC IP 
GPL MISC NNTP 
GPL MISC NNTP XPAT 
GPL NETBIOS 
GPL NETBIOS DCERPC 
GPL NETBIOS DCERPC LSASS 
GPL NETBIOS DOS 
GPL NETBIOS NS 
GPL NETBIOS NT NULL 
GPL NETBIOS SMB 
GPL NETBIOS SMB DCERPC 
GPL NETBIOS SMB DCERPC LSASS 
GPL NETBIOS SMB-DS 
GPL NETBIOS SMB-DS DCEPRC 
GPL NETBIOS SMB-DS DCERPC 
GPL NETBIOS SMB-DS DCERPC LSASS 
GPL NETBIOS SMB-DS DCERPC NTLMSSP 
GPL NETBIOS SMB-DS NT 
GPL NETBIOS SMB NT 
GPL NETBIOS SMB NTLMSSP 
GPL NETBIOS SMB SMB_COM_TRANSACTION 
GPL NETBIOS WINS 
GPL P2P 
GPL POLICY 
GPL POLICY AFS 
GPL POLICY MISC 
GPL POLICY MS 
GPL POLICY PPTP 
GPL POLICY SOCKS 
GPL POLICY TRAFFIC 
GPL POLICY VNC 
GPL POP3 
GPL POP3 APOP 
GPL POP3 APOP USER 
GPL POP3 AUTH 
GPL POP3 CAPA 
GPL POP3 DELE 
GPL POP3 LIST 
GPL POP3 PASS 
GPL POP3 POP3 PASS 
GPL POP3 RSET 
GPL POP3 STAT 
GPL POP3 TOP 
GPL POP3 UIDL 
GPL POP3 USER 
GPL POP3 XTND 
GPL RPC 
GPL RPC CMSD TCP CMSD_CREATE 
GPL RPC CMSD TCP CMSD_INSERT 
GPL RPC CMSD UDP CMSD_CREATE 
GPL RPC RQUOTA 
GPL RPC STATD TCP 
GPL RPC STATD UDP 
GPL SCAN 
GPL SCAN ISS 
GPL SCAN NULL 
GPL SCAN PING 
GPL SCAN PING NMAP 
GPL SCAN SSH 
GPL SCAN SYN FIN 
GPL SCAN XMAS 
GPL SHELLCODE 
GPL SHELLCODE AIX 
GPL SHELLCODE HP-UX NOOP 
GPL SHELLCODE MSSQL 
GPL SHELLCODE SGI NOOP 
GPL SMTP 
GPL SMTP AUTH LOGON 
GPL SMTP EXPN 
GPL SMTP MAIL FROM 
GPL SMTP OUTBOUND 
GPL SMTP RCPT TO 
GPL SMTP SMTP 
GPL SNMP 
GPL SNMP PROTOS 
GPL SNMP SNMP 
GPL SNMP SNMP NT 
GPL SQL 
GPL SQL EXECUTE_SYSTEM 
GPL SQL MSSQL 
GPL SQL MYSQL 
GPL SQL TO_CHAR 
GPL TELNET 
GPL TELNET TELNET 
GPL TFTP 
GPL TFTP GET 
GPL TFTP MISC TFTP32 
GPL TFTP NULL 
GPL TFTP PUT 
GPL TROJAN 
GPL VOIP EXPLOIT SIP UDP 
GPL VOIP SIP 401 
GPL VOIP SIP 407 
GPL VOIP SIP INVITE 
GPL WEB_CLIENT 
GPL WEB_CLIENT PNG 
GPL WEB_SERVER 
GPL WEB_SERVER 403 
GPL WEB_SERVER DELETE 
GPL WEB_SERVER ISAPI 
GPL WEB_SERVER MS 
GPL WEB_SERVER SAM 
GPL WEB_SERVER TRACE 
GPL WEB_SERVER WEBDAV 
GPL WEB_SERVER WEB-IIS 
GPL WEB_SERVER WEB-MISC 
GPL WEB_SPECIFIC_APPS 
GPL WORM 
SURICATA 
SURICATA FRAG 
SURICATA GRE 
SURICATA HTTP 
SURICATA HTTP METHOD 
SURICATA HTTP URI 
SURICATA IP 
SURICATA PPP 
SURICATA PPPOE 
SURICATA PPP VJU 
SURICATA RH 
SURICATA SLL 
SURICATA SMTP 
SURICATA STREAM 
SURICATA STREAM CLOSEWAIT 
SURICATA STREAM CLOSEWAIT ACK 
SURICATA STREAM CLOSEWAIT FIN 
SURICATA STREAM CLOSING 
SURICATA STREAM CLOSING ACK 
SURICATA STREAM ESTABLISHED 
SURICATA STREAM ESTABLISHED SYN 
SURICATA STREAM ESTABLISHED SYNACK 
SURICATA STREAM FIN 
SURICATA STREAM FIN1 
SURICATA STREAM FIN1 FIN 
SURICATA STREAM FIN2 
SURICATA STREAM FIN2 FIN 
SURICATA STREAM RST 
SURICATA STREAM SHUTDOWN RST 
SURICATA STREAM SYN 
SURICATA STREAM TIMEWAIT 
SURICATA STREAM TIMEWAIT ACK 
SURICATA TCP 
SURICATA TLS 
SURICATA UDP 
SURICATA VLAN 
