# Detect installed software and trigger a security event
[Software_Installed]
namespace=ROOT\cimv2
request=select * from Win32_Product
action= <<EOT
[Google]
attribute = Caption
operator = match
value = Google

[1:Google]
action=trigger_security_event
action_param = mac = $mac, tid = 888888, type = INTERNAL
EOT

[ServicePackUpdated]
namespace=ROOT\cimv2
request=SELECT HotFixID,InstalledOn FROM Win32_QuickFixEngineering
action= <<EOT
[InstalledOn]
operator = advance
value = Date.Diff('DAYS', Date.Now(), Date.Parse("%m/%d/%Y", ${InstalledOn})) > 30

[1:InstalledOn]
match=all
action=trigger_security_event
action_param = mac = $mac, tid = 888888, type = INTERNAL
EOT

# Detect the current user logged in and register the device
[logged_user]
namespace=ROOT\cimv2
request=select UserName from Win32_ComputerSystem
action= <<EOT
[UserName]
attribute = UserName
operator = match
value = (.*)

[1:UserName]
action = dynamic_register_node
action_param = mac = $mac, username = $result->{'UserName'}
EOT

# Detect the running process and if it exist then bybass the scan
[Process_Running]
namespace=ROOT\cimv2
request=select Name from Win32_Process
action= <<EOT
[explorer]
attribute = Name
operator = match
value = explorer.exe

[1:explorer]
action = allow
EOT

# Detect if the SCCM client is installed
[SCCM]
request=select * from Win32_Process where name='CcmExec.exe'
action=[sccm]
namespace=ROOT\cimv2
on_tab=1

# Detect security product like Firewall, Antivirus or Antispyware
[FireWall]
request=select * from FirewallProduct
action= <<EOT
[firewall]
attribute = Name
operator = match
value = *
EOT
namespace=ROOT\SecurityCenter2
on_tab=1

[Antivirus]
request=select * from AntiVirusProduct
namespace=ROOT\SecurityCenter2
action=[antivirus]
on_tab=1

[AntiSpyware]
request=select * from AntiSpywareProduct
namespace=ROOT\SecurityCenter2
action=[antispyware]
on_tab=1
