ConfigPkiProvider:
  description: 'Choose one of the request bodies by discriminator (`type`). '
  discriminator:
    mapping:
      packetfence_local: '#/components/schemas/ConfigPkiProviderSubTypePacketfenceLocal'
      packetfence_pki: '#/components/schemas/ConfigPkiProviderSubTypePacketfencePki'
      scep: '#/components/schemas/ConfigPkiProviderSubTypeScep'
    propertyName: type
  oneOf:
  - $ref: '#/components/schemas/ConfigPkiProviderSubTypeScep'
  - $ref: '#/components/schemas/ConfigPkiProviderSubTypePacketfencePki'
  - $ref: '#/components/schemas/ConfigPkiProviderSubTypePacketfenceLocal'
