<h2>[% l('Fingerbank Settings') %]</h2>

[% INCLUDE config/fingerbank/header.tt %]

<br/>

<form name="section" class="form-horizontal" action="[%c.uri_for(c.controller.action_for('index'))%]" method="post">
  [% FOREACH field IN form.fields %]
    [% form.field(field.name).render | none %]
  [% END %]

  <div class="form-actions">
    <button type="submit" class="btn btn-primary">[% l('Save') %]</button>
    <button type="reset" class="btn">[% l('Reset') %]</button>
  </div>
</form>
