[% title = i18n("SoH Management") %]
[% INCLUDE header.html %]

<style type="text/css">
 ul#filternames, ul.rules { margin-left: 0px; padding-left: 10px; list-style: none; }
 ul#filternames li.filter { border: 1px solid #eee; border-bottom: 1px solid #ddd; padding: 4px; }
 ul#filternames li.filter span.actions { float: left; margin-top: 3px; width: 50px; }
 ul#filternames li.filter span.actions a { display: none; } 
 ul#filternames li.filter span.actions img { margin-right: 6px; }
 ul#filternames li.filter:hover { background-color: #ddd; border: 1px solid #ddd; }
 ul#filternames li.filter:hover span.actions a { display: inline; }
 ul#filternames li.filter.edit { background-color: #fff; border-radius: 0px 0px 8px 8px; }
 div.ruleset { padding-left: 50px; border-top: 1px dotted #ddd; font-size: smaller; }
 div.ruleset p { margin: 0px; margin-bottom: 5px; }
 span#msg { margin-left: 100px; width: 400px; text-align: center; } 
</style>

<script id=filtertmpl type="text/x-template">
 <li class=filter id="f#{filter_id}" name="#{name}">
  <span class="actions"><a href="#" class="edit" title="[% i18n('Edit this filter') %]"><img src="/images/edit.png"></a><a href="#" class="del" title="[% i18n('Delete this filter') %]"><img src="/images/delete.png"></a></span> #{name}
  <input type=hidden name=filter_id value="#{filter_id}">
  <input type=hidden name=filter_name value="#{name}">
  <div class=ruleset id="r#{filter_id}" style="display: none">
   <p>Action: <select name=action>
    <option value="">[% i18n('Do nothing') %]</option>
    <option value="accept">[% i18n('Accept') %]</option>
    <option value="reject">[% i18n('Reject') %]</option>
    <option value="violation">[% i18n('Trigger violation') %]</option>
   </select>
   <input type=text name=vid value="#{vid}" style="display: none">
   <p>[% i18n('Conditions:') %]
   <ul class=rules>
     <li class=none>[% i18n('(None yet)') %]</li>
   </ul>
   <button class=addrule>[% i18n('Add a condition') %]</button>
  </div>
 </li>
</script>

<script id=ruletmpl type="text/x-template">
 <li class=rule>
  <a href="#" class="rdel" title="[% i18n('Delete this condition') %]"><img src="/images/delete.png"></a>
  <select name="#{rfid}class">
   <option value=""></option>
   <option value="firewall">[% i18n('Firewall') %]</option>
   <option value="antivirus">[% i18n('Anti-virus') %]</option>
   <option value="antispyware">[% i18n('Anti-spyware') %]</option>
   <option value="auto-updates">[% i18n('Auto-updates') %]</option>
   <option value="security-updates">[% i18n('Security updates') %]</option>
  </select>
  <select name="#{rfid}op">
   <option value=""></option>
   <option value="is">[% i18n('is') %]</option>
   <option value="isnot">[% i18n('is not') %]</option>
  </select>
  <select name="#{rfid}status">
   <option value=""></option>
   <option value="ok">[% i18n('ok') %]</option>
   <option value="installed">[% i18n('installed') %]</option>
   <option value="enabled">[% i18n('enabled') %]</option>
   <option value="disabled">[% i18n('disabled') %]</option>
   <option value="up2date">[% i18n('up-to-date') %]</option>
   <option value="microsoft">[% i18n('from Microsoft') %]</option>
  </select>
</li>
</script>

<div id="about" class="underlined">
   <img src="/content/images/registration.png" alt="Filters">
   <h1>[% i18n('Filters')  %]</h1>
   <p>[% i18n('Define the filters which will apply to all NAP-capable clients that produce a statement of health (SoH).') %]</p>
   <hr>
</div>

<form id=filterform method=post action="[% self %]/filters/save">
 <p>
 <ul id=filternames>
  [% FOREACH filter IN list_filters %]
   <li class=filter id="f[% filter.filter_id %]" name="[% filter.name %]">
    <span class="actions"><a href="#" class="edit" title="[% i18n('Edit this filter') %]"><img src="/images/edit.png"></a>[% IF filter.name != 'Default' %]<a href="#" class="del" title="[% i18n('Delete this filter') %]"><img src="/images/delete.png"></a>[% END %]</span>[% filter.name %]
    <input type=hidden name=filter_id value="[% filter.filter_id %]">
    <input type=hidden name=filter_name value="[% filter.name %]">
    <div class=ruleset id="r[% filter.filter_id %]" style="display: none">
     <p>[% i18n('Action:') %] <select name=action>
      <option value="">[% i18n('Do nothing') %]</option>
      <option value="accept" [% IF filter.action == 'accept' %]selected[% END %]>[% i18n('Accept') %]</option>
      <option value="reject" [% IF filter.action == 'reject' %]selected[% END %]>[% i18n('Reject') %]</option>
      <option value="violation" [% IF filter.action == 'violation' && filter.vid %]selected[% END %]>[% i18n('Trigger violation') %]</option>
     </select>
     <input type=text name=vid value="[% filter.vid %]"
      [% IF !(filter.action == 'violation' && filter.vid) %]style="display: none"[% END %]>
     <p>[% i18n('Conditions:') %]
     <ul class=rules>
     [% matched = 0 %]
     [% FOREACH rule IN list_rules %]
      [% IF rule.filter_id == filter.filter_id %]
       [% matched = 1 %]
       <li class=rule>
        <a href="#" class="rdel" title="[% i18n('Delete this condition') %]"><img src="/images/delete.png"></a>
        <select name="r[% filter.filter_id %]class">
         <option value="firewall" [% IF rule.class == 'firewall' %]selected[% END %]>[% i18n('Firewall') %]</option>
         <option value="antivirus" [% IF rule.class == 'antivirus' %]selected[% END %]>[% i18n('Anti-virus') %]</option>
         <option value="antispyware" [% IF rule.class == 'antispyware' %]selected[% END %]>[% i18n('Anti-spyware') %]</option>
         <option value="auto-updates" [% IF rule.class == 'auto-updates' %]selected[% END %]>[% i18n('Auto-updates') %]</option>
         <option value="security-updates" [% IF rule.class == 'security-updates' %]selected[% END %]>[% i18n('Security updates') %]</option>
        </select>
        <select name="r[% filter.filter_id %]op">
         <option value="is" [% IF rule.op == 'is' %]selected[% END %]>is') %]</option>
         <option value="isnot" [% IF rule.op == 'isnot' %]selected[% END %]>is not') %]</option>
        </select>
        <select name="r[% filter.filter_id %]status">
         <option value="ok" [% IF rule.status == 'ok' %]selected[% END %]>ok</option>
         <option value="installed" [% IF rule.status == 'installed' %]selected[% END %]>[% i18n('installed') %]</option>
         <option value="enabled" [% IF rule.status == 'enabled' %]selected[% END %]>[% i18n('enabled') %]</option>
         <option value="disabled" [% IF rule.status == 'disabled' %]selected[% END %]>[% i18n('disabled') %]</option>
         <option value="up2date" [% IF rule.status == 'up2date' %]selected[% END %]>[% i18n('up-to-date') %]</option>
         <option value="microsoft" [% IF rule.status == 'microsoft' %]selected[% END %]>[% i18n('from Microsoft') %]</option>
        </select>
       </li>
      [% END %]
     [% END %]
     [% IF !matched %]<li class=none>[% i18n('(None yet)') %]</li>[% END %]
     </ul>
     <button class=addrule>[% i18n('Add a condition') %]</button>
    </div>
   </li>
  [% END %]
 </ul>

 <div class="input">
   <button id=addfilter>[% i18n('Add a filter') %]</button><br>
   <span id="msg"></span>
   <input id=save type=submit value="[% i18n('Save filters') %]">
  </div>
</form>

<script type="text/javascript">
 var tid;

 function ajax_success (t) {
   var m = '';
   var c = 'green';

   if (tid)
     window.clearTimeout(tid);

   var j = t.responseJSON;
   if (j) {
     m = j.message;
     if (j.status != 'ok') {
       c = 'red';
     } else {
       tid = window.setTimeout(function () {$('msg').style.display = 'none'}, 3000);
     }
   }
   else {
     c = 'red';
     m = '[% i18n('Invalid response') %]';
   }

   $('msg').update(m);
   $('msg').style.color = c;
   $('msg').style.display = '';
 }

 function ajax_failure (t) {
   var m = t.responseText || '[% i18n('Request failed') %]';

   $('msg').update(m);
   $('msg').style.color = 'red';
 }

 $('filternames').observe('click', function (e) {
   var li = e.findElement('li');
   var edit = e.findElement('a.edit');
   var del = e.findElement('a.del');
   var rdel = e.findElement('a.rdel');
   var ruleset = e.findElement('div.ruleset');
   var addrule = e.findElement('button.addrule');

   if (rdel) {
     var ul = e.findElement('ul.rules');
     li.remove();
     if (!ul.down()) {
       ul.insert('<li>[% i18n('(None)') %]</li>');
       ul.down().addClassName('none');
     }
     $('save').style.color = 'red';
   }

   else if (addrule) {
     var ul = addrule.previous();
     var rfid = ul.up().id;
     var tmpl = new Template($('ruletmpl').innerHTML);
     if (ul.down().hasClassName('none')) {
       ul.down().remove();
     }
     ul.insert(tmpl.evaluate({rfid: rfid}));
     $('save').style.color = 'red';
   }

   else if (del) {
     if (window.confirm("[% i18n('Are you sure you want to delete this filter?') %]")) {
       new Ajax.Request('[% self %]/filters/delete', {
         method: 'post', parameters: { name: li.readAttribute('name') },
         onFailure: ajax_failure,
         onSuccess: function (t) {
           ajax_success(t);
           var j = t.responseJSON;
           if (j && j.status == 'ok') {
             li.remove();
           }
         }
       });
     }
   }

   else if (!ruleset && li && edit) {
     var r = $('r'+li.id.substring(1));
     if (r) {
       r.toggle();
       if (r.visible()) li.addClassName("edit");
       else li.removeClassName("edit");
     }
   }

   e.stop();
 });

 $('addfilter').observe('click', function (e) {
   var name = window.prompt("[% i18n('Enter new filter name') %]");
   if (name) {
     new Ajax.Request('[% self %]/filters/add', {
       method: 'post', parameters: { name: name },
       onFailure: ajax_failure,
       onSuccess: function (t) {
         ajax_success(t);
         var j = t.responseJSON;
         if (j && j.status == 'ok' && j.filter_id) {
           j.name = name;
           var tmpl = new Template($('filtertmpl').innerHTML);
           $('filternames').insert(tmpl.evaluate(j));
         }
       }
     });
   }
   e.stop();
 });

 $('filterform').observe('change', function (e) {
   var n = e.target;
   $('save').style.color = 'red';
   if (n.nodeName == 'SELECT' && n.name == 'action') {
     n.next().style.display = n.getValue() == 'violation' ? '' : 'none';
   }
 });

 $('filterform').observe('submit', function (e) {
   $('filterform').request({
     onFailure: ajax_failure,
     onSuccess: function (t) {
       ajax_success(t);
       var j = t.responseJSON;
       if (j && j.status == 'ok') {
         $('save').style.color = '';
       }
     }
   });
   e.stop();
 });
</script>

[%# We should probably define our own soh/footer.html %]
[% INCLUDE footer.html %]
