#
# Config file for collectd(1).
# Please read collectd.conf(5) for a list of options.
# http://collectd.org/
#

##############################################################################
# Global                                                                     #
#----------------------------------------------------------------------------#
# Global settings for the daemon.                                            #
##############################################################################

Hostname    "%%hostname%%"
#FQDNLookup   true
#BaseDir     "/var/lib/collectd"
PIDFile     "%%install_dir%%/var/run/collectd.pid"
#PluginDir   "/usr/lib64/collectd"
TypesDB     "%%install_dir%%/var/conf/types.db"

#----------------------------------------------------------------------------#
# When enabled, plugins are loaded automatically with the default options    #
# when an appropriate <Plugin ...> block is encountered.                     #
# Disabled by default.                                                       #
#----------------------------------------------------------------------------#
#AutoLoadPlugin false
#
##############################################################################
# Logging                                                                    #
#----------------------------------------------------------------------------#
# Plugins which provide logging functions should be loaded first, so log     #
# messages generated when loading or configuring other plugins can be        #
# accessed.                                                                  #
##############################################################################

#LoadPlugin syslog
LoadPlugin logfile

<Plugin logfile>
	LogLevel info
	File "%%log_dir%%/collectd.log"
	Timestamp true
	PrintSeverity true
</Plugin>

#<Plugin syslog>
#	LogLevel info
#</Plugin>

##############################################################################
# LoadPlugin section                                                         #
#----------------------------------------------------------------------------#
##############################################################################

LoadPlugin apache
LoadPlugin cpu
LoadPlugin interface
LoadPlugin load
LoadPlugin memory
LoadPlugin mysql
LoadPlugin unixsock
LoadPlugin write_graphite
LoadPlugin redis
LoadPlugin disk
LoadPlugin drbd
LoadPlugin conntrack
LoadPlugin processes
LoadPlugin tcpconns
LoadPlugin swap
LoadPlugin tail

##############################################################################
# Plugin configuration                                                       #
#----------------------------------------------------------------------------#
# In this section configuration stubs for each plugin are provided. A desc-  #
# ription of those options is available in the collectd.conf(5) manual page. #
##############################################################################
<Plugin apache>
  <Instance "portal">
    URL "https://%%management_ip%%:%%httpd_portal_modstatus_port%%/modstatus/?auto"
  </Instance>
</Plugin>

<Plugin apache>
  <Instance "aaa">
    URL "http://localhost:7070/apache_status/?auto"
  </Instance>
</Plugin>

<Plugin apache>
  <Instance "webservices">
    URL "http://localhost:9090/apache_status/?auto"
  </Instance>
</Plugin>

<Plugin mysql>
	<Database pf>
		Host "%%db_host%%"
		User "%%db_username%%"
		Password "%%db_password%%"
		Database "%%db_database%%"
	</Database>
</Plugin>

<Plugin unixsock>
	SocketFile "%%install_dir%%/var/run/collectd-unixsock"
	SocketGroup "pf"
	SocketPerms "0660"
	DeleteSocket true
</Plugin>

<Plugin write_graphite>
  <Carbon>
    Host "127.0.0.1"
    Port "2013"
    StoreRates true
    AlwaysAppendDS false
    EscapeCharacter "_"
  </Carbon>
</Plugin>

<Plugin redis>
  <Node "cache">
    Host "localhost"
    Port "6379"
    Timeout 2000
  </Node>
</Plugin>

<Plugin redis>
  <Node "queue">
    Host "localhost"
    Port "6380"
    Timeout 2000
  </Node>
</Plugin>

<Plugin "disk">
  Disk "/^sd/"
  Disk "/^drbd/"
  IgnoreSelected false
</Plugin>

<Plugin "tcpconns">
  ListeningPorts false
  LocalPort "80"
  LocalPort "443"
</Plugin>

<Plugin "tail">
  <File "/usr/local/pf/logs/packetfence.log">
    Instance "PacketFence"
    <Match>
      Regex ".*Use of uninitialized value.*"
      DSType "CounterInc"
      Type "counter"
      Instance "Uninitialized value"
    </Match>
    <Match>
      Regex ".*database query failed.*"
      DSType "CounterInc"
      Type "counter"
      Instance "Query Failed"
    </Match>
    <Match>
      Regex ".*ERROR.*"
      DSType "CounterInc"
      Type "counter"
      Instance "Error"
    </Match>
  </File>
  <File "/usr/local/pf/logs/pfqueue.log">
    Instance "pfqueue"
    <Match>
      Regex ".*Use of uninitialized value.*"
      DSType "CounterInc"
      Type "counter"
      Instance "Uninitialized value"
    </Match>
    <Match>
      Regex ".*Invalid task id.*"
      DSType "CounterInc"
      Type "counter"
      Instance "InvalidTaskID"
    </Match>
    <Match>
      Regex ".*database query failed.*"
      DSType "CounterInc"
      Type "counter"
      Instance "Query Failed"
    </Match>
    <Match>
      Regex ".*ERROR.*"
      DSType "CounterInc"
      Type "counter"
      Instance "Error"
    </Match>
  </File>
  <File "/usr/local/pf/logs/pfmon.log">
    Instance "pfmon"
    <Match>
      Regex ".*Use of uninitialized value.*"
      DSType "CounterInc"
      Type "counter"
      Instance "Uninitialized value"
    </Match>
    <Match>
      Regex ".*database query failed.*"
      DSType "CounterInc"
      Type "counter"
      Instance "Query Failed"
    </Match>
    <Match>
      Regex ".*ERROR.*"
      DSType "CounterInc"
      Type "counter"
      Instance "Error"
    </Match>
  </File>
  <File "/usr/local/pf/logs/pfdhcplistener.log">
    Instance "pfdhcplistener"
    <Match>
      Regex ".*Use of uninitialized value.*"
      DSType "CounterInc"
      Type "counter"
      Instance "Uninitialized value"
    </Match>
    <Match>
      Regex ".*database query failed.*"
      DSType "CounterInc"
      Type "counter"
      Instance "Query Failed"
    </Match>
    <Match>
      Regex ".*ERROR.*"
      DSType "CounterInc"
      Type "counter"
      Instance "Error"
    </Match>
  </File>
  <File "/usr/local/pf/logs/radius.log">
    Instance "radius-auth"
    <Match>
      Regex ".*Error:.*"
      DSType "CounterInc"
      Type "counter"
      Instance "Error"
    </Match>
  </File>
  <File "/usr/local/pf/logs/radius-load_balancer.log">
    Instance "radius-load_balancer"
    <Match>
      Regex ".*Error:.*"
      DSType "CounterInc"
      Type "counter"
      Instance "Error"
    </Match>
  </File>
</Plugin>
