[switches:children]
[% FOREACH key IN switches.keys %]switch_[% key %]
[% END %]

[% FOREACH key IN switches.keys %][switch_[% key %]]
switch_[% key %] ansible_host=[% switches.$key.id %]

[% END %]

[% FOREACH key IN switches.keys %][switch_[% key %]:vars]
[% SWITCH switches.$key.ansible_network_os %]
[% CASE 'cisco.ios.ios' %]ansible_become=yes
ansible_become_method=enable
ansible_become_pass="[% switches.$key.cliEnablePwd %]"
ansible_network_os=[% switches.$key.ansible_network_os %]
ansible_user=[% switches.$key.cliUser %]
ansible_password="[% switches.$key.cliPwd %]"
ansible_connection=ansible.netcommon.network_cli
acl_config=[% key %].cfg
[% CASE 'aireos' %]ansible_network_os=[% switches.$key.ansible_network_os %]
ansible_user=[% switches.$key.cliUser %]
ansible_password="[% switches.$key.cliPwd %]"
ansible_connection=ansible.netcommon.network_cli
acl_config=[% key %].cfg
[% CASE 'cisco.asa' %]ansible_network_os=[% switches.$key.ansible_network_os %]
ansible_user=[% switches.$key.cliUser %]
ansible_password="[% switches.$key.cliPwd %]"
ansible_connection=ansible.netcommon.network_cli
acl_config=[% key %].cfg
[% CASE 'arubanetworks.aoscx.aoscx' %]ansible_network_os=[% switches.$key.ansible_network_os %]
ansible_user=[% switches.$key.cliUser %]
ansible_password="[% switches.$key.cliPwd %]"
ansible_network_os=[% switches.$key.ansible_network_os %]
ansible_connection=ansible.netcommon.network_cli
ansible_aoscx_validate_certs=False
acl_config=[% key %].cfg
[% END %]

[% END %]
