all:
  children:
    switches:
      children:
[% FOREACH key IN switches.keys %]        switch_child_[% key %]:
[% END %]          hosts:
[% FOREACH key IN switches.keys %]            switch_[% key %]:
              ansible_host: [% switches.$key.id %]
[% END %]          vars:[% FOREACH key IN switches.keys %][% SWITCH switches.$key.ansible_network_os %][% CASE 'cisco.ios.ios' %]
            ansible_become: yes
            ansible_become_method: enable
            ansible_become_pass: "[% switches.$key.cliEnablePwd %]"
            ansible_network_os: [% switches.$key.ansible_network_os %]
            ansible_user: [% switches.$key.cliUser %]
            ansible_password: "[% switches.$key.cliPwd %]"
            ansible_connection: ansible.netcommon.network_cli
            acl_config: [% key %].cfg
[% CASE 'aireos' %]
            ansible_network_os: [% switches.$key.ansible_network_os %]
            ansible_user: [% switches.$key.cliUser %]
            ansible_password: "[% switches.$key.cliPwd %]"
            ansible_connection: ansible.netcommon.network_cli
            acl_config: [% key %].cfg
[% CASE 'cisco.asa' %]
            ansible_network_os: [% switches.$key.ansible_network_os %]
            ansible_user: [% switches.$key.cliUser %]
            ansible_password: "[% switches.$key.cliPwd %]"
            ansible_connection: ansible.netcommon.network_cli
            acl_config: [% key %].cfg
[% CASE 'arubanetworks.aoscx.aoscx' %]
            ansible_network_os: [% switches.$key.ansible_network_os %]
            ansible_user: [% switches.$key.cliUser %]
            ansible_password: "[% switches.$key.cliPwd %]"
            ansible_connection: ansible.netcommon.network_cli
            ansible_aoscx_validate_certs: False
            acl_config: [% key %].cfg
[% CASE 'arista.eos.eos' %]
            ansible_network_os: [% switches.$key.ansible_network_os %]
            ansible_become: True
            ansible_become_method: enable
            ansible_become_password: "[% switches.$key.cliEnablePwd %]"
            ansible_user: [% switches.$key.cliUser %]
            ansible_password: "[% switches.$key.cliPwd %]"
            ansible_connection: ansible.netcommon.network_cli
            acl_config: [% key %].cfg
[% CASE 'aruba' %]
            ansible_network_os: [% switches.$key.ansible_network_os %]
            ansible_become: True
            ansible_become_method: enable
            ansible_become_password: "[% switches.$key.cliEnablePwd %]"
            ansible_user: [% switches.$key.cliUser %]
            ansible_password: "[% switches.$key.cliPwd %]"
            ansible_connection: ansible.netcommon.network_cli
            acl_config: [% key %].cfg
            acl_deconfig: del-[% key %].cfg
[% CASE 'aos' %]
            ansible_network_os: [% switches.$key.ansible_network_os %]
            ansible_connection: httpapi
            ansible_httpapi_port: 4343
            ansible_httpapi_validate_certs: False
            ansible_httpapi_use_ssl: True
            ansible_user: [% switches.$key.wsUser %]
            ansible_password: "[% switches.$key.wsPwd %]"
            acl_config: [% key %].cfg
            acl_deconfig: del-[% key %].cfg
[% FOREACH role IN switches.$key.acls.keys %]            [% role %]acl_config: [% role %]-[% key %].cfg
[% END %]
[% END %]

[% END %]
