<html>
<head>
  <style type="text/css">
    [% INCLUDE emails.css %]
  </style>
</head>
<body>
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" width="600">
      <div class="content">
        <table class="main" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td class="content-wrap">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <h1 class="align-center">User account</h1>
                    <p>Hi,</p>
                    <p>Your guest access to the network was authorized.</p>
                    <p>Once on site, use the following username and password to authenticate:</p>
                    <p>Username: [% pid %]</br>
                    Password: [% password %]</p>
                    <p>If you have any questions regarding the registration process please contact your local support staff.</p>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
<div class="footer">
  <table width="100%">
    <tr>
      <td class="aligncenter content-block">
        <p>-----</br></p>
        <p>[% i18n ("This is a post only E-mail, please do not reply.") %]</p>
      </td>
    </tr>
  </table>
</div>
</body>
</html>
