<html>
<head>
  <style type="text/css">
    [% INCLUDE emails.css %]
  </style>
</head>
<body>
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" width="600">
      <div class="content">
        <table class="main" width="100%" cellpadding="0" cellspacing="0">
          <tr>
            <td class="content-wrap">
              <table width="100%" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <h1 class="aligncenter">[% i18n("Password Of the Day") %]</h1>
                     <p>[% i18n("Hello") %],</p>
                     <p>[% i18n("Here the new password updated for the Password Of the Day") %]</p>
                     <p>[% i18n("Here are the info.") %]</p>
                     <p>[% i18n("Username") %]: [% pid %]</br> [% i18n("Password") %]: [% password %]</p>
                     <p>[% i18n("If you have any questions regarding the registration process please contact your local support staff.") %]</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
<div class="footer">
  <table width="100%">
    <tr>
      <td class="aligncenter content-block">
        <p>-----</br></p>
        <p>[% i18n("This is a post only E-mail, please do not reply.") %]</p>
      </td>
    </tr>
  </table>
</div>
</body>
</html>
