[% WRAPPER "class-wrapper.tt" class="pf::util::radius_dictionary" -%]
use Net::Radius::Dictionary;
use Exporter qw(import);
our @EXPORT_OK = qw($RADIUS_DICTIONARY);

our $RADIUS_DICTIONARY = bless(
    [% INSERT "$dump" %],
    "Net::Radius::Dictionary",
);

# Attributes added by the administrator in conf/radiusd/dictionary.local
{
    require pf::util::radius_dictionary_local;
    my @warnings = pf::util::radius_dictionary_local::merge($RADIUS_DICTIONARY);
    warn "RADIUS local dictionary: $_\n" for @warnings;
}

[%- END -%]
