<html>

<head>
<title>[% txt_page_title %]</title>
<style>
<!--
.bio         { }
-->
</style>
</head>

<body>

<center>
  <table border="0" width="650" id="table2">
    <tr>
      <td align="center">
      <img border="0" src="[% logo %]">
      <td>
    </tr>
    <tr>
      <td align="center" class="bio">

        <p align="center"><font face="Arial" size="+1"><b>[% txt_page_title %]</b></font></p>

        <p>Access to the guest network has been granted until [% expiration %].</p>

      </td>
    </tr>
  </table>
</center>

</body>

</html>

