[% title = i18n("PacketFence Registration System") %]
[% INCLUDE header.html
    body_attributes = 'onload="$(\'firstfield\').focus();"';
%]

        <div id="about" class="underlined">
          <img src="/content/images/registration.png" alt="Registration" />
          <h1>[% i18n("Guest Registration") %]</h1>
          <p>[% i18n("guest network disclaimer") %]</p>
          <p>[% i18n("In the fields below please enter your name, phone number and a valid email address.") %]</p>
          <hr/>
        </div>

        [%# Error %]
        [% IF txt_error %]<div class="error"><p>[% txt_error %]</p></div>[% END %]

        <form method="post" action="[% post_uri %]">
          <input type="hidden" name="destination_url" value="[% destination_url %]" />

          <div class="input">
            <span>[% i18n("Firstname") %]</span>
            <input class="field" name="firstname" id="firstfield" type="text" value="[% firstname | html %]" />
          </div>
          <div class="input">
            <span>[% i18n("Lastname") %]</span>
            <input class="field" name="lastname" type="text" value="[% lastname | html %]" />
          </div>
          <div class="input">
            <span>[% i18n("Phone number") %]</span>
            <input class="field" name="phone" type="text" value="[% phone | html %]" />
          </div>
          <div class="input">
            <span>[% i18n("Phone Provider") %]</span>
            <select name="mobileprovider">
              <option value="">[% i18n("Select your provider") %]</option>
                  [% FOREACH carrier IN sms_carriers %]<option value="[% carrier.id %]"[% IF mobileprovider == carrier.id %] selected[% END %]>[% carrier.name %]</option>
                  [% END %]
              </select>
          </div>
          <div class="input">
            <span>[% i18n("Email") %]</span>
            <input class="field" name="email" type="text" value="[% email | html %]" /><br/>
          </div>

          [%# AUP %]
          <div class="input">
            <div>[% i18n("Acceptable Use Policy") %]</div>
            <div id="aup" class="notmobile">
              [% INCLUDE aup_text.html %]
            </div>
            <div class="notmobile"><input name="aup_signed" type="checkbox" value="on" /> [% i18n("I accept the terms") %]</div>
            <div class="mobile"><input name="aup_signed" type="checkbox" value="on" /> [% i18n("I have read and accept the terms") %]</div>
          </div>

          [%# submit %]
          <div class="input">
            <div class="note bg">
              <p>[% i18n("If you choose to receive your access code <strong>by email</strong>, you will be given temporary network access for 10 minutes during that time:") %]</p>
              <ul>
                <li>[% i18n("Login to the email account you referenced and;") %]</li>
                <li>[% i18n("Click on the link emailed to you to validate network access for the next 24 hours.") %]</li>
            </ul>
            </div>
            <input type="submit" class="button" name="by_email" value="[% i18n("Register by Email") %]" /><br/>
            <div class="note bg">
              <p>[% i18n("If you choose to receive your access code <strong>by SMS</strong>, you will be able to enter it on the next page.") %]</p>
            </div>
              <input type="submit" class="button" name="by_sms" value="[% i18n("Register by SMS") %]" />
          </div>

        </form>

[% INCLUDE footer.html %]
