[% title = i18n("release: enabling network") %]
[% INCLUDE header.html %]

        <div id="about">
          <img src="/content/images/unlock.png" alt="Access granted" />
          <p>[% i18n("Your XML configuration have been generated and is now ready to download.  Follow the link below in order to get access to the secure SSID.") %]</p>
          <p>
          <a href="/wireless-profile.mobileconfig">[% i18n("Click to install your generated wireless profile.") %]</a>
          </p>
        </div>

[% INCLUDE footer.html %]
