Source: packetfence
Section: main/net
Priority: optional
Maintainer: Durand fabrice <fdurand@inverse.ca>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.8.4
Vcs-Git: git://github.com/inverse-inc/packetfence.git
Vcs-browser: https://github.com/inverse-inc/packetfence/
Homepage: http://www.packetfence.org/

Package: packetfence
Architecture: all
Pre-Depends:  freeradius, freeradius-ldap, freeradius-postgresql,
 freeradius-mysql, freeradius-krb5
Depends: ${misc:Depends}, apache2, apache2.2-common, apache2-utils, 
 openssl, openssl-blacklist, openssl-blacklist-extra, php-log, snort, 
 mysql-server, libapache2-mod-proxy-html, libapache2-mod-php5, php-pear, 
 php5-mysql, php5-gd, perl-suid, libapache-htpasswd-perl, libbit-vector-perl, 
 libcgi-session-serialize-yaml-perl, libtimedate-perl, libapache-dbi-perl,
 libdbd-mysql-perl, libfile-tail-perl, libnetwork-ipv4addr-perl,
 libiptables-parse-perl, libiptables-chainmgr-perl, liblist-moreutils-perl,
 liblocale-gettext-perl, liblog-log4perl-perl, iptables,
 liblwp-useragent-determined-perl, libnet-mac-vendor-perl, libnet-mac-perl, 
 libnet-netmask-perl, libnet-pcap-perl, libnet-snmp-perl, libsnmp-perl, 
 libnet-telnet-cisco-perl, libparse-recdescent-perl, 
 libregexp-common-email-address-perl, libregexp-common-time-perl, 
 libperl-critic-perl, libreadonly-xs-perl, libhtml-template-perl, 
 libterm-readkey-perl, libtest-perl-critic-perl, libtest-pod-perl, 
 libtest-pod-coverage-perl, apache2-mpm-prefork, libthread-pool-simple-perl,
 libuniversal-require-perl, libuniversal-exports-perl, libnet-rawip-perl, 
 libwww-perl, libapache-htpasswd-perl, libbit-vector-perl, 
 libcgi-session-perl, libconfig-inifiles-perl,
 libdatetime-format-dateparse-perl, libdbi-perl, libdbd-mysql-perl, 
 libfile-tail-perl, libnetwork-ipv4addr-perl, libiptables-parse-perl, 
 libiptables-chainmgr-perl, liblist-moreutils-perl, liblocale-gettext-perl, 
 liblog-log4perl-perl, libnet-mac-perl, libnet-mac-vendor-perl, 
 libnet-netmask-perl, libnet-pcap-perl, libnet-write-perl, libnet-snmp-perl,
 libnet-telnet-perl, libparse-recdescent-perl, libregexp-common-perl,
 libreadonly-perl, libtemplate-perl, libterm-readkey-perl, 
 libtest-perl-critic-perl, libtest-pod-perl, libtest-pod-coverage-perl, 
 libuniversal-require-perl, libthread-serialize-perl, libload-perl,
 libtry-tiny-perl, snmp, snmptrapfmt, libmime-lite-perl,
 libnet-ldap-perl, libcrypt-generatepassword-perl, perl-doc, dhcp3-server,
 bind9, librrds-perl, libnetpacket-perl, libcache-cache-perl, libcarp-perl,
 libiptables-libiptc-perl, libload-perl, libmime-lite-tt-perl,
 libnet-appliance-session-perl, libnet-cli-interact-perl,
 libnet-frame-simple-perl, libnet-interface-perl, libnet-radius-perl,
 libparse-nessus-nbe-perl, libphp-session-perl, libtest-mockdbi-perl,
 gettext, vlan, libsoap-lite-perl
Description: PacketFence network registration / worm mitigation system
 PacketFence is an open source network access control (NAC) system.
 It can be used to effectively secure networks, from small to very large
 heterogeneous networks. PacketFence provides features such
 as
 * registration of new network devices
 * detection of abnormal network activities
 * isolation of problematic devices
 * remediation through a captive portal
 * registration-based and scheduled vulnerability scans.

Package: packetfence-doc
Architecture: all
Description: documentation for packetfence
 <insert long description, indented with spaces>

Package: packetfence-remote-snort-sensor
Architecture: all
Depends: ${misc:Depends}, snort, libfile-tail-perl, libconfig-inifiles-perl,
 libio-socket-ssl-perl, libxml-parser-perl, libcrypt-ssleay-perl,
 libsoap-lite-perl
Conflicts: packetfence
Description: Files needed for sending snort alerts to packetfence 
 The packetfence-remote-snort-sensor package contains the files needed
 for sending snort alerts from a remote snort sensor to a PacketFence
 server.

