[Unit]
Description=PacketFence Service
After=network.target packetfence-config.service packetfence-redis-cache.service

[Service]
Type=forking
ExecStart=/usr/local/pf/bin/pfcmd service pf start
ExecStop=/usr/local/pf/bin/pfcmd service pf stop
TimeoutStartSec=180s


[Install]
WantedBy=multi-user.target
