<!-- START TOTP.html -->

<div class="c-card o-layout o-layout--center u-padding u-padding@tablet">
    <div class="o-layout__item u-1/1 u-2/3@tablet u-3/5@desktop">
[% IF exist %]
        <form action="/mfa" method="post">
            <div class="input-container">
                <label for="otp">[% i18n("OTP") %]</label>
                <input id="otp" name="otp" title="OTP" type="tel" inputmode="numeric" pattern="[0-9]*" minlength="4" maxlength="6" required autocorrect="off" autocapitalize="off" class="text-center letter-expand" />
            </div>
            <button type="submit" name="submit" class="c-btn c-btn--primary u-1/1 u-margin-top" disabled>
                [% i18n("Continue") %]
            </button>
        </form>
[% ELSE %]
        <p>Here your qrcode you have to scan with your authenticator application</p>
        <div id="qrcode" data-username="[% username %]" data-otp="[% otp %]"></div>
[% END %]
  </div>
</div>

<script src="/common/qrcode.js"></script>

<!-- END TOTP.html -->
