[% INCLUDE header.html 
    body_attributes = 'onload="$(\'login\').focus();"';
%]

        [%# Welcome text %]
        <div id="about" class="underlined">
          <img src="content/images/lock.png" alt="You are not authorized" />
          <p>[% txt_all_systems_must_be_registered %]</p>
          <p>[% txt_to_complete %]</p>
        </div>

        [%# Error %]
        [% IF txt_auth_error.defined %]<div class="error"><p>[% txt_auth_error %]</p></div>[% END %]

        <form name="login" method="post" action="/authenticate">
          <input type="hidden" name="destination_url" value="[% destination_url %]" />

          [%# Authentication choice %]
          [% IF list_authentications.size == 1 %]
            <input type='hidden' name='[% list_authentications.first.name %]' 
              value='[% list_authentications.first.value %]' />
          [% ELSE %]
            <div class="input center">
              <select name='auth'>
                <option value='' selected="selected">[% txt_select_authentications %]</option>
                [% FOREACH authentication_info IN list_authentications %]
                <option value='[% authentication_info.value %]'>[% authentication_info.name %]</option>
                [% END %]
              </select>
            </div>
          [% END %]

          [%# User / Pass %]
          <div class="input">
            <span>[% txt_username %]</span><input class="field" name="username" id="login" type="text" />
          </div>
          <div class="input">
            <span>[% txt_password %]</span><input class="field" name="password" type="password" />
          </div>

          [%# AUP %]
          <div class="input">
            <div>[% txt_aup %]</div>
            <div id="aup" class="notmobile">
              [% INCLUDE aup_text.html %]
            </div>
            [%# The space below is intententionnal %]
            <div class="notmobile"><input name="aup_signed" type="checkbox" /> [% txt_accept_terms %]</div>
            <div class="mobile"><input name="aup_signed" type="checkbox" />[% txt_accept_terms_mobile %]</div>
          </div>

          [%# submit %]
          <div class="input">
            <input type="submit" class="button" name="submit" value="[% txt_login %]" />
          </div>
        </form>

[% INCLUDE footer.html %]
