[% INCLUDE header.html %]
<script type="text/javascript">
var txt_ie = "[% txt_ie %]";
// once the page is loaded
document.observe("dom:loaded", function() {

  // Opera is known to be broken with network detection so we warn the users
  if (Prototype.Browser.Opera) {
    $('browser_notes').innerHTML = "[% txt_opera %]";
  }

  detectNetworkAccess.delay([% initial_delay %], 
    [% retry_delay %], "[% destination_url %]", "[% redirect_url %]", "[% external_ip %]"
  );
});
</script>

        <div id="about">
          <img src="content/images/lock.png" alt="You are not authorized" />
          <h1>[% txt_page_header %]</h1>
          <p>[% txt_pending %]</p>
          <p id="browser_notes"></p>
          <noscript><p>[% txt_noscript %]</p></noscript>
        </div>

[%# DO NOT REMOVE! REQUIRED FOR NETWORK ACCESS DETECTION %]
<div id="internet-detection" style="display: none;"><img id="netdetect"/></div>

[% INCLUDE footer.html %]
