<script type="text/javascript">
function reloadLanguage(languageCode) {
    var currentRef = window.location.href;
    if (window.location.search.length == 0) {
        window.location.replace(currentRef + '?lang=' + languageCode);
    } else {
        if (window.location.search.indexOf('lang=') == -1) {
            window.location.replace(currentRef + '&lang=' + languageCode);
        } else {
            window.location.replace(currentRef.replace(/lang=.{5}/, 'lang=' + languageCode));
        }
    }
}
</script>
<p align="justify"><font face="Arial">
[% IF list_locales.size > 1 %]
[% FOREACH locale_info IN list_locales %]
<a href="javascript:reloadLanguage('[% locale_info.value %]')">
  [% locale_info.value %]
</a>&nbsp;
[% END %]
[% END %]
</font></p>
<p align="justify"><font face="Arial">
[% txt_all_systems_must_be_registered %]
</font></p>
<p align="justify"><font face="Arial">
[% txt_to_complete %]
</font></p>
<p align="justify"><font face="Arial">
[% txt_help %]
<ul>
  [%  FOREACH txt_help_info IN list_help_info %]
  <li>[% txt_help_info.name %]: [% txt_help_info.value %]</li>
  [%  END %]
</ul>
</font>
</p>

