<html>

<head>
<title>[% txt_page_title %]</title>
<script src="/common/prototype.js" type="text/javascript"></script>
<script src="/common/pf.js" type="text/javascript"></script>

<script type="text/javascript">
var waitTime=[% timer %];
var action = function() {
  hidebar();
  $('toReplace').innerHTML = '<font face=\"Arial\">[% txt_timerexpired %]</font>';
}; 
  
var txt_ie = "[% txt_ie %]";
// once the page is loaded
document.observe("dom:loaded", function() {

  // Opera is known to be broken with network detection so we warn the users
  if (Prototype.Browser.Opera) {
    $('browser_notes').innerHTML = "[% txt_opera %]";
  }

  detectNetworkAccess.delay([% initial_delay %], 
    $('internet-detection'), [% retry_delay %], "[% destination_url %]", "[% redirect_url %]", "[% external_ip %]"
  );
});
</script>

</head>

<body bgcolor="#FFFFFF">

<center>
  <table border="0" width="650" id="table1">
    <tr>
      <td align="center">
        <p align="center">
        <img border="0" src="[% logo %]">
        </p>
      </td>
    </tr>
    <tr>
      <td align="center">
        <p align="center">
        <script type="text/javascript" src="/3rdparty/timerbar.js"></script>
        <noscript><font face="Arial">[% txt_noscript %]</font></noscript>
        </p>
      </td>
    </tr>
    <tr>
      <td align="center">
        <p align="center" id="toReplace"><font face="Arial">
          [% txt_message %]
        </font></p>
        <p align="center" id="browser_notes"></p>
      </td>
    </tr>
  </table>
</center>

<div id="internet-detection" style="display: none;"></div>
</body>

</html>

