<html>

<head>
  <title>[% txt_page_title %]</title>
<style>
<!--
.bio         { }
-->
</style>
<meta http-equiv="refresh" content="[% refresh_timer %];url=[% destination_url %]" />
</head>

<body>
<center>
  <table border="0" width="650" id="table2">
    <tr>
      <td align="center">
        <img border="0" src="[% logo %]">
      <td>
    </tr>
    <tr>
      <td align="left" class="bio">

<p align="center"><font face="Arial" size="+1"><b>[% txt_page_header %]</b></font></p>
<p align="left">
<font face="Arial">[% txt_message %]</font>
</p>
<p align="left">
<font face="Arial">
<ul>
  [%  FOREACH txt_help_info IN list_help_info %]
  <li>[% txt_help_info.name %]: [% txt_help_info.value %]</li>
  [%  END %]
</ul>
</font>
</p>
<p align="left">
<font face="Arial">[% txt_auto_refresh %]</font>
</p>
      <td>
    </tr>
  </table>
</center>

</body>

</html>
