<html>

<head>
<title>[%txt_page_title %]</title>
<style>
<!--
.bio         { }
-->
</style>
</head>

<body>

<center>
  <table border="0" width="650" id="table2">
    <tr>
      <td align="center">
      <img border="0" src="[% logo %]">
      <td>
    </tr>
    <tr>
      <td align="center" class="bio">

<p align="center"><font face="Arial" size="+1"> <b>[% txt_page_header %]</b></font></p>
<p align="center"><font face="Arial">
<table>
<tr><td colspan="2" align="center"><b>[% txt_addresses %]</b></td></tr>
[% FOREACH address IN list_addresses %]
<tr>
  <td>[% address.name %]</td><td>[% address.value %]</td>
</tr>
[% END %]

<tr><td></td></tr>
<tr><td colspan="2" align="center"><b>[% txt_node %]</b></td></tr>
[% FOREACH node_info IN list_node_info %]
<tr>
  <td>[% node_info.name %]</td><td>[% node_info.value %]</td>
</tr>
[% END %]
  
<tr><td></td></tr>
[% IF list_violations %]
<tr><td colspan="2" align="center"><b>[% txt_violations %]</b></td></tr>
[% FOREACH violation_info IN list_violations %]
<tr>
  <td>[% violation_info.name %]</td><td>[% violation_info.value %]</td>
</tr>
[% END %]
[% END %]
<form method="post" action="/cgi-bin/register.cgi">
<tr>
  <td>
    <script language="javascript"><!--
      document.write("<input type='button' name='Print' value='[% txt_print %]' onClick='window.print()'>");
    //-->
    </script>
  </td>
  <td>
    <input type="hidden" name="mode" value="deregister">
    <input type="submit" name="submit" value="[% txt_deregister %]">
  </td>
</tr>
</form>

</table>

</font></p>

      <td>
    </tr>
  </table>
</center>

</body>

</html>
