<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no"><meta name=description content="PacketFence Administration"><meta name=author content=Inverse><title>[% l('Administrator') %] - PacketFence</title><link href=/static/alt/css/app.c8ec966aaf2367aa81c105db2c8f6436.css rel=stylesheet></head><body><div id=app><app user="[% c.user | html %]"></div><script type=text/javascript src=/static/alt/js/manifest.e98188766014e8365d45.js></script><script type=text/javascript src=/static/alt/js/vendor.bd5838f7690b5f9c76ad.js></script><script type=text/javascript src=/static/alt/js/app.fce031afa27fc2d14f4a.js></script></body></html>