<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no"><meta name=description content="PacketFence Administration"><meta name=author content=Inverse><title>[% l('Administrator') %] - PacketFence</title><link href=/static/alt/css/app.c07fad264897f8247e7f57d231448bbf.css rel=stylesheet></head><body><div id=app><app user="[% c.user | html %]"></div><script type=text/javascript src=/static/alt/js/manifest.e98188766014e8365d45.js></script><script type=text/javascript src=/static/alt/js/vendor.a9c7b6b9d57039419ecb.js></script><script type=text/javascript src=/static/alt/js/app.c189fb20145972408a9d.js></script></body></html>