<!DOCTYPE html><html><head><meta charset=utf-8><meta name=viewport content="width=device-width,initial-scale=1,shrink-to-fit=no"><meta name=description content="PacketFence Administration"><meta name=author content=Inverse><title>[% l('Administrator') %] - PacketFence</title><link href=/static/alt/css/app.3e11c7f07c0b0675411814fb58ae784f.css rel=stylesheet></head><body><div id=app><app user="[% c.user | html %]"></div><script type=text/javascript src=/static/alt/js/manifest.7aa995547e377e20a0ae.js></script><script type=text/javascript src=/static/alt/js/vendor.8fe3649437cc15dc3527.js></script><script type=text/javascript src=/static/alt/js/app.234856cbfb8b8e9f00a2.js></script></body></html>