<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>[% l('Administrator') %] - PacketFence</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="PacketFence Administrator">
    <meta name="author" content="Inverse">

    <!-- styles -->
[% FOREACH css = cssFiles -%]
    <link rel="stylesheet" href="[% c.uri_for("/static/${css}.css") %]">
[% END -%]
    <link rel="stylesheet" href="[% c.uri_for('/static/css/styles.css') %]">
    <link rel="stylesheet" href="[% c.uri_for('/static/app/application.css') %]">
    <link rel="stylesheet" href="[% c.uri_for('/static/admin/common.css') %]">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="[% c.uri_for('/static/app/html5.js') %]"></script>
    <![endif]-->
  </head>
  [% SET SHOW_READONLY_ERROR = c.user_allowed_in_admin() && readonly_mode %]
  <body[% IF SHOW_READONLY_ERROR %] class="navbar-error"[% END %]>

    <div class="alert alert-block hide">
      <button class="close" data-dismiss="alert">&times;</button>
      <strong>[% l('Warning!') %]</strong> <span></span>
    </div>

    <div class="alert alert-success hide">
      <button class="close" data-dismiss="alert">&times;</button>
      <strong>[% l('Success!') %]</strong> <span></span>
    </div>

    <div class="alert alert-error hide">
      <button class="close" data-dismiss="alert">&times;</button>
      <strong>[% l('Error!') %]</strong> <span></span>
    </div>

    <div id="navbar" class="navbar navbar-fixed-top navbar-inverse[% IF SHOW_READONLY_ERROR %] navbar-error[% END %]">
      <div class="navbar-inner">
        <div class="row-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand visible-phone" href="#">
            <img src="[% c.uri_for('/static/img/packetfence.white.small.svg') %]"/>
          </a>
          <a class="brand span3 hidden-phone" href="#">
            <img src="[% c.uri_for('/static/img/packetfence.white.svg') %]"/>
          </a>
          [%- IF c.user_allowed_in_admin() %]
          <div class="nav-collapse">
            <ul class="nav nav-header">
              [%- IF can_access_any("REPORTS_READ","SERVICES_READ") %]
              <li[% ' class="active"' IF c.action.name == 'status' %]>
                <a href="[% c.uri_for(c.controller('Admin').action_for('status')) %]">[% l('Status') %]</a>
              </li>
              [%- END %]
              [%- IF can_access("REPORTS_READ") %]
              <li[% ' class="active"' IF c.action.name == 'reports' %]>
                <a href="[% c.uri_for(c.controller('Admin').action_for('reports')) %]">[% l('Reports') %]</a>
              </li>
              [%- END %]
              [%- IF can_access("AUDITING_READ") %]
              <li[% ' class="active"' IF c.action.name == 'auditing' %]>
                <a href="[% c.uri_for(c.controller('Admin').action_for('auditing')) %]">[% l('Auditing') %]</a>
              </li>
              [%- END %]
              [%- IF can_access("NODES_READ") %]
              <li[% ' class="active"' IF c.action.name == 'nodes' %]>
                <a href="[% c.uri_for(c.controller('Admin').action_for('nodes')) %]">[% l('Nodes') %]</a>
              </li>
              [%- END %]
              [%- IF can_access_any("USERS_READ", "USERS_READ_SPONSORED") %]
              <li[% ' class="active"' IF c.action.name == 'users' %]>
                <a href="[% c.uri_for(c.controller('Admin').action_for('users')) %]">[% l('Users') %]</a>
              </li>
              [%- END %]
              [%- IF can_access_group_any("CONFIGURATION_GROUP_READ") %]
              <li[% ' class="active"' IF c.action.name == 'configuration' %]>
                <a href="[% c.uri_for(c.controller('Admin').action_for('configuration')) %]">[% l('Configuration') %]</a>
              </li>
              [%- END %]
            </ul>
            <ul class="nav nav-header pull-right">
              <li class="dropdown" data-toggle="tooltip" title="[% l('Perform tasks') %]">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench"></i> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li class="disabled"><a href="#" disabled><b>[% l('Click a task to run/re-run') %]</b></a></li>
                  <li id="checkup_task"><a href="" id="checkup_task_toggle">[% l('Perform checkup') %]</a></li>
                  <li id="fixpermissions_task"><a href="" id="fixpermissions_task_toggle">[% l('Fix permissions') %]</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav nav-header pull-right">
              <li>
                <a href="[% c.uri_for(c.controller('Admin').action_for('help')) %]"><i class="icon-question-circle icon-white"></i></a>
              </li>
            </ul>
            <ul class="nav nav-header pull-right">
              <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user-circle icon-white"></i> [% c.user | html %]<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="[% c.uri_for(c.controller('Admin').action_for('alt')) %]" target="_blank"><i class="icon-star"></i> [% l('New Admin Sneak Peek') %]</a></li>
                  <li><a href="[% c.uri_for(c.controller('Admin').action_for('logout')) %]"><i class="icon-sign-out"></i> [% l('Log out') %]</a></li>
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
          [%- END %]
        </div>
        [% IF SHOW_READONLY_ERROR %]
        <div class="row-error">
          <strong>[% l('Warning!') %]</strong>
          <span>[% l('The database is in readonly mode. Not all functionality is available.') %] [% doc('_quorum_behavior', 'Clustering_Guide') | none %]</span>
        </div>
        [% END %]
      </div>
    </div>
[% content | none %]

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script id="labels" type="text/json">
    {
      "Cannot Load Content": "[% l('Cannot Load Content') | js %]",
      "Copy": "[% l('Copy') | js %]",
      "Copied": "[% l('Copied') | js %]"
    }
    </script>
    <script type="text/javascript" src="[% c.uri_for('/static/js/vendor/jquery.min.js') %]"></script>
    <script type="text/javascript" src="[% c.uri_for('/static/js/vendor/jquery-ui.min.js') %]"></script>
    <script type="text/javascript" src="[% c.uri_for('/static/js/vendor/jquery-extra.min.js') %]"></script>
    <script type="text/javascript" src="[% c.uri_for('/static/js/vendor/bootstrap.min.js') %]"></script>
    <script type="text/javascript" src="[% c.uri_for('/static/js/pfappserver.js') %]"></script>
[% FOREACH js = jsFiles -%]
    <script type="text/javascript" src="[% c.uri_for("/static/${js}.js") %]" charset="UTF-8"></script>
[% END -%]

  </body>
</html>
