      <table id="items" class="table items" data-list-uri="[% c.uri_for(c.controller.action_for('list'),[scope]) %]">
        <thead>
          <tr>
            <th colspan="5">
              [% INCLUDE config/fingerbank/search.tt %]
              [% pagination(c.controller.action_for(action || 'list'), page_num, page_count, {}, '', [scope]) | none %]
            </th>
          </tr>
          <tr>
            <th>[% l('User Agent ID') %]</th>
            <th>[% l('Value') %]</th>
            <th>[% l('Actions') %]</th>
          </tr>
        </thead>
        <tbody>
          [% FOREACH item IN items %]
          <tr>
            <td class="item"><a href="[% c.uri_for(c.controller.action_for('view'), [scope, item.id ]) %]">[% item.id | html %]</a></td>
            <td>[% item.value | html%]</td>
            <td>
              [%- IF can_access("FINGERBANK_CREATE") %]
              <a class="btn btn-mini" href="[% c.uri_for(c.controller.action_for('clone'), [ scope,  item.id ]) %]">[% l('Clone') %]</a>
              [%- END %]
              [%- IF scope == 'Local' && can_access("FINGERBANK_DELETE") %]
              <a class="btn btn-mini btn-danger" href="[% c.uri_for(c.controller.action_for('remove'), [ scope, item.id ]) %]">[% l('Delete') %]</a>
              [%- END %]
            </td>
          </tr>
          [% END -%]
        </tbody>
        <tfoot>
          <tr>
            <th colspan="5">
              [% pagination(c.controller.action_for(action || 'list'), page_num, page_count, {}, '', [scope]) | none %]
            </th>
          </tr>
         [%- IF scope == 'Local' && can_access("FINGERBANK_CREATE") %]
          <tr>
            <th colspan="5">
              <div class="form-actions">
                <a class="btn createItem" href="[% c.uri_for(c.controller.action_for('create')) %]">[% l('Add User Agent') %]</a>
              </div>
            </th>
          </tr>
         [%- END %]
        </tfoot>
      </table>
