/// _base.paragraphs.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2; fill-column: 80 -*-

.#{$pf-namespace}caption {
  @include font-size($inuit-base-font-size * 0.8, none);
  color: $pf-input-caption;
}

.text-center {
  text-align:center;
}
