/// _base.input.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2; fill-column: 80 -*-

input[type="radio"],
input[type="reset"],
input[type="submit"],
html input[type="button"],
button {
  cursor: pointer;
}

/// No little up down arrows to number inputs
/// https://css-tricks.com/snippets/css/turn-off-number-input-spinners/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
