/// _components.divider.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2; fill-column: 80 -*-

.c-divider {
  border-top: 1px solid lighten($pf-base-text-color, 50%);
}

footer .c-divider {
  border-color: lighten($pf-footer-text-color, 50%);
}
