/// _elements.page.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2; fill-column: 80 -*-

html, body {
  height: 100%;
}

html {
  font-family:  var(--pf-font-family);
  font-size:    var(--pf-font-size-base);
  font-weight:  var(--pf-font-weight-normal);
  color: $pf-base-text-color;
  background-color: $pf-background;
}

h1 {
  font-weight: var(--pf-font-weight-heading);
}

main {
  padding-top: $pf-header-height;
  width: 100%;
  @include mq($from: tablet) {
    padding-top: $pf-header-height * 1.2;
  }
}
