/// _objects.list-ui.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2; fill-column: 80 -*-

.#{$inuit-list-ui-namespace}list-ui {
  > li > * {
    text-align: left;
  }
}


.#{$inuit-list-ui-namespace}list-ui--btns {
  background-color: $pf-list-tint-background;
  border-radius: $pf-border-radius;
  box-shadow: $pf-btn-box-shadow;
  overflow: hidden;

  .#{$inuit-btn-namespace}btn {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: $pf-list-tint-color;

    &:hover {
      transform: translateX(4px);
    }
  }

  label,
  .#{$inuit-flag-namespace}flag__body {
    color: $pf-list-tint-color;
  }

  svg use {
    fill: $pf-list-icon-color;
  }
}

    .#{$inuit-list-ui-namespace}list-ui--btns .#{$inuit-list-ui-namespace}list-ui__item:last-child {
        border-bottom-width: 0;
    }

.#{$inuit-list-ui-namespace}list-ui--light {
  background-color: $pf-list-background-light;
  border-radius: $pf-border-radius;
  box-shadow: $pf-btn-box-shadow;
  color: $pf-list-tint-color;

  .#{$pf-namespace}caption {
    font-weight: bold;
  }
}

.#{$inuit-list-ui-namespace}list-ui__item--selected {
  background-color: lighten($pf-color-light-gray, 20%);
}
