/// _objects.media.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2; fill-column: 80 -*-

.o-media--notice {
  color: $pf-color-notice;
  background-color: $pf-media-background;
  border: 1px solid darken($pf-media-background, 10%);
  border-radius: $pf-border-radius;

  .c-iconic use {
    fill: $pf-color-notice;
  }
}


.o-media--error {
  color: $pf-color-error;
  background-color: $pf-media-background;
  border: 1px solid darken($pf-media-background, 10%);
  border-radius: $pf-border-radius;

  .c-iconic use {
    fill: $pf-color-error;
  }
}