/// _objects.buttons.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2; fill-column: 80 -*-

.#{$inuit-btn-namespace}btn {
  transition: background-color 0.15s linear, transform 0.15s ease-in;

  input[type="checkbox"] {
    margin-right: halve($inuit-base-spacing-unit);
  }

  label {
    cursor: pointer;
  }
}


input.#{$inuit-btn-namespace}btn,
button.#{$inuit-btn-namespace}btn {
  box-shadow: $pf-btn-box-shadow;
}


.#{$inuit-btn-namespace}btn--full {
  &:hover {
    background-color: darken($inuit-btn-background, 5%);
  }
}

.#{$inuit-btn-namespace}btn--icon {
  background-color: transparent;
  border: none;
  &:hover svg {
    transform: scale(1.25);
  }
  > * {
    color: $inuit-base-text-color;
  }
}

.#{$inuit-btn-namespace}btn--hint {
  display: inline-block;
  margin-right: $inuit-btn-padding;
  transform: translateX($inuit-btn-padding);
  opacity: 0;
  overflow: hidden;
  transition: all 240ms;
  vertical-align: top;
}

.#{$inuit-btn-namespace}btn:hover .#{$inuit-btn-namespace}btn--hint {
  opacity: 1;
  transform: translateX(0px);
  transition-delay: 240ms;
}

.#{$inuit-btn-namespace}btn--light {
  background-color: $pf-btn-background-light;
  border-color: $pf-btn-background-light;
  color: $pf-list-tint-color;

  &:hover {
    background-color: darken($pf-btn-background-light, 5%);
    color: $pf-list-tint-color;
  }

  &.#{$inuit-btn-namespace}btn--disabled {
    background-color: darken($pf-btn-background-light, 5%);
    color: lighten($pf-list-tint-color, 20%);
  }
  
  svg use {
    fill: $pf-list-icon-color;
  }
}
