/// _objecs.tables.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2; fill-column: 80 -*-

.o-table caption {
  text-align: left;
}


.o-table--primary {
  background-color: $pf-color-primary;
}
