/// _settings.colors.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2; fill-column: 80 -*-

/**
 * Some predefined color variables
 */

$pf-color-error:                         #be2125;
$pf-color-notice:                        #299144;

/**
 * Color assignation to objects and components
 */

// Text color
$pf-base-text-color:                     #555555;

// Background color
$pf-background:                          #efefef;

// Frame background color
$pf-frame-background:                    #fefefe;

// Link color
$pf-link-color:                          #0473b8;

// Media background color (alerts)
$pf-media-background:                    #efefef;

// Footer background
$pf-footer-background-color:             transparent;

// Footer text color
$pf-footer-text-color:                   $pf-base-text-color;

// Primary button
$pf-color-primary:                       #eb5b6b;
$pf-color-primary-touch:                 #eb717f;
$pf-color-primary-disabled:              rgb(163, 162, 162);

// Secondary button
$pf-color-secondary:                     #0473b8;
$pf-color-secondary-touch:               #0875ba;
$pf-color-secondary-disabled:            #9caab3;

// Tertiary button
$pf-color-tertiary:                      $pf-link-color;
$pf-color-tertiary-touch:                #0b6397;

// Input fields
$pf-input-label:                         #828282;
$pf-input-border:                        #ced4da;
$pf-input-background:                    #ffffff;