/// _settings.colors.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2; fill-column: 80 -*-

/**
 * Some predefined color variables
 */

$pf-color-tint:                          #F1F1F1;    // light gray
$pf-color-gray:                          #343434;    // dark gray
$pf-color-light-gray:                    #96A0AA;    // light blue gray
$pf-color-error:                         #C97064;    // red
$pf-color-notice:                        #93BAB6;    // light blue

/**
 * Color assignation to elements attributes
 */

// Text color
$inuit-base-text-color:                  #123622;    // very dark green

// Background color
$inuit-base-background-color:            #FEFEFE;    // almost white

// Button background color
$inuit-btn-background:                   #247BA0;

// Button light background color
$pf-btn-background-light:                #f7f7f7;    // light gray

// Navigation (dots and background color of round icons)
$pf-base-accent-color:                   $inuit-btn-background;

// Footer background
$pf-footer-background-color:             transparent;
//$pf-footer-background-color:             #333333;

// Footer text color
$pf-footer-text-color:                   $pf-color-light-gray;

// Tinted box
$pf-box-tint-background-r:               $pf-color-error;
$pf-box-tint-background:                 $pf-color-tint;
$pf-box-tint-color:                      $pf-color-gray;

// Frame background color
$pf-frame-background:                    #FEFEFE;

// Tinted list
$pf-list-tint-background:                lighten($pf-color-light-gray, 50%);
$pf-list-tint-color:                     $pf-color-gray;

// Light list
$pf-list-background-light:               #EFF3F7;    // almost white
$pf-list-icon-color:                     $pf-color-light-gray;

// Input label
$pf-input-caption:                       $pf-color-light-gray;

/**
 * Alternative blue-gray palette. Packaged as styles-dark.css in the repo.
 */

//$pf-color-tint:                          #7B9CAA;    // light blue gray
//$pf-base-accent-color:                   #4D616A;    // blue gray
//$pf-box-tint-background:                 $pf-color-tint;
