/// _settings.colors.scss -*- Mode: scss; indent-tabs-mode: nil; basic-offset: 2; fill-column: 80 -*-

$inuit-base-text-color:                  #F1F1F1;
$inuit-base-background-color:            #92c668;    // light green
//$inuit-base-background-color:            #44535A;    // dark blue gray

$inuit-btn-background:                   #247BA0;

$pf-color-tint:                          #FDFDFD;    // light color, almost white
$pf-color-gray:                          #343434;    // dark gray
$pf-color-light-gray:                    #96A0AA;    // light blue gray

$pf-color-error:                         #C97064;    // red
$pf-color-notice:                        #93BAB6;    // light blue

$pf-base-accent-color:                   #5E913A;    // dark green
//$pf-base-accent-color:                   #4D616A;    // blue gray

$pf-footer-background-color:             #333333;
$pf-footer-text-color:                   #CCCCCC;

$pf-box-tint-background:                 $pf-color-tint;
$pf-box-tint-color:                      $pf-color-gray;

$pf-list-tint-background:                $pf-color-tint;
$pf-list-tint-color:                     $pf-color-gray;
$pf-list-tint-hue-1-background:          #D0DFC1;
$pf-list-icon-color:                     $pf-color-light-gray;

$pf-input-caption:                       $pf-color-light-gray;