<div class="layout layout--left">
  <div class="layout__item u-mt u-2/3 u-1/1-palm">
    <a href="/status" class="btn btn--small btn--light">
      <div class="flag">
        <div class="flag__img">[% svgIcon(id='ic_devices_black_24px',size='small') %]</div>
        <p class="flag__body">[% i18n("Manage my devices") %]</p>
      </div>
    </a>
  </div>
</div>
<div class="layout layout--left">
  <div class="layout__item u-mt u-2/3 u-1/1-palm">
    <a href="/device-registration" class="btn btn--small btn--light">
      <div class="flag">
        <div class="flag__img">[% svgIcon(id='ic_add_circle_black_24px',size='small') %]</div>
        <p class="flag__body">[% i18n("Register another device") %]</p>
      </div>
    </a>
  </div>
</div>
[% IF hasLocalAccount %]
<div class="layout layout--left">
  <div class="layout__item u-mt u-2/3 u-1/1-palm">
    <a href="/status/person" class="btn btn--small btn--light">
      <div class="flag">
        <div class="flag__img">[% svgIcon(id='ic_person_black_24px',size='small') %]</div>
        <p class="flag__body">[% i18n("Change my password") %]</p>
      </div>
    </a>
  </div>
</div>
[% END %]
<br/>

[% IF status_msg.defined %]
<div class="media media--notice u-p u-mb">
  <div class="media__img">[% flashIcon(level='notice') %]</div>
  <p class="media__body">[% i18n(status_msg) %]</p>
</div>
[% END %]
