[% IF txt_auth_error.defined %]
<div class="media media--error u-p u-mb">
  <div class="media__img">[% flashIcon(level='error') %]</div>
  <p class="media__body">[% i18n(txt_auth_error) %]</p>
</div>
[% END %]

[% IF error %]
<div class="media media--error u-p u-mb">
  <div class="media__img">[% flashIcon(level='error') %]</div>
  <p class="media__body">[% i18n(error) %]</p>
</div>
[% END %]

<form name="registration" method="post" action="/device-registration">

  <div class="layout layout--center">
    <div class="layout__item u-2/3 u-1/1-palm">

      <div class="input-container">
        <label for="device_mac">[% i18n("Device MAC address") %]</label>
        <input class="field" name="device_mac" id="device_mac" type="text" value="[% device_mac %]" />
      </div>
      [% IF console_types.size > 1 %]
      <div class="input-container">
        <label>[% i18n("Device Type") %]</label>
        <select name="console_type">
          <option value="">[% i18n('Select Console') %]</option>
          [% FOREACH console_type IN console_types %]
          <option [% IF console_type == selected_console_type %]selected='selected'[% END %]
                  value='[% console_type %]'>[% console_type %]</option>
          [% END %]
        </select>
      </div>
      [% END %]

      [%# submit %]
      <div class="u-mt">
        <button type="submit" name="submit" class="btn btn--full">
          <div class="flag flag--light">
            <div class="flag__img">[% svgIcon(id='ic_done_black_24px',size='small') %]</div>
            <p class="flag__body">[% i18n('Register') %]</p>
          </div>
        </button>
      </div>
    </div>
  </div>
</form>
<div class="layout layout--center">
  <div class="layout__item u-mt u-2/3 u-1/1-palm">
    <a href="/status" class="btn btn--full btn--light">
      <div class="flag">
        <div class="flag__img">[% svgIcon(id='ic_devices_black_24px',size='small') %]</div>
        <p class="flag__body">[% i18n("Manage my devices") %]</p>
      </div>
    </a>
[% IF hasLocalAccount %]
    <a href="/status/person" class="btn btn--full btn--light">
      <div class="flag">
        <div class="flag__img">[% svgIcon(id='ic_person_black_24px',size='small') %]</div>
        <p class="flag__body">[% i18n("Change my password") %]</p>
      </div>
    </a>
[% END %]
    <a href="/device-registration/logout" class="btn btn--full btn--light">
      <div class="flag">
        <div class="flag__img">[% svgIcon(id='ic_close_black_24px',size='small') %]</div>
        <p class="flag__body">[% i18n("Logout") %]</p>
      </div>
    </a>
  </div>
</div>
