{
    "address": {
        "module_globals": {
            "enable_l3_iface_forwarding_checks": "yes",
            "vlan_aware_bridge_address_support": "no",
            "l3_intf_arp_accept": "1",
            "mgmt_intf_mtu": "1400"
        },
        "defaults": {
            "mtu": "1400",
            "ip-forward": "on",
            "ip6-forward": "on"
        }
    }
}
