<ul class="nav nav-tabs">
    <li class="active" ><a href="#settings" data-toggle="tab">Settings</a></li>
    <li><a href="#compliance" data-toggle="tab">Compliance</a></li>
</ul>

<div class="tab-content">
    <div id="settings" class="tab-pane fade in active">[% form.block('definition').render %]</div>
    <div id="compliance" class="tab-pane fade">[% form.block('compliance').render %]</div>
</div>
