[Unit]
Description=The PacketFence Graphite Carbon Relay
Requires=packetfence-carbon-cache.service
Requires=packetfence-config.service packetfence-iptables.service
After=packetfence-config.service packetfence-iptables.service

[Service]
Type=forking
ExecStartPre=/usr/local/pf/bin/pfcmd service carbon-relay generateconfig
ExecStart=/usr/bin/carbon-relay --config=/usr/local/pf/var/conf/carbon.conf --pidfile=/usr/local/pf/var/run/carbon-relay.pid --logdir=/usr/local/pf/logs start
ExecReload=/bin/kill -USR1 $MAINPID
PIDFile=/usr/local/pf/var/run/carbon-relay.pid
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
