[Unit]
Description=PacketFence %i Service
After=network.target packetfence-config.service packetfence-redis-cache.service
#Requires=packetfence-config.service packetfence-redis-cache.service

[Service]
Type=forking
ExecStart=/usr/local/pf/bin/pfcmd service %i start
ExecStop=/usr/local/pf/bin/pfcmd service %i stop
Restart=no

[Install]
WantedBy=multi-user.target
