[Unit]
Description=The PacketFence FreeRADIUS multi-protocol proxy server
After=syslog.target network.target
Documentation=man:radiusd(8) man:radiusd.conf(5) http://wiki.freeradius.org/ http://networkradius.com/doc/

[Service]
EnvironmentFile=-/etc/sysconfig/radiusd
ExecStartPre=/usr/local/pf/bin/pfcmd service radiusd generateconfig
ExecStartPre=/usr/sbin/radiusd -d /usr/local/pf/raddb -n load_balancer.conf -Cxm -lstdout
ExecStart=/usr/sbin/radiusd -d /usr/local/pf/raddb -n load_balancer.conf -fm
Restart=on-failure

[Install]
WantedBy=packetfence.target
