[Unit]
Description=The PacketFence pfqueue Service
Requires=packetfence-config.service packetfence-redis-queue.service
After=packetfence-config.service packetfence-redis-queue.service

[Service]
PIDFile=/usr/local/pf/var/run/pfmon.pid
ExecStartPre=/usr/local/pf/bin/pfcmd service pfqueue generateconfig
ExecStart=/usr/local/pf/sbin/pfqueue 
User=pf
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
