[Unit]
Description=The PacketFence Iptables configuration
Requires=packetfence-config.service
After=packetfence-config.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/pf/bin/pfcmd service iptables start
ExecStop=/usr/sbin/iptables-restore /usr/local/pf/var/iptables.bak
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
