[Unit]
Description=The PacketFence DHCP Listener Service for the Isolation Network
Requires=packetfence-config.service packetfence-pfqueue.service
After=packetfence-config.service packetfence-pfqueue.service

[Service]
Type=simple
ExecStart=/usr/local/pf/sbin/pfdhcplistener -i ens224.127
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
