[Unit]
Description=The PacketFence radsniff Service
After=packetfence-config.target packetfence-collectd.service 
Requires=packetfence-config.service packetfence-collectd.service
PartOf=packetfence-collectd.service

[Service]
Type=forking
PIDFile=/usr/local/pf/var/run/radsniff.pid
ExecStart=/usr/bin/radsniff -d /usr/local/pf/raddb/ -D /usr/local/pf/raddb/ -q -P /usr/local/pf/var/run/radsniff.pid -W10 -O /usr/local/pf/var/run/collectd-unixsock -i ens192
Restart=on-failure
Slice=packetfence.slice

[Install]
WantedBy=packetfence.target
