---
- name: packetfence-pull-configuration
  hosts: "{{ target }}"
  remote_user: root
  tasks:
    [% FOREACH configFile IN configFiles %]
    - name: Pull configuration [% configFile %]
      fetch: src=/usr/local/pf/conf/[% configFile %] dest=/usr/local/pf/conf/multi-cluster/{{ host_path }}/ flat=yes
    [% END %]
