# Copyright (C) Inverse inc.
0.0.0.0:9999 {
  tls /usr/local/pf/conf/ssl/server.crt /usr/local/pf/conf/ssl/server.key

  log / stdout "api-frontend-access {remote} - {user} [{when}] \"{method} {uri} {proto}\" {status} {size} \"{>Referer}\" \"{>User-Agent}\""

  errors {
    502 /usr/local/pf/html/pfappserver/root/errors/502.json
    503 /usr/local/pf/html/pfappserver/root/errors/503.json
  }

  pfconfigpool {
    dont_rlock /api/v1/pfconnector/tunnel
  }

  logger {
    level INFO
  }
  statsd {
    proto udp
    prefix api
    address {$STATSD_ADDRESS}
  }

  cors /api/v1 {
    allowed_headers Authorization,Content-Type
    methods GET,OPTIONS,POST,DELETE,PUT,PATCH
  }

  cors /api/v1.1 {
    allowed_headers Authorization,Content-Type
    methods GET,OPTIONS,POST,DELETE,PUT,PATCH
  }

  api-aaa {
    no_auth /api/v1/pfconnector/tunnel
    session_backend db mem
  }
  
  api

  log-tailer

  # Job status access
  job-status

  proxy /api/v1/pfconnector {$PF_SERVICES_URL_PFCONNECTOR_SERVER} {
    websocket
    transparent
  }

  # pfipset API access
  proxy /api/v1/ipset/ {$PF_SERVICES_URL_PFIPSET} {
    transparent
  }
  
  # pfdhcp API access
  proxy /api/v1/dhcp/ {$PF_SERVICES_URL_PFDHCP} {
    transparent
  }
  
  # pfsso API access
  proxy /api/v1/firewall_sso/ {$PF_SERVICES_URL_PFSSO} {
    transparent
  }

  # pfpki API access
  proxy /api/v1/pki/ {$PF_SERVICES_URL_PFPKI} {
    transparent
  }
  
  # Everything else goes to the Perl API
  proxy /api/v1/ {$PF_SERVICES_URL_PFPERL_API} {
    transparent
    timeout 10m
  }

  # Everything else goes to the Perl API
  proxy /api/v1.1/ {$PF_SERVICES_URL_PFPERL_API} {
    transparent
    timeout 10m
  }

  # doh forward
  proxy /dns-query {$PF_SERVICES_URL_PFDNS_DOH} {
      transparent
  }

  timeouts {
    write 10m
    idle 10m
  }
}

####
## The configuration below allows to use this server as a proxy
#0.0.0.0:9990 {
#  pfconfigpool
#  logger {
#    level INFO
#  }
#  statsd {
#    proto udp
#    prefix api-proxy
#  }
#
#  api-aaa
#  forwardproxy
#}

