# Copyright (C) Inverse inc.
{
	admin off
	#debug
}

:8890 {
	route * {
		logger {
			level INFO
		}
		httpdportalpreview
	}
}

:8891 {
	log {
		level DEBUG
	}

	handle_path /static/doc/* {
		root * /usr/local/pf/docs
		file_server
	}

	handle_path /static/* {
		root * /usr/local/pf/html/pfappserver/root
		file_server
	}

	rewrite /oas /oas/*

	handle_path /oas/* {
		root * /usr/local/pf/html/swagger-ui
		file_server
	}

	handle_path /common/* {
		root * /usr/local/pf/html/common
		file_server
	}

	rewrite /admin /admin/

	handle_path /admin/* {
		root * /usr/local/pf/html/pfappserver/root/dist
		file_server
	}
}
