# Copyright (C) Inverse inc.
:8890 {
    logger {
    level INFO
  }
  httpdportalpreview
}

:8891/static {
  root /usr/local/pf/html/pfappserver/root/static
}

:8891/common {
  root /usr/local/pf/html/common
}

:8891/admin/alt {
  root /usr/local/pf/html/pfappserver/root/static.alt/dist
  index index.html
}

