# Copyright (C) Inverse inc.
{
	admin off
	log {
		output stdout
		format transform "{common_log}"
	}
	auto_https off
}

:8888 {
	route {
		logger {
			level INFO
		}
		pfconfigpool
		httpdispatcher
	}
}

:8889 {
	@pem-file {
		path *.crt
		path *.pem
	}

    header @pem-file Content-Type application/x-pem-file

	handle_path /common/* {
		root * /usr/local/pf/html/common
		file_server
	}

	handle_path /content/* {
		root * /usr/local/pf/html/captive-portal/content
		file_server
	}

	handle_path /.well-known/acme-challenge/* {
		root * /usr/local/pf/conf/ssl/acme-challenge
		file_server
	}
}

:5252 {
	header / {
		Cache-Control "no-cache, no-store, must-revalidate"
		Pragma "no-cache"
		Expires "0"
	}
	root * /usr/local/pf/html/parking
	file_server
}
