# Copyright (C) Inverse inc.
:8890 {
    logger {
    level INFO
  }
  httpdportalpreview
}

:8891/static/doc {
  root /usr/local/pf/docs
}

:8891/static {
  root /usr/local/pf/html/pfappserver/root
}

:8891/common {
  root /usr/local/pf/html/common
}

:8891/admin {
  root /usr/local/pf/html/pfappserver/root/dist
  index index.html
}

