# Copyright (C) Inverse inc.
{
	admin off
	#debug
}

:8888 {
	route * {
		logger {
			level INFO
		}
		httpdispatcher
	}
}

:8889 {
	handle_path /common/* {
		root /usr/local/pf/html/common
		file_server
	}

	handle_path /content/* {
		root /usr/local/pf/html/captive-portal/content
		file_server
	}

	handle_path /profile-templates/* {
		root /usr/local/pf/html/captive-portal/profile-templates
		file_server
	}

	handle_path /.well-known/acme-challenge/* {
		root /usr/local/pf/conf/ssl/acme-challenge
		file_server
	}

	handle * {
		root /usr/local/pf/html/common
		file_server
	}
}

:5252 {
	header {
		Cache-Control "no-cache, no-store, must-revalidate"
		Pragma "no-cache"
		Expires "0"
	}
	root /usr/local/pf/html/parking
	file_server
}
