# Copyright (C) Inverse inc.
{
	admin off
	log {
		output stdout
		format transform "{common_log}"
	}
	auto_https off
}

:22223 {
	route {
		pfconfigpool
		logger {
			level INFO
		}
		statsd {
			proto udp
			prefix pfipset
			address {$STATSD_ADDRESS}
		}
		pfipset
	}
}
