# Copyright (C) Inverse inc.
:22223 {
  bind host.docker.internal 
  
  pfconfigpool
  logger {
    level INFO
  }
  statsd {
    proto udp
    prefix pfipset
    address host.docker.internal
  }
  pfipset
}

