# Copyright (C) Inverse inc.
{
	# Uncomment the 2 lines below if you want to enable pprof (example curl http://100.64.0.1:2025/debug/pprof/heap)
	#admin :2025
	#debug
}

:8777 {
	route * {
		logger {
			level INFO
		}
		statsd {
			proto udp
			prefix pfsso
			address {$STATSD_ADDRESS}
		}
		pfsso
	}
}
