# Copyright (C) Inverse inc.
{
	admin off
	log {
		output stdout
		format transform "{common_log}"
	}
	auto_https off
}

:8777 {
	route {
		pfconfigpool
		logger {
			level INFO
		}
		statsd {
			proto udp
			prefix pfsso
			address {$STATSD_ADDRESS}
		}
		pfsso
	}
}
