# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence FreeRADIUS authentication multi-protocol authentication server
Documentation=man:radiusd(8) man:radiusd.conf(5) http://wiki.freeradius.org/ http://networkradius.com/doc/
Wants=network.service
After=network.service

[Service]
StartLimitBurst=3
StartLimitInterval=10
ExecStart=/usr/local/pfconnector-remote/bin/radiusd-auth-docker-wrapper
ExecStop=/bin/bash -c "docker stop radiusd-auth ; echo Stopped"
Restart=on-failure

[Install]
WantedBy=multi-user.target
