# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence FreeRADIUS authentication multi-protocol authentication server
Documentation=man:radiusd(8) man:radiusd.conf(5) http://wiki.freeradius.org/ http://networkradius.com/doc/
PartOf=packetfence-pfconnector-remote.service

[Service]
Type=notify
WatchdogSec=10
StartLimitBurst=3
StartLimitInterval=10
ExecStartPre=/usr/sbin/radiusd -d /usr/local/pf/raddb  -n auth -Cxm -lstdout 
ExecStart=/usr/sbin/radiusd -d /usr/local/pf/raddb  -n auth -fm 
Restart=on-failure

[Install]
WantedBy=multi-user.target
