# Copyright (C) Inverse inc.
[Unit]
Description=PacketFence Connector Client (Remote)
Wants=network.service
After=network.service

[Service]
LimitNOFILE=infinity
ExecStart=/usr/local/pfconnector-remote/bin/pfconnector-remote-docker-wrapper
ExecStop=/bin/bash -c "docker stop pfconnector-remote ; echo Stopped"
Restart=always

[Install]
WantedBy=multi-user.target
