Hi [% firstname %] [% lastname %], 

Access to the network was requested using this email address.

In order to activate your access we need you to click on the following link: [% activation_uri %]

Failure to comply within 10 minutes will result in a termination of your network access.

Thank you for your understanding

Please ignore this request if you have not required a network access.
--
This is a post only E-mail, please do not reply.
