<h2>[% report.id %]</h2>


<form id="search" method="POST">
  [% INCLUDE per_page_select.tt %]
  <input type="hidden" name="report_id" value="[% report.id %]">
</form>

[% INCLUDE 'dynamicreport/search.tt' %]
