# Copyright (C) Inverse inc.
### httpd.portal logger ###
log4perl.rootLogger = INFO, HTTPD_PORTAL

### Catalyst logger ###
## Used to separate Catalyst framework logs in a different log file
log4perl.category.Catalyst = WARN, PORTAL_CATALYST

## Prevent the message from bubbling up to it's parents
log4perl.additivity.Catalyst = 0

### Fingerbank logger ###
## Used to separate Fingerbank logs in a different log file
log4perl.category.fingerbank = INFO, PORTAL_FINGERBANK
## Prevent the message from bubbling up to it's parents
log4perl.additivity.fingerbank = 0

### Categories ###
log4perl.appender.HTTPD_PORTAL		                                      = Log::Dispatch::Syslog
log4perl.appender.HTTPD_PORTAL.ident     	                              = packetfence_httpd.portal
log4perl.appender.HTTPD_PORTAL.facility                                   = local5
log4perl.appender.HTTPD_PORTAL.layout.ConversionPattern                   = %X{proc}(%X{tid}) %p: [mac:%X{mac}] %m (%M)%n
log4perl.appender.HTTPD_PORTAL.layout                                     = PatternLayout

### General Catalyst (pfappserver) log facility configuration ###
log4perl.appender.PORTAL_CATALYST		                                  = Log::Dispatch::Syslog
log4perl.appender.PORTAL_CATALYST.ident     	                          = portal_catalyst
log4perl.appender.PORTAL_CATALYST.facility                                = local5
log4perl.appender.PORTAL_CATALYST.layout.ConversionPattern                = %X{proc}(%X{tid}) %p: [mac:%X{mac}] %m (%M)%n
log4perl.appender.PORTAL_CATALYST.layout                                  = PatternLayout

### General Fingerbank log facility configuration ###
log4perl.appender.PORTAL_FINGERBANK		                                  = Log::Dispatch::Syslog
log4perl.appender.PORTAL_FINGERBANK.ident     	                          = fingerbank_httpd.portal
log4perl.appender.PORTAL_FINGERBANK.facility                              = local5
log4perl.appender.PORTAL_FINGERBANK.layout.ConversionPattern              = %X{proc}(%X{tid}) %p: [mac:%X{mac}] %m (%M)%n
log4perl.appender.PORTAL_FINGERBANK.layout                                = PatternLayout
