# Copyright (C) Inverse inc.
### httpd.admin logger ###
log4perl.rootLogger = INFO, HTTPD_ADMIN

### Catalyst logger ###
## Used to separate Catalyst framework logs in a different log file
log4perl.category.Catalyst = WARN, ADMIN_CATALYST
## Prevent the message from bubbling up to it's parents
log4perl.additivity.Catalyst = 0

### Fingerbank logger ###
## Used to separate Fingerbank logs in a different log file
log4perl.category.fingerbank = INFO, ADMIN_FINGERBANK
## Prevent the message from bubbling up to it's parents
log4perl.additivity.fingerbank = 0

### Categories ###
# Below, you can specify different categories (based on package names) for different logging levels
#log4perl.category.pf.SNMP = WARN

### Logging for httpd.admin
log4perl.appender.HTTPD_ADMIN		                                = Log::Dispatch::Syslog
log4perl.appender.HTTPD_ADMIN.ident     	                        = httpd_admin
log4perl.appender.HTTPD_ADMIN.facility                                  = local5
log4perl.appender.HTTPD_ADMIN.layout.ConversionPattern                  = %X{proc}(%X{tid}) %p: [mac:%X{mac}] %m (%M)%n
log4perl.appender.HTTPD_ADMIN.layout                                    = PatternLayout

### General Catalyst (pfappserver) log facility configuration ###
log4perl.appender.ADMIN_CATALYST		                        = Log::Dispatch::Syslog
log4perl.appender.ADMIN_CATALYST.ident     	                        = admin_catalyst
log4perl.appender.ADMIN_CATALYST.facility                               = local5
log4perl.appender.ADMIN_CATALYST.layout.ConversionPattern               = %X{proc}(%X{tid}) %p: [mac:%X{mac}] %m (%M)%n
log4perl.appender.ADMIN_CATALYST.layout                                 = PatternLayout

### General Fingerbank log facility configuration ###
log4perl.appender.ADMIN_FINGERBANK                                = Log::Dispatch::Syslog
log4perl.appender.ADMIN_FINGERBANK.ident                          = fingerbank_httpd.admin
log4perl.appender.ADMIN_FINGERBANK.facility                       = local5
log4perl.appender.ADMIN_FINGERBANK.layout.ConversionPattern       = %X{proc}(%X{tid}) %p: [mac:%X{mac}] %m (%M)%n
log4perl.appender.ADMIN_FINGERBANK.layout                         = PatternLayout
