# Copyright (C) Inverse inc.
### httpd.collector logger ###
log4perl.rootLogger = INFO, HTTPD_COLLECTOR

### Categories ###
# Below, you can specify different categories (based on package names) for different logging levels
#log4perl.category.pf.SNMP = WARN

### Logging for httpd.collector
log4perl.appender.HTTPD_COLLECTOR		                             = Log::Dispatch::Syslog
log4perl.appender.HTTPD_COLLECTOR.ident     	                             = httpd_collector
log4perl.appender.HTTPD_COLLECTOR.facility                                   = local5
log4perl.appender.HTTPD_COLLECTOR.layout.ConversionPattern                   = %X{proc}(%X{tid}) %p: [mac:%X{mac}] %m (%M)%n
log4perl.appender.HTTPD_COLLECTOR.layout                                     = PatternLayout
