### httpd.portal logger ###
log4perl.rootLogger = INFO, HTTPD_PORTAL

### Catalyst logger ###
## Used to separate Catalyst framework logs in a different log file
log4perl.category.Catalyst = WARN, CATALYST

## Prevent the message from bubbling up to it's parents
log4perl.additivity.Catalyst = 0

### Fingerbank logger ###
## Used to separate Fingerbank logs in a different log file
log4perl.category.fingerbank = INFO, FINGERBANK
## Prevent the message from bubbling up to it's parents
log4perl.additivity.fingerbank = 0

### Categories ###
# Below, you can specify different categories (based on package names) for different logging levels
#log4perl.category.pf.SNMP = WARN

### Logging for httpd.portal
log4perl.appender.HTTPD_PORTAL                              = Log::Log4perl::Appender::File
# Replace /usr/local/pf/logs/packetfence.log by /usr/local/pf/logs/httpd.portal.log to allow
# httpd.portal to log in its own log file.
log4perl.appender.HTTPD_PORTAL.filename                     = /usr/local/pf/logs/packetfence.log
log4perl.appender.HTTPD_PORTAL.syswrite                     = 1
log4perl.appender.HTTPD_PORTAL.mode                         = append
log4perl.appender.HTTPD_PORTAL.layout                       = PatternLayout
log4perl.appender.HTTPD_PORTAL.layout.ConversionPattern     = %d{MMM dd HH:mm:ss} %X{proc}(%X{tid}) %p: %m (%M)%n
log4perl.appender.HTTPD_PORTAL.umask                        = 0002
log4perl.appender.HTTPD_PORTAL.user                         = pf
log4perl.appender.HTTPD_PORTAL.group                        = pf


### General Catalyst (pfappserver) log facility configuration ###
log4perl.appender.CATALYST                                 = Log::Log4perl::Appender::File
log4perl.appender.CATALYST.filename                        = /usr/local/pf/logs/httpd.portal.catalyst
log4perl.appender.CATALYST.mode                            = append
log4perl.appender.CATALYST.layout                          = PatternLayout
log4perl.appender.CATALYST.layout.ConversionPattern        = %d{MMM dd HH:mm:ss} %X{proc}(%X{tid}) %p: %m (%M)%n
log4perl.appender.CATALYST.umask                           = 0002
log4perl.appender.CATALYST.user                            = pf
log4perl.appender.CATALYST.group                           = pf

### General Fingerbank log facility configuration ###
log4perl.appender.FINGERBANK                               = Log::Log4perl::Appender::File
log4perl.appender.FINGERBANK.filename                      = /usr/local/fingerbank/logs/fingerbank.log
log4perl.appender.FINGERBANK.mode                          = append
log4perl.appender.FINGERBANK.layout                        = PatternLayout
log4perl.appender.FINGERBANK.layout.ConversionPattern      = %d{MMM dd HH:mm:ss} %X{proc}(%X{tid}) %p: %m (%M)%n
log4perl.appender.FINGERBANK.umask                         = 0002
log4perl.appender.FINGERBANK.user                          = pf
log4perl.appender.FINGERBANK.group                         = pf
