# Copyright (C) Inverse inc.
### pfbandwidthd logger ###
log4perl.rootLogger = INFO, PFBANDWIDTHD

### Categories ###
# Below, you can specify different categories (based on package names) for different logging levels
#log4perl.category.pf.SNMP = WARN

### Logging for pfbandwidthd
log4perl.appender.PFBANDWIDTHD                                = Log::Dispatch::Syslog
log4perl.appender.PFBANDWIDTHD.ident                          = pfbandwidthd
log4perl.appender.PFBANDWIDTHD.facility                       = local5
log4perl.appender.PFBANDWIDTHD.layout.ConversionPattern       = %X{proc}(%X{tid}) %p: [mac:%X{mac}] %m (%M)%n
log4perl.appender.PFBANDWIDTHD.layout                         = PatternLayout
