### pfbandwidthd logger ###
log4perl.rootLogger = INFO, PFBANDWIDTHD

### Categories ###
# Below, you can specify different categories (based on package names) for different logging levels
#log4perl.category.pf.SNMP = WARN

### Logging for pfbandwidthd
log4perl.appender.PFBANDWIDTHD                              = pf::log::FileAppender
log4perl.appender.PFBANDWIDTHD.filename                     = /usr/local/pf/logs/pfbandwidthd.log
log4perl.appender.PFBANDWIDTHD.syswrite                     = 1
log4perl.appender.PFBANDWIDTHD.mode                         = append
log4perl.appender.PFBANDWIDTHD.layout                       = PatternLayout
log4perl.appender.PFBANDWIDTHD.layout.ConversionPattern     = %d{MMM dd HH:mm:ss} %X{proc}(%X{tid}) %p: %m (%M)%n
log4perl.appender.PFBANDWIDTHD.umask                        = 0002
log4perl.appender.PFBANDWIDTHD.user                         = pf
log4perl.appender.PFBANDWIDTHD.group                        = pf
log4perl.appender.PFBANDWIDTHD.binmode                      = utf8
