### pfdhcplistener logger ###
log4perl.rootLogger = INFO, PFDHCPLISTENER

### Categories ###
# Below, you can specify different categories (based on package names) for different logging levels
#log4perl.category.pf.SNMP = WARN

### Fingerbank logger ###
## Used to separate Fingerbank logs in a different log file
log4perl.category.fingerbank = INFO, FINGERBANK
## Prevent the message from bubbling up to it's parents
log4perl.additivity.fingerbank = 0

### Logging for pfdhcplistener
log4perl.appender.PFDHCPLISTENER                              = Log::Log4perl::Appender::File
log4perl.appender.PFDHCPLISTENER.filename                     = /usr/local/pf/logs/pfdhcplistener.log
log4perl.appender.PFDHCPLISTENER.syswrite                     = 1
log4perl.appender.PFDHCPLISTENER.mode                         = append
log4perl.appender.PFDHCPLISTENER.layout                       = PatternLayout
log4perl.appender.PFDHCPLISTENER.layout.ConversionPattern     = %d{MMM dd HH:mm:ss} %X{proc}(%X{tid}) %p: %m (%M)%n
log4perl.appender.PFDHCPLISTENER.umask                        = 0002
log4perl.appender.PFDHCPLISTENER.user                         = pf
log4perl.appender.PFDHCPLISTENER.group                        = pf

### General Fingerbank log facility configuration ###
log4perl.appender.FINGERBANK                               = Log::Log4perl::Appender::File
log4perl.appender.FINGERBANK.filename                      = /usr/local/fingerbank/logs/fingerbank.log
log4perl.appender.FINGERBANK.mode                          = append
log4perl.appender.FINGERBANK.layout                        = PatternLayout
log4perl.appender.FINGERBANK.layout.ConversionPattern      = %d{MMM dd HH:mm:ss} %X{proc}(%X{tid}) %p: %m (%M)%n
log4perl.appender.FINGERBANK.umask                         = 0002
log4perl.appender.FINGERBANK.user                          = pf
log4perl.appender.FINGERBANK.group                         = pf
