### pfdns logger ###
log4perl.rootLogger = INFO, PFDNS

### Categories ###
# Below, you can specify different categories (based on package names) for different logging levels
#log4perl.category.pf.SNMP = WARN

### Logging for pfdns
log4perl.appender.PFDNS                              = pf::log::FileAppender
log4perl.appender.PFDNS.filename                     = /usr/local/pf/logs/pfdns.log
log4perl.appender.PFDNS.syswrite                     = 1
log4perl.appender.PFDNS.mode                         = append
log4perl.appender.PFDNS.layout                       = PatternLayout
log4perl.appender.PFDNS.layout.ConversionPattern     = %d{MMM dd HH:mm:ss} %X{proc}(%X{tid}) %p: %m (%M)%n
log4perl.appender.PFDNS.umask                        = 0002
log4perl.appender.PFDNS.user                         = pf
log4perl.appender.PFDNS.group                        = pf
log4perl.appender.PFDNS.binmode                      = utf8
