# Copyright (C) Inverse inc.
### pfdns logger ###
log4perl.rootLogger = INFO, PFDNS

### Categories ###
# Below, you can specify different categories (based on package names) for different logging levels
#log4perl.category.pf.SNMP = WARN

### Logging for pfdns
log4perl.appender.PFDNS                                = Log::Dispatch::Syslog
log4perl.appender.PFDNS.ident                          = pfdns
log4perl.appender.PFDNS.facility                       = local5
log4perl.appender.PFDNS.layout.ConversionPattern       = %X{proc}(%X{tid}) %p: [mac:%X{mac}] %m (%M)%n
log4perl.appender.PFDNS.layout                         = PatternLayout
