# Copyright (C) Inverse inc.
### pfqueue logger ###
log4perl.rootLogger = INFO, QUEUE_SYSLOG

### Categories ###
# Below, you can specify different categories (based on package names) for different logging levels
#log4perl.category.pf.SNMP = WARN

### Fingerbank logger ###
## Used to separate Fingerbank logs in a different log file
log4perl.category.fingerbank = INFO, QUEUE_FINGERBANK
log4perl.additivity.fingerbank = 0

### DHCP processing logger ###
## Used to separate the DHCP processing into a different log file
log4perl.category.pf.dhcp = INFO, QUEUE_DHCP
## Prevent the message from bubbling up to it's parents
log4perl.additivity.pf.dhcp = 0

### Logging for pfqueue
log4perl.appender.QUEUE_SYSLOG                                = Log::Dispatch::Syslog
log4perl.appender.QUEUE_SYSLOG.ident                          = pfqueue
log4perl.appender.QUEUE_SYSLOG.facility                       = local5
log4perl.appender.QUEUE_SYSLOG.layout.ConversionPattern       = %X{proc}(%X{tid}) %p: [mac:%X{mac}] %m (%M)%n
log4perl.appender.QUEUE_SYSLOG.layout                         = PatternLayout

### General Fingerbank log facility configuration ###
log4perl.appender.QUEUE_FINGERBANK                                = Log::Dispatch::Syslog
log4perl.appender.QUEUE_FINGERBANK.ident                          = fingerbank
log4perl.appender.QUEUE_FINGERBANK.facility                       = local5
log4perl.appender.QUEUE_FINGERBANK.layout.ConversionPattern       = %X{proc}(%X{tid}) %p: [mac:%X{mac}] %m (%M)%n
log4perl.appender.QUEUE_FINGERBANK.layout                         = PatternLayout
#
### DHCP processing log facility configuration ###
log4perl.appender.QUEUE_DHCP                                = Log::Dispatch::Syslog
log4perl.appender.QUEUE_DHCP.ident                          = pfdhcplistener
log4perl.appender.QUEUE_DHCP.facility                       = local5
log4perl.appender.QUEUE_DHCP.layout.ConversionPattern       = %X{proc}(%X{tid}) %p: [mac:%X{mac}] %m (%M)%n
log4perl.appender.QUEUE_DHCP.layout                         = PatternLayout
