### pfsetvlan logger ###
log4perl.rootLogger = INFO, PFSETVLAN

### Categories ###
# Below, you can specify different categories (based on package names) for different logging levels
#log4perl.category.pf.SNMP = WARN

### Logging for pfsetvlan
log4perl.appender.PFSETVLAN                              = pf::log::FileAppender
# Replace /usr/local/pf/logs/packetfence.log by /usr/local/pf/logs/pfsetvlan.log to allow
# pfsetvlan to log in its own log file.
log4perl.appender.PFSETVLAN.filename                     = /usr/local/pf/logs/packetfence.log
log4perl.appender.PFSETVLAN.syswrite                     = 1
log4perl.appender.PFSETVLAN.mode                         = append
log4perl.appender.PFSETVLAN.layout                       = PatternLayout
log4perl.appender.PFSETVLAN.layout.ConversionPattern     = %d{MMM dd HH:mm:ss} %X{proc}(%X{tid}) %p: %m (%M)%n
log4perl.appender.PFSETVLAN.umask                        = 0002
log4perl.appender.PFSETVLAN.user                         = pf
log4perl.appender.PFSETVLAN.group                        = pf
log4perl.appender.PFSETVALN.binmode                      = utf8
