[% form.field('server1_address').render | none %]
[% form.field('server2_address').render | none %]
[% form.field('radius_secret').render | none %]
[% form.field('auth_listening_port').render | none %]

<div class="alert alert-warning">
    <strong>[% l('Note: ') %]</strong>[% l('Adding or modifying (not applicable for \'Rules\') an \'Eduroam\' type authentication source requires to restart both the radiusd and iptables services to be effective.') %]
</div>
