<div class="control-group">
    <div class="controls">
        MiraPay iframe settings
    </div>
</div>
[% form.block('iframe').render | none %]
<div class="control-group">
    <div class="controls">MiraPay direct settings</div>
</div>
[% form.block('direct').render | none %]
<div class="control-group">
    <div class="controls">Additional settings</div>
</div>
[% form.block('definition').render | none %]
