 <h3>[% l(section) %]</h3>
  <form name="section" class="form-horizontal" action="[% c.uri_for(c.action) %]" method="POST">

[% FOREACH field IN form.fields %]
  [% form.field(field.name).render %]
[% END %]

    <div class="form-actions">
      <button type="submit" class="btn btn-primary">[% l('Save changes') %]</button>
      <button class="btn">[% l('Cancel') %]</button>
    </div>
  </form>
