[% title = i18n("guest management") %]
[% INCLUDE header.html %]
<script type="text/javascript">
var initialTabName = "single";
</script>
        [%# Welcome text %]
        <div id="about" class="underlined">
          <img src="/content/images/registration.png" alt="Registration" />
          <h1>[% i18n("guest registration form") %]</h1>
          <p>[% i18n("guest registration instructions") %]</p>
          <hr/>
        </div>

        [%# Error %]
        [% IF txt_error.defined %]<div class="error"><p>[% txt_error %]</p></div>[% END %]

          <ul class="tab">
            <li><a href="" name="single"><img src="/content/images/guest_single_add.png" title="[% i18n("Single guest creation") %]"></a></li>
            <li><a href="" name="multiple"><img src="/content/images/guest_multiple_add.png" title="[% i18n("Multiple guest accounts creation") %]"></a></li>
            <li><a href="" name="import"><img src="/content/images/guest_import.png" title="[% i18n("CSV file import") %]"></a></li>
          </ul>

          <div id="single" class="tab">
            <form method="post" action="[% URL_ADMIN_MANAGE_GUESTS %]" enctype="multipart/form-data">
            <div class="input">
              <span>[% i18n("Firstname") %]</span>
              <input class="field first" name="firstname" type="text" value="[% firstname | html %]" />

              <span>[% i18n("Lastname") %]</span>
              <input class="field" name="lastname" type="text" value="[% lastname | html %]" />
            </div>
            <div class="input">
              <span>[% i18n("Company") %]</span>
              <input class="field" name="company" type="text" value="[% company | html %]" />

              <span>[% i18n("Phone number") %]</span>
              <input class="field" name="phone" type="text" value="[% phone | html %]" />

              <span>[% i18n("Email") %]*</span>
              <input class="field" name="email" type="text" value="[% email | html %]" />

              <span>[% i18n("Address") %]</span>
              <textarea name="address">[% address | html %]</textarea>
            </div>
            <div class="input">
              <span>[% i18n("Arrival Date") %]*</span>
              <input class="field" name="arrival_date" type="text" value="[% arrival_date | html %]" /><br/>
              <em>[% i18n("Format is: yyyy-mm-dd") %]</em>

              <span>[% i18n("Access Duration") %]*</span>
              <select name="access_duration">
                [% FOREACH d IN duration.keys.nsort %]
                  <option [% IF default_duration == d %]selected='selected' [% END %]value='[% d %]'>
                    [% duration.$d %]
                  </option>
                [% END %]
              </select>
            </div>
            <div class="input">
              <span>[% i18n("Note") %]</span>
              <textarea name="notes">[% notes | html %]</textarea>
            </div>
            <div class="input">
              <input type="submit" class="button" name="action_print" value="[% i18n("Print access code") %]" /><br/>
              <input type="submit" class="button" name="action_sendEmail" value="[% i18n("Send access code by email") %]" />
            </div>
            </form>
          </div> <!-- tab#single -->

          <div id="multiple" class="tab">
            <form method="post" action="[% URL_ADMIN_MANAGE_GUESTS %]" enctype="multipart/form-data">
            <div class="input">
              <span>[% i18n("Username Prefix") %]*</span>
              <input class="field first" name="prefix" type="text" value="[% prefix | html %]" />

              <span>[% i18n("Quantity") %]*</span>
              <input class="field" name="quantity" type="text" value="[% quantity | html %]" />
            </div>
            <div class="input">
              <span>[% i18n("Firstname") %]</span>
              <input class="field first" name="firstname" type="text" value="[% firstname | html %]" />

              <span>[% i18n("Lastname") %]</span>
              <input class="field" name="lastname" type="text" value="[% lastname | html %]" />

              <span>[% i18n("Company") %]</span>
              <input class="field" name="company" type="text" value="[% company | html %]" />

              <span>[% i18n("Phone number") %]</span>
              <input class="field" name="phone" type="text" value="[% phone | html %]" />

              <span>[% i18n("Email") %]</span>
              <input class="field" name="email" type="text" value="[% email | html %]" />

              <span>[% i18n("Address") %]</span>
              <textarea name="address">[% address | html %]</textarea>
            </div>
            <div class="input">
              <span>[% i18n("Arrival Date") %]*</span>
              <input class="field" name="arrival_date" type="text" value="[% arrival_date | html %]" /><br/>
              <em>[% i18n("Format is: yyyy-mm-dd") %]</em>

              <span>[% i18n("Access Duration") %]*</span>
              <select name="access_duration">
                [% FOREACH d IN duration.keys.nsort %]
                  <option [% IF default_duration == d %]selected='selected' [% END %]value='[% d %]'>
                    [% duration.$d %]
                  </option>
                [% END %]
              </select>
            </div>
            <div class="input">
              <span>[% i18n("Note") %]</span>
              <textarea name="notes">[% notes | html %]</textarea>
            </div>
            <div class="input">
              <input type="submit" class="button" name="action_print_multiple" value="[% i18n("Print access codes") %]" /><br/>
            </div>
            </form>
          </div> <!-- tab#multiple -->

          <div id="import" class="tab">
            <form method="post" action="[% URL_ADMIN_MANAGE_GUESTS %]" enctype="multipart/form-data">
            <div class="input">
              <span>[% i18n("CSV file") %]*</span>
              <input type="file" name="users_file" id="users_file" />
              <em>[% i18n("Required columns: username, password.") %]</em>
            </div>
            <div class="input">
              <span>[% i18n("Column Delimiter") %]*</span>
              <select name="delimiter">
                  <option value="comma"[% IF delimiter == "comma" %] selected[% END %]>[% i18n("comma (,)") %]</option>
                  <option value="semicolon"[% IF delimiter == "semicolon" %] selected[% END %]>[% i18n("semicolon (;)") %]</option>
                  <option value="tab"[% IF delimiter == "tab" %] selected[% END %]>[% i18n("tab") %]</option>
              </select>
            </div>
            <div class="input">
              <span>[% i18n("Columns Order") %]*</span>
              <input type="hidden" name="columns" id="columns_order" value="[% IF columns %][% columns | html %][% ELSE %]c_username,c_password[% END %]">
              <div class="note" id="columns">
                <div class="column"><input type="checkbox" name="c_username" checked disabled><span>[% i18n("Username") %]</span><span class="order"><img src="/content/images/arrow_up_12x12.png"><img src="/content/images/arrow_down_12x12.png"></span></div>
                <div class="column"><input type="checkbox" name="c_password" checked disabled><span>[% i18n("Password") %]</span><span class="order"><img src="/content/images/arrow_up_12x12.png"><img src="/content/images/arrow_down_12x12.png"></span></div>
                <div class="column"><input type="checkbox" name="c_firstname"[% IF c_firstname %] checked[% END %]><span>[% i18n("Firstname") %]</span><span class="order"><img src="/content/images/arrow_up_12x12.png"><img src="/content/images/arrow_down_12x12.png"></span></div>
                <div class="column"><input type="checkbox" name="c_lastname"><span>[% i18n("Lastname") %]</span><span class="order"><img src="/content/images/arrow_up_12x12.png"><img src="/content/images/arrow_down_12x12.png"></span></div>
                <div class="column"><input type="checkbox" name="c_email"><span>[% i18n("Email") %]</span><span class="order"><img src="/content/images/arrow_up_12x12.png"><img src="/content/images/arrow_down_12x12.png"></span></div>
                <div class="column"><input type="checkbox" name="c_phone"><span>[% i18n("Phone number") %]</span><span class="order"><img src="/content/images/arrow_up_12x12.png"><img src="/content/images/arrow_down_12x12.png"></span></div>
                <div class="column"><input type="checkbox" name="c_company"><span>[% i18n("Company") %]</span><span class="order"><img src="/content/images/arrow_up_12x12.png"><img src="/content/images/arrow_down_12x12.png"></span></div>
                <div class="column"><input type="checkbox" name="c_address"><span>[% i18n("Address") %]</span><span class="order"><img src="/content/images/arrow_up_12x12.png"><img src="/content/images/arrow_down_12x12.png"></span></div>
                <div class="column"><input type="checkbox" name="c_note"><span>[% i18n("Note") %]</span><span class="order"><img src="/content/images/arrow_up_12x12.png"><img src="/content/images/arrow_down_12x12.png"></span></div>
              </div>
            </div>
            <div class="input">
              <span>[% i18n("Arrival Date") %]*</span>
              <input class="field" name="arrival_date" type="text" value="[% arrival_date | html %]" /><br/>
              <em>[% i18n("Format is: yyyy-mm-dd") %]</em>
            </div>
            <div class="input">
              <span>[% i18n("Access Duration") %]*</span>
              <select name="access_duration">
                [% FOREACH d IN duration.keys.nsort %]
                  <option [% IF default_duration == d %]selected [% END %]value='[% d %]'>
                    [% duration.$d %]
                  </option>
                [% END %]
              </select>
            </div>
            <div class="input">
              <input type="submit" class="button" name="action_import" id="action_import"  value="[% i18n("Import file") %]" /><br/>
            </div>
            </form>
          </div> <!-- tab#import -->

[% IF section %]<script type="text/javascript">
initialTabName = "[% section %]";
</script>[% END %]

<script src="/content/guest-management.js" type="text/javascript"></script>

[% INCLUDE guest/footer.html %]
