- hosts: pfservers
  name: install utils
  become: True
  gather_facts: False
  tags: utils

  collections:
    - inverse_inc.utils

  roles:
    - role: venom
      tags: venom

    - role: psonoci
      tags: psonoci

# no need to install nodejs on stable machines
- hosts: dev
  name: Install nodejs to rebuild web admin
  become: True
  gather_facts: True
  tags: utils

  pre_tasks:
    - name: Update apt cache
      apt:
        update_cache: true
      when: ansible_os_family == 'Debian'

  roles:
    - role: geerlingguy.nodejs
      vars:
        nodejs_version: "12.x"
      tags: nodejs
