
<form id="newFileModalForm" method="POST" action="[% c.uri_for(c.controller('Portal::Profile').action_for('new_file'), [ profile_name ], path ) %]">
  <span>File name [% path %] <input type="text" name="file_name" /></span>
</form>
