.draggable-handle {
    display: inline-block;
    width: 2 * $spacer;
    color: $text-muted;
    font-size: ($font-size-base * .875);
    font-weight: $font-weight-bold;
    text-align: center;

    &:hover {
        cursor: move;
    }
}

.draggable-item:hover .draggable-handle {
    color: $black;
}