/**
 * Adjust is-invalid and is-focus borders
 */
 .pf-form-chosen {

  /* show placeholder even when empty */
  &.is-empty {
    .multiselect__input,
    .multiselect__placeholder {
      position: relative !important;
      width: 100% !important;
    }
    .multiselect__placeholder {
      display: none;
    }
  }
  &.is-empty:not(.is-focus) {
    .multiselect__single {
      display: none;
    }
  }

  .multiselect__loading-enter-active,
  .multiselect__loading-leave-active,
  .multiselect__input,
  .multiselect__single,
  .multiselect__tags,
  .multiselect__tag-icon,
  .multiselect__select,
  .multiselect-enter-active,.multiselect-leave-active {
    transition: $custom-forms-transition;
  }

  .multiselect {
      position: relative;
      flex: 1 1 auto;
      width: 1%;
      min-height: auto;
      border-width: 1px;
      margin-bottom: 0;
  }
  .multiselect__option:after {
    font-weight: $font-weight-light;
  }
  .multiselect__option[data-select=""].multiselect__option--highlight:after,
  .multiselect__option[data-deselect=""].multiselect__option--highlight:after {
    height: 100%;
    background: none;
    font-size: .7875rem;
    font-weight: 500;
    line-height: 1.71429;
  }
  .multiselect__tags {
    padding-right: 40px;
    border: 1px solid $input-focus-bg;
    background-color: $input-focus-bg;
    outline: 0;
    .multiselect__input {
      max-width: 100%;
    }
    span > span.multiselect__single { /* placeholder */
      color: $input-placeholder-color;
      // override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
      opacity: 1;
    }
  }
  .multiselect__select {
    top: 0px;
    /*right: 10px;*/
    bottom: 0px;
    width: auto;
    height: auto;
    padding: 0px;
  }
  .multiselect__tag {
    margin-bottom: 0px;
    background-color: $secondary;
  }
  .multiselect__tag-icon {
    line-height: 1;
    &:hover {
      background-color: inherit;
      color: lighten($secondary, 15%);
    }
    &:after {
      color: $component-active-color;
      font-size: inherit;
      line-height: 1.5;
    }
  }
  .multiselect__input,
  .multiselect__single {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    color: $input-color;
    white-space: nowrap;
    &::placeholder {
      color: $input-placeholder-color;
    }
    // override multiselect's absolute height
    line-height: inherit;
  }
  .multiselect__placeholder {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    color: $input-placeholder-color;
    font-size: $font-size-base;
    line-height: $input-line-height;
  }
  .multiselect__spinner {
    right: 2 * $input-btn-padding-x;
    background-color: transparent;
  }
  .multiselect__content-wrapper {
    z-index: $zindex-popover;
    border: $dropdown-border-width solid $dropdown-border-color;
    @include border-radius($dropdown-border-radius);
    @include box-shadow($dropdown-box-shadow);
    .col-form-label {
      font-size: 80%!important;
    }
  }
  .multiselect--active:not(.multiselect--above) {
    .multiselect__content-wrapper {
      border-top-width: 0px;
      border-bottom-width: 1px;
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
      border-bottom-left-radius: $border-radius !important;
      border-bottom-right-radius: $border-radius !important;
    }
  }
  .multiselect--above {
    .multiselect__content-wrapper {
      border-bottom-width: 0px;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
  .multiselect__option--group {
    background-color: var(--secondary) !important;
    color: var(--white) !important;
    font-size: .7875rem;
    font-weight: 800;
    line-height: 1.71429;
  }
  .multiselect__option--highlight {
    color: $dropdown-link-active-color;
    &:hover {
      background-color: $dropdown-link-active-bg;
      color: var(--white) !important;
    }
  }
  .multiselect__option--selected {
    /*
    color: var(--primary) !important;
    font-weight: 400;
    */
  }
  .multiselect--disabled {
    background-color: $input-disabled-bg;
    opacity: 1;
    .multiselect__tags,
    .multiselect__single {
      background-color: $input-disabled-bg;
    }
    .multiselect__select {
      background-color: transparent;
    }
  }
  &.is-focus {
    .multiselect__tags {
      border-color: $input-focus-border-color;
    }
  }
  &.is-invalid {
    .multiselect__tags {
      border-color: $form-feedback-invalid-color;
    }
    .multiselect__select:before {
      color: $form-feedback-invalid-color;
      border-color: $form-feedback-invalid-color transparent transparent;
    }
  }
  .input-group-text {
    border: none;
  }
}

.pf-form-chosen-sm {
  .multiselect,
  .multiselect__input,
  .multiselect__single,
  .btn .fa-icon {
    font-size: $font-size-sm;
  }
  .multiselect__tags {
    @include border-radius($border-radius-sm);
  }
  .multiselect__tags,
  .multiselect__option,
  .multiselect__option:after {
    min-height: $input-height-sm;
    padding: $input-padding-y-sm $input-padding-x-sm;
    font-size: $font-size-sm;
  }
  .multiselect__option,
  .multiselect__option:after {
    line-height: $input-line-height-sm;
  }
  .multiselect__select {
    right: $input-padding-x-sm
  }
  .multiselect__single {
    margin-right: $input-padding-x-sm;
    padding-right: $input-padding-x-sm;
  }
}

.pf-form-chosen-md {
  .multiselect,
  .multiselect__input,
  .multiselect__single,
  .btn .fa-icon {
    font-size: $font-size-base;
  }
  .multiselect__tags {
    @include border-radius($border-radius);
  }
  .multiselect__tags,
  .multiselect__option,
  .multiselect__option:after {
    min-height: $input-height;
    padding: $input-padding-y $input-padding-x;
    font-size: $font-size-base;
  }
  .multiselect__option,
  .multiselect__option:after {
    line-height: $input-line-height;
  }
  .multiselect__select {
    right: $input-padding-x
  }
  .multiselect__single {
    margin-right: $input-padding-x;
    padding-right: $input-padding-x;
  }
}

.pf-form-chosen-lg {
  .multiselect,
  .multiselect__input,
  .multiselect__single,
  .btn .fa-icon {
    font-size: $font-size-lg;
  }
  .multiselect__tags {
    @include border-radius($border-radius-lg);
  }
  .multiselect__tags,
  .multiselect__option,
  .multiselect__option:after {
    min-height: $input-height-lg;
    padding: $input-padding-y-lg $input-padding-x-lg;
    font-size: $font-size-lg;
  }
  .multiselect__option,
  .multiselect__option:after {
    line-height: $input-line-height-lg;
  }
  .multiselect__select {
    right: $input-padding-x-lg
  }
  .multiselect__single {
    margin-right: $input-padding-x-lg;
    padding-right: $input-padding-x-lg;
  }
}
