@import "../../node_modules/bootstrap/scss/forms";

.col-form-label {
    color: $gray-600;
    font-weight: 500;
    font-size: $font-size-sm;
    line-height: $font-size-base / $font-size-sm * $line-height-base;
    &[class*=col-sm-] {
        @include media-breakpoint-up(sm) {
            text-align: right;
        }
    }
}

.col-form-label-lg {
    font-size: $font-size-lg;
    line-height: $font-size-base / $font-size-lg * $line-height-base;
}