@import "../../node_modules/bootstrap/scss/forms";

.col-form-label {
    color: $gray-600;
    font-size: $font-size-sm;
    font-weight: 500;
    line-height: $font-size-base / $font-size-sm * $line-height-base;

    &[class*=col-]:not([class*=offset-]) {
        @include media-breakpoint-up(sm) {
            text-align: right;
        }
    }
}

.col-form-label-lg {
    font-size: $font-size-lg;
    line-height: $font-size-base / $font-size-lg * $line-height-base;
}

.form-text {
    white-space: pre-line; /* allow \n to break */
}
