/**
 * See https://github.com/Justineo/vue-awesome#styling
 */
.fa-icon {
    width: auto;
    max-width: 100%;
    height: 1em;
    transition: transform 300ms ease;
}

/**
 * Align icon when inside a button
 */
.btn .fa-icon {
    height: auto;
    vertical-align: text-bottom;
}

/**
 * White drop shadow on SVG icon
 */
.fa-overlap {
    margin-left: -.5em;
    filter: drop-shadow(0 0 2px #FFF);
}