$icon-counter-width: 2em;

.icon-counter {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: $font-size-base/2;
    width: $icon-counter-width;
    height: $icon-counter-width;
    line-height: $icon-counter-width;

    &.secondary {
        background-color: $secondary;
    }

    &.danger {
        background-color: $danger;
    }
}