@import "../../node_modules/bootstrap/scss/nav";

.nav-tabs {
    .nav-link {
        &.active {
            border-width: 0;
            border-bottom-width: 3px;
            font-weight: 500;
        }
    }
}

.tab-pane:focus {
    outline: 0;
}