@import "../../node_modules/bootstrap/scss/nav";

.nav-tabs {
    .nav-link {
        &.active {
            border-width: 0;
            border-bottom-width: 3px;
            font-weight: 500;
        }
    }
}

.nav-tabs > li > a,
.nav-pills > li > a {
  margin-right: 0.5rem!important;
}

.tab-pane:focus {
    outline: 0;
}
