// stylelint-disable declaration-no-important

$sidebar-item-padding-y: .25rem;
$sidebar-item-padding-left: map-get($spacers, 5);
$sidebar-item-padding-right: map-get($spacers, 1);

//
// Left side navigation
//

.pf-sidebar {
  order: 0;
  padding-left: 0;
  padding-right: 0;

  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      position: sticky;
      top: 4rem;
      z-index: $zindex-dropdown;
      max-height: calc(100vh - 4rem);
    }
    border-right: 1px solid rgba(0,0,0,.1);
  }

  @include media-breakpoint-up(xl) {
    flex: 0 1 320px;
  }
}

.pf-sidebar-links {
  @include media-breakpoint-up(md) {
    @supports (position: sticky) {
      max-height: calc(100vh - 9rem);
      overflow-y: auto;
    }
  }

  // Override collapse behaviors
  @include media-breakpoint-up(md) {
    display: block !important;
  }
}

.pf-sidebar-filter {
  position: relative;
  padding: 1rem ($grid-gutter-width / 2);
  display: flex;
  align-items: center;

  .form-control:focus {
    border-color: $gray-500;
    box-shadow: 0 0 0 3px rgba($gray-500, .25);
  }
}

.pf-sidebar-filter-toggle {
  line-height: 1;
  color: $gray-900;
}

.pf-sidenav-group {
  display: block;
  padding: $sidebar-item-padding-y $sidebar-item-padding-right $sidebar-item-padding-y $sidebar-item-padding-left;
  color: $gray-600;
  font-weight: 400;

  &[role=button] {
    color: rgba(0,0,0,.65);
    padding-left: 0;
    font-weight: 700;
    &:hover {
      color: rgba(0,0,0,.85);
      text-decoration: none;
    }
  }
}

// Link with optional icon
.pf-sidebar-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  .figure-caption {
    display: block;
  }

  [role=button] {
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }
}

// Don't resize icons
.pf-sidenav svg {
  flex-grow: 0;
  flex-shrink: 0;
  transition: transform 300ms ease;
}

// All levels of nav
.pf-sidebar .nav li > a {
  display: block;
  padding: $sidebar-item-padding-y $sidebar-item-padding-right $sidebar-item-padding-y $sidebar-item-padding-left;
  color: rgba(0,0,0,.65);

  &:hover {
    color: rgba(0,0,0,.85);
    text-decoration: none;
    background-color: transparent;
  }
}

// Active link
.pf-sidebar .active:not(.secondary),
.pf-sidebar .active:not(.secondary):hover {
  color: $component-active-color;
  background-color: $component-active-bg;
}

// Secondary active link
.pf-sidebar .active.secondary,
.pf-sidebar .active.secondary:hover {
  font-weight: 500;
  color: rgba(0,0,0,.85);
  background-color: transparent;
  border-left: .2rem solid $component-active-bg;
  padding-left: $sidebar-item-padding-left - .2rem;
}

// Collapsable sections
.pf-sidenav .navbar-collapse {
  background-color: rgba(0, 0, 0, 0.125);
}

.pf-sidenav .collapsed svg:last-child {
  transform: rotate( -180deg );
}

.pf-sidenav-group[role=button] {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
