@import "../../node_modules/bootstrap/scss/tables";

.table-clickable tr {
    cursor: pointer;
    outline: 0;
}

.table td,
.table th {
    // Default of bootstrap is to vertically align to the top
    vertical-align: middle;
}