@import "../../node_modules/bootstrap/scss/transitions";

$slide-bottom-duration: 0.3s;
$slide-bottom-coverage: 25vh;

.slide-bottom-enter-active {
    animation: slide-in-bottom $slide-bottom-duration cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: $slide-bottom-duration;
}
.slide-bottom-leave-active {
    animation: slide-out-bottom $slide-bottom-duration cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@keyframes slide-in-bottom {
    0% {
        -webkit-transform: translateY($slide-bottom-coverage);
        transform: translateY($slide-bottom-coverage);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes slide-out-bottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY($slide-bottom-coverage);
        transform: translateY($slide-bottom-coverage);
        opacity: 0;
    }
}