$body-bg:                           #eeeeee;
$font-size-base:                    0.9rem; // Assumes the browser default, typically `16px`
$card-cap-bg:                       #ffffff; // Card -- header background color
$headings-font-weight:              200;
$body-color:                        #495057; // $gray-700
$input-bg:                          #f6f9fc;
$input-border-color:                #f6f9fc;
$input-btn-focus-width:             0; // No box shadow on focus
$input-btn-hover-text-color:        #ffffff;
$input-btn-hover-bg-color:          #007bff;
$input-placeholder-color:           #adb5bd; // $gray-500
$nav-tabs-link-hover-border-color:  'transparent';
$nav-tabs-link-active-bg:           'transparent';

@import "../../node_modules/bootstrap/scss/variables";

$nav-tabs-link-active-border-color: $component-active-bg;
