$body-bg:                #eeeeee;
$font-size-base:           0.9rem; // Assumes the browser default, typically `16px`
$card-cap-bg:            #ffffff; // Card -- header background color

@import "../../node_modules/bootstrap/scss/variables";